[2021-10-04 19:25] P0lip commented on #1875
Hey!
It's indeed not required - it's our own rule you can disable.
To do so, do the following:
- add a style guide
![image](https://user-images.githubusercontent.com/9273484/135911769-c12f6605-2f92-4509-82c0-1c490edd1eb6.png)
- then locate that file in the sidebar and open it
![image](https://user-images.githubusercontent.com/9273484/135911824-98e4800c-0498-46f9-848c-b59aada79b7d.png)
- find the r

[2021-10-04 19:25] #1875 closed, assigned to P0lip

[2021-10-04 22:55] reece commented on #1875
First, awesome that it can be disabled. I'll do that.

FWIW, my preference would be that you stick to the spec and let users opt-in to increased strictness. Imposing your own standards kinda undermines the notion of a spec.

Again, thanks. Stoplight and Spectral make OpenAPI a pleasure to use.

[2021-10-04 23:45] lintaba commented on #1863
Thanks @P0lip, with your help I was able to write two tests for the given examples. Both cases are covered, tests are green for these changes (and also fails without my fix.)

https://github.com/stoplightio/spectral/pull/1864

[2021-10-05 07:51] hiddewie commented on #1851
Thanks a lot, I did not find that flag!

[2021-10-05 09:23] Linuus commented on #1818
Any updates on this? There's a high severity security issue for pac-resolver that has been fixed in 5.0 and we can't update since spectral-cli has a dependency on 4.x.

[2021-10-05 10:25] P0lip commented on #1818
We use `@stoplight/spectral-core` in Studio. If you're a cli user, you can use `@stoplight/spectral-cli`.

I'm about to update dependencies in spectral-cli.

[2021-10-05 10:26] P0lip commented on #1851
No worries, glad it did the trick!

[2021-10-05 11:17] #1836 closed, assigned to P0lip

[2021-10-05 13:13] nektru opened #1883 "Can't install latest release of spectral-cli"
**Describe the bug**
I get an error trying to install spectral-cli using dockerfile
[code]

And https://www.npmjs.com/package/%40stoplight%2Fspectral-ruleset-bundler redirects me to the login page. It looks like not public.

[2021-10-05 13:17] P0lip commented on #1883
Should be fixed, the package was indeed marked as private - unfortunately this is the npm's default for all scoped packages :/

[2021-10-05 13:17] #1883 closed, assigned to nobody

[2021-10-05 13:22] P0lip commented on #1854
Changed.

[2021-10-05 13:22] #1854 closed, assigned to nobody

[2021-10-05 13:23] P0lip commented on #1818
Feel free to upgrade to 6.0.1.

[2021-10-05 18:37] stuft2 opened #1884 "Cannot find module '@stoplight/spectral-ruleset-migrator'"
**Describe the bug**
[code]

Spectral v6.0.0 does include
[code]
while Spectral v6.0.1 does not.

However, [Line 7](https://github.com/stoplightio/spectral/blob/f1932c4058a7024af178002a9d803839db6d95ed/packages/cli/src/services/linter/utils/getRuleset.ts#L7) of `@stoplight/spectral-cli/src/services/linter/utils/getRuleset.js` still requires `@stoplight/spectral-ruleset-migrator`.

**To Reproduce**

[2021-10-05 19:05] P0lip commented on #1884
True, I must have accidentally renamed `-bundler` to `-migrator`.
The fix will be out tomorrow, in early afternoon CET.
In the meantime, feel free to install `@stoplight/spectral-ruleset-migrator` globally - this will fix the issue until a new version is released.
I'll close this one out - will respond here tomorrow once 6.0.2 or 6.1.0 is out.

[2021-10-05 19:05] #1884 closed, assigned to nobody

[2021-10-05 20:49] P0lip opened #1885 "memory leak in schema function"
**Describe the bug**

`schema` function has a memory leak.
It seems like the validator instances are never garbage collected.

**To Reproduce**

Lint document a few times.

**Expected behavior**
There's no memory leak.

**Screenshots**
![image](https://user-images.githubusercontent.com/9273484/136100201-c1333686-e254-4090-9733-b9a799f80d62.png)

**Additional context**
This is not particularly pain

[2021-10-06 16:28] #1821 closed, assigned to P0lip

[2021-10-06 16:58] OnimeNoKyo opened #1888 "can't fetch spectral custom ruleset over https with self signed certificate in certificate chain"
Describe the bug

Spectral-cli fails to fetch custom ruleset that is loaded over HTTPS.

To Reproduce

    With spectral-cli v5.9.2
    Given any OpenAPI document
    Run this CLI command

spectral lint -r https://internal-bitbucket-repository/raw/rulesets/main-ruleset.yaml open-api.yml

    See error

Could not parse https://internal-bitbucket-repository/raw/rulesets/main-ruleset.yaml: request to

[2021-10-07 12:15] P0lip commented on #1884
@stuft2 apologies for the delay, but it's out.

[2021-10-07 22:21] watson20201 commented on #1814
Hi, I to have the same issue using json files. Is it possible to log which key is duplicated? The last time I ran it was on the 20 Sep it was fine. Running Linter on that same commit now fails.

[2021-10-07 23:01] P0lip commented on #1814
this would be a JSON/YAML property that's a duplicate, so you should be able to look it up in some text editor.

Do you have some $refs there that could have changed in the meantime?

[2021-10-08 00:30] watson20201 commented on #1814
I have been using Visual Code with the JSON editor plugin and that normally highlights any duplicated properties. But in this case nothing is showing as an error.

[2021-10-08 10:31] FichteFoll opened #1893 "Support `--ruleset spectral:oas` from the command line & documentation"
While migrating to version 6, I had a major head-ache over the fact that I couldn't just add `--ruleset spectral:oas` to my calls because spectral interprets that as a file name instead of a "special identifer" as it does when extending. This special name is referenced all over the documentation (e.g. https://meta.stoplight.io/docs/spectral/ZG9jOjYyMDc0NQ-open-api-support), yet it took me a consid

[2021-10-08 14:45] P0lip commented on #1893
Yup, it's not possible to supply `spectral:oas`, and I'm not sure whether we'll ever support it.
We may possibly support `spectral lint --ruleset https://cdn.skypack.dev/@stoplight/spectral-rulesets`, but right now it's likely to be broken due to a bug in [Ajv](https://github.com/ajv-validator/ajv). 😞

---

The auto-detection has not been removed. We just no longer apply any ruleset by default.
If

[2021-10-08 14:48] P0lip commented on #1814
Do you have any $refs somewhere?

[2021-10-08 19:12] icubbon opened #1894 "exclusiveMinimum must be a number thrown for OpenAPI 3.0"
https://github.com/stoplightio/spectral/issues/1752 was verified to work in spectra-rulesets-v1.2.2 but when using spectra-rulesets-v1.2.5, the failure exists again. The same example and the same procedure from issue #1752 still applies.

[2021-10-08 20:59] pamgoodrich opened #1895 "Fix broken links in Spectral docs"
**Chore summary**
Fix broken links and grammatical issues.

**Tasks**
All links in bottom paragraph are broken
https://meta.stoplight.io/docs/spectral/ZG9jOjYyMDc0Mg-concepts

Grammatical error in second paragraph
https://meta.stoplight.io/docs/spectral/ZG9jOjYyMDc0Ng-async-api-support
https://meta.stoplight.io/docs/spectral/ZG9jOjYyMDc0NQ-open-api-support

Grammatical errors: https://meta.stoplig

[2021-10-10 19:38] watson20201 commented on #1814
Yes, we are using $refs quite a lot. Our schemas are highly normalised and there are around 50 definitions. An example is we have a base date-time schema which is reference by a number of other schemas.
eg

    "date-time-extended": {
      "$ref": "../../Base/DataTypes.json#/components/schemas/date-time-extended"
    },
...
    "lastOccupiedDate": {
      "$ref": "#/components/schemas/date-time-e

[2021-10-11 08:28] #1768 closed, assigned to mnaumanali94

[2021-10-11 09:09] P0lip commented on #1888
I'm afraid this is not something we'd address in the Spectral itself, as doing so may introduce a security flaw.
That error is presumably raised by [OpenSSL](https://www.openssl.org/docs/man1.1.0/man3/X509_STORE_CTX_set_current_cert.html).
The solution here would be to follow the steps [here](https://stackoverflow.com/a/12180757).
Alternatively, if you do know what you're doing, set [NODE_TLS_REJE

[2021-10-11 09:09] #1888 closed, assigned to nobody

[2021-10-11 09:11] P0lip commented on #1814
What I meant was that the referenced documents may have some $refs with duplicate props.

Not quite, however, if you can consistently reproduce the error, I'd be happy to handle over a custom Spectral instance with some more verbose logging.
Would that work?

[2021-10-11 09:44] P0lip commented on #1894
Hey!
I gave this is a try using the latest version, and it works fine for me.
Are you sure you're on the 1.2.5?

[2021-10-11 16:05] icubbon commented on #1894
Pretty sure, I am not an expert though.
Contents of `node_modules/@stoplight/spectral-rulesets/package.json`
[code]
Output from `spectral --version` -> `6.1.0`

Output from the Lint:
[code]

The relevant YAML:
[code]
When switching back to just Ruleset 1.2.2 via `npm install @stoplight/spectral-rulesets@v1.2.2`, the linting does not flag an issue with the `exclusiveMinimum`

I hope this is helpful

[2021-10-11 16:33] P0lip commented on #1894
@icubbon first of all, the version you have installed is indeed right.

However, judging by the error message, your error is a bit different.
The example in #1752 had `exclusiveMinimum` set to a number, which is valid in OAS 3.1 and invalid in OAS 3.0 and older.
In your case, you have the value of `exclusiveMinimum` is a boolean, which is _invalid_ if you use OAS 3.1
Do you use OAS 3.1 (`openapi:

[2021-10-11 17:10] icubbon commented on #1894
We are using `openapi: 3.0.0` and that is the first non-commented line in the Spec file. Is there a flag that I'm missing when running the linter to specify OAS3.0?

[2021-10-11 17:32] P0lip commented on #1894
If it's OAS 3.0, the issue is on the Spectral side then.
I'll rename the title, and try to prepare a fix.

[2021-10-11 17:36] icubbon commented on #1894
Thank you so much @P0lip!

[2021-10-11 19:27] watson20201 commented on #1814
Yes, that will be great if you can create a custom instance with more verbose logging.

[2021-10-11 21:00] #1837 closed, assigned to P0lip

[2021-10-11 22:14] P0lip commented on #1814
@watson20201
here you go https://drive.google.com/drive/folders/1qxClrQB54Qa6cGLYC_RpLS-ma8im5ld6?usp=sharing.
It's the same kind of a binary as in here https://github.com/stoplightio/spectral/releases/tag/v6.1.0, just with a bit of more logging.
You can run it as any other Spectral instance - no extra flag is required.

[2021-10-12 17:30] pamgoodrich opened #1899 "Spectral outline and plan"
**Chore summary**
Prepare a plan for revising the Spectral doc.

**Tasks**
- Review Discord feedback.
- Prepare draft outline/TOC.
- Review with Phil.

**Draft Outline**
https://www.notion.so/stoplight/Draft-Spectral-Outline-aa57815825fd457a923a6a88e14f1b11

[2021-10-12 19:47] watson20201 commented on #1814
Thanks @P0lip, I will give that a go today.

[2021-10-12 20:13] watson20201 commented on #1814
Hi @P0lip, below is the output from the instrumental version of the Spectral version.

spectral-win.exe lint **/*.json -r Linter/Common.Rules.yml
Error running Spectral! 'ownKeys' on proxy: trap returned duplicate entries
at entries
at _process        …snapshot/spectral/packages/ruleset-migrator/src/index.ts:90  Object.entries(input).map(async ([key, value]) => {
at                 …snapshot/spect

[2021-10-12 20:36] P0lip commented on #1814
@watson20201 yes, that's really helpful, thank you.
I know where the issue lies now.

[2021-10-12 20:55] P0lip commented on #1814
There's a fix over here https://github.com/stoplightio/spectral/commit/c65ba50ba8050e260a893c92d2237e0eaf71fd3a
I'm going to create a PR later this week.
In the meantime, if you need a workaround you can rename the dropped rules as described here https://github.com/stoplightio/spectral/blob/develop/docs/migration-guides/6.0.md#rulesets

[2021-10-12 21:27] watson20201 commented on #1814
Thanks @P0lip for your quick response in getting a fix out.

[2021-10-13 11:26] dbryar commented on #1751
Similar problem here too.
[code]
Spectral is complaining in Stoplight that `"user" property must have required property "email"`, which it does.

IF the defnition uses a lowercase u for User, the problem does not appear. I can see in the example above, the schema is using `Car` with an uppercase C.

I believe something is testing a variable with out accounting for case-sensitivity

[2021-10-13 11:30] dbryar commented on #1751
Alex, use a triple backtick on its own line for a code block opening (and closing), so the markdown doesn't pull out the \n from your YAML

[2021-10-15 10:02] acceptMyPR opened #1903 "spectral fails if NODE_OPTIONS=--max_old_space_size=4096 env defined"
**Describe the bug**
Then i define `NODE_OPTIONS=--max_old_space_size=4096` the spectral fails without any error
[code]

**To Reproduce**

1. export NODE_OPTIONS=--max_old_space_size=4096
2. run spectral
3. see fail

**Expected behavior**
Not fails

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (remove any that are not applicable):**
docker image stopl

[2021-10-15 12:24] P0lip commented on #1903
Is there any reason why you need to increase the default value?

[2021-10-15 13:09] dbryar commented on #1751
I found the issue in my case

In our YAML (3000+ lines) there was a pointer to the schema `$ref: /schema/User` in an `example` response to an endpoint, so the ref check was looping back on itself.

[2021-10-15 13:22] acceptMyPR commented on #1903
we uses this value as global default node options in our gitlab_ci.
as workaround this env has been unset

[2021-10-15 14:42] kscheirer commented on #1893
I was thrown by this change as well. I agree with @FichteFoll, I don't like it :)

Spectral v5 this works: `spectral lint petstore.yaml`
Spectral v6 this does not work.

My doc contains "openapi": "3.0.3", it was convenient that spectral would apply oas rules. This is similar to other linters like openapi-cli and speccy.

I understand all that's needed is a .spectral.json file. However supporting

[2021-10-18 17:52] acabarbaye opened #1905 "ERROR: Cannot extend non-existing rule: "oas3-server-trailing-slash" since 6.0"
When using the vanilla docker container from 6.0 onwards and carrying out `spectral lint ....yaml`:
I am getting the following error consistently:
`Cannot extend non-existing rule: "oas3-server-trailing-slash"`

This does not happen with version 5.9 or prior versions

[2021-10-18 18:24] P0lip commented on #1905
Does the ruleset you extend actually have that rule?

[2021-10-18 19:08] P0lip commented on #1818
We should be good now!

[2021-10-18 19:08] #1818 closed, assigned to nobody

[2021-10-18 19:09] #1863 closed, assigned to nobody

[2021-10-18 19:34] acabarbaye commented on #1905
Sorry I should have added my .spectral.yaml:
[code]

[2021-10-18 20:05] P0lip commented on #1905
Is that the entire ruleset you have?
In that case, you have no `extends` meaning the rule you try to override does not exist, and hence the error.
Prior to 6.x we silently ignored it, but as of 6.0 this becomes an actual exception.

[2021-10-18 20:11] #1895 closed, assigned to pamgoodrich

[2021-10-19 07:45] Linuus commented on #1818
Awesome, thanks! 👍

[2021-10-19 10:47] acabarbaye commented on #1905
this rule is part of the built-in ruleset https://github.com/stoplightio/spectral/blob/develop/docs/reference/openapi-rules.md#oas3-server-trailing-slash and my goal was not to extend it but disable it. This worked well until 6.0.0

[2021-10-19 10:59] P0lip commented on #1905
That's right, but you don't extend the ruleset.
To do so, one has to do the following
[code]

[2021-10-19 14:48] #1885 closed, assigned to P0lip

[2021-10-19 16:03] acabarbaye commented on #1905
I see. It looks like I had not fully understood the documentation then.
That solved the problem. Thank you for your help.

[2021-10-19 16:03] #1905 closed, assigned to nobody

[2021-10-20 10:30] avinashpise opened #1907 "Cannot read property 'resolved' of undefined for core function schema"
**Describe the bug**
core function fails to execute using javascript. When trying to Implemented the schema core [function](https://meta.stoplight.io/docs/spectral/ZG9jOjExNg-core-functions#schema). I am getting error like *Cannot read property 'resolved' of undefined for core function schema*

**To Reproduce**

1. Given a custom function to validate email
[code]
2. Call validateEmail function wit

[2021-10-20 11:21] P0lip commented on #1907
Hey!
`const response = schema(_EmailAddress, { schema: emailSchema, allErrors: true }, {given: _Path}, {});`
this bit is not correct. You need to forward arguments as originally passed to your custom function.

Something more or less like this

[code]

In your case, you pass an empty object `{}` and `{given: _Path}` which shouldn't be there.

Hope that helps.
Feel free to follow up in case you sti

[2021-10-20 11:21] #1907 closed, assigned to nobody

[2021-10-21 08:17] EmmetZC opened #1910 ""Fixed" JSON Paths may occasionally cause troubles"
**Describe the bug**
JsonPath for `given` is not working properly when `resolved` set to `false`

**To Reproduce**

1. Given this OpenAPI document
[code]
2. Given this rule
[code]
3. Run spectral-cli with custom rule. Obviously, spectral-cli should report one error based on rule `my-operationid`, since `get /orders`'s `operationId` is empty. While in fact there'll be no error reported instead. If

[2021-10-21 18:18] pamgoodrich commented on #1899
@philsturgeon and @mnaumanali94 : This is the initial draft of a proposed reorg and sprucing up of the Spectral doc. Nauman, Phil and I went over it this morning and agreed on at least the Getting Started and Advanced Topics sections. Can we talk about this when we meet on Monday?

[2021-10-21 18:22] mnaumanali94 commented on #1899
For sure. I'll try and leave some feedback here before that.

[2021-10-22 18:36] ralphpina commented on #1814
@P0lip any plans to open a PR with your fix?

[2021-10-23 10:58] fidgi commented on #1894
Hi,

I've the same issue with exclusiveMaximum and openapi version set to 3.0.3

I'm using @stoplight/spectral-cli 6.1.0 and
"@stoplight/spectral-rulesets": {
      "version": "1.2.6",
      ...
} is set in package-lock.json

regards,

[2021-10-23 11:48] fidgi opened #1911 "variable not supported in server url within openapi 3.1.0"
**Describe the bug**
When a variable is used in a server url within an openapi 3.1.0 document as follow:
[code]
, the following error is reported by spectral :

[code]

All is fine if the variable is removed or if the openapi version is set to 3.0.3 .

**To Reproduce**
see above

**Expected behavior**

Spectral should not report an error in this case

**Environment (remove any that are not applica

[2021-10-24 13:18] P0lip commented on #1814
I put the PR here https://github.com/stoplightio/spectral/pull/1912

Overall, the issue is caused by the fact you use rules that are no longer supported in 6.x.
Please refer to [migration guide](https://github.com/stoplightio/spectral/blob/develop/docs/migration-guides/6.0.md#rulesets) to learn more about it.
The fact we handle them in ruleset-migrator is to ease the migration process, but you'll

[2021-10-24 13:31] P0lip commented on #1894
Hey!
I've created a PR with a fix https://github.com/stoplightio/spectral/pull/1913

[2021-10-24 13:47] P0lip commented on #1715
Hey, first of all, my apologies for a delayed response.
In our case, the way you reference that header object is invalid.
One should do

[code]
I do agree however that the error could be more meaningful.

[2021-10-24 14:31] P0lip commented on #1910
Hey!
I'm unable to reproduce it using the examples you provided.
![image](https://user-images.githubusercontent.com/9273484/138598633-8748b5d2-38e2-4fb0-a1dd-52b4cba27ca9.png)
The error gets printed as expected.
I might have a hunch, but to confirm that, would you be able to download a binary from here https://github.com/stoplightio/spectral/releases/tag/v6.1.0 and try to lint the very same docume

[2021-10-25 02:45] EmmetZC commented on #1910
Sry for providing incomplete case. I thought this bug could be reproduced with lone rule `my-operationid` and I was wrong.

Check this full ruleset again if you please:
[code]

I tried this very same ruleset and the very same document again, with my local `spectral` and the `spectral-macos` downloaded from https://github.com/stoplightio/spectral/releases/tag/v6.1.0. Both of them reproduced the bug

[2021-10-25 03:41] #1894 closed, assigned to nobody

[2021-10-25 08:02] #1814 closed, assigned to nobody

[2021-10-25 08:25] #1911 closed, assigned to P0lip

[2021-10-25 08:27] P0lip commented on #1720
Hey!
I believe this should no longer be an issue in Spectral 6.x.
One should be able to use pretty much any npm library now.

[2021-10-25 08:31] P0lip commented on #845
@arnaduga here's how one can do it
1. Create `.spectral.js` - the JS version of Spectral ruleset
2. Paste
[code]

[2021-10-25 08:34] P0lip commented on #1606
Hey!
It's possible in Spectral v6.
You'll only need to use the JS ruleset (`.spectral.js`).
Here's how you can do it:

[code]

The example is pretty basic, but hopefully, it gives you a grasp of things.
Reach out to me here please, should you have any questions.

[2021-10-25 08:43] P0lip commented on #1792
Hey!
Unfortunately, this would be probably out of scope for Spectral.
It's a similar case to https://github.com/stoplightio/spectral/issues/1504
You can check out the proposed solution there to see if it's a match for you.

[2021-10-25 09:12] P0lip commented on #1910
Thanks for following up!
I know what the issue is - it's not directly connected to the use of `resolved`, but the paths you use.
They're OK, but unfortunately, they trigger a bit of unexpected behavior in the json path engine we use.
I believe I fixed that some time ago, but I'm uncertain whether I released a new version containing the fix.
Either way, if you need a remedy you can do the following

[2021-10-25 09:20] EmmetZC commented on #1910
Wow, that is an interesting fix. Thx

[2021-10-25 09:26] P0lip commented on #1910
In case you're interested in understanding why the above change makes it work, here's an explanation.

tl;dr it's due to an optimization we have in the JSON Path engine

Let's take these two paths you provided in the original ruleset:

- `$.paths.*[?( @property === 'get' || @property === 'put' || @property === 'post' || @property === 'delete' || @property === 'options' || @property === 'head' || @

[2021-10-25 15:44] yordis commented on #1792
Could that be reconsidered?

The custom plugin could expect a file path, and try to compare both values.

We have other files that are not OpenAPI at the moment that need such a feature as well.

[2021-10-26 10:18] craicoverflow commented on #1720
Thanks, I'll check it out. I'll close this for now.

[2021-10-26 16:13] #1899 closed, assigned to pamgoodrich

[2021-10-26 16:15] pamgoodrich opened #1915 "Update Spectral Overview Topic"
Based on approved outline: https://www.notion.so/stoplight/Draft-Spectral-Outline-aa57815825fd457a923a6a88e14f1b11

1. Concepts - Overview
    1. How to use:
        1. Studio
        2. CLI
        3. Javascript API
    2. Core Rulesets
        1. OpenAPI support
        2. AsyncAPI support

[2021-10-26 16:17] pamgoodrich opened #1916 "Spectral Getting Started Update"
Based on approved outline: https://www.notion.so/stoplight/Draft-Spectral-Outline-aa57815825fd457a923a6a88e14f1b11

3. Getting Started (examples at each step)
    1. Install
    2. Load the Open API ruleset - few built in, load like this, etc. Explain how to add core rulesets and shared rulesets (those provided by others, found online, etc.)
    3. Lint
    4. Customize a ruleset - Changing an Ope

[2021-10-28 08:10] ngayemdm opened #1918 "YAML ruleset format not recognised if ruleset URL does not end with .yml"
**Describe the bug**
When fetching a custom YAML ruleset by an URL not ending with .yml, spectral misinterprets the format and returns an error message like "Unexpected token (Note that you need plugins to import files that are not JavaScript)"

**To Reproduce**

1. Place the openapi file in this archive [contract.openapi.yml.zip](https://github.com/stoplightio/spectral/files/7432259/contract.open

[2021-10-28 08:55] P0lip commented on #1918
Hey!
To be honest, that's expected behavior.
If a ruleset doesn't end up with `.yaml`, `.yml` or `.json` it's considered a JS ruleset, and hence such a ruleset should be provided.
We could probably get `Content-Type` to see what the output is in case we cannot determine it based on the extension.
Is there any reason you cannot use the filename containing an extension?

[2021-10-28 09:12] ngayemdm commented on #1918
Hello,
I use Gitlab to store my rulesets in a dedicated project.
The raw file is accessible via the Gitlab API and the URL has this format: `https://<my_company_hostname>/api/v4/projects/<gitlabl_project_id>/repository/files/rules%2Foas.spectral.yml/raw?private_token=<read_only_token>&ref=<main_branch_of_my_project>`

The extension is present but not at the end of the URL.
The `/raw` part is requi

[2021-10-28 09:41] P0lip commented on #1918
Got it. If it's served with a correct `Content-Type` we might be able to use that to determine the format of the ruleset.
However, if it's served as plain text, you'll probably need to continue using that dummy param.

I'll keep you posted - hoping to add that `Content-Type` based detection at some point.

[2021-10-28 15:53] galvo opened #1919 "Support for 2.1.0 and 2.2.0 of AsyncAPI"
**User story.**
Can support be added for linting of 2.1.0 and 2.2.0 of Asyncapi?

https://www.asyncapi.com/blog/release-notes-2.1.0
https://www.asyncapi.com/blog/release-notes-2.2.0

[2021-10-28 18:56] P0lip commented on #1919
Hey!
Thanks for the issue.
Since we have a similar one https://github.com/stoplightio/spectral/issues/1759 already I'll merge yours with the existing one.

[2021-10-28 18:56] #1919 closed, assigned to nobody

[2021-10-28 19:26] P0lip commented on #915
A similar issue occurring for this project
[repro.zip](https://github.com/stoplightio/spectral/files/7436862/repro.zip)

[2021-10-29 15:17] OnimeNoKyo opened #1920 "some JsonPath don't work any more since upgrade from 5.9.2 to 6.1.0"
**Describe the bug**
Since an upgrade from 5.9.2 to 6.1.0, some given JsonPath don't work anymore

**To Reproduce**

1. Given this OpenAPI
[code]
2. Given this CustomRule Set
[code]
3. Run this CLI command
[code]
4. See error
[code]

**Expected behavior**
using v5.9.2, it's working perfectly
[code]

**Environment (remove any that are not applicable):**
 - Library version: 6.1.0
 - OS: Windows 10

[2021-10-29 17:46] P0lip commented on #1920
Hey!
Yeah, it appears to be a bug in https://github.com/JSONPath-Plus/JSONPath - I suggest creating a ticket in their repo.
![image](https://user-images.githubusercontent.com/9273484/139479420-97f5960b-d559-498e-8491-27f94570d020.png)
We've updated the version between v5 and v6 and seems like there's some regression.

We can keep this one open to keep the track of it.

--

Frankly speaking, I'd co

[2021-10-31 00:04] FichteFoll commented on #1893
I think you mean that auto-detection only applies to the decision between OpenAPI and AsyncAPI when `spectral:oas`, whereas I understood it as spectral being able to tell that a document is using OpenAPI and which version automatically. I'm not sure if it has been changed since I created the issue, but the current wording is fine in that sense.

The problem isn't that it doesn't mention the change

[2021-11-02 00:46] jstockdi-marstone commented on #1715
I came across this error and it stumped me for a bit.  For anyone else who has the same issue:

Change:
[code]

To:
[code]

It's easy to mix up, as schema often has an attribute $ref in other use cases.  If the component has schema in it, then the object referencing it should not refer to it from a schema attribute.  I think... if anyone posts additional info here, that'd help me out.

NOTE:  only

[2021-11-02 22:36] galvo opened #1939 "exclusiveMaximum must be number"
**Describe the bug**
Version 6.1.0 is incorrectly expecting exclusiveMaximum to be a number

**To Reproduce**

1. Given this OpenAPI spec

[code]

2. Run the docker command with a ruleset defined as follows

extends: [[spectral:oas, all]]

3. See error

The following error is returned

 61:20  error  oas3-valid-schema-example  schema is invalid: data/exclusiveMaximum must be number  components.sch

[2021-11-02 23:29] P0lip commented on #1939
Thanks for the ticket!
I'm happy to tell you it's been fixed in https://github.com/stoplightio/spectral/issues/1894.
We're still to release a new docker version.
I'll let you know once it's out. In the meantime, I'll close this one out.

[2021-11-02 23:29] #1939 closed, assigned to nobody

[2021-11-03 12:37] galvo commented on #1939
Excellent thank you

[2021-11-03 14:38] #1910 closed, assigned to P0lip

[2021-11-05 10:25] galvo commented on #1939
And the npm and Docker version number and releases aligned?

[2021-11-05 11:15] adamzareba opened #1945 "Spectral does not distinquish paths with different path variables"
**Chore summary**
Spectral linter throws an error in case of OpenApi 3.0 specification contains the same paths with different path variable name.
[code]

**Tasks**
- define OpenAPI specification, like:
[code]
- Run validation:
[code]

**Additional context**
Spectral (5.9.1)
OS: Windows

[2021-11-05 12:47] #1861 closed, assigned to P0lip

[2021-11-09 07:00] benjamin-mogensen opened #1947 "Prototype Pollution in node-jsonpointer"
**Chore summary**
Update jsonpointer pacakge to >=5.0.0 to avoid warnings on @stoplight/spectral-core, @stoplight/spectral-functions, @stoplight/spectral-rulesets

**Tasks**
- [ ] Update jsonpointer package to >=5.0.0 in @stoplight/better-ajv-errors

**Additional context**
NA

[2021-11-09 17:19] lynhao opened #1948 "custom functions"
hey guy~ Can custom functions of version 6.x be written in typescript? What about before version 6.0?

[2021-11-09 20:57] #1948 closed, assigned to nobody

[2021-11-10 07:37] fednot-icc opened #1950 "In-line regex flags don't raise an error"
**Describe the bug**
In some regex flavours it is possible to use in-line flags:
`  pattern: '^(?i)TEXT$'`
Swagger does not support this according to swagger.io, but Spectral does not indicate an error or warning when patterns use this feature.

**To Reproduce**

Example contract:
[code]
I used Visual studio code (1.60.0) with Spectral plugin (v0.2.5) with custom ruleset defined (but none affectin

[2021-11-10 07:50] fednot-icc commented on #1950
Screenshot of swagger.io with faulty part of regex removed:
![image](https://user-images.githubusercontent.com/94038660/141071839-73e14023-e293-4702-9242-c41c499b607d.png)

[2021-11-10 08:09] fednot-icc commented on #1945
This behaviour is conform the swagger standard:
https://swagger.io/docs/specification/2-0/paths-and-operations/#:~:text=Swagger%20defines%20a%20unique%20operation,have%20no%20effect%20on%20uniqueness).

And OpenAPI 3:
https://swagger.io/docs/specification/paths-and-operations/

[2021-11-10 08:13] #1945 closed, assigned to nobody

[2021-11-10 17:30] P0lip commented on #1950
@fednot-icc
Hey!
I'm uncertain whether this is something Spectral would support out of the box, as this is a really specific use case.
You could create your [own rule](https://github.com/stoplightio/spectral/blob/develop/docs/getting-started/3-rulesets.md) for that.

[2021-11-11 12:16] P0lip commented on #1939
The code of the CLI package is the same, but the versions of dependencies may differ, depending on how they get installed by npm/yarn.

[2021-11-11 12:47] P0lip commented on #1947
I'll update it when I have a chance, but overall our usage of `jsonpointer` doesn't impose any risk, as we only use `get` function (hence we only make a read only usage of it), while the one that's potentially vulnerable is `set`.

[2021-11-11 12:51] benjamin-mogensen commented on #1947
OK thanks - I am sure its no big risk. I just see the vulnerability alerts in our GitHub repos and when doing the `npm audit` so thought I would raise it with you guys :)

[2021-11-12 10:28] ngayemdm commented on #1918
For security reasons, gitlab uses the `Content-Type` "`text/plain`" when returning the contents of my file.
Thanks for your comments, I will continue to use my setting for now.

[2021-11-12 10:28] #1918 closed, assigned to nobody

[2021-11-12 11:34] Relequestual commented on #1432
Right, they are URIs, not URLs, so may not be changed.
The URIs for the dialect identifiers of all published drafts are set in stone.
In newer versions, we use HTTPS.
It is never expected that an implementation should go download these on the fly! As, given they are URIs, that might not be possible.

[2021-11-12 13:30] #1950 closed, assigned to nobody

[2021-11-12 14:48] #1947 closed, assigned to P0lip

[2021-11-13 18:00] sandro-pasquali opened #1955 "Won't start in Node 17.1.0"
Both

```import Spectral from '@stoplight/spectral-core';```

and

```import('@stoplight/spectral-core');```

trigger the following error:

[code]

- NodeJS 17.1.0
- Library version: [1.6.1]
- OS: [macOs Monterey, Mini M1]

[2021-11-14 07:28] P0lip commented on #1955
Hey :wave:
Closing this one since it's a duplicate of https://github.com/stoplightio/spectral/issues/1808.
There's a cause provided there as well as a solution.

[2021-11-14 07:28] #1955 closed, assigned to nobody

[2021-11-15 15:10] ivangsa opened #1956 "Expose Javascript function to load custom ruleset from file"
**User story.**
As a **developer consuming spectral-core from javascript**, I can **load custom ruselet from yml files**, so that I can use them programatically on a microservice.

**Is your feature request related to a problem?**
I'm trying to use spectral-core 6 from javascript code and I'm not able to programatically load rulesets from yml files.
Loading files as yml files doesn't work as it do

[2021-11-15 15:48] Andras-Csanyi commented on #1956
I did struggle with this earlier today, and here is my conclusion (frustration):
- you need to include `spectral-cli` in order to be able to use that method (I don't like this fact neither)
- it uses `migrateRuleset` which returns a js file which should be bundled and loaded, see the `load` method at the bottom of the same file

When I included the this file (getRuleset) it failed and the error wa

[2021-11-16 07:11] P0lip commented on #1956
:wave:
`setRuleset` is meant to work with the JS-ish ruleset.
Overall, the JS ruleset is a much better fit if you mean to use Spectral programmatically, as it greatly reduces the debugging pain as well as may give you type-safety if you happen to use TS.
Having said that, I'm totally open for exposing that function somewhere for a public consumption - probably in ruleset-bundler package, but it's

[2021-11-16 15:07] tyler-mairose-sp opened #1958 "Nested objects within schema properties"
**The Issue**

I have a schema object that looks like the below json structure. I wanted to use the truthy function to make sure that each property in all parts of this object have an example.

I first tried the following rule to access properties at the first level, however when it gets to requesterIdentitySummary that field is a nested object and I want to check those properties as well.

[code]

[2021-11-16 15:13] #1958 closed, assigned to nobody

[2021-11-16 17:33] ivangsa commented on #1956
Hi @P0lip

we would like to keep the rules in yml files separated from microservice code, one of the reasons it's because we want to also load same rules in the vscode extension and/or from the command line (depending on users)

`Spectral.setRulesetFile(uri)` would work as a great place for this functionality, but ofcourse please analyse the best module for it..

we have a Pull Request to your off

[2021-11-17 15:23] scop commented on #1516
:+1: to this. Although not explicitly mentioned, I'm assuming the issue is against the oas ruleset.

An implementation wrinkle is that checking `required` against `properties` is not enough, `additionalProperties` and `patternProperties` may need to be taken into account as well, depending on the OpenAPI version. Checking just `properties` when neither of those is present (or are empty) would be a

[2021-11-17 16:19] P0lip commented on #1956
@ivangsa
Thanks for the contribution to vscode-spectral - really appreciated!

The function is unlikely to become a method of the Spectral class. It'd probably be in ruleset-bundler, and be consumed in the following way

[code]

The actual implementation will be presumably slightly different.

[2021-11-17 17:20] pamgoodrich opened #1961 "Document missing schema functions"
These schema function options are missing from the doc:

- **Location: schema function:** dialect iconXXX

    Recommended text: @Nauman Ali  to provide. Pam will add to Spectral doc.

This option is internal and should not be added to the doc:

- **Location: schema function:** prepareResults iconXXX

    Recommended text: @Nauman Ali to provide. Pam will add to Spectral doc.

They need to go here

[2021-11-17 17:37] P0lip commented on #1961
@mnaumanali94 @pamgoodrich this is for an internal, don't document it, we shouldn't expose it in the UI either

[2021-11-17 18:02] pamgoodrich commented on #1961
@P0lip Thank you. It is exposed in shared style guides now. I'll add a note to the bug list that it should not be exposed. @mnaumanali94

[2021-11-17 18:08] pamgoodrich commented on #1961
@P0lip : If you can add some info about the dialect option to this issue, I can give help text to the UI team and add info to the Spectral doc.

[2021-11-17 18:52] P0lip commented on #1961
`draft` - the JSON Schema draft used by function. Valid values are: 'auto', 'draft4', 'draft6', 'draft7', 'draft2019-09', 'draft2020-12'.

---

On a side note - is there any reason we'd keep them in some doc?
We should keep them in the schema in the Spectral codebase itself. This way the values are not hardcoded and users can annotate their own functions.

[2021-11-17 18:57] mnaumanali94 commented on #1961
There are a couple of things here:

Spectral documentation:
That's manually generated so we should document them there for sure.

Help text in Studio for new editor:
We can pick that up from JSON schema.

[2021-11-17 19:18] P0lip commented on #1961
we could and probably should use json schemas we have for that. This way we don't need to update docs manually.

Our existing documentation on functions doesn't have anything that couldn't be expressed in JSON Schema

[2021-11-17 19:28] mnaumanali94 commented on #1961
How would we do that in meta currently?

Once we have docs for Style guides, we could potentially generate it. Currently I think manual is the only way to go.

[2021-11-17 19:30] P0lip commented on #1961
I mean, we'd have a script somewhere in this repo that would generate the markdown file based on the schemas we have.
Super simple to implement

[2021-11-17 19:32] mnaumanali94 commented on #1961
Agree but style guide docs would be a thing by end of year. Maybe we just wait for that. 🤷‍♂️

[2021-11-17 19:38] P0lip commented on #1961
but why would we want to maintain docs if we can get everything from the schema and stay up to date?
Feels nice to have no need to constantly update docs anytime we change the behavior.

[2021-11-18 19:29] dckhedekar opened #1965 "timeout for linting"
**User story.**
As a linter user, I want to take a piecemeal approach to linting my oas spec , so that I don't have to wait for the listing job.

**Is your feature request related to a problem?**
For poorly written oas specifications, I don't want to wait for  the linting to get over to find out all my errors. If the errors are too many and fundamental I want to know them early and not wait for li

[2021-11-22 11:33] ioggstream commented on #1920
Hi @P0lip ! I found that even simpler rules are not working anymore... Eg. I had to do something like that:

[code]

[2021-11-22 13:44] P0lip commented on #1920
Hey @ioggstream!
Well, that's valid. `@` points at a given value in your document, so if that value is null, a type error will be thrown.
One always had to do `@ && @.type`, previously it was just an unexpected behavior (for me, at least).
Unfortunately, there's still no formal spec around JSONPath, so well, there's no standardized approach.
Hopefully, the draft that's currently WIP is formalized

[2021-11-22 14:22] ioggstream commented on #1920
Thanks for your reply! In the jsonpath-plus demo here https://jsonpath-plus.github.io/JSONPath/demo/? the given entry doesn't seem to need `(@ && )`.

Since `?(  ..  )` implements a "query" this behavior seems to me quite peculiar: is this the spec you're referring to? https://www.ietf.org/archive/id/draft-ietf-jsonpath-base-02.html

[2021-11-23 11:51] P0lip commented on #1920
They might be using an outdated version in that repl.
This is what I get for 6.0.1
https://npm.runkit.com/jsonpath-plus
![image](https://user-images.githubusercontent.com/9273484/143019302-a546e8a8-adef-44e9-b8e8-b5ab4c2dfabe.png)

[nimma](https://github.com/p0lip/nimma), the default JSONPath expression interpreter that Spectral uses behaves similarly to jsonpath-plus in the way it handles those f

[2021-11-23 21:30] P0lip commented on #1792
I'll leave the call to our PM, @mnaumanali94

[2021-11-23 21:38] mnaumanali94 commented on #1792
@yordis I understand that disallowing breaking changes is a need across many places, but it is beyond the scope of what Spectral is built for. Spectral primarily aims at linting JSON/YAML files to adhere to standards. Comparing files isn't something that we have any plans to add to Spectral.

Apologies that Spectral won't work out for you for this particular use case.

[2021-11-23 21:40] #1792 closed, assigned to nobody

[2021-11-23 21:42] yordis commented on #1792
🤷🏻 hopefully can make a plugin work, thank you regardless.

[2021-11-23 21:46] P0lip commented on #1956
Hey, I've started working on it.
I'm not sure when exactly this would be delivered, but hopefully either this week or the next one

[2021-11-24 11:44] jianyexi opened #1968 "To visit multiple specs in one rules"
**User story.**
As a rule developer, I want to check multiple specs in one rules  , so that I can using linter to avoid issues that only encounter in multiple specs

**Is your feature request related to a problem?**
we want to ensure the 'operationId' is unique among multiple swaggers. The spectral can't do it

**Describe the solution you'd like**
the rule function can visit all the inputs from th

[2021-11-24 13:27] Linuus opened #1969 "New releases due to security vulnerabilities"
**Chore summary**

Make a new release to bump jsonpointer library as it has security vulnerabilities. It is a dependency on better-ajv-errors and it looks like it has already been bumped in core. I believe you need a new core release and then bump the dependency in cli?

**Tasks**
- [ ] New release of core
- [ ] Bump core version in cli and release

[2021-11-25 13:06] albertored opened #1970 "Generate multiple output formats with one cli call"
**User story.**
As a spectral user, I would like to be able to generate lint reports in different formats with a single cli call without the need or lining the same spec multiple times (it can be time-consuming for huge specs).

**Describe the solution you'd like**
An option is to change `--output` and `--format` cli flags to accept a comma separated list of values so that a user can decide to gen

[2021-11-29 09:55] Luis-GA commented on #1970
I am also interested in this feature. I would do something different in the CLI, probably something like robot framework does. Instead a list of formats and files, that could be confusing, I consider It would be better to set more arguments, indicating the format in the argument name and the file in the value.

For instance:

`spectral lint --ruleset ruleset.yml --junit report.xml  --stylish repor

[2021-11-30 14:52] m-mohr commented on #915
It seems that in spectral 6.1.0 this is solved? At least I could remove my exceptions after the 5 to 6 migration and don't get errors any longer.

[2021-11-30 14:52] #915 closed

[2021-11-30 14:59] m-mohr opened #1971 "Enabling oas3-parameter-description gives error"
**Describe the bug**

I'm adding `oas3-parameter-description` in my config and it results in a CLI error:

**To Reproduce**

1. Given this OpenAPI/AsyncAPI document: https://github.com/Open-EO/openeo-api/blob/spectral6/openapi.yaml
2. and the config file: https://github.com/Open-EO/openeo-api/blob/spectral6/.spectral.yml (this doesn't give an error, you need to activate `oas3-parameter-description

[2021-11-30 15:04] m-mohr opened #1972 "oas3-valid-schema-example: Issue with properties called "default"?"
**Describe the bug**

oas3-valid-schema-example: I have an OpenAPI file with an example that contains a property `default`. It seems that's the reason validation somehow applies strange rules for it.

I'm getting two errors:

I don't fully understand why that is. The default schema specifies it should be "string" and the values in the examples are strings.

**To Reproduce**

1. Given this OpenAPI/

[2021-11-30 15:13] m-mohr commented on #1971
Not sure I understand
`      given: "$..[?(@parentProperty !== 'links' && @.parameters)]['parameters'].[?(@.in)]",`
correctly, but should that be:
`      given: "$..[?(@parentProperty !== 'links' && @.parameters)]['parameters'].[?(@.description)]",`
?

[2021-11-30 15:47] m-mohr opened #1973 "Fix example for operation-id-kebab-case"
**Chore summary**
Fix documentation example for operation-id-kebab-case at https://meta.stoplight.io/docs/spectral/ZG9jOjI1MTkw-custom-functions#options

**Tasks**

The given example doesn't work for me. I made it work like this:

[code]

[2021-11-30 18:34] luizcorreia commented on #1607
@sebas2day that extension was deprecated, using old version from spectral, I compiled that to use with neovim. But I want a version with new one.

[2021-11-30 20:15] sebas2day commented on #1607
@luizcorreia I have no idea, I'm not a maintainer.

[2021-12-01 10:31] mellmann-dtit commented on #1274
I'm having the exact same problem. Is there any solution to this?

[2021-12-02 02:56] mikekistler commented on #1920
I am also having problems with Spectral v6+ understanding JSON Paths that v5.9 handled perfectly well.

Here is a rule that works fine with v5.9.2 and not with v6.1.0:
[code]

Using this test file:
[code]

v5.9.2 correctly reports the issue but not v6.1.0:
[code]

And I don't think this can be blamed on the new version of JSON Path Plus -- I tried out in npm.runkit as shown above and it works fine

[2021-12-02 10:12] wedi opened #1980 "Allow `null` as default value for nullable strings"
**Describe the bug**

[code]

fails validation with an obscure error message:

[code]

Setting `null` as default value is perfectly fine which has been clarified in the spec version 3.0.3.
See: https://github.com/OAI/OpenAPI-Specification/issues/2057#issuecomment-554777793 and https://github.com/OAI/OpenAPI-Specification/pull/2115#issuecomment-578115411.

**To Reproduce**

1. Given this OpenAPI/As

[2021-12-02 10:34] wedi opened #1981 "Spectral parsing chokes on unexpected `null` values"
**Describe the bug**

Spectral fails with `Cannot read properties of null (reading 'in')` and exit code `2` when you use `null` where spectral doesn't expect it.

**To Reproduce**

1. Given this
  - valid spec (#1980)
[code]
  - valid spec (https://swagger.io/docs/specification/data-models/enums/#nullable)
[code]
  - invalid Spec
[code]

  and more similar cases.

2. Run this CLI command '....'

[2021-12-02 22:12] P0lip commented on #1971
@m-mohr yup, correct. Will fix.
As of 6.x one has to be mindful about accessing properties - if there's a `null` somewhere, it'll just throw an exception if you try to read the property.

[2021-12-02 22:51] P0lip commented on #1778
I'll close this one out. If the answers above weren't sufficient, please reopen the ticket and provide us with more informations.
Thank you!

[2021-12-02 22:51] #1778 closed, assigned to nobody

[2021-12-03 14:42] P0lip commented on #1968
I'm uncertain whether this is something we'd handle in Spectral.
I'll let @mnaumanali94 have the final call on this one.

FWIW, it might be possible to cover that scenario with a custom function. Each custom function has access to `documentInventory`, which contains all documents that Spectral processes.

[2021-12-06 05:18] jianyexi commented on #1968
As far as I know, the `documentInventory` only take a document in its constructor, seems the mapping between the input swaggers and instances of `documentInventory` is 1:1 ?

[2021-12-06 08:22] P0lip commented on #1968
If you take 3 separate documents, then indeed it may turn out to be sufficient if the cache is missed over here https://github.com/stoplightio/spectral/blob/bef44b5df3f2e4b91913c00f81ebfed7fab4231b/packages/core/src/documentInventory.ts#L59
You can give it a shot tho.

[2021-12-06 18:33] P0lip commented on #1956
@Andras-Csanyi @ivangsa
Here's a draft PR #1988.
In short, this is how the procedure would look like:

[code]

What do you folks think?

[2021-12-07 07:19] ivangsa commented on #1956
@P0lip it looks perfect!!
when it's ready I will finish the migration to spectal6 of vscode extension..
and this will reduce the code even further, the whole plugin could be just under 200 loc..

[2021-12-07 13:44] mnaumanali94 opened #1989 "Annotate function options that are meant for internal usage within Spectral"
Some function options are meant for internal usage within spectral i.e.
- Object option in function `Pattern`
- PrepareResults in function `Schema`

Let's annotate them with `x-internal:true` so that they can be hidden in places where the audience is external users.

[2021-12-10 11:03] #1989 closed, assigned to P0lip

[2021-12-10 16:30] P0lip commented on #1969
Core has been released. :tada:
There's no need to bump it in CLI yet, you should be able to bump the version of core.

[2021-12-10 16:30] #1969 closed, assigned to P0lip

[2021-12-10 19:19] mnaumanali94 opened #1995 "Description for rulesets"
**User story.**
As a ruleset creator, i want to be able to explain the intent/purpose of the ruleset in a top level description using markdown.

**Describe the solution you'd like**
Add a top level description field in a ruleset, that is optional and allows markdown.

[2021-12-11 14:01] mikekistler commented on #1920
Regarding my comment above -- I just realized that Spectral v6+ works fine with a very small change to the JSON Path:
[code]

with two dots after the "$" rather than just one.  Now that I see this I am surprised that Spectral v5.9.2 reports the error without the two dots, since it is not an immediate child of "$".

So in this particular case, the results from v5.9.2 and v6.1.0 are different but I

[2021-12-14 13:05] Linuus opened #1999 "Update json-schema dependency in core"
**Chore summary**

Update json-schema dependency to > 0.4 as all version below it has security issues.
See: https://github.com/advisories/GHSA-896r-f27r-55mw

**Tasks**
- [ ] Bump json-schema in core

[2021-12-14 14:53] #1995 closed, assigned to jgreen44

[2021-12-14 22:20] #1956 closed, assigned to P0lip

[2021-12-15 10:17] Linuus commented on #1969
@P0lip Are you sure? I mean... CLI still have a dependency on an old core version so if it's not changed it will still pull the old better-ajv-errors and get a vulnerable dependency.

Dependabot still gives me this:

even if I have this:
[code]

So, maybe we do need to bump the versions in CLI after all?

[2021-12-15 12:53] Havunen opened #2002 "Require of @stoplight/spectral-core 1.7.0 fails to error node js 16"
usage:

[code]

results =>

[code]

what is nimma/legacy? .... 😠

[2021-12-15 13:02] P0lip commented on #2002
It's not an issue with Node.js, but with Jest not understanding [package exports](https://nodejs.org/api/packages.html)
You should either enable ESM support in Jest as explained [here](https://jestjs.io/docs/ecmascript-modules) or set an appropriate `moduleNameMapper`, i.e. `'^nimma/legacy$': '<rootDir>/node_modules/nimma/dist/legacy/cjs/index.js',`

[2021-12-15 13:02] #2002 closed, assigned to nobody

[2021-12-15 19:14] dpopp07 commented on #1969
@P0lip The latest release of `@stoplight/spectral-rulesets` still depends on an old version of `@stoplight/better-ajv-errors` ("0.2.0"). When will a new release of the rulesets package go out? I see the `better-ajv-errors` dependency is fixed in the package.json on GitHub but when I install it I get the old version.

[2021-12-15 19:33] P0lip commented on #1956
@ivangsa it's out, LMK how it goes and if there's anything I could help you with.

[2021-12-16 00:42] stevenhair commented on #1808
I'm running into the same issue - [eslint requires an old version of ajv](https://github.com/eslint/eslint/blob/981fb48991448bec171d7d4332d7dc514252f83f/package.json#L52), which npm decides to hoist to the root of node_modules. spectral-cli, required by spectral-cli, also gets hoisted to the root of node_modules, but since it requires ajv as a peer dependency, it seems like it's pulling in the old

[2021-12-16 11:22] ivangsa commented on #1956
Hi @P0lip, thanks for the update

I'm not sure what I'm doing wrong but I can not import the module:

I added to my package.json:
[code]
I see that the package is in node_modules, and that has that "export" in its package.json but it fails importing it (both vscode and webpack) And I can import other functions in ruleset-bundler package :-(

![image](https://user-images.githubusercontent.com/12468

[2021-12-16 14:45] P0lip commented on #1969
It's not a fixed dependency though meaning that as soon as your npm/yarn cache is busted, a newer one will be picked up.

When we have some changes worth publishing. I don't know when exactly, but it may take a while.
As mentioned before in some different ticket, our code doesn't use the vulnerable parts of the code, so you can rest assured you're not at risk.

[2021-12-16 14:51] P0lip commented on #1956
Hey!
It's probably because of your version of TypeScript.
[package exports](https://nodejs.org/api/packages.html) is supported as of TS 4.5.
Here's a related issue in their repo https://github.com/microsoft/TypeScript/issues/33079.

---
Although having a peek at some of the most recent comments, it seems like we may need to add `types` to make TS happy.

If that's indeed the case, perhaps you can

[2021-12-16 15:15] ivangsa commented on #1956
I was just trying with the whole path

[code]

let's see if it works

[2021-12-16 15:50] ivangsa commented on #1956
- no luck, with "typescript": "^4.5.4",
- nor using paths in tsconfig
- nor with the absolute path (is not exported)
- and editing package.json in node_modules to add types (just to try) it doesnt seem to take effect
:-(

[2021-12-16 16:44] dpopp07 commented on #1969
I hadn't seen that, thanks.

[2021-12-16 16:49] P0lip commented on #1956
@ivangsa do you have a repo somewhere I could try it out on?

[2021-12-16 17:03] ivangsa commented on #1956
this one: https://github.com/ivangsa/vscode-spectral-1/tree/feature/upgradeSpectral6

[2021-12-16 18:41] P0lip commented on #1969
Yeah, generally if there was a risk we'd update everything immediately, but in this particular case, we're safe.
Either way, I'm aware that it's still possibly annoying since our package is presumably flagged by some tools, therefore I'll try to get a new release out when I have a chance.
I have some CLI changes coming up in my pipeline, so a new version of CLI should be published as well.

[2021-12-17 09:58] sazzer opened #2003 "Doesn't work with NPM 6 if also including AJV"
**Describe the bug**
When using Spectral in a project building with NPM 6, if AJV is also included then requiring Spectral fails to work correctly.

**To Reproduce**

Given this code:
[code]

Running `npm start` gives this:
[code]

**Expected behavior**
No error should occur.

**Environment (remove any that are not applicable):**
 - Node: 14.18.2
 - NPM: 6.14.14
 - OS: macOS 11.6 on arm64

**Addit

[2021-12-17 11:34] P0lip commented on #2003
I'm afraid there's not much we can do about it.
You may need to file a bug in Ajv if there isn't any yet.

[2021-12-17 11:37] sazzer commented on #2003
I raised it here because I wasn't sure if it was a bug in AJV, in how
Spectral depends on AJV or how Spectral is actually using AJV.

But if it's definitely not a Spectral bug then I'll raise a parallel ticket
against AJV :)

Cheers

On Fri, 17 Dec 2021 at 11:34, Jakub Rożek ***@***.***> wrote:

[2021-12-17 12:51] sn0wbi commented on #1808
Same issue here. Wanted to update node to 16LTS with spectral-core 1.8.0 -> same error as above using node 16.13.1 and npm 8.1.2.

Does anyone have a solution how this bug with modern node versions can be fixed?

[2021-12-17 14:13] jamietanna opened #2005 "Broken internal links on `meta.stoplight.io/docs/spectral`"
**Chore summary**

A number of links on the docs site (i.e. https://meta.stoplight.io/docs/spectral/ZG9jOjYyMDc0NA-rulesets) are broken, as they are linking to the markdown file, not the specific meta URL.

**Tasks**

- Find broken markdown links
- Remediate them

**Additional context**

I.e. on https://meta.stoplight.io/docs/spectral/ZG9jOjYyMDc0NA-rulesets, there is a link `../guides/2-cli.md#us

[2021-12-18 20:52] skilbjo commented on #2003
Hmm, I am seeing this with `npm@7`

I am using the https://github.com/IBM/openapi-validator library, and run its basic command, `lint-openapi openapi.yaml`, and get the exact same stack trace as @sazzer described above

[code]

[code]

[code]

[2021-12-18 21:06] skilbjo commented on #2003
Ah, looks like my issue and @sazzer 's issue is the same as discussed here: https://github.com/stoplightio/spectral/issues/1808

and it appears currently unresolved: https://github.com/stoplightio/spectral/issues/1808#issuecomment-996698993

It is because of two versions of `ajv` (`6.x` for `eslint`, and `8.x` for modern `ajv`)
`eslint` discussed upgrading ajv to `8.x` here: https://github.com/esl

[2021-12-20 08:59] sazzer commented on #2003
It's slightly more complex than that. It's also hampered by the fact that
Spectral itself uses two different versions - 8.6.x and 8.8.x.

I have managed to fix it by pinning the overall application to 8.6, which
then makes NPM put the other versions as child modules under the
appropriate areas. (6.x under ESLint and 8.8.x under the bits of Spectral
that use that) But this means that I've got a ver

[2021-12-20 20:31] dwhayduk opened #2007 "Incorrect path printed when referencing an object inside nested $refs"
**Bug Description**
If an API is being linted that has several $ref's in it, then our linter can sometimes fail to print the correct path in the final error message. It still has an internal path to the true error that it can use for all other intents and purposes (like for use inside the rule functions), but in the message that prints to the console, the location is presented on an incomplete pat

[2021-12-21 14:54] savage-alex opened #2008 "Enable AdditionalProperties:false override"
**User story.**
As an API designer
I want to ensure my examples are correctly spelled and typed for properties that are in my API definition
So that any consumers of mocked endpoints do not get incorrect properties

**Is your feature request related to a problem?**
Spectral can find examples that are bad when additionalProperties is set to false but its not something we want to do when we release

[2021-12-22 10:49] jamietanna opened #2009 "Docs: How to use the JavaScript API with `extends`"
**User Story**

As a user, I want to write tests for my Spectral rules, so I can be more confident that the rules work.

**Further details**

I want to write tests, similar to the below:

[code]

However, this fails due to:

[code]

I can't see it mentioned in the docs how to use `extends` with the JS API.

Unfortunately the solution noted in https://github.com/stoplightio/spectral/issues/1151 doe

[2021-12-22 14:34] #1971 closed, assigned to P0lip

[2021-12-22 15:06] jamietanna commented on #1956
I'm also seeing:

[code]

When using CommonJS with Node v17.3.0

Amending it as follows seems to work:

[code]

[2021-12-22 16:47] jamietanna commented on #1956
Edit: Deleted message, as it was due to me passing the contents of the file to `bundleAndLoadRuleset` instead of the path to the file

[2021-12-23 00:51] yordis opened #2010 "Yarn 2 and CLI problems"
Hey there, I just converted the project from yarn 1 to yarn 2 and `pnp` with Zero-Install and I getting a few problems that would be amazing if the tool works without any problems from the get-go.

**To Reproduce**

1. I upgraded the repository from yarn 1 to yarn 2+
2. Run this CLI command: `spectral lint ./openapi/data/file-name.openapi.json`
3. See error

## Environment

[code]

## Problem One

[2021-12-23 18:04] tmtron commented on #2002
I also had to map some more modules (when using `"ibm-openapi-validator": "0.52.0"`):
[code]

[2021-12-28 16:55] gln-gln commented on #1861
Is this fix also available in the docker image 6.1.0? I still have same issue and I tried both stoplight/spectral:6.1.0 image and the develop image. Any suggestions?

[2021-12-28 19:29] P0lip commented on #2009
Hey!
One should do the following

[code]

Hope that helps. You are more than welcome to update the documentation!

[2021-12-28 19:34] P0lip commented on #2010
Yup, it's indeed an oversight. Going to address it promptly.

[2021-12-28 19:56] P0lip commented on #2005
@jamietanna hey! It appears to be working fine for me. In recent days we had an around URL handling which we promptly fixed.
Can you still reproduce the issue?

[2021-12-28 19:59] P0lip commented on #1956
Hey folks!
I'll try to respond later this week.
It's on my radar, but with the Holidays season and some days off, I'm lagging behind a bit.
Thank you for your understanding!

[2021-12-28 20:00] P0lip commented on #1861
I'm afraid it might be not available in the docker image.
We should release a new docker image soon, so stay tuned.
By soon I mean some early January, perhaps a bit later than that.

[2021-12-29 04:22] #1999 closed, assigned to P0lip

[2021-12-29 07:59] ivangsa commented on #1956
(no worries on this side... I'll be offline for a couple of weeks)

[2021-12-29 14:19] P0lip commented on #1980
This should be fixed by https://github.com/stoplightio/spectral/pull/1986.
LMK if it works.
Just make sure to upgrade `@stoplight/spectral-rulesets` beforehand.

[2021-12-29 14:19] P0lip commented on #1980
I'll close this one out in the meantime.
If you experience issues, please reach out here.
Thank you!

[2021-12-29 14:19] #1980 closed, assigned to P0lip

[2021-12-29 17:36] Loda commented on #1920
I end up here because I got "Cannot read properties of null (reading 'in')" and "Cannot read properties of null (reading 'type')" error messages when running spectral after updating spectral.

The comment from @ioggstream solved my problem: add "@ &&" in jsonPath selector.

Thanks.

[2021-12-29 21:38] #2010 closed, assigned to P0lip

[2021-12-29 22:35] #1973 closed, assigned to nobody

[2021-12-29 22:35] wedi commented on #1980
I can confirm it's solved Thanks! ❤️

[2022-01-03 12:48] Linuus commented on #1999
@P0lip Can we also bump the dependency in cli? It still requires core 1.5.1 so we still have the json-schema issues:
https://github.com/stoplightio/spectral/blob/develop/packages/cli/package.json#L39

[2022-01-03 20:09] P0lip commented on #1999
It's `^1.5.1` tho, so you should be able to do `yarn upgrade @stoplight/spectral-core` or the npm equivalent.
Or do you use Docker images / binaries?

[2022-01-04 09:15] Linuus commented on #1999
Ah right, thanks!

[2022-01-04 15:41] jamietanna commented on #2009
Thanks! I've also been able to get this working with steps as documented in https://www.jvt.me/posts/2021/12/22/spectral-jest/:

[code]

Would it be best for me to raise a PR to get the docs page updated so there's a bit more info in there?

[2022-01-04 15:45] P0lip commented on #2009
sure, that'd be awesome.

[2022-01-04 15:47] P0lip commented on #2009
FWIW I read your article, it's nice.

It might be good to mention here that this should work out of the box in Jest 28.
https://github.com/facebook/jest/issues/9771
There might be some other nice workarounds there too which you may want to link.

[2022-01-05 19:11] rmkeezer opened #2017 "Snyk high security vulnerability in `json-ref-resolver` dependency"
**Describe the bug**
I am running into [Snyk security vulnerability](https://security.snyk.io/vuln/SNYK-JS-LODASHSET-1320032) on the [json-ref-resolver](https://github.com/stoplightio/json-ref-resolver) dependency because it is using an outdated dependency [lodash.set](https://www.npmjs.com/package/lodash.set) which has an unresolved prototype pollution vulnerability. It should instead use `set` f

[2022-01-07 16:16] jamietanna opened #2019 "`spectral lint` when using NPM-provided rulesets does not resolve rulesets"
**Describe the bug**

When running `spectral lint`, via `npx`, I cannot provide an NPM-based dependency for

A clear and concise description of what the bug is.

**To Reproduce**

Given the following `.spectral.yaml`:

[code]

And the following `openapi.yml`:

[code]

Then running:

[code]

**Expected behavior**

The rules from https://www.npmjs.com/package/spectral-aws-apigateway-ruleset are down

[2022-01-10 15:14] jamietanna commented on #2019
Could it be this requires the migration through the `spectral-rulesset-migrator`?

[2022-01-10 16:17] bhatikuldeep commented on #2019
@jamietanna I am experiencing the same behaviour, created NPM package - https://www.npmjs.com/package/api-spectral as per the documentation - https://meta.stoplight.io/docs/spectral/ZG9jOjI1MTky-sharing-and-distributing-rulesets#NPM; however get the same error as you've mentioned above

`ENOENT: no such file or directory, open '..api-spectral'`

[2022-01-10 22:34] dpopp07 commented on #2017
@P0lip Any outlook on this vulnerability being addressed?

[2022-01-11 09:32] ivangsa commented on #1956
hi @P0lip, any news on this?

[2022-01-11 17:18] mnaumanali94 commented on #1347
@P0lip Does spectral support objects in additionalProperties?

[2022-01-11 17:59] ioggstream commented on #1091
Any news on that?

[2022-01-12 09:22] ioggstream commented on #1091
I stubbed a custom function implementation based on the current oasOpSecurityDefined https://github.com/italia/api-oas-checker/pull/482/files#diff-02327926eb1e6d9b33c3d62bd55da90506c59ad3f913f7431785468be07bd713

Does make sense to you to add something like this in spectral? It is probably an easy feature to add...

[2022-01-12 14:19] felipeloha commented on #1780
+1

any idea when this will fixed?

[2022-01-13 18:57] faevourite commented on #1689
Just adding another example here:

[code]

This results in a `oas3-valid-media-example` error in Stoplight UI and Spectral lint for the `uri-broken` field. This means that for APIs based on JSON:API, for example, which uses square brackets extensively, API designers have to constantly encode square brackets even though they're valid characters in a URI.

Another point of reference: https://jsonsch

[2022-01-14 15:57] Amachua opened #2021 "Cannot find module 'nimma/legacy' from SpectralCore Runner"
**Describe the bug**

When I load a YAML file and a custom spectral ruleset, then I would like that the spectral runner successfully finalize the analysis of the file (see following code) as it is currently blocked due to nimma.

[code]

To help you on the investigation, I have created a complete standalone repro case that is available at https://github.com/Amachua/spectral-repro.

[2022-01-14 21:02] P0lip commented on #2019
Hey there!
It's indeed an issue.
I sorted it out here https://github.com/stoplightio/spectral/commit/65b0a47ea29dfb71dad87d0805cec2e81527162b but I still need to find a way to test the node_modules resolution in a reasonable way.
This is the only scenario we didn't have covered 😬

[2022-01-16 17:36] P0lip commented on #2021
It's not an issue with Spectral, but with Jest, namely jest-resolve, not supporting package exports.
Please refer to https://github.com/stoplightio/spectral/issues/2002 for a workaround.

[2022-01-16 17:36] #2021 closed, assigned to nobody

[2022-01-17 17:47] ivangsa commented on #1956
hi @P0lip, any news on this?

[2022-01-18 11:02] fgreinacher opened #2025 "JUnit test names are not unique"
_Originally posted by @m-denton in https://github.com/stoplightio/spectral/issues/935#issuecomment-576752875:_

[2022-01-18 14:32] fgreinacher commented on #2025
This seems to be especially problematic for GitLab because they don't handle such scenarios well:

- https://gitlab.com/gitlab-org/gitlab/-/issues/237920
- https://gitlab.com/gitlab-org/gitlab/-/issues/26251

I'll also try to get this improved on the GitLab side, but that might take quite some time to get through.

As a stopgap solution we could append an incrementing number to each test case name

[2022-01-18 15:01] fgreinacher opened #2027 "JUnit formatter incorrectly escapes failure details"
**Describe the bug**

The JUnit formatter runs failure details through `xmlEscape` although these are contained within a `CDATA` section:

https://github.com/stoplightio/spectral/blob/develop/packages/cli/src/formatters/junit.ts#L51-L55

This [is unnecessary](https://stackoverflow.com/a/223782) and can cause visualization problems when rendering the results in a post-processing tool.

**To Reprodu

[2022-01-18 17:01] Amachua commented on #2021
Thank you @P0lip for the quick answer, I have check the content of the workaround and it seems like it is working! Facing another issue at the moment and I might open another Issue when I have properly scope this latter. :)

[2022-01-19 01:06] kernwig commented on #2019
Is there a workaround? Perhaps a url to `spectral:oas`?

[2022-01-19 12:11] P0lip commented on #2019
Hey @kernwig
` spectral:oas` should work just fine.
I've already opened up a PR with a solution, so the upstream package should be fixed soon.

[2022-01-19 15:40] dillonredding commented on #1091
@ioggstream
Definitely seems like the base/default spectral rules should account for the core OAS.

[2022-01-19 16:22] kernwig commented on #2019
~@P0lip It does not. Installed in a package within an NPM Workspace. ("casa" is a monorepo)~

n/m: I had "spectral:oas3". Removing the `3` fixed it.

[2022-01-19 17:21] wedi opened #2030 "RegEx flags in patterns are not honored when checking examples"
**Describe the bug**
The following schema contains a valid ECMA 262 regular expression with a [matching example](https://regex101.com/r/5Mm1uZ/1) which gets rejected by spectral.

[code]
[code]

You fixed this issue for [patterns in rule sets](https://github.com/stoplightio/spectral/issues/242).
Some time ago you rejected to [allow slashes for patterns](https://github.com/stoplightio/spectral/issu

[2022-01-19 20:45] P0lip commented on #2030
`pattern` keyword doesn't allow flags to be specified, so the aforementioned behavior is somewhat expected.

Overall regular expressions in [JSON Schema](https://json-schema.org/draft/2020-12/json-schema-core.html#rfc.section.6.4) _should_  (should means it's not a hard requirement) built with the Unicode flag, but we disabled it over here https://github.com/stoplightio/spectral/pull/1787

The fun

[2022-01-19 22:34] wedi commented on #2030
Reading up the standard more closely, I see now that the term `pattern` used in JSON schema is a defined term that describes just a part of the ECMA 262 `RegExp`. So the regex I used is indeed a ECMA 262 `RegExp` but you can only use the `pattern` part in `/<pattern>/<flags>` or `RegExp(pattern, flags)`.

Although it's a pitty I understand your reasoning in #1781.

I forked the project to make a p

[2022-01-20 16:21] #2025 closed, assigned to nobody

[2022-01-20 17:09] #2027 closed, assigned to nobody

[2022-01-21 10:25] P0lip commented on #2030
That's correct.

Nothing is set in stone forever. I'm happy to revisit the standpoint.
Without doubt, having `unicode` enabled would be much better and I'd love to have that turned on, but the problem is that some people would need to be more careful about the regular expressions they craft.
At least we could make that option configurable, so folks that do intend to have the unicode support can do

[2022-01-23 15:39] liamnichols commented on #1603
I _think_ that I traced this back to an issue with `ajv`'s `nullable` support:

- https://github.com/ajv-validator/ajv/issues/1882

[2022-01-24 17:25] mkistler opened #2036 "Errors and omissions in documentation of overrides"
**Describe the bug**

The [documentation of the Overrides feature](https://meta.stoplight.io/docs/spectral/ZG9jOjI1MTg5-custom-rulesets#overrides) incorrectly states that it supports

This is incorrect because Overrides use _JSON Pointers_ and not JSON Paths to identify the elements in the file where overrides should be applied.

It is unfortunate that JSON Pointers are used instead of JSON Paths,

[2022-01-25 12:50] #2019 closed, assigned to P0lip

[2022-01-25 12:55] jamietanna commented on #2019
Amazing, thanks Jakub! Is there a rough idea of when this may land on NPM?

[2022-01-25 23:12] dpopp07 opened #2038 "Default "compute fingerprint" function removes unique validations"
**Describe the bug**

The [`defaultComputeResultFingerprint`](https://github.com/stoplightio/spectral/blob/develop/packages/core/src/utils/prepareResults.ts#L11) function can produce duplicate hashes for different validation instances, causing one or more instances of unique rules to go unreported. This happens when validations come from the same function (code) and deal with the same artifact in

[2022-01-26 12:19] jamietanna commented on #2019
Nice, this now works with:

[code]

And `.spectral.yaml`:

[code]

Thank you! :raised_hands:

Do we know when the next `spectral-cli` will go out that includes the dependency bump, so we don't need to manually override it?

[2022-01-27 09:17] rparini opened #2040 "Documentation lists old `oas3-valid-example` rule"
**Describe the bug**
Spectral's [reference documentation](https://github.com/stoplightio/spectral/blob/87176915ec58accebd79a9828e45b78fed39aa49/docs/reference/openapi-rules.md?plain=1#L627-L631) lists `oas3-valid-example` as a rule but my understanding is this rule was removed and replaced with separate rules for example validation, so the documentation appears out of date.

**Expected behavior**

[2022-01-27 11:18] P0lip commented on #2038
Sounds good to me.
In most cases, we'll indeed want to print out those errors if they happen to have different messages but are caused by the same rule and occur at the same location.

~As a part of it, we could make remove `computeFingerprint` from options you can pass to the constructor. I don't feel like it's something you'd ever want to customize after your change is applied.~
~I've never real

[2022-01-27 17:24] dpopp07 commented on #2038
Great! I'll make the change then; I should be able open that PR this week or next.

I'll go ahead and update the docs as a part of my PR as well.

[2022-01-27 18:01] #1970 closed, assigned to albertored, P0lip

[2022-01-31 15:18] max-moritz opened #2042 "Output to stdout not working with multiple output formatters"
**Describe the bug**

spectral lint fails with error message `The number of outputs must match the number of formats` when on the command line there are two formatters specified but only one output file

**To Reproduce**
1. Given an arbitrary OpenAPI document `my-api.yaml` and any ruleset `.spectral.yaml`
2. Run this CLI command: `spectral lint --format stylish --format junit --output.junit junit-

[2022-01-31 18:03] fgreinacher commented on #2042
@P0lip Something seems to be wrong in #2037, weird that there is a [test case for nearly the same command line](https://github.com/stoplightio/spectral/pull/2037/files#diff-5c1bab693e4315f93ddc3bc536502fe23b536bbed6214ca5a093571db6389f24R177) 🤷

[2022-01-31 20:03] P0lip commented on #2042
Going to look into it in a few mins

[2022-01-31 20:17] hudlow opened #2043 "Paths are not reported correctly after multiple recursions of resolution"
**Describe the bug**

It appears that the path of an error is reported correctly if resolve goes through a single `$ref` resolution, but not if it goes through more than one.

**To Reproduce**

Given this set of schemas:

<details>
<summary>Example grandparent, parent, and child schemas</summary>

[code]
</details>

...only the `Child` schema violates this rule:

[code]

...but Spectral reports a

[2022-01-31 20:45] P0lip commented on #2042
~I wonder whether "middleware" isn't executed after "check" for some reason 🤔
Seems like so.~

nah, it's my fault. The test swallowed the error 🤦‍♂️

[2022-02-01 00:20] P0lip commented on #2005
I'll close this one. If you still experience the issue, let me know.
This would be the issue with our platform, so I'd forward that information forward.

[2022-02-01 00:20] #2005 closed, assigned to nobody

[2022-02-01 10:57] leubedane commented on #1779
We are using the same for our Jest tests. But now with 6.1 version this is not working anymore. How is the new way to do it?

[2022-02-02 16:03] fgreinacher commented on #2042
As a workaround you can pass `--output.stylish "<stdout>"`.

[2022-02-02 17:21] albertored commented on #2043
@hudlow I was just about to open the same exact issue, I just add that the expected behavior should be to report a single error pointing to `components.schemas.Child`

[2022-02-02 17:30] hudlow commented on #2043
@albertored Yes, in the end, that's right. What was supposed to be implicit in the expected behavior I noted above was that if duplicates are created with the same path, Spectral's deduplication logic should clean them up. 😄

[2022-02-03 23:29] faevourite opened #2049 "Using the "overrides" feature results in unexpected behaviour in Stoplight Studio"
**Describe the bug**
Using the "overrides" feature results in unexpected behaviour in Stoplight Studio and VS Code plugin.

**To Reproduce**

<details>
<summary>test.yaml (autogenerated Stoplight Studio default):</summary>

[code]
</details>

<details>
<summary>.spectral.yaml</summary>

[code]
</details>

1. Given the above spec and spectral config
2. Open test.yaml in VS code or load the director

[2022-02-03 23:33] P0lip commented on #2049
I don't think we support overrides in the VS Code extension, as it still uses an old version of Spectral.
As for Stoplight Studio - things should work in a similar fashion to the CLI version of Spectral. I'll mark this as a bug until I have time to review it more thoroughly.

[2022-02-05 13:11] philsturgeon opened #2051 "Spectral not seeing problems with a badly $ref'ed document"
**Describe the bug**

Box has a very invalid OpenAPI document, but Spectral doesn't seem to notice. It's got $ref's in all the wrong places, which should be warnings at least.

**To Reproduce**

1. Given this OpenAPI/AsyncAPI document https://raw.githubusercontent.com/box/box-openapi/main/content/openapi.yml
2. Run this CLI command `spectral lint https://raw.githubusercontent.com/box/box-openapi/m

[2022-02-07 09:59] danielkocot commented on #1759
Any updates, @P0lip? :)

[2022-02-07 16:54] ryotrellim opened #2061 "Spectral: Clarify --ruleset requirement"
Relevant conversation: https://discord.com/channels/841794018173648916/859895506271600670/939506075525320714

Relevant tickets:
https://github.com/bundesAPI/deutschland/issues/48
https://github.com/stoplightio/spectral/issues/1893
https://github.com/stoplightio/spectral-action/pull/618
https://github.com/stoplightio/spectral/issues/1796

# Goal
The first line of https://meta.stoplight.io/docs/spec

[2022-02-07 17:51] P0lip commented on #1759
Hey @danielkocot.
Unfortunately no progress on this ticket has been made :(

[2022-02-08 10:34] #2042 closed, assigned to P0lip

[2022-02-08 11:14] SensibleWood opened #2053 "Improve logging output from Nimma when a custom function errors"
**User story.**

As a user of Spectral
When I write a custom function that is erroneous
I want to see more verbose logging than "Error running Nimma"
That helps me diagnose the problem with my code

**Is your feature request related to a problem?**

I've across to v6 of Spectral and gone about rewriting my custom functions in the revised style. In doing so I (naturally) wrote some poor code that w

[2022-02-08 11:25] P0lip commented on #2053
I agree!
I've actually have some work left on it -> https://github.com/stoplightio/spectral/tree/feat/cli/rich-errors
I'll try to open a PR soon-ish

[2022-02-08 11:31] tarquin-the-brave opened #2054 "YAML Merge Key not implemented to Spec"
**Describe the bug**

The [merge key spec](https://yaml.org/type/merge.html) states:

The merge key implementation in Spectral will always include key/value pairs even if the key already exists.

As later repeated keys override the earlier key in the mapping we get a situation where if you include the merge key at the beginning of a mapping, later key/value pairs in the mapping can override keys t

[2022-02-09 15:23] padamstx commented on #2053
We're also seeing reports of this error with the [IBM openapi-validator](https://github.com/IBM/openapi-validator) which uses spectral as a dependency.

[2022-02-10 14:40] P0lip commented on #1999
@Linuus The docker image as well as the binaries are out!
I'm sorry it took so long.

[2022-02-11 16:22] #2038 closed, assigned to nobody

[2022-02-11 18:57] padamstx opened #2059 "Problem in paths reported for rule violations involving schema references within oneOf"
**Describe the bug**
The spectral-core code related to mapping "resolved" paths to "unresolved" paths appears to get tripped up when dealing with schema references within a oneOf list.   The testcase mentioned below contains a fairly simple OpenAPI document (api.yaml) along with a custom rule which verifies that each schema contains a valid description.
The custom rule's function logs the individu

[2022-02-11 19:33] dpopp07 commented on #2059
Offering a +1 to this issue, as it is quite a significant deviation from expected behavior. I think the root of the issue is the buggy path resolution logic - if it were reporting the correctly "decoded" paths, the de-duplication logic would filter out the extra result.

As such, it may be related (or at least, is very similar) to #2043.

[2022-02-12 16:37] padamstx commented on #2059
It turns out that this issue also occurs if the schema ref is in an array schema's "items" field.

To reproduce this, make the following changes to api.yaml within the testcase mentioned above:
1. uncomment the Soda schema's description
2. comment out the Drink schema's description
3. `spectral lint api.yaml`
results:
[code]
Note that the items field within the "Drinks" schema is a ref to the "Dri

[2022-02-14 07:03] dweber019 opened #2060 "Cannot use 'in' operator to search for '*' in undefined"
**Describe the bug**
Since version 6.x spectral throws error `Cannot use 'in' operator to search for '*' in undefined` when using some valid JSONPath's.

**To Reproduce**
Use the following valid OpenAPI spec json:
[code]

Then create the following rules yaml:
[code]

**Expected behavior**
Should return and match a list like
[code]
and report error `must-use-camel-case-for-property-names` because o

[2022-02-14 10:41] P0lip commented on #2060
Should be fixed by #2058

[2022-02-14 21:51] P0lip commented on #2061
@ryotrellim it's in the readme together with a snippet you can use, literally one of the first sentences you have there.
<img width="940" alt="image" src="https://user-images.githubusercontent.com/9273484/153952391-fe55d32a-824d-422f-8947-963648846cd2.png">

[2022-02-14 23:03] padamstx commented on #2059
After debugging the spectral code a bit for this issue, I think the problem occurs inside the `DocumentInventory.findAssociatedItemforPath()` method.

[2022-02-14 23:07] pamgoodrich commented on #2061
@P0lip : I believe you are saying the doc is correct. I was able to get this command to work locally:

spectral lint openweather.json

Once I had a ruleset named .spectral.yaml with this line at the top:

extends: spectral:oas

I can help come up with some clearer steps if that would help. Let me know.

[2022-02-15 06:13] dweber019 commented on #2060
This fix https://github.com/stoplightio/spectral/pull/2058 means, if I bump up the nimma version to 0.1.8 with for example npm overwrites, it should already work?
I test this today.

[2022-02-15 06:52] P0lip commented on #2060
Correct, that should fix the issue.

[2022-02-15 13:12] P0lip commented on #2061
I meant the following segment. There's a command you can run that will get you started. It'll create a `.spectral.json` file which is everything you need to start linting.

<img width="940" alt="153952391-fe55d32a-824d-422f-8947-963648846cd2" src="https://user-images.githubusercontent.com/9273484/154068849-6da66fce-ec07-4502-b43e-44273f0ddca4.png">

[2022-02-16 17:31] dweber019 commented on #2060
I used overrides from NPM to use version 0.1.8  on this branch https://github.com/baloise-incubator/spectral-ruleset/tree/update-to-spectral-6-1 and the error is gone.

Never the less the rule is not evaluated to an error, which it should.

So I think 0.1.8 will not fix this, as the underlying issue still persists.

[2022-02-16 19:09] #2060 closed, assigned to P0lip

[2022-02-16 22:42] dpopp07 opened #2064 "Valid "servers" URL values cause Spectral to crash"
**Describe the bug**
Spectral expects all URLs in the "servers" field of an API definition to create valid Node `URL` objects, despite the fact that this excludes valid field values according to the OpenAPI specification.

**To Reproduce**

1. Add this "servers" entry to any API document that would otherwise validate cleanly. It is [an example copied directly from the OpenAPI specification](https:

[2022-02-17 06:01] dweber019 commented on #2060
@P0lip how should I proceed with the issue?

[2022-02-17 07:54] avinashpise opened #2065 "Core function to validate json schema is not working. [bug]"
**Describe the bug**
core function fails to execute using javascript. When trying to Implemented the schema core [function](https://meta.stoplight.io/docs/spectral/ZG9jOjExNg-core-functions#schema). I am getting error like *Cannot read property 'resolved' of undefined for core function schema*

**To Reproduce**

1. Given a custom function to validate email
[code]
2. Call validateEmail function wit

[2022-02-17 11:16] P0lip commented on #2065
Hey!
The usage is incorrect. It is expected to forward the initial ctx that was provided, i.e  https://github.com/stoplightio/spectral/blob/develop/packages/rulesets/src/oas/functions/oasSchema.ts#L69

[2022-02-17 11:16] #2065 closed, assigned to nobody

[2022-02-17 12:44] P0lip commented on #2060
@dweber019 hey! Could you file another issue for that behavior?

[2022-02-17 14:22] avinashpise commented on #2065
Hi @P0lip,
Till today, i was using the above code snippet which was working fine. but suddenly it stops working. I have reffered the Link [https://github.com/stoplightio/spectral/issues/1907#event-5491184635](https://github.com/stoplightio/spectral/issues/1907#event-5491184635)
I tried by passing the context but still i am getting same error, do you have documentation for this? It will helps a lot

[2022-02-17 14:27] P0lip commented on #2065
the example I posted in #1907 is still correct.
There's doc over here https://github.com/stoplightio/spectral/blob/develop/docs/guides/5-custom-functions.md#referencing-core-functions

[2022-02-17 19:19] #2061 closed, assigned to pamgoodrich

[2022-02-17 21:54] dweber019 opened #2066 "Valid JSONPath returns no results"
**Describe the bug**
Since version 6.x spectral doesn't report the below rules as error.

**To Reproduce**
Use the following valid OpenAPI spec json:
[code]

Then create the following rules yaml:
[code]

**Expected behavior**
Should return and match a list like
[code]
and report error `must-use-camel-case-for-property-names` because of `Bar`
but no validation error reported.

Validated in http://j

[2022-02-17 21:54] dweber019 commented on #2060
created https://github.com/stoplightio/spectral/issues/2066

[2022-02-18 12:25] P0lip commented on #2060
Perfect, thanks!

[2022-02-18 14:42] mnaumanali94 commented on #2036
@mkistler Thank you for finding this. We do use JSON pointers! We'd be grateful if you can submit a PR. We can have the tech writing team at Stoplight review and help if you go ahead with that.

[2022-02-19 14:33] magicmatatjahu commented on #1759
I created PR to support all 2.X.X versions of AsyncAPI - https://github.com/stoplightio/spectral/pull/2067 I didn't add any new rules (e.g. validate defined servers on a channel level in 2.2.0 version), as this will be added in other PRs. This PR only adds spec JSON Schema validation.

cc @danielkocot @P0lip

[2022-02-19 19:10] danielkocot commented on #1759
Thanks @magicmatatjahu!

[2022-02-20 14:33] padamstx commented on #2053
@P0lip I work on a team in IBM (with @dpopp07) that supports the IBM openapi-validator that is now based on Spectral.
When we encounter one of these "Error running Nimma" situations, I assume it's because there's some sort of error in a custom rule function.  Is there anything we can do from a debugging standpoint to get more information about the error when it occurs?   i.e. any advice on perhaps

[2022-02-20 21:45] zlil opened #2069 "Speactral javascript - New Document from yaml throw error"
Hey,

I'm trying to create a new Document from YAML string and I am receiving and error:
Cannot read properties of undefined (reading 'Yaml')

I've double-checked the string i'm receiving in online YAML linters and no errors were found.

[code]

if I'm taking the exact same string and trying to parse it using
`const yamlObj = parseYaml(specStr)`
everything works just fine.

so what's the problem a

[2022-02-21 11:27] P0lip commented on #2069
You presumably miss the import.
I don't see `const Parsers = require("@stoplight/spectral-parsers");`in your own code.

You can find a full example here
https://github.com/stoplightio/spectral/blob/develop/docs/guides/3-javascript.md#linting-a-yaml-string

[2022-02-21 11:27] #2069 closed, assigned to nobody

[2022-02-21 12:38] zlil commented on #2069
Sorry, I omitted this line when I wrote the issue but I do import Parsers from '@stoplight/spectral-parsers' in my code so it must be something else.

[2022-02-21 13:19] Havunen opened #2070 "Critical security vulnerability in vm2"
Sandbox bypass in vm2 - https://github.com/advisories/GHSA-6pw2-5hjv-9pf7
fix available via `npm audit fix`

**node_modules/vm2**

1 critical severity vulnerability

 **npm list vm2** shows this repository as part of the dependency chain

[code]

Connects to https://github.com/TooTallNate/node-proxy-agent/issues/74

[2022-02-21 13:45] P0lip commented on #2069
Could you share the entire code with me?

[2022-02-21 14:19] zlil commented on #2069
[code]

[2022-02-21 15:09] P0lip commented on #2069
try the following
`import * as Parsers from '@stoplight/spectral-parsers';`

[2022-02-21 15:17] zlil commented on #2069
awesome, working. thanks.

[2022-02-21 20:17] #2036 closed, assigned to nobody

[2022-02-21 21:45] dpopp07 opened #2072 "Unable to load rulesets from NPM package"
**Describe the bug**
According to [the documentation](https://meta.stoplight.io/docs/spectral/ZG9jOjI1MTky-sharing-and-distributing-rulesets#npm), Spectral supports loading rulesets from other NPM packages. However, this appears to be broken. When defining a ruleset with "extends", Spectral seems to only look within the local filesystem.

**To Reproduce**

1. Given any OpenAPI document and the fol

[2022-02-22 10:09] P0lip commented on #2072
Heya!

There's a gap in the documentation, but it's indeed not supposed to work for anything other than the local filesystem.
If you need to load it externally, you can use services like [unpkg.com](https://unpkg.com/).

I'll update the documentation shortly.

[2022-02-22 19:32] dpopp07 commented on #2072
@P0lip Ah, okay. Thanks for the info and the prompt documentation update. It's not a requirement to load externally but it would be really nice.

In that case, I have a follow up question - is it possible to load an external, [JS formatted ruleset](https://meta.stoplight.io/docs/spectral/ZG9jOjI1MTg5-custom-rulesets#alternative-js-ruleset-format) through `unpkg`? Based on some quick tests, this is

[2022-02-22 22:52] P0lip commented on #2072
What's the error you're getting? I feel like it might be something related to Ajv which is used by the AsyncAPI ruleset (which unfortunately is loaded even if you only use the OAS ruleset).
IIRC Skypack couldn't bundle Ajv, and unpkg might be no different here.

[2022-02-22 22:54] P0lip commented on #2054
Yup, you're right.
This is indeed not implemented correctly. This will need to be fixed in [@stoplight/yaml](https://github.com/stoplightio/yaml), but we can keep the Spectral issue open for the tracking purposes.

[2022-02-22 23:04] P0lip commented on #2064
Hmmm, we don't use `URL` anywhere directly in the codebase. Well, we do it, but once and that's not related to the validation at all.
Feels like there might be an issue with the `uri-template` format. Let me check it out and get back to you.

Hm, `uri-template` doesn't use `URL` either. It uses regexp instead.
I'm having trouble reproducing the issue. The lining passes just fine for me.

We actual

[2022-02-22 23:16] P0lip commented on #2070
There isn't a new version of proxy-agent available, so we cannot do much about it from our side.
The workaround you provided should be sufficient for now, as luckily the denegerator package doesn't have the version pinned, so vm2 can be easily updated.

[2022-02-23 20:40] dpopp07 commented on #2064
Thanks for looking into this!

If you're not able to reproduce the issue, I suppose it must be. Though, I believe I isolated my testing of this issue from any custom rulesets and I don't think we use `URL` anywhere either. I'll double check to see if I missed anything the first time around. Thanks again!

[2022-02-23 20:54] dpopp07 commented on #2072
Been playing around with this and getting different errors depending on how I package it. That said, I'm not convinced the problem isn't on my end. I'm not going to spend much more time on it and you answered my primary question so I'll close out this issue. If I ever come back to it and identify the issue is with Spectral, I'll open a new issue. Thanks again!

[2022-02-23 20:54] #2072 closed, assigned to nobody

[2022-02-23 20:56] dpopp07 commented on #2064
Oops, turns out this is coming from a custom rule. Must've used the wrong `.spectral.yaml` file to test. My apologies, thanks again for investigating.

[2022-02-23 20:56] #2064 closed, assigned to nobody

[2022-02-24 14:15] dweber019 commented on #2066
@P0lip could you assist here as I think it's caused by https://github.com/P0lip/nimma
Here a link to a sandbox just with nimma https://codesandbox.io/s/xenodochial-lalande-r96tq7?file=/src/index.js => you can see that only the first two query are emitted but the third not.

[2022-02-24 15:49] #1759 closed, assigned to nobody

[2022-02-24 22:47] P0lip commented on #2066
I'll take a look at it! Will let you know as soon as I find out what the cause is.

[2022-02-28 16:41] acabarbaye opened #2075 "binary type properties fail validation for lack of example"
Whenever an object has a property of binary (i.e. type: string, format: binary) validation will fail with the following error message

[code]

Although the field example is present. This is really tied to the property being of type binary; remove the "format: binary" and the specification document will pass validation.

[2022-02-28 18:22] #1915 closed, assigned to pamgoodrich

[2022-02-28 18:22] pamgoodrich commented on #1915
Will revisit this later.

[2022-03-03 20:21] #2053 closed, assigned to P0lip

[2022-03-04 19:00] DavidBiesack opened #2078 "Support the --version command line argument"
**Describe the bug**

The tool has a `--version` option but returns `0.0.0` instead of the current version.

**To Reproduce**

[code]

**Expected behavior**

[code]

**Environment (remove any that are not applicable):**
 - Library version: [e.g. 6.3.0]
 - OS: [e.g. Mac]
 - Browser: [N/A]

[2022-03-04 20:20] P0lip commented on #2078
Hmmm, I cannot reproduce it.
How did you install Spectral? Or do you perhaps use the Docker image or the distributed binary?

[2022-03-07 13:59] DavidBiesack commented on #2078
I had installed with npm and did an update. However, that was pointed at the old repo.
When I try to install latest
[code]

and I get the same problem if I uninstall then install earlier versions such as
@stoplight/spectral-cli@6.1.0 and @stoplight/spectral-cli@6.2.0

Only 6.0.0 works for me
[code]

but that appears to be a different problem

[2022-03-07 13:59] #2078 closed, assigned to nobody

[2022-03-07 14:04] DavidBiesack opened #2080 "running spectral CLI yields ERR_PACKAGE_PATH_NOT_EXPORTED error in @stoplight/spectral-ruleset-bundler/package.json"
When I try to install latest
[code]

running `spectral ` yields an error:

[code]

and I get the same problem if I uninstall then install earlier versions such as
@stoplight/spectral-cli@6.2.0 and @stoplight/spectral-cli@6.1.0

Only 6.0.0 works for me
[code]

[2022-03-07 16:29] DavidBiesack opened #2081 "False error oas3-valid-schema-example reference resolves to more than one schema"
**Describe the bug**
Spectral is generating a strange error when a schema has a property with the name `id`.

**To Reproduce**

1. Given this OpenAPI/AsyncAPI document

[code]

and this `.spectral.yaml`
3. Run this CLI command: `spectral lint -r ./.spectral.yaml openapi.yaml`
4. See error

[code]

**Expected behavior**

There should be no error here.

**Environment (remove any that are not applica

[2022-03-07 16:34] DavidBiesack commented on #2081
The error goes away if I globally change `id:` to `resourceId:`, or if I remove either of the the `example` objects in the `collection` or `item` schemas _or_ just the first array item in the `example` in `collection`.

[2022-03-07 17:13] P0lip commented on #2080
Judging by the version of Node specified in the directory path, you might be running an unsupported version of Node.
This is the minimum required versions we support
https://github.com/stoplightio/spectral/blob/develop/packages/cli/package.json#L11

LMK if that's indeed the case

[2022-03-07 18:27] DavidBiesack commented on #2080
Thanks, that was the problem. I upgraded to 12.21.0 and the CLI works.

(Is this perhaps a bug in NPM that it does not enforce the node version required by a package ?)

[2022-03-07 18:27] #2080 closed, assigned to nobody

[2022-03-07 20:37] P0lip commented on #2080
hmmm, nothing that I'm aware of.

[2022-03-07 22:25] DavidBiesack commented on #2081
The error seems to be coming from `ajv` which is validating the examples against the schema; ajv is compiling the schemas from `#/components/schemas/*` and does not know about the `example` object that OpenAPI defines, so it is interpreting the `id` as as schema `id`. I think spectral needs to remove the `example` object.

[code]

Note that `example` is deprecated in OAS 3.1 in favor of `examples`

[2022-03-11 08:15] Koushikj9823 opened #2086 "'spectral' is not recognized as an internal or external command, operable program or batch file."
**Describe the bug**
 I have installed [@stoplight/spectral-cli](https://www.npmjs.com/package/@stoplight/spectral-cli) using the command **npm install -g @stoplight/spectral-cli**. It gets successfully installed, But while running spectral command, it does not recognize.

**To Reproduce**

1. Run this CLI command `'spectral lint -r ./lingo-ruleset-rpc.yaml ./spec.yaml'`
2. See error:
[code]

**En

[2022-03-11 08:30] KiranReddy0808 opened #2087 "Error not picked up when an extra field which should be object is defined as string."
**Describe the bug**
Given a path to value which is not an object (string, number) from given in rule. When a field is defined for the rule. There is no error being triggered saying the field is not defined.

**To Reproduce**

1. OAS
[code]
2. Rule
[code]

**Expected behavior**
An error should be expected that there is no field named "title" under path info.apiname. There is no error because getLi

[2022-03-11 12:38] P0lip commented on #2086
This is probably an issue with PATH on Windows.
Perhaps this helps https://stackoverflow.com/a/29955218

[2022-03-11 12:41] P0lip commented on #2087
This is expected behavior, although I admit it's somewhat confusing.
It's certainly one of these features I'd love to get changed, but it's very tricky since it's been working this way since the very first release of Spectral, so it'd be a notable breaking change.
I'll keep this issue open to keep track of that behavior.

[2022-03-11 12:41] P0lip commented on #2075
Hey @acabarbaye
Could you please provide a sample OpenAPI document I could use for the testing purposes?

[2022-03-11 13:00] KiranReddy0808 commented on #2087
Thanks @P0lip for the answer!

[2022-03-13 08:22] Koushikj9823 commented on #2086
Thanks, @P0lip it worked. It was indeed a windows PATH issue.

[2022-03-13 08:22] #2086 closed, assigned to nobody

[2022-03-13 20:27] P0lip commented on #2066
Hey!
I've got a fix that I'll push later this week. I just need to release a new version of Nimma and incorporate the change into Spectral

[2022-03-14 14:12] mpetrunic opened #2089 "Ref resolving sometimes drops certain keys"
**Describe the bug**
Seems like when resolving files, all path param keys except for '$ref' get dropped. It doesn't happen every time and for us is only happening on single operation, on some runs it gets picked up and everything works. Cannot really figure out a reason. I've debugged the code and it's obvious that parsed ref data of operation contains all path param keys but when it gets merged i

[2022-03-14 19:17] raleigh04 commented on #2054
@mnaumanali94 tag!

[2022-03-15 09:21] JvNoordenburg opened #2090 "oas3-valid-media-example incorrect error when validating multipleOf"
**Describe the bug**
When using the `multipleOf` validation keyword, a valid number sometimes results in an error when using the spectral-cli

**To Reproduce**

1. Given this OAS3 document
[code]

Ruleset:
[code]

2. Run this CLI command
[code]
4. See error:
[code]

**Expected behavior**
No errors. The value `75.001` is a valid value using the `multipleOf: 0.000001` keyword.

**Environment (remove

[2022-03-15 14:32] jeepshop opened #2091 "Property rules skipped for $ref'd properties"
**Describe the bug**
Some of my casing rules don't apply to property names if the property is a $ref: This is occurring within Stoplight Studio but it seems to be a spectral issue.

**To Reproduce**

1. Given this OpenAPI/AsyncAPI document model '...'

[code]

2. With this ruleset

[code]

**Expected behavior**
Both aircraftTail and aircraft should be tagged with a warning for not being PascalCase

[2022-03-15 15:16] mima0815 commented on #1956
We are the same issue here with TypeScript:

[code]

this throws then:

[code]

exporting the functions properly should help all TS users

[2022-03-15 15:26] P0lip commented on #2091
I suppose the rule itself is not skipped, but the error itself is attached to a different file and therefore it's not exposed in the Diagnostics pane in Studio.
It's less of an issue in the context of CLI since the error should still be logged, but in the case of Studio it's more apparent since we only show errors that are specific to a particular file.

[2022-03-15 15:29] P0lip commented on #2090
I suppose that floating point precision plays a role here. I'm not really sure whether we can address it in Spectral.
This should probably be raised in the [ajv](https://github.com/ajv-validator/ajv) repo, because we use Ajv under the hood to perform that kind of validation.
I'll dig into it in a bit to see if that's indeed the case

[2022-03-15 15:51] mima0815 opened #2092 "TypeScript error with not exported functions via the `main` property of `package.json`"
**Describe the bug**
the differnt loaders are not exported to work with TS, like the `loader/node/bundleAndLoadRuleset`
TS is handling the `exports` property of `package.json` not well.
See TS issue here: https://github.com/microsoft/TypeScript/issues/33079

**To Reproduce**
1. use current spectral packages
2. demo code
[code]
3. run it -> result:
[code]

**Expected behavior**
just load the rulese

[2022-03-15 20:29] #2066 closed, assigned to P0lip

[2022-03-15 20:31] P0lip commented on #2092
Hey!
This is not a valid way to import the loader
`import { bundleAndLoadRuleset } from '@stoplight/spectral-ruleset-bundler/dist/loader/node';`

This is how one should do it https://github.com/stoplightio/spectral/blob/dda11ef517e9c384000d081ed6cac528f134eb4a/docs/guides/3-javascript.md#loading-yamljson-rulesets

If you follow the [Experimental Support for ECMAScript Modules in Node.js](https://w

[2022-03-16 07:25] KhudaDad414 opened #2093 "spectral doesn't work with a schema containing the `$ref` field"
**Describe the bug**
Spectral doesn't provide any output if the schema contains a `$ref` field anywhere. It works fine if I don't have any `$ref` fields in my schema.

**To Reproduce**

run the following code in a node app. or use cli. I have tested it in both ways and the results are the same.

[code]

**Expected output**
[code]

**Actual output**
[code]

**Environment:**
 - Library version:  @st

[2022-03-16 11:08] P0lip commented on #2093
I'd say this is works as expected. As things stand We don't support $ref anywhere in the ruleset.
I believe there's some asyncapi schema npm package, so perhaps you could use it instead?

[2022-03-17 06:15] jianyexi opened #2094 "does not support local url path"
**Describe the bug**
if  specifies a local url path as input like , file:///C:/spcec.json , the spectral seems not work and output no errors

**To Reproduce**

2. Run this CLI command '....'
spectral lint file:///C:/foo.json

**Expected behavior**
want to support it
**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (remove any that are not applicable):**

[2022-03-17 10:49] mgyanesh opened #2096 "Spectral custom override ruleset, having a problem with defining the files - not working as mentioned in document"
**Describe the bug**
We are using the custom "override" spectral function ( https://meta.stoplight.io/docs/spectral/ZG9jOjI1MTg5-custom-rulesets#overrides ) in one of our use cases to turn off the rules for the specific file by defining path to the file location in "files" option.

Issue : When we mention the file location as below format, the rule is not finding the mentioned path to the file and

[2022-03-17 23:05] jonaslagoni opened #2098 "Add rule to identify orphaned channel components"
**User story.**
As a user, I can detect if my document has orphaned channels inside components.

**Describe the solution you'd like**
This should be a valid AsyncAPI file:
[code]

The new ruleset should catch this invalid case:
[code]

In order to solve this you need to do the following steps:
1. Add the new rule to the AsyncAPI ruleset: https://github.com/stoplightio/spectral/blob/develop/package

[2022-03-17 23:12] jonaslagoni commented on #1103
I have/plan to create sub-issues for solving this issue, it is based on the available components in https://www.asyncapi.com/docs/specifications/v2.3.0#componentsObject.

List of sub-issues:
- servers - https://github.com/stoplightio/spectral/pull/2097
- channels - https://github.com/stoplightio/spectral/issues/2098
- messages - TODO
- securitySchemes - TODO
- parameters - TODO
- correlationIds -

[2022-03-17 23:15] jonaslagoni commented on #1103
Before adding the rest of the issues, a thought came to mind. Do we want all of these checks as part of one rule or split into multiple, as it seems https://github.com/stoplightio/spectral/pull/1440/files introduced 🤔

Or asked another way, have you folks seen a reason why someone might want to only check some of the components instead of all?

cc @P0lip

[2022-03-18 02:53] Kwadz commented on #1274
Ping @P0lip to find out where the piece of code that needs to be updated is. Could you give some guidance about how to implement a fix and its test? Or it is easier to write a custom ruleset?

[2022-03-18 06:08] KhudaDad414 commented on #2093
@P0lip thanks for the comment. that makes sense. but wouldn't it be better to have some kind of log saying we don't support `$ref`s in `schema` function when someone passes `$ref` to the schema function? saying this because it took me more time than what I would like to admit to figure out why my input isn't being processed 😄

[2022-03-18 06:08] #2093 closed, assigned to nobody

[2022-03-21 13:02] jonaslagoni commented on #1103
cc @magicmatatjahu @smoya

[2022-03-21 19:24] P0lip commented on #2092
I'll close this one for now.
LMK if that did the trick.

[2022-03-21 19:24] #2092 closed, assigned to nobody

[2022-03-21 19:34] magicmatatjahu commented on #1103
I wa surprised that a rule was made that only checks for one type of component (I have in mind that PR with `servers`). I would prefer to go the way it is done in OpenAPI (as you mentioned) - one rule for all types of components.

[2022-03-21 19:49] magicmatatjahu opened #2100 "Support all custom validation for AsyncAPI 2.x.x"
**Chore summary**

This issue contains list of rules that we need introduce in the AsyncAPI ruleset to fullfil all custom validation for 2.x.x versions.

**Tasks**

- [x] https://github.com/stoplightio/spectral/issues/1102
  - https://github.com/stoplightio/spectral/pull/2101
- [ ] https://github.com/stoplightio/spectral/issues/1103
- [x] https://github.com/stoplightio/spectral/issues/1732
- [x] h

[2022-03-22 07:23] mima0815 commented on #2092
Sorry, was not able to check this earlier.

including the code via the `require` statement works, and TypeScript is not complaining about that this not exported. I am not able to change the TS settings to the `NodeNext` mode.  Using `import` with a shim works too.

[2022-03-22 10:19] magicmatatjahu opened #2102 "Add rule to check uniqueness of `operationId`"
**User story.**
As a user, I want to know if the operations defined in my AsyncAPI document have a unique `operationId`.

**Describe the solution you'd like**
The following AsyncAPI document is invalid and Spectral should throw errors due to non-uniqueness of `operationId`.

[code]

**Additional context**
Part of #2100

[2022-03-22 10:28] magicmatatjahu opened #2103 "Add rule to check uniqueness of `tags.*.name`"
**User story.**
As a user, I want to know if the tags defined in my AsyncAPI document (in any place) have a unique names.

**Is your feature request related to a problem?**
The following AsyncAPI document is invalid and Spectral should throw errors due to non-uniqueness of `tags.*.name`.

[code]

**Additional context**
Part of #2100

[2022-03-23 09:49] acabarbaye commented on #2075
See example below of such a data model. `fileContent` is the part making the check to complain
[code]

[2022-03-23 10:58] magicmatatjahu commented on #1732
@aleung Hi! I don't think this issue is still valid, because AsyncAPI 2.x.x never supported the `example` field in Schema Object (documentation https://github.com/asyncapi/spec/blob/master/spec/asyncapi.md#properties). AsyncAPI Schema Object has only `examples` field, which is currently being validated - https://github.com/stoplightio/spectral/blob/develop/docs/reference/asyncapi-rules.md#asyncapi

[2022-03-23 18:10] michaelcilibrasi commented on #2091
@jeepshop [jeepshop](https://github.com/jeepshop)

Hi JeepShot, in the Expected behavior screenshots, which editor are you using that both marks the lines and pops up the rule ID?

[2022-03-23 18:26] jeepshop commented on #2091
Stoplight Studio. Specifically in the Code view.

[2022-03-24 05:37] aleung commented on #1732
@magicmatatjahu Thank for the clarification. I checked the specification and indeed the schema object singular example was an OpenAPI-specific keyword.

[2022-03-24 05:37] #1732 closed

[2022-03-24 07:33] jianyexi opened #2107 "fails to run base on js format ruleset"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

1. Given this ruleset file
[code]
2. run
[code]
3. See error
[code]

**Expected behavior**
return the linting result

[2022-03-24 09:12] Nicoolai commented on #295
How would you go about doing this?
Can we use npm packages in custom functions?
Or is it a matter of adding the code, from that library, into the custom function code?

[2022-03-24 11:59] P0lip commented on #2094
Hey!
Is there any reason you need to use a file protocol?
We presumably don't support it yet, but the workaround here would be to get rid of that protocol assuming that's possible.

[2022-03-24 12:00] P0lip commented on #1480
I'll close this issue for now. Do not hesitate to reach out if you still experience issues!

[2022-03-24 12:00] #1480 closed

[2022-03-24 12:06] P0lip commented on #2017
Ooops, my apologies, I missed this one.
I see @rmkeezer was kind enough to create PRs, so all that's left for me is to review them. I'll make sure to do it by the end of the week.
Once again, my apologies for dropping a ball on this one.

[2022-03-24 19:51] jonaslagoni commented on #2098
Closing as we create one rule for all instead, as OpenAPI has: https://github.com/stoplightio/spectral/issues/1103#issuecomment-1071788756

[2022-03-24 19:51] #2098 closed, assigned to nobody

[2022-03-24 19:51] jonaslagoni commented on #1103
Alright, let's keep it consistent then.

[2022-03-24 20:14] arno-di-loreto opened #2108 "Add a Spectral version in ruleset document"
**User story.**
As a Spectral tool creator, I can read the spectral property of a Spectral ruleset document, so that I can use appropriate Spectral library.

**Is your feature request related to a problem?**
I have been terribly frustrated when Studio integrated Spectral v6, some of my v5 rules were not working anymore until I migrated to v6.

**Describe the solution you'd like**
Add a spectral pr

[2022-03-24 23:10] DavidBiesack commented on #2002
I also had to add
[code]
to get Jest to work with spectral-core

[2022-03-25 02:58] jianyexi commented on #2107
add another case:
1. Given this remote ruleset file
[code]
2. run
[code]
3. See error
[code]

[2022-03-28 14:48] pamgoodrich commented on #1961
@P0lip : I believe this has been resolved. Can I close this issue?

[2022-03-29 18:36] P0lip commented on #1961
Yes, I think we're good here

[2022-03-29 18:36] #1961 closed, assigned to pamgoodrich

[2022-03-30 11:40] AlbertoFdzM commented on #2090
This is not likely an Ajv problem but a bad use of it. I've got this same error when using Ajv. You need to use the next config https://ajv.js.org/options.html#multipleofprecision

[2022-03-30 15:24] JvNoordenburg commented on #2090
Alright thanks. That's good to know. Is it possible to override the AJV options during creation of a ruleset?

[2022-03-31 09:02] pedrodovale opened #2110 "unexpected oas3-valid-media-example error for schema property that overrides another's type"
Hi!

I'm trying to define a common search shema shared amongst different Open API documents. One of these documents needs to extend the schema and change the type to array of one of its properties. Then it's defining an example for a request body that uses this schema. However, spectral is reporting an error, stating that the example should be the original type, rather than the array.

Since other

[2022-04-01 15:23] alexg-axis opened #2111 "Unexpected oas3-valid-media-example error on read only fields"
**Describe the bug**

The following error is thrown on a post body's example.

[code]

The field is indeed required, but it is marked as read only - hence it should not be required in the post body.

**To Reproduce**

[code]

[code]

[code]

[code]

**Expected behavior**

Read only fields that are marked required should not be required in an example when POSTing or PUTing the body.

[code]

**Envi

[2022-04-03 19:00] gayanper opened #2112 "[Question] How to use spectral inside a angular app"
I'm trying to integrate in a WebPortal where we show open api specs. I would like to do a lint using spectral to show the problems as well.

The portal is written using Angular11. How to use the spectral API inside a Angular11 application ?

[2022-04-04 09:51] #2112 closed, assigned to nobody

[2022-04-06 13:53] P0lip commented on #2096
Hey @mgyanesh.
Are those patch.json referenced somewhere using $ref?
If so, that won't be covered by overrides.
We take full documents into account and the same set of rules is applied to anything they $ref

[2022-04-07 14:38] P0lip commented on #2111
Hey!
Thank you for reporting the issue!
We already have the same bug report https://github.com/stoplightio/spectral/issues/1274, so I'll close this issue out.
Please leave a thumbs up or subscribe to that issue, I'll keep you posted if we resolve the issue.

[2022-04-07 14:38] #2111 closed, assigned to nobody

[2022-04-07 17:42] jonaslagoni opened #2114 "Rule for enforcing suffix for date/time properties for AsyncAPI payloads"
**User story.**
As a user I want to enforce a specific suffix for date/time properties, to ensure consistency.

**Describe the solution you'd like**
More precisely I want to force `_at` suffix for each property, but it might be better to not force a specific suffix?

I want this rule to be part of the built-in ruleset.

**Additional context**
The way I am currently enforcing it, is through the rul

[2022-04-07 17:52] jonaslagoni opened #2115 "Rule for enforcing snake_case for properties for AsyncAPI payloads"
**User story.**
As a user, I want to force the snake_case format for all properties.

**Describe the solution you'd like**
I think it makes sense for the rule to only focus on a single format, but maybe in the future, it makes sense?

I want this rule to be part of the built-in ruleset.

**Additional context**

The way I am currently enforcing it, is through the rule:
[code]
And with the function:

[2022-04-07 18:01] jonaslagoni opened #2116 "Rule for enforcing version in AsyncAPI channels"
**User story.**
As a user, I want to enforce a version number within a channel, for example, `v1/channel/example`, so that I can comply with my version strategy.

**Describe the solution you'd like**
I want this rule to be part of the built-in ruleset.

**Additional context**
The way I am currently enforcing it is through this rule:
[code]

[2022-04-07 18:11] jonaslagoni opened #2117 "Rule for enforcing all parameters to be references for AsyncAPI channels"
**User story.**
As a user, I want to be able to enforce that reusability should be in focus, and therefore all parameters should be references.

**Describe the solution you'd like**
I want this rule to be part of the built-in ruleset.

**Additional context**
The way I am currently enforcing it, is through the rule:

[code]

[2022-04-07 18:19] jonaslagoni opened #2118 "Rule for enforcing all messages to be references for AsyncAPI channels"
**User story.**
As a user, I want to be able to enforce that reusability should be in focus, and therefore all messages should be references.

**Describe the solution you'd like**

I want this rule to be part of the built-in ruleset.

**Additional context**
Compared to https://github.com/stoplightio/spectral/issues/2117, messages can be defined with `oneOf`, and if that is the case, we need to mat

[2022-04-07 21:25] jonaslagoni opened #2119 "Rule for enforcing top-level JSON Object for AsyncAPI message payloads"
**User story.**
As a user, I want to enforce all message payloads to always contain a JSON object as the top-level message payload.

**Describe the solution you'd like**

I want this rule to be part of the built-in ruleset.

**Additional context**
The way I am currently enforcing it is through the rule:
[code]

[2022-04-07 21:31] P0lip commented on #2110
Hey!
What you're trying to do here isn't quite valid.
One cannot use `allOf` for overriding.
The way `allOf` works can be summed up as "_each_ subchema needs to be valid".
There's no input that could match the following schema (simplified your example)
[code]
If you provide an array, the validation against the second subschema will fail. If you provide an object, the first one will fail.
If your i

[2022-04-07 21:31] #2110 closed, assigned to nobody

[2022-04-07 21:48] jonaslagoni opened #2120 "Allow matching of specific reference resolvement depth"
**User story.**
As a user, I want to decide the level of reference matching for a rule.

**Is your feature request related to a problem?**
In AsyncAPI we can define messages as references:
[code]

And the message object that is being referenced, can also contain a reference.

[code]

I am unable to lint the reference within the referenced message object because I am not able to control the depth a

[2022-04-08 13:23] pedrodovale commented on #2110
Hi @P0lip,

Yes, I understand it's something you shouldn't need to do. In fact, we went in the direction you suggested:

But since I didn't find anything in the spec preventing me to this and that there are other tools that still process the OpenAPI document the way I expect it to (e.g. SwaggerUI), I assumed it's valid approach. Can you provide me with reference documentation on why it isn't?

Tha

[2022-04-08 13:33] P0lip commented on #2110
Hey!

OpenAPI document the way I expect it to (e.g. SwaggerUI), I assumed it's valid approach.

I don't know how SwaggerUI handles that case, but if they give an impression allOf works like an override, it sounds like a bug to me. They shouldn't process that in such a way if they do so.
Overall though certain tools or libraries allow some soft mistakes that aren't syntax errors.

https://json-sche

[2022-04-08 14:32] pedrodovale commented on #2110
Hi @P0lip,

Yes, I understand it's something you shouldn't need to do. In fact, we went in the direction you suggested:

But since I didn't find anything in the spec preventing me to this and that there are other tools that still process the OpenAPI document the way I expect it to (e.g. SwaggerUI), I assumed it's valid approach. Can you provide me with reference documentation on why it isn't?

Tha

[2022-04-11 08:58] #1968 closed, assigned to nobody

[2022-04-12 18:01] magicmatatjahu opened #2123 "Add a rule to validate security in the servers"
**User story.**
As a user I want to know if the server has the correct security defined (that given security key has reference to the schemes defined in the `components.securitySchemes`).

**Is your feature request related to a problem?**
The following AsyncAPI document is invalid and Spectral should throw errors due to not defined security schemes inside one of server:

[code]

**Additional conte

[2022-04-12 18:04] magicmatatjahu opened #2124 "Add a rule to validate servers in the channel"
**User story.**
As a user I want to know if the servers defined in the `channels.*.servers` array exist in the `servers` object.

**Is your feature request related to a problem?**
The following AsyncAPI document is invalid and Spectral should throw errors:

[code]

**Additional context**
Part of #2100

[2022-04-12 21:02] magicmatatjahu opened #2125 "Add a rule to validate message's examples"
**User story.**
As a user I want to know if the examples defined in the message object are valid.

**Is your feature request related to a problem?**
The following AsyncAPI document is invalid and Spectral should throw errors:

[code]

**Additional context**
Part of #2100

[2022-04-13 15:08] craicoverflow opened #2128 "Multiple compilation errors when using `@stoplight/spectral-ruleset-bundler` Library in an Angular 11.x application"
**Describe the bug**

My Angular application fails to compile when I use the `@stoplight/spectral-ruleset-bundler` API in the code. The problem is that the library depends on some Node.js APIs - `fs`, `module` and `perf_hooks` specifically - which are not available in the browser.

There are some additional errors about unexpected characters which I also believe is caused by this depency on Node.j

[2022-04-13 15:36] P0lip commented on #2128
I believe it's because of the wrong Rollup.js entrypoint being picked up.
The library itself does not rely on Node.js built-in modules, but Rollup.js does.

In your case the Node.js bundle of Rollup is selected, as the filepath says:
`Error: ./node_modules/@stoplight/spectral-ruleset-bundler/node_modules/rollup/dist/es/rollup.js`
The browser one is available here https://github.com/rollup/rollup/b

[2022-04-14 08:30] craicoverflow commented on #2128
Thank you 🙏🏻

[2022-04-14 08:30] #2128 closed, assigned to nobody

[2022-04-18 16:22] billiegoose opened #2129 "Add a rule to the default ruleset forbidding endpoints that only differ by a trailing slash"
That situation came up once, it was confusing. -Billie

[2022-04-18 18:51] sandro-pasquali opened #2130 "Change #main to #exports in package.json"
Getting this error on install of `@stoplight/spectral-core@1.12.0`: `Error [ERR_PACKAGE_PATH_NOT_EXPORTED]: No "exports" main defined in <path to spectral>package.json`.

Node 17.9.0

I believe this means the package.json file needs to change its entrypoint definition.

v `1.11.1` works fine.

My app is set to `type: "module"`.

[2022-04-19 19:34] roubles opened #2131 "Generate reports with aggregated errors, warnings and potentially a OAS Score"
**User story.**
Today spectral works as run time linter. The ask in this user story is to add a report with aggregated errors, warnings and potentially scoring functionality.

As a developer, I want to be able to run spectral with a **--report** flag and after all the linter errors, warnings we get a report that aggregates errors and _scores_ the spec.

| Rule                         | Count | Pen

[2022-04-20 01:45] jammi commented on #2130
I have this same issue.

[2022-04-20 08:08] #2096 closed, assigned to P0lip

[2022-04-21 23:22] daniellehanks opened #2133 "Extending ruleset with default off skips rule"
**Describe the bug**
I had a ruleset that worked exactly how I wanted it to in 5.7.1. In upgrading to the latest 6.3.0, I noticed at least one of my rules isn't evaluating properly when running the cli. I am extending a ruleset that I have default to off. I extend a particular rule to modify it. In 5.7.1, the rule fails appropriately. In 6.3.0 it does not. Possibly a bug, possibly some sort of cha

[2022-04-22 07:32] dweber019 opened #2134 "Release 6.3"
**Chore summary**
I think the release 6.3.0 is missing?
I can see 6.3.0 at https://www.npmjs.com/package/@stoplight/spectral-cli but not in https://github.com/stoplightio/spectral/releases and https://hub.docker.com/r/stoplight/spectral/tags?page=1&name=6.

Am I missing something?

**Tasks**
- [x] Release 6.3.0

[2022-04-24 21:40] AlbertoFdzM commented on #2090
Nope, spectral do not allow to override the Ajv config it is using

[2022-04-25 16:54] dolmen opened #2136 "Add core ruleset for JSON Schema draft 2020-12"
**User story.**
As a user, I want to use Spectral to validate a JSON Schema draft 2020-12 file.

I would like to be able to use a built-in ruleset.

**Describe the solution you'd like**

Spectral would provide a built-in ruleset that I could reference for validation.

[2022-04-26 02:36] minalabib223 opened #2137 "Cancel"

[2022-04-26 07:04] JvNoordenburg commented on #2090
Ah well that's a shame but I think I can maybe work around it for now. Thanks!

[2022-04-26 10:42] #2137 closed, assigned to nobody

[2022-04-26 12:51] P0lip commented on #2136
Hey @dolmen!
Is there any particular set of rules you'd be looking to have included?

[2022-04-26 12:58] P0lip commented on #2134
Done! My apologies for keeping you waiting.

[2022-04-26 12:58] #2134 closed, assigned to P0lip

[2022-04-26 13:03] P0lip commented on #2133
Hi @daniellehanks!
This appears to be an issue in the Spectral itself. There is nothing wrong with your ruleset.
I'll mark this as a bug.

The issue here is that both your ruleset and the extended one have the same rule called `operation-short-summary` and that causes an unexpected behavior.

[2022-04-27 05:21] #2133 closed, assigned to P0lip

[2022-04-27 12:24] P0lip commented on #2130
I believe this should be fixed in https://github.com/stoplightio/spectral/commit/ec08efee42fb1b94ee5b5aeae3d82e2809881e00.
I'll let you know once it's out.

[2022-04-27 16:00] hjoukl opened #2139 "spectral v6 linting chokes on empty object property example"
**Describe the bug**
spectral-cli linting raises

[code]

when an object property carries an empty example attribute.

**To Reproduce**

1. Given stripped-down & modified petstore.yaml (see below) with `Pet.name` property having an empty example value

[code]

3. Run this CLI command

[code]

4. See error

[code]

Btw, the error message is very unhelpful as it provides absolutely no hints as to wh

[2022-04-27 17:03] P0lip commented on #2139
Hey @hjoukl.
There's been a minor change in the behavior of JSONPath expressions.
If you expect nullable values, one needs to add `@ &&`

[code]

[2022-04-28 08:24] hjoukl commented on #2139
Thanks @P0lip! So indeed caused by the custom ruleset - my bad.

I only used my custom ruleset because spectral v6 forces `--ruleset`, even if I only use the builtin rules.

I confirm it works with the basic ruleset:

[code]

As well as with my custom ruleset, fixed as per your advice:

[code]
So thanks again, I'm closing this issue. :-)

Btw - what do you think about adding such a "properties-typ

[2022-04-28 08:24] #2139 closed, assigned to nobody

[2022-04-28 08:52] P0lip commented on #2139
Yeah, I agree about that. I've been thinking a lot about having some more sophisticated rules targeting schemas, as they're relatively error-prone.

Would you be so kind and share that insight here https://github.com/stoplightio/spectral/issues/2136?
It'd be great to start collecting these ideas and the above ticket seems like a good starting point.

[2022-04-28 11:41] leubedane commented on #2042
For me this issue is not fixed. It is still needed to use the workaraound. So can you reopen this issue? Or is the workaround the preffered solution?

[2022-04-28 16:04] hudlow opened #2140 "Cryptic "reference resolves to more than one schema" errors"
**Describe the bug**
For certain schema compositions and example values, the `oas3-valid-media-example` and `oas3-valid-schema-example` rules emit `reference <value from example> resolves to more than one schema`.

**To Reproduce**

1. Given this OpenAPI document:
[code]

2. Run `spectral lint <document>` with the `spectral:oas` ruleset
3. See error:

[code]

**Expected behavior**
As far as I can

[2022-04-29 06:39] KiranReddy0808 opened #2141 "loadRuleset and registerFormat alternatives for spectral 6"
Hello,

Since from spectral 6, registerFormat and loadRuleset are removed from spectral object from version 6. Would like to know alternative for implementing registerFormat.

For our use case we have RAML 08 specs for which we have different parser and is fed into spectral run with own ruleset. Register Format was important way to distinguish between which of rules to run. Since its removed is th

[2022-04-29 08:14] P0lip commented on #2042
@leubedane could you toss in the command you're using?

[2022-04-29 12:55] petkostas opened #2142 "CLI reports different issues from studio"
**Describe the bug**
I have a set of OAS split specifications while running studio and checking any of the OAS files I get different kinds of linting errors between the studio (local) and spectral cli
Even if I fix the errors in the studio, I keep getting some inconsistencies between the CLI and the studio.
Additionally, it seems that spectral encounters problems when using properties that are nam

[2022-04-29 13:22] P0lip commented on #2140
Hey!
I believe this might be a duplicate of https://github.com/stoplightio/spectral/issues/2081

[2022-04-29 13:23] P0lip commented on #2130
It should be fixed now.
Can any of you verify it? @sandro-pasquali @jammi

[2022-04-29 17:14] liamnichols opened #2143 "Further clarifying the behaviour of `overrides` with referenced schemas"
**Describe the bug**

I'm trying to use the `overrides` feature to disable a rule for a set of components that haven't yet been migrated but I appear to be unable to do so.

**To Reproduce**

Based on the example included as part of #2127:

Configure an override like so:

[code]

While running, `spectral lint my-document.yaml`, this would work, but if I added any JSONPath expression to the file, i

[2022-04-29 17:18] liamnichols commented on #2143
After re-reading this line:

I guess it describes exactly my problem. But it feels confusing to me still in the example above.

[2022-04-29 20:18] hudlow commented on #2140
It appears so! I will close it, but add a note to the other issue in case this supplemental test case is helpful. Thanks @P0lip!

[2022-04-29 20:18] #2140 closed, assigned to nobody

[2022-04-29 20:19] hudlow commented on #2081
@DavidBiesack Thanks for the work tracking this down. I ran into it independently in case another test case is useful: https://github.com/stoplightio/spectral/issues/2140

[2022-04-29 20:31] toymachiner62 opened #2144 "Peer dependency incorrectly met when using Yarn 3.x"
**Describe the bug**
I upgraded to yarn 3.x and now I have a project that is showing this error

[code]

**To Reproduce**

Create a project with `@stoplight/spectral-cli` as a devDependency and run `$ yarn install` with the latest version of yarn.

**Expected behavior**
No peer dependency error

**Environment (remove any that are not applicable):**
 - OS: macOS

[2022-04-30 15:28] sandro-pasquali commented on #2130
Yup, working for me. Thanks!

[2022-05-01 14:50] P0lip commented on #2130
Awesome, thanks!

[2022-05-01 14:50] #2130 closed, assigned to P0lip

[2022-05-01 20:12] jonaslagoni opened #2145 "Add support for AsyncAPI 2.4"
**User story.**
As a user, I want to be able to use the newest AsyncAPI version in spectral.

[2022-05-02 06:41] hjoukl commented on #2136
As suggested by @P0lip on #2139 I propose to add to such a built-in ruleset:

[code]

Reasoning:
The way OpenAPI/JSON Schema validation works wrt to structures with properties but no `type: object` is probably not what most users would expect (I certainly didn't):

Because IIUC a schema like

[code]

is not a "de facto" restriction on a JSON object i.e. the key-value mapping aka dictionary to carr

[2022-05-02 06:43] hjoukl commented on #2139
Done. Thanks again!

[2022-05-02 20:39] #2145 closed, assigned to nobody

[2022-05-03 15:25] Nezteb commented on #1274
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/-Team-DnC-61f945bb2ae66f0010ca5eca/issues/stoplightio/spectral/1274?planning-poker) with ZenHub @Amjcraft @jasonmgillhub @dotslashderek @kaylachun @cjlanzo

[2022-05-03 20:27] P0lip commented on #1274
@Kwadz My apologies, I haven't seen the ping. (Feel free to ping me again next time :))

Here's where the code lives https://github.com/stoplightio/spectral/blob/develop/packages/rulesets/src/oas/functions/oasExample.ts, and the test for the faulty rule is over here https://github.com/stoplightio/spectral/blob/develop/packages/rulesets/src/oas/__tests__/oas3-valid-media-example.test.ts.
Bear in mi

[2022-05-04 13:44] pamgoodrich opened #2148 "Add example of loading multiple rulesets using Spectral in JavaScript"
Add example of how to use `bundleAndLoadRuleset()` method with multiple rulesets files. Method will only accept path to one file, not multiple files or a directory.

Discord thread:
https://discord.com/channels/841794018173648916/859895506271600670/969254132760342603

Slack thread:
https://stoplight-internal.slack.com/archives/C0268494GJC/p1651613549636839

jakub:this-is-fine-fire:  8 hours ago
yo

[2022-05-04 18:16] max-moritz opened #2149 "Exit code for unrecognized-format depends on --fail-severity"
**Describe the bug**
I expected a nonzero exit code in any case when Spectral detects a file with unrecognized format and prints `warning  unrecognized-format  The provided document does not match any of the registered formats [OpenAPI 2.0 (Swagger), OpenAPI 3.x, OpenAPI 3.0.x, OpenAPI 3.1.x]`. However, the exit code depends on the value of the `--fail-severity` cmd line option.

I understand the

[2022-05-04 18:27] P0lip commented on #2149
Hey @max-moritz.
It's a rule internally, hence the behavior.
However, I totally agree with your reasoning, and the proposal you've made sounds more user-friendly than the existing implementation.

[2022-05-04 20:13] maxi-milian opened #2150 "Exit code 1 should only be used to flag rule violations in API files"
**Describe the bug**

Assume that `ruleset.yml` and `openapi.yml` are available in the current dir and that `openapi.yml` violates some rules defined in `ruleset.yml`. This is flagged with exit code 1:

[code]
:thumbsup:

Other errors are flagged with nonzero exit code != 1. Assume that `not-available.yml` is not there in the current directory
and that `invalid.yml` is available but does not store

[2022-05-05 06:03] KiranReddy0808 commented on #2148
@pamgoodrich , @heitortsergent ,
I just read the conversation on discord. I'm also looking for the same loading multiple rulesets. Does your use case need to use specific ruleset paths from an array based on condition?

If not i.e there is a constant array of file paths you could extend ruleset adding file paths in main rules.yml, give this a read https://meta.stoplight.io/docs/spectral/ZG9jOjI1MT

[2022-05-05 13:50] dolmen commented on #2136
@P0lip I just want a built-in ruleset that I can reference with `extends`.

There is a built-in ruleset for OpenAPI so I can do:
[code]

I expected to be able to do the same for a JSON Schema file with:
[code]

However, I should probably just use `Ajv` directly.

[2022-05-05 18:18] #2141 closed, assigned to nobody

[2022-05-05 19:16] dolmen commented on #2136
@hjoukl This is a good idea, but this is off-topic for this issue. You should open a separate one.

[2022-05-05 19:25] hjoukl commented on #2136
@dolmen I commented here as suggested by @P0lip  - sorry for any inconvenience. I can surely open a separate issue, if preferable. :-)

[2022-05-06 14:10] DymitrStinski opened #2152 "Cannot use 'in' operator to search for '**' in undefined"
**Describe the bug**
One of valid JSONPath stopped working after update to spectral 6.x.

**To Reproduce**
1. Given this OpenAPI/AsyncAPI document '...'
[code]
and rule:
[code]
3. Run this CLI command:
`npx spectral lint -r rules.yaml spec.yaml`

5. See error
[code]

**Expected behavior**
` 49:19  error  camel-case-property-name  Name of property must be provided in camelCase notation. definitions

[2022-05-06 20:30] P0lip commented on #2152
Fixed in https://github.com/P0lip/nimma/commit/d8ef191a6e1e86b1b958fd67f0af42bb8f3c17e9.
Going to bump that dep next week :)

[2022-05-09 09:05] P0lip commented on #2142
Hey!

That'd be great.

The only meaningful difference between Studio and CLI is the way $refs are resolved.
Does your document have plenty of $ref?

[2022-05-09 15:49] CornerTakenQuickly commented on #2152
We are also experiencing this issue. It would help us a lot if you could post here when a fix is published to npm.

[2022-05-09 18:17] JGPrakash opened #2153 "Spectral Executable Binaries Not Working"
I want to install Spectral linter using Executable Binaries, I found the Executable Binaries for Spectral URL (https://github.com/stoplightio/spectral/releases/tag/v6.3.0)
In this link I found the source code(.tar.gz) in assert menu, after downloading the source code(.tar.gz) it have all the ruleset and function folder and files, unfortunately I could not able to run spectral command using this so

[2022-05-09 19:30] P0lip commented on #2153
Hey.
What you've downloaded weren't the binaries.
You should download one of the following files, depending on your OS.
<img width="1279" alt="image" src="https://user-images.githubusercontent.com/9273484/167483604-09402a36-8458-40ca-8033-535152760bd3.png">

[2022-05-09 19:30] #2153 closed, assigned to nobody

[2022-05-09 21:14] mnaumanali94 opened #2154 "Move alias validation from runtime to static"
**Chore summary**
Currently if you use an alias in `given` that isn't defined, spectral detects the issue while running `lint` against an openapi file but not while validating the ruleset.

**Tasks**
- [ ] Validation should fail if an alias is being used that isn't defined

[2022-05-10 02:41] JGPrakash opened #2155 "How to use spectral using .tar file"
I download the .tar file using the link - https://github.com/stoplightio/spectral/releases
how to access it? (As per my company policy we are not allowed to use NPM and exe installation)

[2022-05-10 12:09] P0lip commented on #2155
The .tar file is basically a snapshot of the repo at a given point at the time.
It's just a source code you'd need to compile in order to use it.
The installation instructions are here https://github.com/stoplightio/spectral/blob/develop/CONTRIBUTING.md#development, but one would still need to use `npm`.

FWIW, the distributed binaries do not need to be installed. You just download it and run usin

[2022-05-10 12:09] #2155 closed, assigned to nobody

[2022-05-10 21:18] max-moritz opened #2156 "No results with a severity of 'error' or higher found!"
**Describe the bug**

Ok, this is nitpicking :blush: .... but ... `error `is the highest severity so `or higher` does not make sense in console output `No results with a severity of 'error' or higher found!`

**To Reproduce**

Run

`spectral lint -r ruleset.yml api.yml --display-only-failures`

where `api.yml` does not violate any rule defined in `ruleset.yml` with severity `error` (it may produce

[2022-05-11 12:40] petkostas commented on #2142
Hello, @P0lip to your question yes we use quite a few references within our APIs. I tried to create an example based on the existing specifications and replicate the errors, so this comes a bit close to what is happening.
As you can see with the attached files, in stoplight studio I am getting some lint errors that are not present in the cli, most importantly the complaint about `enum` which in th

[2022-05-11 17:34] P0lip commented on #2142
Thank you! I'll take a look at it when I have a minute and will get back to you.

[2022-05-16 00:20] P0lip commented on #2152
The PR is up

[2022-05-16 11:32] Qbaloz opened #2158 "jsonpath-plus does not work correctly only(?) when evaluated in Spectral rule."
**Describe the bug**
There are some jsonpath-plus paths which are not correctly evaluated in Spectral. According to https://jsonpath.com/ site both versions of my paths should work, but unfortunately one of them could not be found in document.

**To Reproduce**

1. Given this OpenAPI/AsyncAPI document:
[code]
2. Given this rules:
[code]
3. After running Spectral Validation only the first rule with

[2022-05-16 17:43] JGPrakash opened #2159 "Error results in spectral"
In what scenario do we get the error, warn, info and hint in spectral linter (note: use the predefined ruleset)?

[2022-05-16 17:57] #2159 closed, assigned to nobody

[2022-05-17 09:40] Qbaloz commented on #1956
hi @P0lip, any news on this?

[2022-05-17 21:41] pavelkornev commented on #2149
We would find it also useful if we can increase a level of severity of `unrecognized-format` to Error... This way Spectral will return non-zero error code automatically.

/related issue: #1124

[2022-05-19 11:42] magicmatatjahu opened #2162 "Add a rule to validate security in the operations"
**User story.**
As a user I want to know if the operation has the correct security defined (that given security key has reference to the schemes defined in the `components.securitySchemes`).

**Is your feature request related to a problem?**
The following AsyncAPI document is invalid and Spectral should throw errors due to not defined security schemes inside one of operation:

[code]

**Additional

[2022-05-19 19:12] #2152 closed, assigned to P0lip

[2022-05-23 15:06] Siafu opened #2163 "Update minimatch to version 3.0.5. The current version has a security vulnerability"
**Chore summary**
Update minimatch to version 3.0.5 for official Docker release.

minimatch contains a flaw in the braceExpand() function in minimatch.js that is triggered as an improper regular expression is used to match patterns for brace expansion. This may allow a context-dependent attacker to hang or slow down a Node process using the library.

**Tasks**
- [ ] Add resolution to package.json

[2022-05-24 07:21] lqywow opened #2165 "How can I use the src to build? I've downloaded the source code ,but I want to obtain "spectral-linux" ,this executable file."
**Chore summary**
What is the goal of this chore.

**Tasks**
- [ ] Need to do this
- [ ] And do that

**Additional context**
Add any other context about the chore here.

[2022-05-24 07:22] lqywow commented on #2165
I want to know how to get the executable file spectral-linux through the src

[2022-05-24 07:29] #2165 closed, assigned to nobody

[2022-05-26 15:23] colinmollenhour opened #2170 "Validate that path parameters have `schema` or `content`"
**User story.**
As a user, I would like Spectral to warn me when I forget to specify a `schema` or `content` in a path parameter.

**Is your feature request related to a problem?**
Yes, I forgot to add a `schema` and it resulted in much confusion as Spectral passed validation but other tools choked with unhelpful error messages and it took a long time to realize a simple mistake.

**Describe the s

[2022-05-30 11:59] #1102 closed

[2022-05-30 12:13] #2103 closed, assigned to magicmatatjahu

[2022-05-30 12:17] #2102 closed, assigned to nobody

[2022-05-31 13:28] P0lip commented on #2156
it's a good improvement nonetheless 🙂

[2022-05-31 13:34] P0lip commented on #2143
Hey @liamnichols.
Would you be eager to tweak that part of the documentation?
I'm happy to help in case something is still unclear. :)

[2022-05-31 14:52] P0lip commented on #2142
Hey, apologies for the delay.
I took a look and everything seems to be working fine.
<img width="1997" alt="image" src="https://user-images.githubusercontent.com/9273484/171203292-950cd932-ce2b-4080-b408-67140ad79a3c.png">
<img width="2048" alt="image" src="https://user-images.githubusercontent.com/9273484/171203349-458a856f-fd60-4d21-918b-443af267cd49.png">

How did you install Spectral?

[2022-06-01 11:07] #2156 closed, assigned to P0lip

[2022-06-01 19:39] P0lip commented on #2158
@Qbaloz
Spectral doesn't use `jsonpath-plus` by default, hence that slight difference in behavior.

if you need a quick fix, you can use `$.paths.*.*.responses["401","404"]`. The issue here is that we don't cast 401 and 404 to strings, so there's no match.

Regarding the second example you posted - I'd say this is rather a bug in jsonpath-plus itself, as I don't think `.[` should act as `..[` in t

[2022-06-02 15:32] philsturgeon commented on #1558
This use case is currently covered by [Overrides](https://meta.stoplight.io/docs/spectral/e5b9616d6d50c-custom-rulesets#overrides) (#1021), which is done from the ruleset instead of messing with the OpenAPI document. Hopefully that's close enough, but if you'd like to try and implement this you could take a swing in a PR or join us on [Discord](https://discord.com/invite/stoplight) for help implem

[2022-06-06 15:44] #2125 closed, assigned to nobody

[2022-06-06 17:36] #2163 closed, assigned to P0lip

[2022-06-07 16:32] #1916 closed, assigned to pamgoodrich

[2022-06-07 16:32] pamgoodrich commented on #1916
Heitor is taking on Spectral.

[2022-06-07 21:29] heitortsergent opened #2177 "Add Table of Contents file to organize content in sidebar"
Adding a [Table of Contents](https://meta.stoplight.io/docs/platform/ac20d67e16ae6-project-sidebar) (`toc.json`) file will allow us to organize the docs content more easily without having to rely on filenames.

[2022-06-07 21:51] heitortsergent opened #2178 "Update examples in Spectral in JavaScript docs"
https://meta.stoplight.io/docs/spectral/ZG9jOjI1MTg3-spectral-in-java-script

I had some trouble running some of these examples, especially the one for [Loading YAML/JSON rulesets](https://meta.stoplight.io/docs/spectral/ZG9jOjI1MTg3-spectral-in-java-script#loading-yamljson-rulesets) which is using `require` to load modules and `await`.

I think it would be helpful to update the examples so they s

[2022-06-08 11:34] inulty commented on #1607
Showing support for this enhancement 👍

[2022-06-09 02:22] lucianojs opened #2179 "Incorrect error report in multipleOf rule in some examples"
**Describe the bug**
Incorrect error in multipleOf rule

**To Reproduce**

In this sample specification:

[code]

When I running this command:

spectral lint error_example_spectral.yaml

show this message:

[code]

**Expected behavior**
[code]

**Additional context**
My .spectral.json content

[code]

[2022-06-10 16:09] P0lip commented on #2179
Hey!
Thanks for the report!
I'll close this one as it's a duplicate of https://github.com/stoplightio/spectral/issues/2090.
Please subscribe to #2090 for updates

[2022-06-10 16:09] #2179 closed, assigned to nobody

[2022-06-10 22:29] sudoku-lord commented on #2081
Is there any update on this issue? It's causing problems for me.

[2022-06-13 14:20] gabormagyar commented on #2010
I'm still experiencing Problem Three from this issue:

[code]

[2022-06-13 14:24] #2177 closed, assigned to heitortsergent

[2022-06-16 15:18] dpopp07 commented on #2043
@P0lip Any update on this issue? I'm seeing not just redundant validations but completely incorrect paths printed that seem to be caused by the underlying issue here.

[2022-06-18 09:33] philsturgeon commented on #2136
Hello everyone! Just catching up on some old issues.

I can understand why you'd like to check you've got some valid JSON Schema, but as @P0lip has suggested this is a rule-based system and we'd need to write some rules.

The only rule proposed so far is making sure anything with `properties` has `type: object`, which is not actually something JSON Schema requires. It would be opinionated. Probabl

[2022-06-18 12:57] philsturgeon opened #2186 "Invalid ruleset gives Error [object Object]"
**Describe the bug**

An indentation error in a custom ruleset lead to a confusing error from spectral, leaving the user in an unclear state.

Spectral v6.4.1:

[code]

Spectral 6.2.0:

[code]

**To Reproduce**

1. Given any OpenAPI document and this ruleset `.spectral.yml`:

[code]

2. Run this CLI command `spectral lint https://raw.githubusercontent.com/stoplightio/Public-APIs/master/reference/p

[2022-06-18 13:15] P0lip commented on #2186
This is fixed with https://github.com/stoplightio/spectral/pull/2026, but someone would need to review it :grimacing:

[2022-06-18 14:40] #1920 closed, assigned to nobody

[2022-06-20 08:17] jamietanna opened #2189 "[Docker] Build for M1 Macs"
**User story.**
As a user on an M1 Mac, I can use a native Docker image, instead of an emulated image for my architecture, so that I can run Spectral more efficiently.

**Is your feature request related to a problem?**

**Describe the solution you'd like**

**Additional context**

When running `stoplight/spectral:6` on an M1 Mac:

[code]

[2022-06-20 09:13] jamietanna opened #2190 "CLI: Cannot provide multiple `--format` options"
**Describe the bug**

In the docs for `spectral lint`, we note that we can have multiple options by using a comma-separated value:

However, when doing so, we receive an error saying it's not possible to do that:

[code]

**To Reproduce**

1. `npx @stoplight/spectral-cli@6.4.0 lint . --format stylish,junit`

**Expected behavior**

Multiple options are possible.

**Screenshots**

N/A

**Environment

[2022-06-20 13:39] P0lip commented on #2190
Hey!
You should do `npx @stoplight/spectral-cli@6.4.0 lint . --format stylish --format junit --output.junit junit.xml`

[2022-06-20 13:39] #2190 closed, assigned to nobody

[2022-06-20 19:09] bwl21 commented on #2081
@DavidBiesack

I dropped in the same issue while using stoplight studio. I found https://github.com/ajv-validator/ajv/issues/1426 which seems to deal with the same thing.

If this is true, then it appears to be a bug i stoplight studio.  When validating the examples, only the schema relevant for the example should be provided to AJV but not the openapi schema, and also not all schemas within the o

[2022-06-21 18:00] #2040 closed, assigned to nobody

[2022-06-22 07:18] petkostas commented on #2142
Hello @P0lip sorry for the late reply, I tried both the npx approach, and normal installation and also npm installation and I get similar issues.
Another example that came to our attention yday, is the shared models, for example, if you create a shared model/object and add an example to it, Stoplight studio does not report any problems.
When you run spectral on your command line, spectral reports

[2022-06-22 14:41] pamgoodrich opened #2192 "Document Spectral support for multiple Thens"
This file:

https://meta.stoplight.io/docs/spectral/e5b9616d6d50c-custom-rulesets#then

Does not explain that Spectral supports multiple thens. This will be added to the platform style guide doc, but we need to update Spectral.

[2022-06-24 14:17] #2158 closed, assigned to P0lip

[2022-06-24 18:03] dpashkevich commented on #2096
@P0lip so what is the recommended way to work around this limitation?

We used to have a shared component in the document, and the override looked like this and worked
[code]

But our openapi.yaml grew big and we decided to move shared components into external files. We expected the following override to work, but it doesn't, per the caveat you called out. We merely moved the same schema to a diff

[2022-06-24 20:06] heitortsergent opened #2193 "Add missing rules to spectral docs"
**Chore summary**
Add missing rules to spectral [docs](https://meta.stoplight.io/docs/spectral/4dec24461f3af-open-api-rules#openapi-tags-uniqueness):

- oas2-valid-media-example
- oas3-valid-media-example
- oas3-valid-schema-example

[2022-06-27 19:39] P0lip commented on #2096
@dpashkevich I'm afraid you may be unable to make overrides work in your particular case.
Admittedly, $refs aren't supported particularly well, and some improvements could be implemented.
Do feel free to submit a feature request in Spectral repo (just create an issue and select from the template)

[2022-06-27 20:32] dpashkevich opened #2195 "Apply overrides to external files referenced from the root document"
**User story.**
As a developer on a large API project, I can do apply rule overrides not just to the root document, but to external files as well, so that I can maintain the file structure that makes sense for my team.

**Is your feature request related to a problem?**
This is a feature request to effectively fix the caveat that was discovered in #2096 and currently documented at https://meta.stop

[2022-06-28 19:10] #2178 closed, assigned to heitortsergent

[2022-06-28 20:10] JohnnysMartins commented on #1751
Hello Guys, I'm facing the same problem, do you have any updates about the resolution? if yes, can you show an example of your valid schema?

[2022-06-29 10:59] tejasj654 commented on #1888
Where does spectral look for certificates? I have a trusted certificate available for the request I am making but not sure where to put it.

[2022-06-29 14:53] #2148 closed, assigned to heitortsergent

[2022-06-29 16:31] heitortsergent commented on #2192
Example of multiple `then`s: https://github.com/transcom/mymove/blob/master/swagger-def/.spectral.yml#L43

[2022-06-29 18:03] P0lip commented on #2192
We use it in the Spectral as well https://github.com/stoplightio/spectral/blob/develop/packages/rulesets/src/oas/index.ts#L106

[2022-06-29 18:08] #2124 closed, assigned to nobody

[2022-06-29 18:08] #2123 closed, assigned to nobody

[2022-06-29 18:08] #2162 closed, assigned to nobody

[2022-06-29 21:22] padamstx commented on #2059
@P0lip any chance that someone with detailed knowledge of spectral internals could take a look at this issue?   This issue specifically mentions that "oneOf" could trip up the path mapping function, but we've found that this problem can also be triggered by simple nested schemas as well (i.e. a schema property is defined through a $ref, etc.).

[2022-06-29 22:20] P0lip commented on #1888
It follows Node.js in that respect, but you can manually override it using [SSL_CERT_DIR](https://nodejs.org/api/cli.html#ssl_cert_dirdir) or [SSL_CERT_FILE](https://nodejs.org/api/cli.html#ssl_cert_filefile)

[2022-06-30 13:13] JGPrakash opened #2196 "How to get open api line number in custom function"
If I run the spectral lint command with the core function, it returns the warning message with which line number it has a problem.
Now I want to implement the same in a custom function.

for example
openapi:
[code]
then: {
      function: casing,
      functionOptions: {
        type: camel
      },
    },
Output:
[code]

[2022-06-30 13:28] JGPrakash opened #2197 "How to use a custom function to display a message with varying severity?"
Using the default ruleset to lint the open api, the result looks like this:

✖ 8 problems (2 errors, 4 warnings, 0 infos, 0 hints)

With the above result having two severity (errors and warnings),

In the same way, I want to implement it in the custom function.

How to show the different severity in custom functions?

[2022-06-30 14:58] P0lip commented on #2197
Unfortunately, that is not possible at the moment. See https://github.com/stoplightio/spectral/pull/1982

[2022-06-30 14:58] #2197 closed, assigned to nobody

[2022-06-30 14:58] #2196 closed, assigned to nobody

[2022-07-05 12:00] petkostas opened #2199 "Spectral treats wrongly specially named properties"
Spectral wrongly raises an error when using "reserved" fields as properties

[code]
Now spectral fails to understand that this is treated as a field of our schema, and raises an error treating it as a `type` (some values have been replaced with `xxxx` as they are internal for demonstration purposes):

[code]
On the other hand, `redoc` linting is able to detect that the enum above is treated as a p

[2022-07-06 11:53] JGPrakash opened #2200 "How to display the openapi file name in custom function?"
If I implement some custom function in spectral linter, that works fine.

Now I want to show the openapi file name in the custom function return message. How to do it?

Example:
[code]

[2022-07-06 15:05] philsturgeon commented on #475
This will be coming out soon but not as part of spectral itself. Keep an eye on https://github.com/stoplightio/spectral-rulesets.

[2022-07-06 15:08] philsturgeon commented on #1037
Loads of work has been going into error messages, so we'll focus on more specific issues for any further work.

[2022-07-06 15:09] #2200 closed, assigned to nobody

[2022-07-06 15:11] philsturgeon commented on #2189
@jamietanna you got a pull request for us there?

[2022-07-06 15:12] #2186 closed, assigned to nobody

[2022-07-06 15:14] #2136 closed, assigned to nobody

[2022-07-06 15:20] jamietanna commented on #2189
Sorry no, not had a chance to get around to it. Happy to look next week when back at work if no one else has gotten around to it

[2022-07-06 15:22] philsturgeon commented on #2049
@faevourite is this working on v1.0.0 of vscode-spectral?

[2022-07-06 15:23] #2030 closed, assigned to nobody

[2022-07-06 15:25] philsturgeon commented on #2003
Fixed in #2020.

[2022-07-06 15:25] #2003 closed, assigned to nobody

[2022-07-06 15:29] #544 closed, assigned to nobody

[2022-07-06 15:31] philsturgeon commented on #1283
PRs exist for validation improvements. https://github.com/stoplightio/spectral/pull/2026

[2022-07-06 15:31] #1283 closed

[2022-07-07 09:33] hjoukl opened #2203 "Add "Objects with properties must have type: object" rule to builtin spectral:oas ruleset"
I still think this is a sensible (opinionated, admittedly) addition to the spectral:oas ruleset.
IMHO if you define properties in an OAS schema ("struct" data) you probably never want to accept data as valid that doesn't even have these properties/attributes.

(I confusingly added that to #2136 so that kind of got mixed up with this separate JSON schema related issue, sorry)

Here goes, again:

As

[2022-07-07 18:11] padamstx commented on #2059
I've opened PR https://github.com/stoplightio/spectral/pull/2202 to fix this issue.

With the changes in that PR, the output is now:
[code]

[2022-07-08 13:39] pavelkornev opened #2204 "Breaking change detected: update of @stoplight/spectral-core 1.12.2 -> 1.12.3 causing breaking changes"
**Describe the bug**
We tried to update `@stoplight/spectral-core` `1.12.2` -> `1.12.3` and validation breaks with the following issue:
`Error running Nimma`

It seems like in `1.12.3` [Nimma itself was updated](https://github.com/P0lip/nimma/compare/0.2.1...0.2.2).

We had lots of selectors like:
* `$.paths.[*].get`
* `$.paths.[*].*.responses`

Which suddenly stopped working the way they worked b

[2022-07-12 08:39] j616 commented on #1972
Hello. Has any progress been made on this? It seems the same issue presents for the keyword `type`. Unfortunately, in our case, we can't disable the error on specific resources as we split our schemas & examples out into separate files. I believe overriding of rules is only supported in the top level document.

[2022-07-13 10:22] burk3rt commented on #1956
hi @P0lip, are there any finding? I'm having the same issue.

[2022-07-15 07:21] nmoreaud opened #2207 "Output is missing a line break"
This message should finish with a line break, following linux standards: `No results with a severity of 'error' found!`

Current ouput:
[code]

**Environment**
 - Library version: 6.4.1
 - Node version: 18.5.0

[2022-07-18 06:51] P0lip commented on #2207
Would you be willing to send a PR for that?

[2022-07-18 19:56] P0lip commented on #2204
We indeed changed the way `.[` is handled. In jsonpath-plus, `.[` is treated as if it was a recursive lookup.
In other words, it's equal to `$.paths..[*]`. It was a bug we didn't treat it this way.
I suppose you still want the old behavior, so I recommend to update your JSONPath expressions as follows:

`$.paths.[*].get` -> `$.paths[*].get`
`$.paths.[*].*.responses` -> `$.paths[*].*.responses`

[2022-07-19 09:42] #2192 closed, assigned to heitortsergent

[2022-07-20 05:48] benjamin-mogensen commented on #1956
I am having a problem with require of the ruleset bundler.

It only happens after the app is built for windows with electron builder. It then complains that it cannot find the file location of "with-loader". Almost like it cannot navigate to that path on windows in a packaged app.

It works fine if I run the app, that uses the ruleset bundler, from console, ie start my electron app directly.

It w

[2022-07-20 16:31] pavelkornev commented on #2204
Yeah, we have updated our JSON Paths already. I agree this was a bug in Nimma, it was just unexpected to see a failure after updating a minor release of the `@stoplight/spectral-core`

No action is required here, hence -> Closing. Let's keep this issue for tracking if somebody else faces this issue and finds it via Google search.

[2022-07-20 16:31] #2204 closed, assigned to nobody

[2022-07-21 08:42] #2043 closed, assigned to nobody

[2022-07-21 08:42] #2059 closed, assigned to nobody

[2022-07-21 16:52] pavelkornev opened #2211 "Switching rules "off" doesn't work when using chain of inherited rulesets"
If there is an hierarchy of rulesets (let’s say 5 inherited rulesets one from each other), then in the top ruleset in the `extends` field I switch off  all the rules, Spectral disables only rules from the direct parent, but not the rule of the other ancestors (parent-parent...).

**Example:**
[code]
[code]
[code]

It disables only rules from the `ruleset4` (direct parent), but not from the `rulese

[2022-07-22 11:27] amanarch96 commented on #2144
Witnessing same error, post this log the workflow is stuck for 1-2 hours.
Any solution for this?

[2022-07-25 21:38] samirachamplin opened #2214 "Memory Leak"
**Describe the bug**

There appears to be a memory leak with spectral. The resident memory on the machine continues to rise with each validation, and eventually runs out of space and crashes.

**To Reproduce**

Repeatedly lint a document with `spectral.run()` in a loop.

Here is the example code snippet that was used:
[code]

**Expected behavior**
We would expect resident memory to be cleared so t

[2022-07-26 17:11] philsturgeon opened #2216 "Problems reported from the parent file so its hard to find the cause"
**Describe the bug**

Spectral in Platform is reporting errors on the problems tray for the main openapi.yaml file, but the problem is coming from the content of a $ref'ed file. If I go hunting for that file (I should be able to click to it) then I no longer see the error. I also cannot see the full text of the error (regression). If I open the file in question, the error is gone from problems.

*

[2022-07-26 19:12] RickKukiela commented on #1274
Still not fixed 2 years later? This can't possibly be that hard to resolve can it? Ran into this on stoplight.io today.

[2022-07-27 15:32] ahemanna commented on #2195
I would vote for this feature too. We have a defined common types that will be used across different APIs and we would rather reference the common types using `$ref` than define them in each API. And we have certain definitions we would want to skip linting and not being able to override them is a huge inconvenience.

[2022-07-28 10:27] derberg commented on #2100
we had a release where uniqueness of `messageId` was introduced

[2022-07-28 11:21] magicmatatjahu opened #2223 "Add rule to check uniqueness of `messageId`"
**User story.**
As a user, I want to know if the messages defined in my AsyncAPI document have a unique `messageId`.

**Describe the solution you'd like**
The following AsyncAPI document is invalid and Spectral should throw errors due to non-uniqueness of `messageId`.

[code]

**Additional context**
Part of #2100

[2022-07-29 09:47] mrjoops commented on #1274
Just tested with Spectral 6.4.2, the issue still exists but the impacted rule has changed, namely **oas3-valid-media-example** and not **oas3-valid-oas-content-example** anymore.
Here is the error message with the example above:
[code]

[2022-08-01 14:11] kotofeyskaya opened #2227 "Empty `source` in result"
**Describe the bug**
We use a ruleset that extends **oas** ruleset. We have a document with a **$ref** in it. When we `run` spectral, the `source` in the result set is **undefined** for external refs.

**To Reproduce**

1. Given this OpenAPI/AsyncAPI document
[code]
and ref file:

We get the following result:
[code]

**Expected behavior**
[code]

**Environment (remove any that are not applicable):

[2022-08-02 17:51] faevourite commented on #2049
@philsturgeon Yup, seems to work now. Thanks. I think this can be closed.

[2022-08-02 21:08] DavidBiesack commented on #2003
This is supposed to be fixed in #2020 but that is an update to spectral-rulesets (to 1.3.2 )
Like others, I'm using a tool which has its own CLI and it embeds Spectral directly (spectral-cli bundle, version 6.4.2)
and I still get the ajv error above

[code]

due to my project using Spectral and also eslint and openapi-merge-cli which use ajv@6

[code]

Is there some way in my project (via npm conf

[2022-08-02 21:38] #2049 closed, assigned to nobody

[2022-08-05 17:17] #2193 closed, assigned to heitortsergent

[2022-08-05 22:14] heitortsergent opened #2231 "docs: reorganize rulesets and custom rulesets pages"
**Chore summary**
Take a pass at reorganizing the rulesets and custom rulesets into its own section, and breakdown information into separate pages. The custom ruleset page specifically has a lot of information in it, and I think it would be helpful if we could break it down into separate pages to improve navigation, and searching, and make it easier to expand specific topics.

One example of a top

[2022-08-06 08:23] philsturgeon commented on #2107
I had all sorts of trouble with the JS format as documented, so I wrote this article to show how it can work, and have a public NPM package you can copy.

https://apisyouwonthate.com/blog/distribute-spectral-style-guides-with-npm#publish-your-spectral-style-guide-to-npm

@heitortsergent can we update docs to show a working example?

@mnaumanali94 it's worth noting that the examples for JS format w

[2022-08-08 10:30] curiosus42 opened #2232 "Ruleset with mixed exports"
**User story.**
As a developer, I can use `js` modules rulesets with mixed exports (named and default), so that I can improve my development experience.

**Is your feature request related to a problem?**
_Description:_ It is not possible to use a .js file with mixed exports as a ruleset for spectral.
_Error:_
[code]
_Cause:_ The rulesets are bundled with rollup.js to commonJS. On named and default

[2022-08-08 18:59] heitortsergent opened #2233 "docs: update JS/TS rulesets examples"
**Chore summary**
Update our docs with working examples for writing JS/TS rulesets.

**Additional context**
- https://github.com/stoplightio/spectral/issues/2107#issuecomment-1207173671
- https://apisyouwonthate.com/blog/distribute-spectral-style-guides-with-npm#publish-your-spectral-style-guide-to-npm

[2022-08-10 14:48] c-pius opened #2235 "Add an *effective* flavor for AsyncAPI documents where `traits` have been applied"
**User story.**
As a developer, I want to write `AsyncAPI` rules working on the *"effective"* AsyncAPI document. *Effective* meaning that [Operation](https://www.asyncapi.com/docs/reference/specification/v2.4.0#operationObject), and [Message](https://www.asyncapi.com/docs/reference/specification/v2.4.0#messageTraitObject) traits (see fields) have been applied to the document, similar as done with

[2022-08-10 15:01] heitortsergent opened #2236 "Add aliases for common OAS `given` targets"
**Chore summary**
We have the [`aliases` feature](https://meta.stoplight.io/docs/spectral/e5b9616d6d50c-custom-rulesets#aliases) to help users target certain parts of a spec without having to remember the JSONPath expression, and we have 2 already created [here](https://github.com/stoplightio/spectral/blob/4447d81ace5aab90e7cd48a8e182103b6a90ee81/packages/rulesets/src/oas/index.ts#L32-L38) for OAS

[2022-08-11 15:55] mnaumanali94 opened #2237 "Aliases should be inherited across rulesets"
**User story.**
As a spectral user, i should be able to use aliases from an extended ruleset within a ruleset i'm authoring.

**Is your feature request related to a problem?**
Spectral will come with a set of aliases for common OpenAPI components, that can then be used by rulesets extending it.

[2022-08-11 15:56] mnaumanali94 commented on #2236
Would require: #2237

[2022-08-12 12:41] kingcanova opened #2240 "Issue importing oas ruleset from @stoplight/spectral-rulesets"
**Describe the bug**
When trying to use the oas ruleset exported by the @stoplight/spectral-rulesets package in a backstage.io custom plugin an error occurs that does not let me render my frontend page or use the ruleset.

The error that is displayed on the webpage is:
`ERROR 501: Lazy loaded chunk failed to load, try to reload the page: __importDefault is not defined`

Here is how the packages ar

[2022-08-12 13:02] P0lip commented on #2240
That is weird. We fixed `__importDefault` issue some time ago. 🤔
Could you share the error stack for me to see the actual source of that error?

[2022-08-12 14:23] kingcanova commented on #2240
Hi @P0lip, I dont seem to have any other error logs than the one posted above (or im not sure where they would be) that shows up where the component that is utilizing the spectral should be rendered. I can fully render my component and run the above code on an example document if I dont import **oas** and dont add it as an extension to the custom ruleset.

[2022-08-12 16:24] mnaumanali94 commented on #2237
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/-Tequila-Mockingbirds-61f945bb2ae66f0010ca5eca/issues/stoplightio/spectral/2237?planning-poker) with ZenHub @Amjcraft @dotslashderek @eadamsatx @matty-v @P0lip

[2022-08-12 19:17] kingcanova commented on #2240
Here is a screenshot:
<img width="1084" alt="image" src="https://user-images.githubusercontent.com/17076518/184428196-87ea47a3-dc1e-4352-8559-0afc2ca354d0.png">

[2022-08-15 04:35] LukeMccon opened #2241 "Compilation error Type 'FetchMockSandbox' is not assignable"
**Describe the bug**
When running `yarn test` on the latest develop branch (05ee443) I am receiving the error below

[code]

**To Reproduce**

1. run `yarn test` on develop (05ee443)
2. Observe compilation error

**Expected behavior**
TS compiles, tests pass

**Environment:**
 - Library version: develop @ (05ee443)
 - OS: Windows 10 (tried with dev container as well)
 - Browser: Chome headless 104

[2022-08-15 04:41] imsuneth opened #2242 "Getting an AggregateError when using JSON custom ruleset"
I have a configuration file that includes the custom rules among other configurations. I retrieve the custom rules object (I have defined it as a const below) from the file and set it and run the linter.
[code]

However, I am getting this AggregateError and not sure what I am doing wrong. Could you please help?
[code]

**Environment (remove any that are not applicable):**
 - Library version: 1.12.

[2022-08-15 04:45] LukeMccon commented on #2242
I've run into this before as well, try logging the `.errors` property of the aggregate error you're receiving if you haven't already. That may give you some extra context

[2022-08-15 07:18] imsuneth commented on #2242
Thanks @LukeMccon. Here is what i found in `.errors`

Error: $ threw: ErrorWithCause("Function \"undefined\" threw an exception: then.function is not a function")
    at _callbacks.<computed> (proxy-callbacks.js:34:1)
    at Scope.emit (scope.js:109:1)
    at Nimma.eval (eval at query (index.js:66:1), <anonymous>:7:11)
    at Nimma.query (index.js:68:1)
    at execute (runner.js:90:1)
    at Runne

[2022-08-15 08:32] P0lip commented on #2242
You cannot load a JSON ruleset this way. Spectral#setRuleset accepts only JS rulesets.

[code]

This is how a correct code would look like.
Feel free to reach out in case you have some questions.

[2022-08-15 08:32] #2242 closed, assigned to nobody

[2022-08-15 08:33] P0lip commented on #2240
got it. Would it be possible for you to send some sample project so I can take a look at the code that gets executed?

[2022-08-15 08:40] P0lip commented on #2240
Nevermind, I see it now. It was re-introduced in https://github.com/stoplightio/spectral/blob/develop/packages/rulesets/src/shared/functions/index.ts

[2022-08-15 08:54] #2240 closed, assigned to P0lip

[2022-08-15 09:16] imsuneth commented on #2242
Thanks a lot @P0lip for the clarification. Is there any way right now to parse a JSON ruleset to a JS ruleset?

[2022-08-15 13:49] LukeMccon commented on #2242
@imsuneth look at the [ruleset-migrator](https://github.com/stoplightio/spectral/tree/develop/packages/ruleset-migrator) package. There should be instructions on that page, I was able to use it to move from JSON to JS rulesets.

[2022-08-15 17:15] P0lip commented on #2241
That is weird since it doesn't occur both on my end as well as CI.
Did you try removing all `node_modules` and re-installing?

[2022-08-16 03:52] LukeMccon commented on #2241
yes I removed all the node_modules and reinstalled them.
I found out what was happening, yarn was resolving typescript `^4.4.4` as typescript `4.7.4` which was giving the error. Manually downgrading to `4.4.4` seems to fix the issue

[2022-08-16 03:52] #2241 closed, assigned to nobody

[2022-08-16 08:01] imsuneth commented on #2242
@LukeMccon thanks a lot and i'll look into it.

[2022-08-17 04:18] veer201989 opened #2244 "feature to lint whole project in IntelliJ"
**User story.**
As a user, I can do lint my whole project (all the YAML/JSON files), so that I can identify the issues/warning/info.

**Is your feature request related to a problem?**
I am trying to lint my java project in which I have multiple YAML/JSON files, I want to lint all the files but I am not able to get any setup process and how to lint all the files in one go.

**Describe the solution

[2022-08-17 07:42] c-pius opened #2245 "Validation using the `schema` does not detect schema errors if the target is a `$ref` reference"
**Describe the bug**
Validation using the [`schema` function](https://meta.stoplight.io/docs/spectral/ZG9jOjExNg-core-functions#schema) does not detect schema errors if the target is a `$ref` reference.

**To Reproduce**

1. Given the following AsyncAPI document:

[code]

2. Run the following rule

[code]

3. See that no validation error is returned, as opposed to returning an error since the cont

[2022-08-17 10:51] infraos89 opened #2246 "Spectral is not recognising a bitbucket redirection from .spectral.yml file"
**Describe the bug**
Spectral is not recognising bitbucket redirection from .spectral.yml file

**To Reproduce**
From a given bitbucket repository we are redirecting to our spectral project in a .spectral.yml file:

[code]

The spectral file has in the "extends" section references to other files with spectral rules (oas-rules.yml & oas-schema.yml), as well as its own rules:

[code]

Image of the s

[2022-08-19 13:09] P0lip commented on #2244
Spectral [accepts](https://github.com/stoplightio/spectral/blob/develop/docs/guides/2-cli.md#spectral-cli) glob patterns.
Example: `spectral lint ./reference/**/*.oas*.{json,yml,yaml}`
Use that if you have more than a single file to lint - just make sure to adjust the glob pattern above to match your particular project strucutre.

[2022-08-19 13:09] #2244 closed, assigned to nobody

[2022-08-19 13:10] P0lip commented on #2232
Hey @curiosus42.
Is there any reason you wouldn't like to use ESM instead of CommonJS?
Now that Node.js supports ESM natively, we're slowly moving away from CommonJS and will remove support for that module format in one of future versions.

[2022-08-19 13:49] P0lip commented on #2246
Thanks for the report. It's indeed a bug we should fix.

[2022-08-21 23:02] punkpeye commented on #2144
Same issue. Is there a workaround?

[2022-08-22 04:41] veer201989 commented on #2244
I want to setup spectral in maven/gradle to build the build. please share the steps to setup the build.

[2022-08-22 04:47] veer201989 opened #2248 "Setup spectral in maven/gradle to build"
**User story.**
As a user, I can do lint my whole project while creating build using maven/gradle , so that I can identify the issues/warning/info.
**Is your feature request related to a problem?**
I am trying to lint my java project in which I have multiple YAML/JSON files, I want to lint all the files at the time of build but I am not able to get any setup process
**Describe the solution you'd l

[2022-08-22 11:26] #2248 closed, assigned to nobody

[2022-08-22 11:29] magicmatatjahu commented on #2235
@c-pius Hello! Thanks for the issue!

I understand the problem because writing a new rule to check uniqueness of `messageId` myself, I had to write functionality to check uniqueness in traits as well - you can see it here https://github.com/stoplightio/spectral/pull/2224/files#diff-6d40e65a1708ce8482632cdfba579951d2b6d3983c99640c8c38f5bd6f7637bcR9

However, I have a serious objection to merging tr

[2022-08-22 11:33] P0lip commented on #2244
Unfortunately, I'm not familiar with Maven/gradle, thus I won't be much of a help here 😞

[2022-08-22 11:47] #2245 closed, assigned to c-pius

[2022-08-22 11:57] P0lip commented on #2245
Thanks a bunch @c-pius!

[2022-08-22 12:49] c-pius commented on #2235
@magicmatatjahu yeah I see where you are coming from. Maybe that could be addressed by configurable *plain* vs *effective* flavor. Using effective means you validate the end result of the message, regardless what "syntactic sugar" was used to define it. Consequently, also a path pointing to the message is somehow correct (and the only thing you can really do then). If you want to validate down int

[2022-08-22 19:01] magicmatatjahu commented on #2235
@c-pius

Yeah, atm it's problematic, you would only check "root" of message without merged traits, so `defined` function would only say truth in the cases without traits.

We'll see, maybe Spectral Team will consider adding a new option to the rule shape you proposed :)

[2022-08-24 08:30] #2223 closed, assigned to nobody

[2022-08-24 11:21] #2154 closed, assigned to P0lip

[2022-08-24 11:29] #2207 closed, assigned to nobody

[2022-08-29 09:36] Amachua opened #2260 "Publicly export spectral-core utils functions"
**User story.**

As a developper, when I am building a tool based on Spectral, then I would like to be able to use the function available in the `spectal-core` workspace in order to reproduce the internal workflow.

**Is your feature request related to a problem?**

When I tried to bump our tool dependency with Spectral, I got the following issue --> the functions `prepareResults` and the `default

[2022-08-29 09:46] P0lip commented on #2260
Hey @Amachua.
I'm afraid these are internal utils we wouldn't really want to expose publicly. We don't consider them as a part of public API, and exposing them would commit us to do so. What's your actual use case?
`Spectral#run` will already ["prepare results"](https://github.com/stoplightio/spectral/blob/develop/packages/core/src/spectral.ts#L84) for you, so there's no need to use them separatel

[2022-08-29 13:52] magicmatatjahu opened #2261 "Add a rule to validate unresolved AsyncAPI document"
**Chore summary**

As a user I want to know if I defined `$ref` fields in proper places in my AsyncAPI document

**Is your feature request related to a problem?**

The following AsyncAPI document is invalid and Spectral should throw errors due to invalid defined references (in impossible places):

[code]

We cannot use `$ref` in operations.

**Additional context**
Part of #2100

[2022-08-30 11:07] P0lip commented on #2070
We should be good now. We no longer depend on 3.9.5.

[2022-08-30 11:07] #2070 closed, assigned to nobody

[2022-08-30 12:06] #2246 closed, assigned to P0lip

[2022-08-31 06:20] meem commented on #1972
We're also encountering this issue in spades with our API definition.  Any outlook on getting this fixed?

[2022-08-31 07:55] teluren commented on #2227
Dear colleagues,
Is there any update on this issue? What is the possible fix date/release?

[2022-09-02 12:35] magicmatatjahu commented on #1054
@philsturgeon @mnaumanali94 Hi! Any update? From what I can see in the Stoplight Studio sources a new resolver based on `json-schema-ref-parser` is already in use (I could be wrong, I'm looking at the minified code). I don't have any problems with the current resolver, however, what hurts me the most is that it doesn't keep the same reference (in JS, after dereferencing) between `$ref`s, example:

[2022-09-02 14:59] magicmatatjahu commented on #1054
Sorry everyone! This is an error in my code. Sorry for the problem but question `Any update?` is still active 😄

[2022-09-02 15:49] heitortsergent opened #2263 "docs: add info about how to name a custom function"
**Chore summary**
Add information about how to name a custom function. Example naming a function `checkSecurity`:

[code]

**Tasks**
- [ ] Update Custom Functions docs

[2022-09-04 10:35] grobie opened #2264 "Support GitHub annotation formatter"
**User story.**
As a developer, I can configure the formatter to use the [GitHub annotation format](https://docs.github.com/en/actions/using-workflows/workflow-commands-for-github-actions#setting-a-warning-message), so that I can see warnings directly in my pull request when running spectral as Github action.

**Is your feature request related to a problem?**
Developers are often missing new Spect

[2022-09-04 16:36] LukeMccon commented on #2199
@petkostas What version of spectral/ the individual spectral packages are you using?
I'm having trouble reproducing this in the latest version of spectral

[2022-09-05 17:08] checkin247 commented on #1603
updating to openapi 3.1.0 (from 3.0.0) fixed the issue for me.
Thanks to : https://github.com/stoplightio/spectral/issues/1603#issuecomment-840048026

The OpenApi 3.0.0 states: "Note that there is no null type; instead, the nullable attribute is used as a modifier of the base type."
[Reference](https://swagger.io/docs/specification/data-models/data-types/)

[2022-09-06 11:24] andrecedik opened #2265 "URI malformed error when using unpaired surrogates"
**Describe the bug**
I was trying to create a rule to check the names of JSON properties for the use of unpaired surrogates in UTF-8 (see https://unicodebook.readthedocs.io/issues.html#strict-utf8-decoder) and when I ran spectral it failed checking them because of an error within the md5 package.

**To Reproduce**

1. Given this OpenAPI component:
[code]
2. Run spectral to validate the schema
3. S

[2022-09-06 15:17] #2260 closed, assigned to nobody

[2022-09-06 15:20] philsturgeon commented on #2232
I've been using ESM for https://github.com/apisyouwonthate/style-guide and that's been working nicely. If CommonJS is supported and it's an older way of doing things then it might not make sense for us to add support for it, so lets close this one?

[2022-09-06 15:20] #2232 closed, assigned to nobody

[2022-09-06 15:21] philsturgeon commented on #2264
@grobie this would be pretty cool! Would you be prepared to make a pull request for this? I think you could copy and tweak your way to a solution, starting with CONTRIBUTING.md.

[2022-09-06 15:26] philsturgeon opened #2266 "extends rulesets doesn't follow redirects"
**Describe the bug**

When using Unpkg (which I need to do to use my NPM-based style guide in CLI, VS Code, and Studio) I am getting Not Found if I use a version alias, possiibly because it's not following redirects.

[code]

This will let me set a version requirement that I am happy with, instead of having to update the patch number every time a bug fix is made.

**To Reproduce**

1. Make a `.spe

[2022-09-06 16:01] P0lip commented on #2266
This works somewhat as expected, although the expected behavior might be indeed not the most of folks would expect.
Basically anytime you load a ruleset over http/https, all imports you have in your ruleset must have `http/https` either, so they need to go through some CDN service, etc. This is in line with how ESM works in the browser.
However, we do make one exception - `@stoplight/spectral-*` i

[2022-09-07 09:38] Amachua commented on #2260
Thank you @P0lip for the feedback, sorry for not providing some feedback beforehand!

For your information, we thought we needed to use this function since we aggregated the results of several sources (files) into only one result set (wanted to apply the same logic as the one you used in your engine to ensure that we do not found several time the same issue).

We have reviewed the way we prompt th

[2022-09-07 09:54] philsturgeon opened #2269 "Strange issue with regex: match() or regex operators"
**Describe the bug**

When constructing a custom ruleset I've got a rule involving `@.match` and its telling me that match is not a function. It looks like nimma is being used so im trying to use other regex operators, but neither `~=` (from the README) or `=~` from (the draft RFC linked in the README) work, all giving different errors.

**To Reproduce**

1. Clone https://github.com/philsturgeon/s

[2022-09-07 11:00] aerialist7 commented on #2227
Hi @P0lip, @FredericKayser, @ObjectIsAdvantag, @magicmatatjahu

could you please help?

[2022-09-07 12:51] P0lip commented on #2269
@philsturgeon would `'$.paths..parameters[*].[?(@property === "name" && (@ === "id" || @ && @.match(/(_id|Id)$/)))]^.schema'` work?

[2022-09-07 12:52] P0lip commented on #2260
Thanks for circling back!
I'm glad to hear that :)

[2022-09-07 13:13] P0lip commented on #2227
I can't seem to be able to reproduce the issue.
Could you please tell which version of spectral-core you use as well as paste the JS code you have?

<img width="554" alt="image" src="https://user-images.githubusercontent.com/9273484/188886869-af5f8866-eb7b-48fa-a398-1005ce50b13b.png">

[2022-09-07 13:56] aerialist7 commented on #2227
Hi @P0lip, thank you for the respond!
We use "@stoplight/spectral-core": "1.14.0"

[2022-09-07 14:00] P0lip commented on #2227
@aerialist7 could you share the JS code you have?

[2022-09-07 14:57] jasonwilczak opened #2270 "Unable to use a spectral file located in Enterprise Github with a token parameter"
**Describe the bug**
When trying to use a spectral lint file that requires a token param, Spectral throws an unexpected error

[code]

**To Reproduce**

1. Create a GitHub repository and place a spectral file there, like this:
    * style.yaml
[code]
2. Go to the raw view of that spectral file and copy the url, it should have a token in it
2. Create a local folder with a "src" folder and a basic a

[2022-09-07 15:27] P0lip commented on #2270
I can confirm that currently the ruleset needs to end with `\.(json|ya?ml)/` in order to be loaded properly.
As a somewhat hacky workaround, one could do append `&.yml` to the end, like so `https://raw.githubusercontent.com/<org>/<project-name>/<branch>/<file-path>?token=<token>&.yml`

[2022-09-07 16:37] aerialist7 commented on #2227
@P0lip, will share it tomorrow morning.
We run it in browser, seems you're run it in Node. Am I right? If yes, could you please try to run it in browser?

[2022-09-08 04:27] aerialist7 commented on #2227
@P0lip, here is a sample
https://github.com/aerialist7/spectral-sample

1. `yarn install`
2. `yarn run start`
3. Open localhost
4. See browser console

![image](https://user-images.githubusercontent.com/32072831/189034279-a7b05d69-c5da-4509-84ac-ec9e3a856a22.png)

[2022-09-08 09:27] P0lip commented on #2227
You don't set `source` there which Spectral uses to determine the source.

Try the following:
- add
[code]
 - modify `spectral.run` to `.then(text => spectral.run(new Document(text, Parsers.Yaml, "/root.yaml")))`

<img width="1154" alt="image" src="https://user-images.githubusercontent.com/9273484/189086956-314eab06-3502-4ef2-b0fa-3b3c38697ffd.png">

Please let me know if you have any other questi

[2022-09-08 09:27] #2227 closed, assigned to nobody

[2022-09-08 12:17] aerialist7 commented on #2227
@P0lip, it wasn't obvious, but it works, thanks a lot!

[2022-09-08 14:52] P0lip commented on #2227
I'm glad it did the trick. 🙂
@aerialist7 do feel free to update our documentation if you think we have some gaps. I'd appreciate that.

[2022-09-08 19:01] jasonwilczak commented on #2270
I'll have to check this out in a bit.  I was able to get it to work by doing:

https://{username}:{dev-token}@{enterprisegithub-domain}/raw/{org}/{project}/{filename}.yaml

This works for now, but I wonder if it would make sense to to look at like `location.pathname` or something similar so that the query stuff isn't considered?

[2022-09-08 20:15] P0lip commented on #2270
It totally would. I'll keep that ticket open.
I just wanted to offer a quick workaround to unblock you till we sort this case out :)

[2022-09-08 21:13] P0lip commented on #2270
https://github.com/stoplightio/spectral/pull/2272 it is

[2022-09-12 09:43] Thomasdezeeuw opened #2273 "Uncaught exception with incomplete paths"
**Describe the bug**
Spectral has an uncaught exception:

[code]

**To Reproduce**

Using a path without any info, for example one you still have to write:

[code]

Run `spectral lint` it will fail.

**Expected behavior**

A (linting) error, but not an uncaught exception.

**Environment (remove any that are not applicable):**
 - Library version: 6.3.0
 - OS: N/A
 - Browser: N/A

**Additional conte

[2022-09-12 10:47] infraos89 commented on #2246
Thank you very much @P0lip , just one last question. Is there any chance to know if these changes will be implemented in the next Stoplight release and when it will happen?

Best regards.

[2022-09-12 11:12] P0lip commented on #2246
@infraos89
do you mean our web platform (Studio)? If so, I can pull the fix in soon - perhaps even today if I have some spare time

[2022-09-12 13:45] infraos89 commented on #2246
I'm talking in the Stoplight releases posted here:

[https://github.com/stoplightio/studio/releases](url)

Seems that the last changes were in July, and I prefer to work locally with Stoplight. Just to know if it will be implemented soon.

Thanks for the response @P0lip

[2022-09-12 16:35] heitortsergent opened #2274 "docs: add link to CHANGELOG files to ToC"
**Chore summary**
Add a link to the packages CHANGELOG files to `toc.json` so people can view it from the [main docs](https://meta.stoplight.io/docs/spectral/674b27b261c3c-overview).

[2022-09-13 09:37] P0lip commented on #2246
Ah, that one may take a little bit longer, but should be released soon nonetheless.

[2022-09-13 14:10] infraos89 commented on #2246
I'll keep an eye out for future Stoplight posts here then.

Thank you very much for your help @P0lip !

[2022-09-13 15:14] jonaslagoni commented on #2235
Definitely a problem, but not one I see as critical, i.e. spectral already handles this behavior with the refs right?  Cause the same "problem" must be present there. I definitely see this as only an implementation issue that can easily be handed within spectral itself 🙂

I am definitely for finding a way to support this yes 👍

[2022-09-14 10:07] rubensa opened #2276 "YAML null key not supported"
**Describe the bug**
I'm not allowed to use the YAML **null** key.

**To Reproduce**
When I try to apply [Configuration key conflicts](https://quarkus.io/guides/config-yaml#configuration-key-conflicts) like:
[code]
I get the following problem report:
`Mapping key must be a string scalar rather than null`

**Expected behavior**
The null key should be allowed and no problem should be reported.

[2022-09-16 08:20] petkostas commented on #1274
I can confirm that the issue is still there, it would be nice to fix this as it's creating problems with some of our OAS files.

[2022-09-16 10:05] Jeremy-boo opened #2279 "can `spectral supported` release of arm64 architecture ？"
**User story.**
There is currently no official binary release for the arm64 architecture，As the arm architecture becomes more and more popular, everyone is more and more urgent for the binary files of the arm architecture

**Is your feature request related to a problem?**

**Describe the solution you'd like**

**Additional context**

[2022-09-16 11:20] magicmatatjahu commented on #535
I created similar rule for AsyncAPI spec based on unresolved (but only main) document https://github.com/stoplightio/spectral/pull/2262 I can extend that rule to be generic to handle also OpenAPI. However I don't know how to "handle" sub documents (referenced) to check if given referenced sections have also valid places where $ref is allowed, e.g.

[code]

it's valid, but we don't know if `../reso

[2022-09-16 11:45] magicmatatjahu commented on #2235
@jonaslagoni

But Spectral points to the `$ref` when you have errors in your spec, so it means that you will have path like:

[code]

and if given `$ref` points to external file you will have also errors related to that file - as results you will have diagnostics for your main document and referenced document, so you can easily check in which place you have invalid value/syntax (exactly in which p

[2022-09-16 11:49] jonaslagoni commented on #2235
Sounds like a good plan 🤔 👍

[2022-09-16 13:28] fgabolde opened #2280 "oas3-unused-components and friends should support checking remote refs as an option"
I've been using spectral for linting a couple of long specs that we have written at work. A while back, we defined some common schemas for both specs, so we extracted those into a schemas.yml file and referenced it in the specs with `$ref: schemas.yml/#FooBar`. Unfortunately, when we did this, I failed to realize that spectral would no longer report unused components for those. I'm assuming the re

[2022-09-17 14:39] lhimstedt opened #2283 "Gitlab code quality support"
**User story.**
As a developer, I can export the results to a Gitlab code quality report to see a summary of my code quality in the MR widget and the pipeline.

**Is your feature request related to a problem?**
Currently, there is only a format enum for JUnit. That's cool because you can see the results in Gitlab, but I prefer linting results in the code quality section. The linting results are mo

[2022-09-17 14:40] lhimstedt commented on #2283
I found no related issue, maybe there was a discussion about this. Would be cool to get some other perspectives about this.

[2022-09-20 07:15] #2263 closed, assigned to heitortsergent

[2022-09-20 12:08] jnsppp opened #2286 "Error compiling schema"
**Describe the bug**
`const { bundleAndLoadRuleset } = require('@stoplight/spectral-ruleset-bundler/with-loader');` is causing a compilation error if used in a package after `yarn publish`.

**To Reproduce**

Following this documentation: https://meta.stoplight.io/docs/spectral/eb68e7afd463e-spectral-in-java-script#load-a-jsonyaml-ruleset

[code]

the line `const { bundleAndLoadRuleset } = require

[2022-09-20 12:29] P0lip commented on #2286
This means you probably have more than 2 different versions of Ajv -> https://github.com/stoplightio/spectral/issues/1808
If you use Yarn v1, try running `npx yarn-deduplicate --packages ajv && yarn`, if newer, `yarn dedupe ajv`.
For `npm`, one can use `npm dedupe`.
LMK if that helps.

[2022-09-20 12:30] P0lip commented on #1808
@sn0wbi
If you use Yarn v1, try running `npx yarn-deduplicate --packages ajv && yarn`, if newer, `yarn dedupe ajv`.
For npm, one can use `npm dedupe`.

[2022-09-20 12:38] avinashpise opened #2287 "Is there any way that custom function can be build to validate only RE2 regular expression syntax"
**User story.**
As a Open API specification Developer,I can validate only RE2 regulare expression syntax.

**Is your feature request related to a problem?**
Spectral tool support to write a custom function to apply custom rules. We can build the custom rule using the core function such a schema, casing or pattern. Here if we use the schema funtion to validate the json schema, i belive it supports

[2022-09-22 12:52] UniperMaster opened #2293 "Spectral Crash when "path" is defined as an in parameter"
**Describe the bug**

Linting the above open api with the parameter of **in** type **path** causes the linting to error, If I change it to **query** its fine

example.yaml
[code]

**To Reproduce**

1. spectral lint  .\example.yaml --verbose

[code]

**Expected behavior**
linting results

**Environment (remove any that are not applicable):**
 - Library version: 6.5.1
 - OS: Windows 10

**Additional

[2022-09-22 13:12] P0lip commented on #2293
Hey @UniperMaster! What's your ruleset?

[2022-09-22 14:06] UniperMaster commented on #2293
Hey @P0lip, I ran it without a ruleset the standard spectral:oas

[2022-09-22 14:26] P0lip commented on #2293
Did you install it via npm or did you download the binary?
If it's npm/yarn, try upgrading the rulesets package, `yarn upgrade @stoplight/spectral-rulesets`.
I cannot reproduce that issue locally, and I remind myself fixing a similar issue, so my bet is you may be running on an older version of the oas ruleset.

[2022-09-22 15:08] UniperMaster commented on #2293
Thanks that worked, please close