[2020-09-09 11:01] nulltoken commented on #1002
@marcoemidio I'd be happy to take a look at your issue, but I'm unsure to precisely understand the use case.
Could you please create a dedicated issue with a simple repro case?

[2020-09-09 19:04] philsturgeon commented on #1327
Great! Regex it is. Before casing existed there was lots of regex, and I’d rather not make it OpenAPI specific, so this solution works nicely. Thanks folks!

[2020-09-09 19:04] #1327 closed

[2020-09-09 19:05] philsturgeon commented on #1324
Want to see if you can take a swing at a PR on this one? It’s a little odd that AJV is making that request, it doesn’t need to be a resolvable URI just a URI, so I’m not sure why it would do that.

[2020-09-09 19:06] philsturgeon commented on #1319
Sorry friend, this is spectral not prism. Different tool!

[2020-09-09 19:06] #1319 closed

[2020-09-09 21:25] nulltoken commented on #1324
@dlouzan FWIW, I'm also working behind a corporate proxy at $DAYJOB and never encountered this behavior. So we may indeed need your help to get this weird behavior fixed.

There are two places where that url appears in Spectral:
- https://github.com/stoplightio/spectral/blob/627a24d86cde37e7eb8cdbd5bc22ff972fd5df71/src/functions/schema.ts#L71
- https://github.com/stoplightio/spectral/blob/84a82382

[2020-09-09 21:36] nulltoken commented on #1314
@dillonredding Would you feel like helping us improve the documentation through a pull request?

[2020-09-09 21:52] nulltoken commented on #1315
@dillonredding Sadly, it's possible the documentation is indeed misleading on that topic. Thanks for pointing that out.

There would be two ways addressing that:
- Either enhance the documentation to make it clearer that "adjusting" requires re-implementing the standard schemes
- Tweak the code in https://github.com/stoplightio/spectral/blob/c021b045e9c8c76bb3ee4dc624edc7779c05b369/src/resolvers/h

[2020-09-09 22:29] dillonredding commented on #1314
@nulltoken Absolutely! You think the third constructor argument for `Document` should be mentioned [here](https://github.com/stoplightio/spectral/blob/develop/docs/guides/3-javascript.md#linting-a-yaml-string)? Maybe mention the lack of relative resolution [here](https://github.com/stoplightio/spectral/blob/develop/docs/guides/3-javascript.md#linting-an-object)? I don't know that these things are

[2020-09-10 07:18] nulltoken commented on #1314
Awesome!

You're right. I don't think there's much we can do over there.

Or maybe just warnings regarding that the provided documents should be complete standalone ones (or that the resolution for relative paths would occur according to the current working directory (which location is quite unpredictable)).

Additionally, maybe could you add a new section dedicated to linting files where those ab

[2020-09-10 14:26] dillonredding commented on #1314
That's not a bad idea! Maybe between the "Linting an Object" and "Registering Formats" sections?

Just want to clarify, by "warning", you mean like the blockquote [here](https://meta.stoplight.io/docs/spectral/docs/guides/5-custom-functions.md#async-functions) (with the `theme: warning` comment)? I could definitely see that being helpful in "Linting a YAML String" and "Linting an Object" sections

[2020-09-10 17:15] nulltoken commented on #1314
@dillonredding That would be great location.

Indeed. This would bring some attention from the reader ;-)

[2020-09-10 18:34] tillig opened #1329 "Ability to embed custom functions in ruleset YAML/JSON"
**User story.**
As a Spectral custom ruleset developer, I can put my custom rule functions in the same file as the ruleset YAML/JSON, so that I can more easily distribute my custom rules.

**Is your feature request related to a problem?**
I'm trying to write a rule that mandates all schema objects have examples defined, but the complexity of _where_ you can define various examples (at the property

[2020-09-11 11:31] P0lip commented on #1325
as yaml is a superset of json, why do we need https://github.com/stoplightio/spectral/blob/develop/src/rulesets/reader.ts#L18-L21

It's much faster (and safer too).

Speaking of the issue, we need to pass `mergeKeys` here https://github.com/stoplightio/spectral/blob/develop/src/rulesets/reader.ts#L23

[2020-09-11 14:37] ioggstream commented on #1325
1- @P0lip thanks for the PR!

Faster: true (but on rule files I suspect the difference is minimal)
Safer: not sure as the attacker controls the filename extension.

Thanks again! This will DRY rule files where the same rule should be applied - with different error messages - to request parameters and response fields.

[2020-09-11 16:15] P0lip commented on #1325
It depends, since we have these huge OAS2 and OAS3 JSON schemas referenced in our ruleset, so the impact might be a bit higher than it may seem. Moreover, the AsyncAPI ruleset references the AsyncAPI JSON schema which is not small either.
Either way, shouldn't be a big deal to use yaml everywhere.

yeah, sure. Agreed.

You are welcome. If there is any other spot that does not support merge keys, d

[2020-09-11 16:15] rhurling commented on #935
Hi, I think this issue was somewhat correct and I didn't want to open a new issue for this.
I think the problem is that the JUnit formatter only outputs errors and ignores the `--fail-severity` ([as was planned?](https://github.com/stoplightio/spectral/issues/607#issuecomment-536712661))

So even if I want the JUnit formatter to output warnings I can't do that via spectral

[2020-09-13 13:44] ederparaiso opened #1335 "Access to target document in custom functions"
**User story.**
As a custom function user, I can do access to resolved target document that spectral runs lint, so that I can build composed rules that analyzes target values (jsonpath given fields) and fields beyond this values.

**Is your feature request related to a problem?**
Some of my custom functions need to access context beyond `targetValue` (resolved jsonpath in `given` field of the rule

[2020-09-13 14:26] nulltoken commented on #1335
@ederparaiso In order to better understand why exposing the whole document would be desirable, could you please share with us:
- what your custom functions do?
- why pointing out to `$` would make little sense in your context?

[2020-09-13 20:49] delanym opened #1336 "test for null data types"
Null data types are not supported in OpenAPIv3. Please check for them.

[2020-09-14 09:16] #1325 closed

[2020-09-14 14:00] savage-alex opened #1339 "Allow tests to reference the key in messages to users"
As a rule creator (and a consumer of the report)
I want to receive verbose messages informing me of the location of an issue with its name
So that I can quickly see what went wrong with my design.

(This makes allot more sense when designing on an unresolved definition and exporting a resolved one into spectral.)

Given the following rule:
![image](https://user-images.githubusercontent.com/2543068

[2020-09-14 14:33] P0lip commented on #1339
Hey!
Key should be already supported.
Did you try using `{property}`?

[2020-09-14 14:51] savage-alex commented on #1339
@P0lip hey there, see the above extract when using {{property}} i get a response back of [1] example

Can provide you the API definition and rule if it helps?

[2020-09-14 15:29] philsturgeon commented on #935
@rhurling it's more... that you can't output warnings in JUnit so you can't use JUnit, not that you can't use Spectral. Unless we want to revisit the decision to drop warnings instead of converting warnings to errors for the sake of JUnit seeing them?

If we did that, would it be ok to just convert warnings but not converting info or hint? Or should we convert anything that meets the fail-severity

[2020-09-14 15:41] philsturgeon commented on #1336
It does. 😆

[code]

[2020-09-14 15:41] #1336 closed

[2020-09-14 15:43] rhurling commented on #935
@philsturgeon I know that JUnit can't output warnings. But according to the `--fail-severity` argument shouldn't JUnit output everything that would normally return a non-zero exit code?

Which would then work correctly and also should not break anything, since the argument would need to be set by the user to "enable" JUnit to output more than just errors as failures (as far as i understand JUnit w

[2020-09-14 15:44] philsturgeon commented on #1329
Hello again @tillig!

This is a really interesting idea. For now we've simply accepted that if you wanna get "Advanced Mode" you can use NPM, but I have always loved the simplicity of sharing a ruleset as a URL...

@P0lip what do you think about this as a feature, and what do you think about this from a security perspective?
Man in the Middle attacks are not a bigger concern. Could be we only allo

[2020-09-14 15:45] philsturgeon commented on #1276
We talked about having a "not" today, which is probably related to this.

[2020-09-14 15:50] tillig commented on #1329
Interesting, I didn't think about sharing it as a URL; I was sort of stuck on "embed the functions in the YAML." URL might be an interesting way to go. May still be worth having a fallback for embedding in the YAML.

The default mechanism for rulesets appears to already fall back to `unpkg` so maybe share via URL isn't as hard to implement?

[2020-09-14 15:58] philsturgeon commented on #1329
Oh well you talked about portability, I suppose I'm not sure of your use case.

Currently YAML is handy for easily making local rulesets, and it's easy for distributing via a URL:

[code]

It's one of a few ways to [share rulesets](https://meta.stoplight.io/docs/spectral/docs/guides/7-sharing-rulesets.md) and its certainly the easiest, but has no support for custom functions. For that we [recommen

[2020-09-14 16:47] tillig commented on #1329
Consider an environment where:

- You are not allowed to publish custom rules as a public npm package.
- There is not an internal npm repository to which you may publish rules.
- All internally developed source code access requires authentication, such that simply putting a URL in to extend a base ruleset or reference some JS source isn't possible without the tool also supporting authentication.

[2020-09-14 17:43] stevendoll opened #1340 "Serve spectral linting via API"
**User story.**
As an API Platform Manager , I can access Spectral via API, so that I can integrate business and quality rules into my platform processes.

**Describe the solution you'd like**
Spectral is available via command line and directly in javascript. That works well if I use it locally. But how to we integrate this with our API registry, business/security policies, or CI/CD pipelines? Ide

[2020-09-14 17:50] delanym commented on #1336
why isn't it seeing that example is null? Openapi-enforcer does.

    {"components":{"schemas":{"4":{"description":"The amount requested.","example":null,"maximum":999999999999,"type":"integer"}}},"info":{"description":"Notty funny.","title":"Naughty nully","version":"1.0.0"},"openapi":"3.0.2","paths":{"/schema":{"get":{"operationId":"schema","responses":{"200":{"content":{"application/json":{}},"

[2020-09-14 18:16] nulltoken commented on #1336
@delanym Could you please provide us with a minimal, but _complete_ repro case (document being linted, cli parameters, ...) that puts under th elight the issue you're seeing?

[2020-09-14 18:46] nulltoken commented on #1336
Took a closer look at this and this specific use case might indeed not be covered by the oas3 schema.

[code]

[code]

We might need to special case this in the `examples-*` related rules.

@P0lip @philsturgeon Thoughts?

[2020-09-14 20:31] philsturgeon commented on #1336
Ah the vague title made it hard to know that you meant “check example values against data types” it sounded like you wanted spectral to complain about `type: null` instead. This is solved with the latest example rules that aren’t merged yet.

[2020-09-14 20:54] nulltoken commented on #1336
@delanym That would be #1313, I believe.

Would you want to give it a try, check it out locally, then run `yarn cli lint {here goes the parameters that trigger the weird behavior you're seeing}`.

@P0lip AFAIR, I can't recall #1313 explicitly testing the `null` example(s) value. And I don't see in https://github.com/stoplightio/spectral/blob/66114ef050630e391735cf5690e13a6745b929b7/src/rulesets/oa

[2020-09-15 09:58] P0lip commented on #1339
Ah, it was said `{parameter}` in the initial description, so I assumed you simply misspelled it, but now I see it returns `[1].example`.
If I understand the issue correctly, you'd like to have just `example` printed out, right?
If not, what would be the ideal output for you?

[2020-09-15 09:59] P0lip commented on #1336
@nulltoken I think we have a truthy check in all JSON path expressions, therefore null won't be caught.
I'd need to change it to undefined.
Perhaps let's get #1313 in and then address this one.

[2020-09-15 10:17] savage-alex commented on #1339
It would be great if it were able to provide the value from another property? such as parameter name?
Given the example below
![image](https://user-images.githubusercontent.com/25430683/93198424-ec266f00-f744-11ea-8a96-d6c0ca5328c1.png)
It would be super useful to report the name of the parameter at fault.

[2020-09-15 10:52] philsturgeon commented on #1329
I gotcha, you want to be able to share a single file, without worrying about copying and pasting multiple files, maybe not over a URL but easily copy/paste/tweakable, where no NPM package would work (public or private), and git submodules are a pain in the backside, and who has time for rsync or whatever.

I can see this being a use case in locked down environments like those you mentioned: bankin

[2020-09-15 10:58] P0lip commented on #1339
Agreed. That'd indeed provide a much more meaningful feedback.
I'll try to see what we can do about it.

[2020-09-15 12:04] savage-alex commented on #1339
Trying to get to the point that @arno-di-loreto has with the path / operation tests surfacing really nice responses ala https://apihandyman.io/toolbox/spectral/
![image](https://user-images.githubusercontent.com/25430683/93208105-eedc9080-f753-11ea-9e3f-2cfe8ad9e9b6.png)

I have the rules for 400, 401 .... 415 when there is a request body.. But would really level up with the path and operation in

[2020-09-15 12:16] arno-di-loreto commented on #1339
If the question is “how do I get the path in message “, I use the following conf using path variable on each rule:

message: “{{description}} ({{path}})”

[2020-09-15 12:27] savage-alex commented on #1339
Way to save the day and give me loads of JEST tests to change ;-)
![image](https://user-images.githubusercontent.com/25430683/93210156-06694880-f757-11ea-8869-408149ecb9e8.png)
Thank you @arno-di-loreto ! Solves one on my problems. What do you think about the top request?

[2020-09-15 14:16] tillig commented on #1329
I probably wouldn't be able to get to it in the immediate future, but if time does permit I could give it a shot. Current work project is a 20 person project with two people on it and I'm in the middle of the [Autofac v6 rollout](https://github.com/autofac/Autofac), too, so I'll need to finish that up first.

Might be good to talk over designs so there's less exploratory work when it gets addresse

[2020-09-15 14:21] P0lip commented on #1329
@tillig
Putting the security considerations aside, I think this idea sounds pretty interesting and it's worth considering.
Some time ago, I was thinking about providing a way to "bundle" your ruleset, which is somewhat similar to what you describe.
We kind of support it internally (see `generate-assets` task in package.json and the output it produces), but it's implemented in a different way than

[2020-09-15 14:27] P0lip commented on #1339
@savage-alex I put some draft PR over here https://github.com/stoplightio/spectral/pull/1341, which should address your first concern. I'm not quite sure as to its final shape yet, but either way, please let me know whether it meets your requirements.

[2020-09-15 15:53] savage-alex commented on #1339
Hey @P0lip, im afraid its a bit beyond me to review. Happy to have a quick MS teams call if your game to take a look at it in the flesh?

[2020-09-15 17:20] marbemac commented on #1340
Hi @stevendoll - an interesting request! Drilling into the gap a little bit more, where does the CLI option fall short? We've seen a lot of folks successfully use the in their CI/CD pipeline, similar to how you'd run tests.

[2020-09-15 23:04] stevendoll commented on #1340
Marc,

We’re envisioning a stand-alone service that can be consumed by multiple points in the chain. This can support multiple use cases from quality to cyber to compliance to reuse.

Regards.

Steven

Sent from my iPhone

[2020-09-16 09:19] philsturgeon commented on #1340
So you'd be looking for a way to run this service yourself in your own environment, not a central `spectral.stoplight.io/api` that anyone can use to handle this?

If it's for yourself, the JavaScript API could be wrapped in a simple node script to achieve this quite quickly. We could probably put together an example and make a blog post out of it.

[2020-09-16 11:34] P0lip commented on #1339
Hey, no worries, you don't need to review it.
I'd just like you to take a look whether the output you desire would be possible to generate once my change is merged.
I can compile a Spectral binary if you want to try it out and don't want to clone the whole Spectral repo.
Does that sound good?

[2020-09-16 12:03] savage-alex commented on #1339
Hey, I have the PR running locally. Given the following OAS parameter against an operation:
 parameters:
        - in: query
          name: includeInactive
          description: false by default. If true, includes inactive tenants in the response
          schema:
            type: boolean
          required: false

there is no example. My rule currently sits at:

adv-query-parameters-example-ex

[2020-09-16 13:43] alexrainman opened #1342 "Custom function not working"
I am following the [documentation](https://meta.stoplight.io/docs/spectral/docs/guides/5-custom-functions.md) to create custom functions.

My function is on the functions/ folder and look like this:

[code]

And my custom rule looks like this:

[code]

What is missing?

[2020-09-16 13:46] alexrainman opened #1343 "Help needed with custom rule"
Need to make definitions fields ```example``` and ```description``` required but cannot figure it out the correct ```given``` path.

Please help.

[2020-09-16 14:33] P0lip commented on #1339
@savage-alex
Hey, this would be
[code]

[2020-09-16 15:32] savage-alex commented on #1339
![image](https://user-images.githubusercontent.com/25430683/93359071-186fe780-f83a-11ea-9919-6839c08cdadd.png)
Looks perfect to me! (After I had remembered I had to actually build spectral and use the new binary. Such a n00b I am.

[2020-09-16 15:43] alexrainman commented on #1342
Solved.

[2020-09-16 15:43] #1342 closed

[2020-09-16 18:32] stevendoll commented on #1340
Thanks for the ideas. I think wrapping the js API is pretty close to our use case. I’ll keep my eyes open for that blog post, because it’s a little outside of my experience.

Steven

Sent from my iPhone

[2020-09-16 19:56] P0lip commented on #1343
Hey!
You can try using https://jsonpath.com/ and see whether it helps you generate the right JSON path expression.

BTW, could you please please use the [Stoplight Community Forum](https://community.stoplight.io) for your future support questions?
GH Issues is primarily for bugs & features, meaning the support is rather a bit limited here.

[2020-09-17 07:27] savage-alex commented on #1339
@P0lip
I have done some more testing this morning and I think this introduced a bug:
* If you create an example property but fail to give it a value, you get an error
![image](https://user-images.githubusercontent.com/25430683/93433756-261b8080-f8bf-11ea-82a4-425784b438e0.png)

Linting the same file with the baseline finds the value missing and reports the normal error from truthy.

[2020-09-17 13:51] P0lip commented on #1339
@savage-alex could you send me the rule definition?

[2020-09-17 14:07] savage-alex commented on #1339
Sure email or have you got slack or teams so can share there?
Can give you the API def too that way. Rather than filling up GitHub in the clear.

[2020-09-18 02:18] P0lip commented on #1339
@savage-alex
We have Stoplight Slack channel, but I'm also available on APIs You Won't Hate.
You can also send an email to jakub(at)stoplight.io.
Seems like email might be the easiest way?

[2020-09-18 08:20] hpatoio commented on #1186
I stumbled into this issue too. After reading here https://gitlab.com/gitlab-org/gitlab-runner/-/issues/2692#note_50147081 I was able to successfully use the official image with this yml

[code]

[2020-09-18 11:24] nulltoken commented on #1186
@hpatoio Awesome!

Would you feel like sharing this more widely and open a PR to update `/docs/getting-started/2-installation.md`?

[2020-09-18 14:31] dejvid-smth opened #1345 "String like 01234 is parsed as number in YAML - regression"
**Describe the bug**
When linting YAML OpenAPI 3.x schema string value that looks like number but starts with 0 is incorrectly considered to be a number. This produces linting error even though the document is correct.

**To Reproduce**

1. Given this OpenAPI document
[code]
2. Run this CLI command `spectral lint the_document.yml`
3. I get this error ``20:30    error  oas3-valid-schema-example  `e

[2020-09-18 17:30] dejvid-smth opened #1346 "Incorrect example validation with oneOf and discriminator"
**Describe the bug**
When example of object defined as oneOf with discriminator is validated the `discriminator.propertyName` is not used to validate the example against specific schema from the oneOf array.

**To Reproduce**

1. Given this OpenAPI/AsyncAPI document
[code]
2. Run this CLI command `spectral lint the_document.yml`
3. No error is produced even though the example response is not valid

[2020-09-18 18:42] fabioperrella opened #1347 "Bug related to additionalProperties and oneOf"
**Describe the bug**
A clear and concise description of what the bug is.

Spectral is showing the error `oas3-valid-oas-content-example` in a scenario that I didn't expect

**To Reproduce**

1. Given this yaml:
[code]

2. Run this CLI command

[code]
3. See error

[code]

**Expected behavior**

I'm pretty sure I specified the example correctly and it shouldn't return an error

**Environment (remov

[2020-09-19 15:29] nulltoken commented on #1345
@dejvid-smth :wave: As noted in the [doc](https://github.com/stoplightio/spectral/blob/4116a58296938c72704a5384c1cb9889afee9f5f/docs/guides/3-javascript.md#linting-a-yaml-string): _'Please note that by default Spectral supports YAML 1.2 with merge keys extension. As recommended by the spec, tags are resolved according to the "Core Schema."'_

According to [Core schema](https://yaml.org/spec/1.2/sp

[2020-09-21 12:17] P0lip commented on #1345
@nulltoken hmm, good question. I forgot we actually had such a statement, since it's indeed quite hidden.
I cannot think of any other spot, to be honest. @philsturgeon do you have any clue?

[2020-09-21 19:29] P0lip commented on #1345
@nulltoken perhaps a separate document about YAML would be a good choice here? We could dump more examples there.

[2020-09-21 19:45] #1186 closed

[2020-09-21 20:06] nulltoken commented on #1345
As YAML can be used both for rulesets and documents, that would be an amazing idea!

[2020-09-22 12:29] ederparaiso commented on #1335
@nulltoken, my apologies for taking so long to answer you.

Our use case is a little bit complex, but I'll try to explain the idea. We use spectral in a ci pipeline for pull request analysis. Due to some requirements, we lint only changed portions of document. The document that spectral lints contains an oas3 data and an extra field called "diff" which contains paths of changed oas document. Some

[2020-09-22 18:29] laat opened #1349 "oas3-valid-oas-content-example should support or ignore externalValue"
**Describe the bug**
oas3-valid-oas-content-example should support or ignore externalValue

**To Reproduce**
[code]

spectral lint this document gives this error:

[code]

**Expected behavior**

It should validate externalValue

**Environment (remove any that are not applicable):**
 - Library version: 5.5.0

[2020-09-23 13:50] tschaible opened #1350 "Allow numeric keys to be classified as errors"
**User story.**
As a user who needs OpenAPI YAML to be valid for other tools, I would like the incorrect usage of numeric keys to be identified as an error.

**Is your feature request related to a problem?**
In #955 it seems like the misuse of numeric keys in YAML was changed from an error to a warning.

I actually want it as an error, since numeric keys in YAML break other tools in my tool-chain.

[2020-09-23 14:24] P0lip commented on #1350
@tschaible
Hey! We're open for implementing it.
I cannot promise any date yet, but this is certainly worth considering.
I'd be more leaning towards implementing an extra property in the ruleset called `parserOptions` or similar.
What do you think?

[2020-09-23 14:47] tschaible commented on #1350
thanks @P0lip

`parserOptions` would definitely meet my needs as long as it lets me adjust the severity of the individual parser violations

[2020-09-23 19:39] nulltoken commented on #1350
@P0lip While we're at it. Couldn't we turn it back to raising an error (and leverage that `parserOptions` to tune it down)?

FWIW, https://github.com/OAI/OpenAPI-Specification/issues/2171 has been closed as "not an issue".

[2020-09-23 23:52] adanilev commented on #1292
Hi @vitaly-magyari, here's an example of a unit test that targets a single custom rule. I use jest. IIRC, the structure was ~~ripped off~~ inspired by tests in this repo:

[code]

[2020-09-24 01:52] adanilev opened #1352 "Error disabling an extended ruleset in an extended ruleset"
**Describe the bug**
When I structure my rules like so:

index.json
[code]

rules-one.json
[code]

...and then load them like so:
[code]

I get the following error:
[code]

This does not occur if:
* I don't disable the `spectral:oas` rules
* I extend and disable them in `index.json` instead of `rules-one.json`

I also tried to extend/disable the spectral rules in `index.json` and then enable speci

[2020-09-24 09:36] sergle opened #1353 "Nullable enum warning for null value in example section"
I receive warning when trying to use null value in example section for property with enum.

**To Reproduce**

1. Given this OpenAPI/AsyncAPI document:
[nullable_enum.yaml](https://github.com/stoplightio/spectral/files/5274847/nullable_enum.txt)

2. Run this CLI command:

3. See error

**Expected behavior**
No warnings produced

**Environment:**
 - Library version: 5.5.0
 - OS: Debian 9 (image node

[2020-09-24 10:25] P0lip commented on #1352
@adanilev
Hey!
Does `"extends": [["spectral:oas", "off"]]` work? This is the correct way of extending a ruleset with all rules disabled.

[2020-09-24 13:07] fgabolde commented on #935
I'd like to add a +1 on "convert anything that meets the fail-severity to an error in the case of JUnit". I was upgrading a CI linter job to report warnings and it was pretty surprising that the test started failing (the spectral process returns 1, after all) without any new failures in the report.

I understand JUnit is not a perfect fit for linter output since they typically have a severity that

[2020-09-25 01:56] adanilev commented on #1352
Hi @P0lip, ugh, I'm an idiot but there's still a problem.

No error is thrown but the rules are not getting disabled when I use `"extends": [["spectral:oas", "off"]]` in rules-one.json.

[2020-09-25 11:51] P0lip commented on #1352
Hey @adanilev.
It seems to work correctly for me.
I've got the following ruleset
[code]
Do you load such a ruleset directly or do you load something as follows?
[code]
where `foo.json` has exactly the same contents as `.spectral.json` above.

The latter example (ruleset extending foo.json) is indeed somewhat broken - it doesn't seem like we disable rules.
Is this what you are referring to?

[2020-09-27 16:44] #1339 closed

[2020-09-28 15:04] P0lip commented on #1325
@ioggstream I just wanted to let you know 5.6.0 is out with the support for YAML merge keys inside of rulesets.

[2020-09-28 15:21] philsturgeon commented on #1350
I think the decision made in https://github.com/stoplightio/spectral/issues/955 was the wrong one. It is invalid OpenAPI, and we consistently treat invalid OpenAPI as an error, not a warning.

The attempts to change OpenAPI itself (as @nulltoken linked to there https://github.com/OAI/OpenAPI-Specification/issues/2171) were rejected, so we're now doing the wrong thing. If that had gone through, we'

[2020-09-28 15:23] philsturgeon commented on #1353
Do you even need to have that null in there? Isn't that redundant?

[2020-09-28 15:52] sergle commented on #1353
Yes, it's redundant. But I'm trying to document existing API which is already used in such way.

[2020-09-28 16:40] philsturgeon commented on #1353
OpenAPI wouldn’t care unless... are you trying to have a literal null or a string which is a “null”? If the API is spitting out “null” then you cannot use nullable: true.

[2020-09-28 18:32] sergle commented on #1353
A literal null.

[2020-09-28 18:50] philsturgeon commented on #1353
Ok so when you’ve removed it from the OpenAPI description, how does Spectral behave? It’s one less thing for us to worry about and as it’s literally redundant it doesn’t need to be there. If it’s still broke we can look into it.

[2020-09-29 02:49] adanilev commented on #1352
@P0lip, yep, that's the issue I'm referring to.

[2020-09-29 08:03] jschaefer77 opened #1356 "Provide optional anchor property for single rule definition used by documentationUrl"
**User story.**
As a rule developer, I can define user friendly rule names and additional anchors, so that I can point to specific sections of my existing documentation.

**Is your feature request related to a problem?**
Our API style guide is stored in a CMS system, which does generate anchors, but not user friendly ones.
So we cannot use the documentationUrl feature, because we have to use curre

[2020-09-29 16:26] lehphyro opened #1357 "Falsy function doesn't seem to work"
**Describe the bug**
The falsy function doesn't seem to be working and I couldn't find built-in rules using it.

**To Reproduce**

1. Given this OpenAPI document:
[code]

2. And this linting rule:
[code]

3. See that spectral still allows a license attribute

**Expected behavior**
A validation message saying that license attribute is not allowed.

Forum link: https://community.stoplight.io/t/falsy

[2020-09-29 17:15] philsturgeon commented on #1289
Sorry, this doesn't seem like a use case thats common enough for us to try and figure out. If anyone in the future spots this and fancies sending a PR that would be amazing, but there's loads of other stuff on our plate. Best of luck!

[2020-09-29 17:15] #1289 closed

[2020-09-29 17:16] #1343 closed

[2020-09-29 17:21] philsturgeon commented on #1346
We don't support discriminator object, and your usage of it with oneOf is pretty wild. I don't think I've ever seen anything like that!

We've got an issue for tracking subpar error messages coming out of AJV where we try and catch specific use cases and turn them into something more useful, and the `0` property (first item in the array) is already in there, so follow #1072 for an update on when t

[2020-09-29 17:21] #1346 closed

[2020-09-29 17:23] P0lip commented on #1357
@lehphyro
Hey!
Just gave it a try on my end and it worked fine.
I can see the quotes you have are invalid, and perhaps this causes the issue.
[code]
Does the above work well for you?

[2020-09-29 17:25] philsturgeon commented on #1291
This will be solved by #1054 which handles circular references better. v6.0 is next up now that v5.6 has been released, so hopefully it'll come soon.

[2020-09-29 17:25] #1291 closed

[2020-09-29 17:28] P0lip commented on #1356
Hey!
Thanks for submitting the idea! I appreciate it.

If I understand correctly, each rule has a different URL (anchor in this case), right?

In such case, what about providing an ability to override `documentationUrl` for each rule, similarly to what we do with `formats`?

[2020-09-29 17:34] philsturgeon commented on #1129
If we find ourselves wanting to do this another time we can bring it back, but for now most of the motivations are being solved in another way.

[2020-09-29 17:34] #1129 closed

[2020-09-29 19:12] dejvid-smth commented on #1346
Does that mean that there is no plan to support `discriminator` even in the future ?

[2020-09-29 19:20] philsturgeon commented on #1346
It’s probably being deprecated so it’s not high on the priority list. There’s alternative ways of doing whatever you’re trying to do without using discriminator. https://github.com/OAI/OpenAPI-Specification/issues/2143

[2020-09-30 02:09] igas opened #1359 "Take x-nullable into consideration for oas2 valid examples"
**Describe the bug**

`oas2-valid-response-schema-example` does not consider `x-nullable`

**To Reproduce**

1. clone https://github.com/igas/examples-examples
2. `spectral lint oas2.yaml`
3. See error `63:24    error  oas2-valid-response-schema-example  `nickname` property type should be string`

**Expected behavior**
Because nickname has x-nullable I expect it not to raise error

**Additional co

[2020-09-30 07:11] sergle commented on #1353
When I remove result:null from example, output is:

When I remove null from enum values, output is:

When I remove both result:null and null from enum values, no problem found.

[2020-09-30 07:58] jschaefer77 commented on #1356
Hi @P0lip ,
yes I need at least a different Url for each rule.
With the current spectral version it is already possible to have a different URL for each rule. The documentationUrl will be used as baseUrl and the rule name will be added as anchor. Having a baseUrl is fine for me, but I would like to use another anchor instead of the rule name.

I think there are two possible ways:
1. Override the d

[2020-09-30 09:57] P0lip commented on #1292
Hey @vitaly-magyari
Was the example above sufficient? It's a nice example.
Feel free to re-open if you need further assistance.

Thanks for putting this together @adanilev!

[2020-09-30 09:57] #1292 closed

[2020-09-30 10:00] P0lip commented on #1335
Hey @ederparaiso.
You don't need to worry about it.
When we added that feature back in the day, `documentInvetory` didn't have any stable API, but now it's considered stable.
Feel free to use it.
I'll update the documentation at some point.

[2020-09-30 12:21] lehphyro commented on #1357
Ah yes, it worked with your sample rule. Sorry.

[2020-09-30 12:21] #1357 closed

[2020-09-30 15:59] P0lip commented on #1117
My apologies for dropping a ball on this one.
`--fail-on-unmatched-globs` sounds good.

[2020-09-30 16:03] P0lip commented on #1356
I'm okay with the first option, namely "Override the documentationUrl for each rule as you mentioned.".
I believe this gives the most flexibility.
Sounds good?

[2020-09-30 18:58] jschaefer77 commented on #1356
Hi @P0lip, yes that sounds really good. I agree, this will give the most flexibility,

[2020-10-01 09:11] P0lip commented on #849
This one should no longer be an issue. Will close.
oas2-schema rule covers it.

[code]

for

[code]

the error message looks tad weird, I'm aware, but it points at correct line, therefore it should be easy to figure out that the first item of an array is invalid and should be an object instead.

[2020-10-01 09:11] #849 closed

[2020-10-01 17:10] sultanarif-p opened #1373 "bug report"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

1. Given this OpenAPI/AsyncAPI document '...'
2. Run this CLI command '....'
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (remove any that are not applicable):*

[2020-10-01 21:02] #1345 closed

[2020-10-01 21:04] P0lip commented on #1373
Hey!
Could you please describe what the issue is?
There doesn't seem to be other information than the contents of our issue template.

[2020-10-02 10:15] dejvid-smth commented on #1346
I went through the discussion in the OpenAPI spec issue and it looks like it might be a while until discriminator is deprecated, if ever, because without it it is quite difficult to clearly express union types. It's unfortunate that you are not planning to support discriminator for schema validation. We use it for some schemas due to it's clear expression of intent and also because [redoc](https:/

[2020-10-02 19:03] #1373 closed

[2020-10-02 19:05] philsturgeon commented on #935
Okie doke, that can work. I'm not sure we actually had a fail severity at the time, so this might have saved us from this confusing situation.

[2020-10-04 22:18] slamdev opened #1374 "Spectral cli doesn't work in alpine docker image"
**Describe the bug**
spectral binary doesn't work in alpine docker image

**To Reproduce**

1. Install spectral via **install.sh** script
2. Run `spectral --help`
3. See error

**Expected behavior**
Help info is displayed.

**Additional context**
[code]

[2020-10-05 14:07] philsturgeon commented on #1346
Yeah I hear that, but there's all sorts of complications with potentially implementing this feature, as at its core most of the JSON Schema / OpenAPI Schema validation is done with AJV, and AJV does not support discriminator.

https://github.com/ajv-validator/ajv/issues/1119

We could put a bunch of time into supporting this feature, and requests do come up from time to time (3 times in 18 months

[2020-10-05 17:27] P0lip commented on #935
Hey @kylesykes @rhurling @fgabolde
We've introduced a fix over here #1375. Could any of you verify whether the implemented solution meets your expectations?

[2020-10-05 18:48] fgabolde commented on #935
Sure, will do first thing tomorrow.

[2020-10-05 18:53] rhurling commented on #935
The solution works for me and outputs warnings via JUnit as desired (when setting `--fail-severity=warn`)

[2020-10-06 08:08] fgabolde commented on #935
It works for me too.

Also thanks for the extra output in `--help`!

[2020-10-06 10:52] #935 closed

[2020-10-07 20:21] ederparaiso commented on #1335
Thank you @P0lip !

[2020-10-08 12:55] #1353 closed

[2020-10-08 15:30] #1117 closed

[2020-10-08 15:48] #1275 closed

[2020-10-08 15:48] #1335 closed

[2020-10-08 16:00] P0lip commented on #1122
Hey, is still an issue?

[2020-10-08 16:11] stevendoll commented on #1340
One of our engineers has made a wrapper that works in an AWS lambda. We'd love your feedback...

[2020-10-09 10:41] #1122 closed

[2020-10-09 14:38] #1356 closed

[2020-10-09 14:55] #1359 closed

[2020-10-11 21:30] igas commented on #1359
Thanks @P0lip!

[2020-10-12 08:18] jschaefer77 commented on #1356
hi @P0lip, thanks a lot for providing the new feature. Appreciate it very much. Do you know, when this will be available in Stoplight Studio Desktop?

[2020-10-14 08:34] exoszajzbuk opened #1380 "Multiple extends with enabled extra rules does not work"
When using multiple extends turning ON specific rules in the "base" ruleset does not work in the extended one, but turning rules OFF does.

**To Reproduce**

Have a `base.yaml` like this (where by default `tag-description` is turned off and `operation-operationId` is turned on)

[code]

and a `ruleset.yaml` like this:

[code]

with the following test OpenAPI document in `api.yaml`

[code]

When ru

[2020-10-15 01:54] rahmer opened #1381 "bump up ajv to >=6.12.3 to fix high CVE in dependency"
**Describe the bug**
Spectral depends on AJV and the current dependency version, 6.12.2 has a High vulnerability against it (Prototype Pollution). Any version >=6.12.3 has it fixed (current latest is 6.12.6 as of filing this report)

**To Reproduce**
1. Confirm CVE severity and impacted version at https://snyk.io/vuln/npm:ajv

**Expected behavior**
All dependencies should be at a version that have

[2020-10-15 13:40] philsturgeon commented on #1340
@stevendoll absolutely, please gimme a link or email phil@stoplight.io if you like.

[2020-10-19 11:17] P0lip commented on #1381
Resolved in https://github.com/stoplightio/spectral/commit/95fafbb1e0c1d17199e48111fc1e1e2c9464278a
The next release will contain the fix.

[2020-10-19 11:17] #1381 closed

[2020-10-21 16:11] #1350 closed

[2020-10-21 16:14] philsturgeon commented on #1315
I think this will be the way to go, as we're already planning to make resolvers more easily injectable for https://github.com/stoplightio/spectral/issues/1054.

[2020-10-21 16:24] philsturgeon commented on #1133
I'm gonna close this one out as it's got some rather confusing stuff in it, we need a smaller reproducable case.

    link:
      oneOf:
        - type: string
        - type: object
          properties:
            href:
              type: string
        - type: string

This cannot have two things, and the example _doesn't_ match any of them, so it'd be rather hard for anyone to do some work on

[2020-10-21 16:24] #1133 closed

[2020-10-29 08:05] iwb-rubentytgat opened #1384 "defined function is not registered in the core functions index"
**Describe the bug**
The `defined` function, while implemented and documented, does not appear to be registered as a core function.

**To Reproduce**

1. Given any ruleset referencing the core function `defined`
2. It will throw an error: `Function defined not found. Called by rule foo.`

**Expected behavior**
It should find the `defined` function.

**Additional context**
Origin of the issue is pr

[2020-11-01 15:28] P0lip commented on #1380
Isn't this issue similar (or perhaps a duplicate) to https://github.com/stoplightio/spectral/issues/1352?

[2020-11-01 15:56] dalisoft opened #1391 "[Bug]: Installation fails"
**Describe the bug**
`@stoplight/spectral` installation failed

**To Reproduce**

1. Create Node.js project
2. Install `@stoplight/spectral` via `npm i @stoplight/spectral`
3. See error

**Expected behavior**
Installation success message

**Screenshots**
No screenshots, just some logs

<details>
<summary>See log</summary>

[code]

</details>

**Environment (remove any that are not applicable):**

[2020-11-02 01:53] nhoughto opened #1392 "Release 5.7.0 doesn't have a `spectral-cli.exe` release artifact"
Seems like all the other releases have the windows variant except the latest `5.7.0`?

[2020-11-02 02:20] kimisme9386 opened #1393 "The latest tag version (v5.7.0) installation problem"
$ npm install -g @stoplight/spectral

[code]

[2020-11-02 06:42] marc-jangvs commented on #1393
I'm having the same problem when installing.

[2020-11-02 07:03] P0lip commented on #1393
Dupe of https://github.com/stoplightio/spectral/issues/1393.
Fixed in 5.7.1

[2020-11-02 07:03] #1393 closed

[2020-11-02 07:03] P0lip commented on #1391
Fixed in 5.7.1

[2020-11-02 07:03] #1391 closed

[2020-11-02 07:04] P0lip commented on #1384
Fixed in 5.7.1

[2020-11-02 07:11] P0lip commented on #1392
Hey, I'll upload it manually in a bit (~4hrs from now).

[2020-11-02 12:18] P0lip commented on #1392
Binaries uploaded
Please let me know if you have any other troubles.
Thank you!

[2020-11-02 12:18] #1392 closed

[2020-11-02 20:00] dalisoft commented on #1391
@P0lip Thanks for fast fix

[2020-11-03 22:23] exoszajzbuk commented on #1380
It is maybe connected, but definitely not a duplicate

[2020-11-06 18:39] #98 closed

[2020-11-06 20:06] #1384 closed

[2020-11-09 11:49] savage-alex opened #1400 "Missing validation of child parameter child properties"
Spectral VScode version 0.2.4 and spectral 5.6.0

Is not flagging an issue when a designer forgets to include a schema for a path parameter and enters type directly:

[code]

**To Reproduce**

Given the above OAS, lint the definition and no error will be raised

**Expected behaviour**
type is flagged as an invalid additional property

**Additional context**
SwaggerHub is now able to notice this bu

[2020-11-09 16:01] savage-alex opened #1402 "Linter is missing non existing enums in the default"
Spectral 5.6.0

Given the following schema property
[code]

Note that the validation on examples works great but no validation happens on default so I can leave it empty or put anything inside without spectral noticing.

[2020-11-10 20:08] devgig opened #1403 "Latest Spectral install of the CLI says it succeeded but it is not recognizing Spectral"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

1. Given this OpenAPI/AsyncAPI document '...'
2. Run this CLI command '....'
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (remove any that are not applicable):*

[2020-11-11 16:25] devgig commented on #1403
This was the first time I tried using yarn global add in Windows instead of Linux.  Issue resolved.
https://sung.codes/blog/2017/12/30/yarn-global-add-command-not-work-windows/

[2020-11-11 16:25] #1403 closed

[2020-11-12 13:28] savage-alex opened #1404 "Support the ignoring of specific rules from the OAS definition"
**User story.**
As an API Designer
I want to improve my legacy APIs overtime and not be told off for non compliance when I cannot change
So that any errors shown are useful and I am not overwhelmed

**Is your feature request related to a problem?**
There is not a way to disable specific rules from the API definition. The spectral file has to be changed.

**Describe the solution you'd like**
Zally

[2020-11-19 10:50] exoszajzbuk commented on #1380
any updates on this?

[2020-11-20 12:34] m-mohr opened #1406 "Regression in oas3-examples-value-or-externalValue: examples in examples is asked to be OpenAPI compliant"
**Describe the bug**

Examples properties in OpenAPI Examples are reported as invalid although they are the actual examples and contain no value or external value, of course. This seems to be a regression (or just something related) of my fix in #899.

**To Reproduce**

Validate https://raw.githubusercontent.com/Open-EO/openeo-api/draft/openapi.yaml

Response (reports for oas3-unused-components-sc

[2020-11-20 14:19] delanym opened #1407 "allow empty config"
If I create an empty .spectral.yaml file, I get this weird error
`Unexpected token u in JSON at position 0`

[2020-11-24 08:31] delanym opened #1410 "improve custom ruleset documentation"
The documentation is by example, but there's a lot of funky syntax going on that could be explained up front.

My use case is that I'm trying to create a rule where component schemas ending in "Request" or "Response" must have a property "x-message-type" with pattern [0-9]{4}

Its not clear to me how the selector works and how regex fits into that.

Also the subject of ruleset groups (Recommended

[2020-11-24 08:47] delanym commented on #1410
I see the selector is jsonpath plus

[2020-11-30 13:26] P0lip commented on #1407
Would you expect an error to be thrown? We can possibly do that, since the error you mention is indeed not particularly user friendly.

[2020-11-30 13:29] delanym commented on #1407
Maybe a warning saying the file is empty

[2020-12-08 16:00] wjwilkie opened #1416 "path-params rule incorrectly flags parameter override definitions as duplicate"
**Describe the bug**
According to the OpenAPI Specification regarding Operation Parameters:
"A list of parameters that are applicable for this operation. If a parameter is already defined at the Path Item, the new definition will override it but can never remove it. The list MUST NOT include duplicated parameters."

However the "path-params" rule incorrectly identifies the scenario where the param

[2020-12-09 13:59] P0lip commented on #1416
Hey!
Thanks a whole lot for a detailed report and the provided test case.
I agree it's an issue on our side and will fix it.

[2020-12-09 15:01] #1407 closed

[2020-12-09 15:05] P0lip commented on #1404
Hey.
My apologies for a delay response.
Spectral supports [exceptions](https://github.com/stoplightio/spectral/blob/develop/docs/guides/6-exceptions.md).
I believe this might be something you are looking for.
LMK if that meets your expectation!

[2020-12-09 15:14] savage-alex commented on #1404
Hi @P0lip, no need to apologies at all! This is a good start for sure! In the future had you thought about allowing the API definition to be annotated directly so that teams can still use the master record but annotate any rules they wish to disable either on the whole API or on a given path / operation. For now lets close this one!

[2020-12-09 15:14] #1404 closed

[2020-12-09 18:20] P0lip commented on #1404
Yeah, that's certainly not a bad idea!

[2020-12-10 14:48] jcolaco-nmz commented on #1002
@nulltoken This feature is very useful for legacy documentation exceptions. We have large existing documentation and adding JSON pointer for response linting error exceptions creates a huge exception file. It would be easier to add the whole file to ignore a given rule.

[2020-12-10 17:30] drmmr763 commented on #1374
I'm also having this issue

[2020-12-11 03:13] corroded commented on #1359
@P0lip Curious why this was reverted in master? https://github.com/stoplightio/spectral/commit/621c02505e1178a4aef7817c138ac45e7a88287d

[2020-12-11 13:36] P0lip commented on #1359
@corroded Hey. I had to revert it since patch-package didn't work too well with npm installations of Spectral.
Binaries worked just fine. I'll revisit it soon - I'm hoping to get it out in one of the next releases.

[2020-12-13 21:36] ralphpina commented on #1145
Which is there issue? 🙂

[2020-12-15 19:45] hilary commented on #535
Any action on this bug? Btw, I think it has to be marked as a bug, because Spectral advertises itself as an OAS linter with built-in OAS v3 rules. It's reasonable of the reader to believe that OAS v3 validation is part of that linting! By resolving `$ref`s in places where it can't be used, Spectral is validating invalid specs. That's a bug. I came here today explicitly to report this bug...

I hav

[2020-12-15 20:35] philsturgeon commented on #535
Spectral is a free, open-source project, and you’ve very welcome to send pull requests if you need this done quickly. I’ll be happy to provide some pointers if you need it but the docs should be a good start on working with rules.

[2020-12-23 14:09] mkistler commented on #1352
I ran into this same problem in the last few days and I think I understand what's going on here.

I think that the way "extends" works -- it enables or disables rules in the "parent" ruleset based on the second value in the array -- "on", "off", or "recommended" -- _not_ whether the rule is actually enabled in the parent ruleset.  So for this case:

foo.yaml
[code]

All rules are off except `opera

[2020-12-23 16:27] mkistler commented on #1352
Based on the above, I thought I saw a path to working-around this issue -- just set all the `spectral:oas` rules that I wanted disabled to "recommended: no".  Unfortunately, you can't just modify "recommended" when redefining a rule -- you have to repeat the entire rule.  Ugh.

So I would like to propose a change to the way extends works.  The most straightforward change would be to change the way

[2020-12-23 17:13] #1416 closed

[2020-12-24 14:32] mkistler commented on #1352
Well ... curiously ... things work a bit differently if you _don't_ disable all the rules with `extends: [[spectral:oas, off]]` and instead disable each one individually.  With that approach, you can extend the ruleset without disabled (but "recommended") rules becoming enabled again.

So it does seem like there is an inconsistency here.  If `extends: [[spectral:oas, off]]` could be made to work l

[2020-12-29 18:32] P0lip commented on #1406
Hey!
My sincere apologies for dropping a ball on this one.
It turned out the issue was caused by JSON path expression used by that rule.
The expression was tad too broad and matched too many spots in the document.
I tweaked it - the PR is over here  https://github.com/stoplightio/spectral/pull/1428.
Feel free to take a look at it if you wish.

[2020-12-29 19:22] P0lip commented on #1402
Hey!
I'm on it. I'm not sure yet whether a new rule will be introduced for this one or not, but regardless of the choice, Spectral will be able to validate some of the patterns you mentioned.

[2020-12-29 19:22] #1406 closed

[2020-12-29 23:26] P0lip commented on #1402
The PR is up.

[2020-12-30 01:11] P0lip commented on #1400
Hey!
I'm sorry for keeping you waiting. Happy to inform that the PR addressing the issue has just been opened.

[2020-12-30 15:40] emilioSp opened #1431 "Warnings critical dependency with webpack"
**Describe the bug**
Not sure if it could be classified as bug, but during the build phase, webpack throws out some warnings like these
[code]

**To Reproduce**
[code]

then you should see 6 warnings in the console.

**Expected behavior**
No warnings.

**Environment (remove any that are not applicable):**
 - Library version: 5.7.2
 - OS: MacOS Big Sur

[2020-12-30 15:47] P0lip commented on #1431
Hey!
We use Webpack internally as well and therefore have the same warning printed out.
It should be totally harmless, though.
Do you experience any issue or is it just the warning that seems worrying?

[2020-12-30 15:49] emilioSp commented on #1431
Hi!
It's only a warning. No real issue at the moment.

[2020-12-30 15:53] ioggstream opened #1432 "Support json-schema under https"
**I expect**

Schemas to be downloaded under HTTPS

**To Reproduce**

1. `grep -r 'https://json-schema.org' .`

**Expected behavior**

Occurrencies of json-schema.org with HTTPS

**Instead**

- Empty result.

**Environment (remove any that are not applicable):**
 - Library version: 5.7.2

**Additional context**

webpackaging spectral, I get an error when downloading the insecure ref.

It would be

[2020-12-30 15:57] P0lip commented on #1272
Hey!
@philsturgeon, I have a feeling this one might have been fixed by the fix provided for https://github.com/stoplightio/spectral/issues/1416.
Linting the file you provided yields
[code]
which meets the expectations.

Do note that in order to validate the above change you need to checkout the latest develop branch, run `yarn build.binary` and then execute `./binaries/spectral lint <document>`.
L

[2020-12-30 16:12] P0lip commented on #927
Hello!
I believe this issue has been already fixed.
As, Matthias mentioned, the first example is invalid, yet the second is in fact perfectly correct and Spectral won't report any errors for such usage anymore.

If you still face the issue, please do not hesitate to re-open the ticket.

[2020-12-30 16:12] #927 closed

[2020-12-30 22:11] #1402 closed

[2020-12-31 09:40] philsturgeon commented on #1272
Thank you!

[2020-12-31 09:40] #1272 closed

[2020-12-31 10:29] philsturgeon commented on #1432
I am not understanding the reproduction steps here. You've just got `1. grep 'https://json-schema.org'` which is not enough to reproduce anything.

Can you help me understand what the problem is, what the expectations are, what the actual result is?

[2020-12-31 10:30] philsturgeon commented on #1303
@P0lip can you see if your error swallowing changes are going to fix this one too? It seems like it might.

[2020-12-31 10:32] philsturgeon commented on #1037
@P0lip I think this is also related to https://github.com/stoplightio/spectral/pull/1430.

[2020-12-31 11:12] ioggstream commented on #1432
Hi @philsturgeon,thanks for replying!

We are using spectral in this online validator https://deploy-preview-98--api-validator.netlify.app/ which is a showcase for the Italian API Ruleset, and we get the following error. Ruleset  is here https://github.com/italia/api-oas-checker/blob/gh-pages/spectral.yml

![image](https://user-images.githubusercontent.com/1140844/103407910-998c8980-4b60-11eb-8ee6

[2020-12-31 11:17] philsturgeon commented on #1432
I think we could just update all the URLs to be `https://` which the OAS folks should do too. I'll take that up with them, but I think we can proceed regardless.

https://github.com/stoplightio/spectral/search?q=%22http%3A%2F%2Fjson-schema%22

[2020-12-31 11:24] ioggstream commented on #1432
Seems reasonable, though I don't know whether in jsonschema, `http://` is supposed to be an URI or an URL...

In my local  `dist` I found something resembling an URI-to-URL mapping, but dunno if it is related.

[code]

OT: if you are interested in the ruleset, drop a line ;)

[2020-12-31 11:29] philsturgeon commented on #1432
Either https or http can be used so we might as well use https. 

[2021-01-04 12:17] P0lip commented on #1380
Hey @exoszajzbuk. No update yet. I can only confirm that the issue you raised is indeed valid and we're hoping to address the issue.

[2021-01-05 11:13] singhtejpal11 opened #1455 "[Proposal] Refactor schema to accept both required and x-example parameter in all -in (header, query param, uri param etc) parameter"
This refactor will help us to allow below schema:
	- name: customerId
          in: query
          description: customer id
          required: false
          type: number
          x-example: 10

As of now when we try with both, we are getting below exception:
Error: schema is invalid: data/required should be array
    at Ajv.validateSchema (/*/node_modules/ajv/lib/ajv.js:178:16)
    at Ajv._ad

[2021-01-05 11:13] singhtejpal11 opened #1456 "Spectral not handling keys containing @"
This refactor will help us to allow below schema:
'@customerLocation':
 type: string
 example: "https://google.com"
 format: uri
 description: A URI to a JSON-Schema file that defines additional attributes and relationships

 As of now, we are getting below exception with this-
 TypeError: Unknown value type customerTy
    at JSONPath._trace (/*/node_modules/jsonpath-plus/dist/index-umd.js:766:17)

[2021-01-06 00:05] P0lip commented on #1432
Judging by the stack trace, the issue seems to be originating from json-ref-resolver.
We try to resolve all $refs within a given ruleset, and since OpenAPI 2 schema we use inside of OAS2 ruleset has plenty of $refs pointing at `http://json-schema.org/draft-04/schema`, this is likely to be the culprit.

![image](https://user-images.githubusercontent.com/9273484/103712804-0a95cc00-4fbb-11eb-945f-ed0

[2021-01-06 14:35] m-mohr commented on #1406
Works for me.

[2021-01-06 15:10] philsturgeon commented on #1432
If this will go away with #1054 it sounds like another vote for getting that change done?

[2021-01-06 15:45] rossmcdonald opened #1457 "Create rule for flagging query parameters in paths as invalid"
While not technically in violation of the OpenAPI specification, including a query parameter in a path should be flagged as an error in Spectral:

For example, the following when defined as a path in an OAI specification should be flagged as an error:

[code]

[2021-01-07 16:50] #1400 closed

[2021-01-08 00:53] P0lip commented on #1431
Hey @emilioSp. I opened a PR fixing the issue.

[2021-01-08 01:13] P0lip commented on #1455
Yeah, it's a bug. Valid JSON Schema demands `required` to be an array, while we deal with `boolean` on this particular occasion.

[2021-01-08 09:29] singhtejpal11 commented on #1455
Thanks for the update. Could you please confirm ,what will be the next step for this? Is it going to be fixed in new release or its already planed?

[2021-01-08 10:31] emilioSp commented on #1431
Hey @P0lip thanks a lot!

[2021-01-08 11:49] P0lip commented on #1455
It's going to be fixed, but unfortunately I cannot promise any specific date of delivery at this point.
That said, it's certainly something that'll be included in one of the next releases.
I'll keep you updated.

[2021-01-08 15:08] philsturgeon commented on #1410
@delanym It seems like you've discovered the selector is JSON Path Plus. I'll mention that in the [Given documentation](https://meta.stoplight.io/docs/spectral/docs/guides/4-custom-rulesets.md#given).

@P0lip could you help me out with some words about `What is this double bracket syntax? [[spectral:oas, all]]`? I'll take a swing at documenting recommended vs not.

[2021-01-09 02:29] denver-HJS opened #1466 "Remote HTTP references requiring authentication are reported as errors"
**User story.**
As a Developer, I can provide my Stoplight credentials, so that I can lint my OAS spec that contains remote HTTP references guarded by Stoplight's (or any host's) access controls.

**Is your feature request related to a problem?**
I get linting errors when running spectral against a specification that's not located in Stoplight but contains remote references to Stoplight Next proje

[2021-01-11 10:48] P0lip commented on #1466
Hey, it's possible to pass a custom $ref resolver, via `--resolver` CLI flag.

[code]

where `my-resolver.js` could look as follows

[code]

[2021-01-11 10:53] P0lip commented on #1410
That double bracket syntax is just JSON-ish notation for nested arrays

[code]
is equal to
[code]
and
[code]

[2021-01-11 17:13] denver-HJS commented on #1466
Awesome, thanks for the tip and examples @P0lip! I will try this out in my project.

[2021-01-12 12:02] philsturgeon commented on #1410
Ok I've made a PR for recommended vs all and I'm leaving it there.

[2021-01-12 12:45] TarekMansour opened #1469 "Question: Using Spectral API, how to use URL instead of OpenApi document and how to define the output format?"
I want to use [Spectral Javascript API](https://meta.stoplight.io/docs/spectral/docs/guides/3-javascript.md), and I want to ask on how:
- to use `URL` instead of `OpenApiDocument`, for example to do this `spectral.run(myURL).then(console.log);`
- to define the **output format** like we can do with **Spectral CLI** ( `--format html` ).

Thank you!

[2021-01-12 17:06] #1431 closed

[2021-01-12 17:15] miqui opened #1471 "ignore - failure status code"
**Describe the bug**
Not a defect, but a question: how do I avoid and or how to override the 1 status code (even if the yaml/json content can generate an error) ?

I want to run spectral without of failing the job (at least for now while i debug/tune my ruleset)

..thank..

[2021-01-12 23:24] P0lip commented on #1466
Awesome, let me know how it goes and if it worked out in the end!

[2021-01-12 23:26] P0lip commented on #1471
Hey!
You can try to pass [`---fail-severity`](https://github.com/stoplightio/spectral/blob/develop/docs/guides/2-cli.md) with a different value or use [exceptions](https://github.com/stoplightio/spectral/blob/develop/docs/guides/6-exceptions.md).
LMK if that helped.
I'll close the issue in the meantime.
Feel free to reopen if more help is needed.

[2021-01-12 23:26] #1471 closed

[2021-01-12 23:39] P0lip commented on #1469
Hey!
I moved the question over to https://github.com/stoplightio/spectral/discussions/1475 and provided an answer there as well!
Please let me know if that was what you were looking for.
Happy to help further if needed.
I'll close the issue for now. Let's discuss any potential caveats in the thread I linked above. Thanks!

[2021-01-12 23:39] #1469 closed

[2021-01-13 09:18] zippolyte opened #1476 "Successful exit code despite exception raised in custom function"
**Describe the bug**
Using a custom function, when there is an error in it and it raises an exception, the rule that uses it does not fail. It does print a message in stderr, but the exit code is still 0, which prevent detecting the failure when running in a CI for instance.

**To Reproduce**

1. Create a custom function that simply raises an exception
1. Use it in a rule in `spectral.yaml`
1. Run

[2021-01-13 09:35] zippolyte commented on #1476
I pushed a very minimal PR to provide a tentative fix #1477.
Let me know if it's something that is desired or not.

[2021-01-13 20:01] #1410 closed

[2021-01-14 09:52] Amachua opened #1478 "Report duplicated values in enum"
**User story.**
As an API Designer, when I define an enumeration with duplicated value, then I want that a warning is raised.

**Describe the solution you'd like**
When I use the following `dummy.yml` file
[code]

And I run the command line
[code]
Then I want to have an issue that is raised as the entry `dummy` appears too times in the `some_header` parameter.

**Rule proposition**

I've already p

[2021-01-14 15:29] #1352 closed

[2021-01-14 15:29] #1380 closed

[2021-01-14 22:14] P0lip commented on #1466
I'll close this one for now.
Do let me know if you succeeded and if any further assistance is needed - more than happy to help.
Thanks and have a good one!

[2021-01-14 22:14] #1466 closed

[2021-01-15 10:30] fgabolde opened #1479 "No Docker image tagged for 5.7.x, 5.8.x"
Although there are Docker images tagged with 5.4, 5.5, 5.6, there are none for the later releases.

There is an image tagged `5` but it is unclear what version that would be. This is problematic for a CI environment, which relies on stable images that don't change automatically.

[2021-01-17 22:33] Iry-Horus opened #1480 "Linting symlinked .yaml files?"
Hey guys,

Using Spectral to implement linting on a client project, but we have an automation testing framework in the same repo as the core app framework. Some of the OpenAPI definitions (.yaml files) are in the core app but symlinked in the automation testing framework. As such, when I lint against the folder with all the .yaml files in it inside of the automation testing framework Spectral thro

[2021-01-18 11:52] redshoga opened #1481 "Turn off stack trace log caused by Ajv."
**User story.**
As a API Designer, I want to turn off the display of the stack trace output by Ajv so that I can concentrate only on the log output by spectral.

**Is your feature request related to a problem?**
Spectral will output a large number of ajv errors if you use it on a huge OAS file.
Developers want to see a clean log based on the rules output by spectral.

Example

[code]

**Describe t

[2021-01-18 14:44] GillesTourreau opened #1482 ""`value` property should match exactly one schema in oneOf" message with right example"
I have the following YAML example which I edit on the Stoplight Studio (Windows version)

[code]

Two errors are displayed at the line 19 and 23 which explain that the examples are invalid and does not match the `Dog` or `Cat` schemas.
Can you confirm that it is a bug of the Stoplight studio validator ?

[2021-01-18 14:44] philsturgeon commented on #1482
I've moved this over to the spectral repository, which is the validator powering this functionality in Studio.

[2021-01-18 17:05] vlauciani opened #1483 "Docker - "spectral lint --version" doesn't work"
Checking the version on Docker image, the output is always `0.0.0`:
[code]

[2021-01-20 16:17] P0lip commented on #1478
Hey @Amachua
My apologies for the silence on the radio.
Yes, go ahead, please.
It's a neat rule. I like it.
We _might_ need to tweak the `given` path a bit, to make sure we actually lint a portion of JSON Schema.

[2021-01-26 15:36] Amachua commented on #1478
I've started to work on this point, I hope I'll be able to open a Pull Request soon in your repository!

While working on this, what tweak do you think we'll need on the `given`?

[2021-01-27 22:14] apiglue opened #1488 "make documentationUrl available as part of Javascript API linting result"
**Chore summary**
When using a custom ruleset which utilizes a different documentUrl per rule, the **Javascript API**  and the *CLI* linting results should include the respective rule documentUrl.

**Tasks**
- [ ] Make documentUrl available as part of a linting results for

.i.e for Javascript API:

            {
                "code": "operation-description",
                "message": "Operatio

[2021-01-28 10:32] redshoga commented on #1481
After thinking it over calmly, the following code solved the problem.

[code]

[2021-01-28 10:32] #1481 closed

[2021-01-28 20:26] wedi opened #1489 "Error on adding tags to the root tags property"
**Describe the bug**

I get an error message when I add a global tag (or multiple) to an OpenAPI definition in Spotlight Studio.

This es esspecially annoying as you get a warning if you don't add tags.

**To Reproduce**

Create an API in Spotlight Studio and paste this minimal example:

[code]
Issues error: `` `0` property type should be object``

When you remove the tag(s), the problem report st

[2021-02-01 17:13] appfrabric opened #1499 "Package immer@5.3.6 Have security vulnerability"
The latest version of spectral had dependency on @stoplight/json-ref-resolver@3.1.0 which depend on immer@5.3.6.
But immer 5.3.6 is vulnerable to Prototype Pollution.

see https://snyk.io/vuln/SNYK-JAVA-ORGWEBJARSNPM-1061986

The vulnerability was resolved for immer@8.0.1.

spectral dependencies need to be upgraded

[2021-02-02 11:19] P0lip commented on #1499
I don't think this actually affects us, at least it doesn't appear so assuming the vulnerability is exposed only via those patching functions.
We don't utilize `applyPatches` in `@stoplight/json-ref-resolver`, and it seems like this is the only way to actually pollute the prototype chain, but I haven't verified the code paths.
Have you actually tried to exploit that vulnerability?

[2021-02-02 13:57] appfrabric commented on #1499
The vulnerability had beed fixed in immer@8.0.1, Hence, the best outcome for everybody would be for you to upgrade @stoplight/json-ref-resolver to use immer@8.0.1;

In fact, anyone using your library will inherit your version of immer, exposing himself to the vulnerability above.

Furthermore, your version of immer does not have  immer@8.0.1 as a compatible version making it impossible for your li

[2021-02-03 10:18] SensibleWood opened #1500 "Camel case function does not accommodate uppercase single letter words at the end of a property name"
**Describe the bug**

When using the built-in function `casing` with the argument `camel` Spectral raises an error when it encounters a single, uppercase word at the end of the camel-cased string. For example:

* coordinateX
* scaleY

**To Reproduce**

Using the following OpenAPI document:

[code]

And the following ruleset:

[code]

Executing Spectral gives the following output:

[code]

I think

[2021-02-03 14:35] #1478 closed

[2021-02-10 13:24] DavidBiesack opened #1501 "False negative oas3-schema warning when using `simple` parameter style"
**Describe the bug**

spectral emits an `oas3-schema` warning for an OpenAPI 3.0.0 doc that uses `style: simple` parmater

**To Reproduce**

1. Given this OpenAPI/AsyncAPI document named `style.yaml` :

[code]

2. Run this CLI command:

[code]

3. See error

[code]

**Expected behavior**
No warning for valid use of the [parameter `style: simple`](https://github.com/OAI/OpenAPI-Specification/blob/m

[2021-02-10 13:33] DavidBiesack commented on #1501
Upon further inspection, `simple` is not allowed for `query` parameters, only `path` and `header`. Not a bug. Closing issue

[2021-02-10 13:33] #1501 closed

[2021-02-10 18:20] toby-murray-snow-software commented on #1499
Seconding this - any vulnerabilities in any dependencies automatically raise questions and kick off a "process" for various meanings of the process at different companies/projects/users. As it stands, I imagine every consumer of this project who uses Dependabot in GitHub will receive a "high severity" alert.

Speaking only from my experience, for "high severity" issues the onus is on us (the consu

[2021-02-10 22:20] #1499 closed

[2021-02-11 11:10] tsimbalar commented on #1499
Thanks for the new release with addressed vulnerabilities ! 👍

[2021-02-14 07:55] deka opened #1504 "Compare two Open API specifications"
**User story.**
As a product owner, I  have to make sure that the new minor version deployed is backward compatible with the existing version.

**Describe the solution you'd like**
A command to check difference between two specifications with warning an error.
Warning example : new param in query request
Error example : endpoint removed

**Additional context**
I use semver. When new specification

[2021-02-15 13:18] #1500 closed

[2021-02-15 13:52] philsturgeon commented on #1504
Have you seen https://github.com/Azure/openapi-diff? Might be closer to what you want, as currently Spectral only understands the current instance of the file, it has no way to compare multiple versions of a file.

[2021-02-15 14:26] P0lip commented on #1489
This seems like a Studio problem.
We seem to have a similar report here https://github.com/stoplightio/studio/issues/347

[2021-02-17 16:05] philsturgeon commented on #1302
OpenAPI v3.1 will be rather tricky for Spectral to implement for a few reasons:

1. We use a meta-schema based validation approach and the OAS3.1 metaschema is not complete (https://github.com/OAI/OpenAPI-Specification/pull/2016)
2. We rely on AJV v6 for this validation. The WIP OAS v3.1 meta-schema is based on JSON Schema 2019-09, which was added in AJV v7, but AKV v7 dropped support Draft 04 whi

[2021-02-18 02:18] zmes50416 commented on #1274
I encountered this issue today and found this.
I know this feature(read/write-only) will be removed in OpenAPI v3.1.0. May I ask Is there a plan for fixing it?

[2021-02-18 06:46] singhtejpal11 commented on #1455
If I put x-example inside schema, it is working fine with both required and x-example parameter. Like below:
- name: customerId
  in: query
  description: customer id
  required: false
  type: number
  schema:
    x-example: 10

Also If I put type parameter inside schema and don't make any changes with required and x-example parameter, it is still working. Like below:
- name: customerId
  in: quer

[2021-02-18 22:51] exoszajzbuk opened #1507 "Releasing merged features?"
**Chore summary**
There are several new features/fixes on the `develop` branch which didn't get into 5.8.1 which was released in the meantime. For example these commints:
* https://github.com/stoplightio/spectral/commit/0a8e0a6cbd53018d84352f749ba6ee2b71320498
* https://github.com/stoplightio/spectral/commit/3a5905583ae09f904c66c807e6f175cb9ce6ab04
* https://github.com/stoplightio/spectral/commit/

[2021-02-19 10:37] P0lip commented on #1507
Hey, we'll certainly make a release soon, and both 0a8e0a6 and e8c1846c5ea81402d7e79bd4f9e741b95eb46bfb will be a part of it.
3a59055, however, is scheduled for 6.0.

[2021-02-19 10:38] P0lip commented on #1489
stoplightio/studio#347 is going to be fixed soon, so I'm going to close this one out.

[2021-02-19 10:38] #1489 closed

[2021-02-19 15:37] samcrutt9900 commented on #1324
I am experiencing the same issue behind a corporate proxy. Interestingly I checked the code out and attempted to build it. I get a similar issue during the build process where it appears to be attempting to resolve `http://json-schema.org/draft-04/schema`. The error is:
[code]

[2021-02-19 23:54] DenialAdams commented on #1374
Hi, I ran into this issue this afternoon and investigated it a bit.

Alpine is a very lightweight linux distribution (as it's intended for use in Docker), and one of the ways that they achieve their lightweight status is by shipping with `musl` libc instead of the more ubiquitous `glibc`. However, the spectral-cli binary depends on glibc in order to run. You can see this by looking at the dynamic

[2021-02-20 21:04] marcoemidio commented on #1002
Hi again @nulltoken,

I managed to use the `except` functionality but only when I give full JSON pointer path but not for sub paths. In the second sample you provided, this is possible:

My example:

I can't ignore `no-$ref-siblings` in sub paths, like your example.
Am I missing something? I'm using latest version, 5.8.1.

Thank you for your help and keep it up!

[2021-02-23 09:52] stanleynguyen opened #1515 "Missing `source` in result object"
**Describe the bug**
I'm not able to see an error in the list of issues. After a bit of debugging, I found that [this function](https://github.com/stoplightio/spectral/blob/08012e2c6f200b3decd005374bb5a66c800dfc90/src/cli/formatters/stylish.ts#L59) is leaving that error out due to missing source

![Screenshot 2021-02-23 at 17 46 37](https://user-images.githubusercontent.com/12974927/108826557-649c

[2021-02-24 11:42] PawelKolat commented on #1324
We are behind the proxy as well also having the same issue. After around 90 seconds delay Lint continues.

[2021-02-24 14:45] Amachua opened #1516 "Find orphaned required properties"
**User story.**
As an API Designer, in order to ensure that my specification is properly defined, then I want to have a rule that check if a required property exists in the object.

**Is your feature request related to a problem?**
While we're in the specification process, we often change the name of different properties and we often forget to also update the require constrainst which lead to a sp

[2021-02-24 22:32] hilary commented on #1302
Out of curiosity @philsturgeon , you say that the OAS v3.1 meta-schema is based on JSON Schema 2019-09, but the v3.1 spec says that the schema object is a [superset of JSON Schema (Draft) 2020-12](https://spec.openapis.org/oas/v3.1.0#schema-object). What am I missing?

[2021-02-25 08:13] philsturgeon commented on #1302
Yep that’s correct. 2020-12 was just released and nothing supports it yet so aiming for 2019-09 gets us where we need to be.

[2021-02-25 09:14] P0lip commented on #1324
Yup, I can confirm the issue.
I already pushed the fix onto `fix/ruleset-proxy`, however prior to opening a PR, I'll add a few tests making sure everything's in tact.

[2021-02-25 10:12] henrikrudstrom opened #1517 "Error location is wrong when the error is in a $ref inside an arrays .items property"
**Describe the bug**
The error output gives wrong (or not complete location) of the error when using a $ref to a jsonschema document in an `array`s `items` property.

**To Reproduce**

Given a yaml spec that references a json-schema (that contains an error: the `additionalProperties` is inside `properties`)

test.yaml:
[code]
test-schema.json
[code]

running `spectral lint test.yaml`
i get this ou

[2021-02-25 21:49] P0lip commented on #1432
@ioggstream I put a PR that instruments ruleset $ref resolver to avoid reading these $refs entirely.
That shouldn't be needed at all, since AJV already has these schemas loaded, thus it should be able to resolve it on its own.

[2021-02-25 23:07] ioggstream commented on #1432
@P0lip great! cc: @emiliosp could you please PTAL

[2021-02-26 09:02] #1324 closed

[2021-02-26 12:06] P0lip commented on #1515
Hey!
Could you provide a rule definition you use?

[2021-02-26 16:32] emilioSp commented on #1432
It sounds great! Thanks!

[2021-02-26 22:23] P0lip commented on #1480
Hey!
Did you try providing a custom resolver?
Here's how https://github.com/stoplightio/spectral/blob/e6ba6a88932f7161313018fbfdaffa6185ea15cb/docs/guides/3-javascript.md#using-a-custom-resolver
You could tweak the logic to support symlinks.

If you are a CLI user, you can provide the instance via `--resolver` flag

[code]
Do note, however, that the above will override the existing resolver, meani

[2021-02-26 22:25] dshiledarc1 opened #1520 "Update yargs package version for security compliance"
**Chore summary**
What is the goal of this chore.
Update yargs package version to 16.2.0  from 15.4.1 for security compliance
**Tasks**
- [ ] Need to do this
- [ ] And do that

**Additional context**
Add any other context about the chore here.

[2021-02-26 22:29] P0lip commented on #1520
Hey!
What's the security issue the new version addresses?

[2021-02-26 22:33] P0lip commented on #1073
I think we can consider this closed thanks to https://github.com/stoplightio/spectral/pull/1440

[2021-02-26 22:33] #1073 closed

[2021-02-26 22:36] P0lip commented on #1432
I'm going to close it then.
This shouldn't be an issue anymore since we won't even attempt to load that resource.
However, if you still face some issues once you try out a new (minor/patch) version (that's on its way!), let me know here.
Thanks!

[2021-02-26 22:36] #1432 closed

[2021-02-26 23:21] dshiledarc1 commented on #1520
The 15.4.1 version of yargs uses y18n@4.0.0, which flagged for having https://nvd.nist.gov/vuln/detail/CVE-2020-7774 issue, the yargs 16.2.0 uses y18n@5.0.5 there by addressing the issue.

[2021-02-27 03:15] stanleynguyen commented on #1515
Hey @P0lip the rule definite is as below:
[code]

[2021-03-01 21:54] dshiledarc1 commented on #1520
@P0lip Created a pull request - https://github.com/stoplightio/spectral/pull/1529 please review and suggest a path to have new version of spectral published that addresses the flagged issue.

[2021-03-01 23:47] dshiledarc1 commented on #1520
@MikeRalphson @memelet @philsturgeon Can you suggest how to proceed with the PR process. Thanks.

[2021-03-02 13:29] mkistler commented on #1507
@P0lip I think 3a59055 can be reworked to be backward compatible, and I am willing to do that if you will put that into the next release.

We are also waiting on baf3883.  Is that scheduled for the next release?

[2021-03-02 21:51] #1515 closed

[2021-03-03 07:11] stanleynguyen commented on #1515
Thanks @P0lip

[2021-03-03 11:11] P0lip commented on #1507
@mkistler Hey! baf3883 is to be included in the next release.
If time allows, 5.9 will be out this week.

3a59055, however, is scheduled for the next major release, and therefore is not planned to be a part of the next version.
Would a custom ruleset be a solution for you until we get the major version out?

Side note - one of the changes I'd love to get done soon is converting Spectral to monorep

[2021-03-03 11:16] thim81 opened #1538 "Option to sort the OpenAPI properties"
**User story.**
As a OpenAPI editor, I can sort my OpenAPI properties, so that I can easier maintain my OpenAPI spec in a more consistent manner.

**Is your feature request related to a problem?**
The OpenAPI blocks can become very inconsistent if a great number of people contribute towards the spec.
YAML is a very open format, so the order is less relevant when you enter new properties.

**Descri

[2021-03-03 18:08] mkistler commented on #1507
@P0lip regarding 3a59055, we already have a custom rule. We are trying to eliminate our custom rules that duplicate Spectral rules.

If the release after 5.9 is going to be a major version, then I guess we can just wait.  But if there is going to be a 5.10, then I would like to submit a PR that makes the change in 3a59055 in a backward compatible way so that it can be included.

[2021-03-04 17:49] philipbjorge commented on #1002
It would be useful for me if source could be expressed as a wildcard.
For example, `descriptions/v1/*_api.yaml`

[2021-03-05 22:42] P0lip commented on #1507
I'm hoping to get a major soon.
Maintaining v5 is increasingly becoming challenging, because the codebases have diverged notably, and cherry-picking certain changes is not straighforward.
If 6.0 does not happen soon, I'll rewrite the rule for you and get it out in 5.10.

[2021-03-08 15:37] #1507 closed

[2021-03-09 17:41] PawelKolat commented on #1324
@P0lip works like a charm just installed 5.9.0. Will run in docker later but am I right to assume the stoplight/spectral image is pointing to the latest? Many thanks for this!!!

[2021-03-10 12:35] P0lip commented on #1324
@PawelKolat glad to hear it resolved the issue!
I'm afraid to tell you that Docker images deployment process is currently broken, and therefore no new images have been created since 5.7 or 5.6.
That said, it's not pointing to the latest, but some older version instead.

[2021-03-14 09:50] epoberezkin commented on #1346
@philsturgeon do you think there is a value in implementing ajv-validator/ajv#1119? Quite a few upvotes there...

[2021-03-14 11:16] philsturgeon commented on #1346
@epoberezkin absolutely. Now that OpenAPI Schema Objects are just another JSON Schema dialect, you could easily add support for OAS just like adding support for another draft of JSON Schema.

this is based on 2020-12 which AJV doesn’t have yet, but if you can add those two dialects, then you don’t have to worry about any awkward “OpenAPI feature in a JSON Schema validator” weirdness, you can just

[2021-03-15 08:10] epoberezkin commented on #1346
Thank you, I will add it. Will OpenAPI schema support [JTD](https://datatracker.ietf.org/doc/rfc8927/) at some point then? Ajv supports it now.

[2021-03-15 08:43] philsturgeon commented on #1346
Maybe in the future, OpenAPI has a proposal for [alternativeSchemas](https://github.com/OAI/OpenAPI-Specification/issues/1532) which would allow XML Schema and maybe Protobuf and so that would be the most logical place for JTD to try and slow in if anyone is interested.

[2021-03-15 09:37] Amachua opened #1550 "--skip-rule doesn't work with parser warnings"
**Describe the bug**

Spectral version used: "5.8.0"

In my perspecitive, there is possibly two distinct issues here:
- the tool forward issues `parser` when a JSON file includes tabulation (which seems to be allowed with the file I've provided;
- the `skip-rule` parameter doesn't apply to the `parser` warning.

**To Reproduce**

Preferred solution:

Given the file [resources.openapi.txt](https://

[2021-03-16 09:27] fgabolde commented on #1479
Update two months later:

* there is a `develop` tag, pushed 5 months ago -- I don't know what build this is, maybe 5.7.0?
* there is a `5` tag, 4 months ago -- 5.7.2?
* there is a `latest` tag that seems to point to the same image as `5`
* there is a `master` tag which probably contains the 5.9.0 release

I'm guessing at the release numbers here based on the dates but I don't really know what ver

[2021-03-16 14:30] gabegorelick opened #1552 "Old version of agent-base breaks http.request"
**Describe the bug**
This bug is documented in many places, including https://github.com/TooTallNate/node-proxy-agent/issues/54. In summary, `agent-base`, which is transitively loaded via `proxy-agent` and a few other dependencies, patches `http.request`. But old versions are not compatible with recent (Node 10+) changes to the API. This can cause hard to track down bugs when any code in the same

[2021-03-16 17:44] #1520 closed

[2021-03-17 14:16] #1552 closed

[2021-03-18 13:15] hver commented on #1302
Bump: OAS v3.1 was released on 16 February: https://github.com/OAI/OpenAPI-Specification/releases/tag/3.1.0

[2021-03-18 13:37] philsturgeon commented on #1302
Yes we were involved in the release of OpenAPI v3.1.

No need to bump the issue. It’ll be ready when it’s ready. Most tools don’t support it yet: https://OpenAPI.tools

[2021-03-19 10:11] MalteEbner opened #1554 "Raise Warning/Error for required but undefined properties"
**Describe the bug**
Inside a schema: If a property is required, but not defined, no error or warning is thrown.

**To Reproduce**
`schema.yml:`
[code]
`api.yml:`
[code]
1. Given the two documents above...
2. Run this CLI command 'spectral lint api.yml'
3. No error or warning is thrown that `ExampleSchema.prop2` is undefined.

**Expected behavior**
There is a warning or error that `ExampleSchema.p

[2021-03-19 19:01] ajcool2k commented on #915
@philsturgeon you mentioned v6 would be up soon. Is it still on track? Running into infinite loops :/

[2021-03-22 15:49] chrif opened #1555 "JUnit format should include all passed tests in order to have an accurate failure rate"
In Azure Pipelines, it makes much more sense to have test results with all passed tests along with the failed ones. We want to publish results even when they pass. And we want to know what percentage of tests failed. Right now if no tests failed, we get an empty xml file:
[code]

And when they fail, it includes only the failed ones, so the failure rate is always either 100% or no results to publis

[2021-03-23 12:04] yordis opened #1556 "Missing `json-schema` drafts"
**Describe the bug**

It seems that spectral doesn't support all the JSON-Schema published drafts

**To Reproduce**

[code]

[code]

[code]

Run

[code]

**Environment (remove any that are not applicable):**
 - "@stoplight/spectral": "^5.9.0"

[2021-03-23 13:13] philsturgeon commented on #915
Hey! The team has been rammed with [Elements](https://stoplight.io/open-source/elements/), [Collaborative "Web Projects"](https://roadmap.stoplight.io/c/119-option-for-collaborative-stoplight-projects-without-git), and [Workspace Groups](https://roadmap.stoplight.io/c/137-workspace-groups) for the last few months but we're about to rapid fire release a bunch of that stuff and get back to this.

Sp

[2021-03-25 19:10] scmm17 opened #1557 "De-duplication workflow doesn't work"
**Describe the bug**
I’m having trouble getting de-duplication working in a Spectral linter I’m implementing. Some of my rules can generate multiple warnings, but Spectral only shows the first one generated for each rule that fires. I’ve followed the instructions for this from the Spectral docs, but it’s not working. I customized the “path” property of the result to be unique for each warning, usi

[2021-03-25 21:44] roubles opened #1558 "Add rule exceptions per operation or path"
**User story.**
As a user, I want to be able to add exceptions, per operation, to certain rules **in the open API spec** to ignore failures.

This is related to, but different from the ask in https://github.com/stoplightio/spectral/issues/747 which was closed by providing the capability to have exceptions in rulesets via https://github.com/stoplightio/spectral/pull/939. The solution for that issue

[2021-03-26 15:34] PawelKolat commented on #1324
@P0lip Thanks for that. I'm not clear if the bump after your comment has changed the situation? This will bite us when we go into the local CICD. Is there anything we could do to help to fix the deployment? I guess we can always host our own spectral image with the latest Spectral version

[2021-03-29 00:58] EvanCarroll opened #1561 "Make spectral self-contained in `.spectral/`"
**User story.**
As a user browsing a repo that employs spectral,  I want to know that the directory with your "functions" belongs to the spectral framework without knowing spectral's project layout.

**Describe the solution you'd like**
I'd like all of the spectral stuff to be in a central location, like `.spectral`

[code]

**Additional context**
Assume you're new to a repo. You have a `make test

[2021-03-30 00:33] scmm17 commented on #1557
I figured out what's going on here. This works, but only in a limited case, and the docs don't mention this.
Multiple warnings per rule only work when the target of the rule is an array, and the array contains objects.
In this case, when adding a custom path, the first element (after the original path) is the index into the array that gets the warning, and the next element is the value of the key

[2021-03-30 18:10] dalisoft opened #1562 "netmask package issue"
**Chore summary**
See
- https://github.com/advisories/GHSA-pch5-whg9-qr2r
- https://sick.codes/universal-netmask-npm-package-used-by-270000-projects-vulnerable-to-octal-input-data-server-side-request-forgery-remote-file-inclusion-local-file-inclusion-and-more-cve-2021-28918/

**Log**

[code]

[2021-03-30 23:04] roubles commented on #1562
The relevant defect on pac-resolver is: https://github.com/TooTallNate/node-pac-resolver/issues/26

There is a PR out for pack-resolver to: https://github.com/TooTallNate/node-pac-resolver/pull/25

[2021-03-31 00:22] scmm17 commented on #1557
The path  return value should be explained better in the docs.

[2021-03-31 00:22] #1557 closed

[2021-03-31 11:50] P0lip commented on #1556
Yeah, we do not support newer drafts just yet.
This will be done as a part of our OAS 3.1 support epic, we're about to start soon.
Stay tuned.

[2021-03-31 11:51] P0lip commented on #1550
Yeah `--skip-rule` does not let you do that.
Is there any problem with converting tabs to spaces?

[2021-03-31 11:56] P0lip commented on #1324
Nope, it's the same.
At the moment we're not actively maintaining our docker image.
This is to change in future, but we have no bandwith to address that issue.

If I am not mistaken `dockercloud` has introduced some changes, and right now our CI step keeps failing.
I'm not sure what exactly got broken.

Hosting your own spectral image will be probably the right thing to do for now until we get it

[2021-03-31 19:31] andrewsomething commented on #1562
New node-pac-resolver release:  https://github.com/TooTallNate/node-pac-resolver/releases/tag/4.2.0

[2021-04-01 07:14] Amachua commented on #1550
Since the file we're trying to lint are generated from an external tool, each time we re-export we have to convert them to ensure we don't have any `parser` issue.

This work is performed several times per day for something that is conform from the JSON point of view (I suppose that, at some point, other people will face the same issue). Is there a way I can help to solve this issue? (I saw that W

[2021-04-02 00:10] dshiledarc1 commented on #1562
Hi @roubles @P0lip Can we publish to npm registry bit more frequently? Especially these vulnerabilities fixes, sometime shutdown the library usage, in stringent environments. Thanks.

[2021-04-02 06:40] sidverma32 commented on #1266
check this answer: https://stackoverflow.com/questions/38558989/node-js-heap-out-of-memory/66914674#66914674

[2021-04-05 15:19] cmdcarini commented on #1562
This security vulnerability is already patched with the `proxy-agent` update to 4.0.1.

We need this patch pushed ASAP, a quick `5.9.1` would be greatly appreciated. I'd be happy to fork off the v5.9.0 tag if some of the changes in the `develop` branch are not ready

[2021-04-05 19:18] barrett-schonefeld opened #1568 "`oas3-schema` rule - hidden errors"
**Describe the bug**

The `oas3-schema` rule seems to only show one error at a time. This means that repairing the given error may only reveal another `oas3-schema` error. This pattern of correcting errors to reveal more errors makes the user resolve problems one-at-a-time, invoking Spectral each time until all errors are resolved.

**To Reproduce**

Below is an example document meant to illustrat

[2021-04-05 20:32] ahmadnassri opened #1569 "ability to override specific oas3-schema limits"
**User story.**
As an api developer, I can do add a rule to allow additional properties on the schema object, without failing the `oas3-schema` rule, so that I can enrich my api validation with custom properties.

e.g. I'm using [`ajv-errors`](https://github.com/ajv-validator/ajv-errors) in my API, which relies on a property: `errorMessage` to be added to to the schema object, but this will result

[2021-04-06 15:36] prousso opened #1570 "Can't export rightly output with docker image"
**Describe the bug**
When I want to export output with docker image (same result with latest or master) I got all espace sequences when there are error in my specification

**To Reproduce**

1. Given this OpenAPI/AsyncAPI document :
[code]
2. Run this CLI command `docker run --rm -t -v $(pwd):/app -v /tmp:/tmp stoplight/spectral:master lint --fail-severity error --display-only-failures --verbose -

[2021-04-07 09:51] dusan-dragon commented on #483
Hi @philsturgeon I think it would be nice to have this feature in cli also, so we can apply it to git diff (by providing actual version and master version of contract)

[2021-04-07 15:27] philsturgeon commented on #483
@dusan-dragon it's not something that Spectral will ever do, because Spectral only understands the current document. It does not have a concept of time, versions, changes, breakages, only what currently is. There is more room in the world for more [OpenAPI tools](https://openapi.tools) if this is not covered too well by existing tools like openapi-diff, but Spectral isn't that tool.

A vote for th

[2021-04-07 15:28] m-mohr opened #1571 "duplicated-entry-in-enum complains about enum property in objects"
**Describe the bug**

PR https://github.com/stoplightio/spectral/pull/1485 introduced a new rule `duplicated-entry-in-enum` which again has a too broad expression `$..enum` making our tests to fail. If you have your own definition of an object property called enum (in our case for defining a limited set of JSON Schema), the rule fails miserably because it expects an array, but it's just a normal p

[2021-04-07 16:07] dshiledarc1 commented on #1562
Hi Folks - @P0lip @jharmn @domagojk @mpodlasin @mnaumanali94 @marcelltoth  I am checking on https://www.npmjs.com/package/@stoplight/spectral for availability of the new release that will address this security issue. Please publish to help get past the enterprise vulnerability checks. Thanks.

[2021-04-08 18:45] dshiledarc1 commented on #1562
@falsaffa @ksoviero-stoplight, I see stoplight in your username, hoping for a response from Stoplight team on the prompt publishing of the version. Thanks.

[2021-04-08 19:29] P0lip commented on #1562
We already use newer `proxy-agent` (not released yet, though, I'll make a release in a few mins), but it still does not require the latest patched `netmask` -> https://github.com/TooTallNate/node-proxy-agent/blob/master/package.json#L37, therefore even if we release Spectral 5.9.1 this one won't be solved.
However, since a range of packages is accepted, you can try to clear npm/yarn cache and then

[2021-04-08 19:50] #1571 closed

[2021-04-08 20:02] #1562 closed

[2021-04-08 20:40] dshiledarc1 commented on #1562
@P0lip Thank you for the prompt action, will wait for 5.9.1 to show up.

[2021-04-08 20:50] P0lip commented on #1562
`5.9.1` is already out, therefore you should be able to use it.

[2021-04-09 16:01] roubles opened #1577 "No error message when openapi spec file does not exist"
**Describe the bug**
If the spec file passed in to spectral linter does not exist, spectral just says:
"No results with a severity of 'error' or higher found!"

This can be misleading in the case of a typo in the path to the file, someone may just think their file is clean.

**To Reproduce**

spectral lint /path/to/file/that/does/not/exist.yml

**Expected behavior**

If the file does not exist, sp

[2021-04-11 12:13] P0lip commented on #1577
Hey!
You can use ` --fail-on-unmatched-globs` flag.

[2021-04-11 12:13] #1577 closed

[2021-04-11 12:21] P0lip commented on #1550
Did you consider incorporating an additional tool for that conversation before you pass that file forward to Spectral?
I think that prettifiers such as Prettier would convert these tabs to spaces if a proper configuration is provided.

Theoretically this isn't an issue. Although Spectral is relatively flexible, its certain behavior has limited level of configuration.
This is a conscious decision,

[2021-04-12 16:18] Amachua commented on #1550
I've consider some work around to make our pipeline work properly. Nonetheless, I still consider that we have an issue with the Spectral tool but not necessarily with the `--skip-rule ` component since... The more I think on it and the more I think the issue comes from the parser the tool used.

Indeed, while reviewing the [JSON Standard](https://www.json.org/json-en.html), the horizontal tab is p

[2021-04-12 16:48] philsturgeon commented on #1550
We've removed --skip-rule in develop and it'll be gone in v6.0. #1560

[2021-04-12 16:48] #1550 closed

[2021-04-12 16:50] philsturgeon commented on #1569
Adding addition properties would make it invalid OpenAPI v3.0, so it's correct for oas3-schema to tell you about that.

Could you expand on the use case? Why are you trying to do this? :)

[2021-04-12 16:52] philsturgeon commented on #295
This will need to be taken care of with custom function for now.

[2021-04-12 16:52] #295 closed

[2021-04-12 16:52] #388 closed

[2021-04-12 16:54] philsturgeon commented on #954
I don't know if we'll be looking into this. Overriding parameters isn't a bad thing, so figuring out if they're redundant or not is a bit of a mess. General refactoring and suggestions for cleaner work is something we're considering for Studio and Platform, but Spectral might not be the right place for it.

[2021-04-12 16:54] #954 closed

[2021-04-12 18:02] ahmadnassri commented on #1569
indeed you are correct, seems like [oas3 schema definition](https://github.com/OAI/OpenAPI-Specification/blob/14c0908becbccd78252be49bd92be8c53cd2b9e3/schemas/v3.0/schema.json#L547) doesn't allow additional properties ....

but I could see why the spec would need to ristrict what properties are allowed, however for user-land and especially in a validation tool, allowing the user to override some d

[2021-04-12 18:15] philsturgeon commented on #1569
In OpenAPI v3.0 you need to put an x- on the start of that property. In OpenAPI v3.1 you can have additional properties without an x- on there.

We don’t want to do anything that’s invalid, and we’re working on OpenAPI v3.1 support so maybe that’ll be your solution?

[2021-04-14 12:21] glenroy37 opened #1579 "Execute rules even if the given node is missing in the linted file"
**User story.**
As a developer, I can define rules like e.g. "truthy" as mandatory, so that it is a linting error if the given node is missing.

**Problem**
Right now rules are only applied if the node is present in the linted file.
When I have a rule like:
[code]
I want an linting error if service.title is not present in the file.

**Possible solutions**
I already tried out to make every rule man

[2021-04-14 18:21] Diones commented on #1579
In this case, the correct wouldn't be the following example:

`service-title-present:
    description: "Service title must be present"
    given: $.service
    severity: error
    then:
      field: title
      function: truthy
`
Because `then` clause is invoked only if `given` returns something. Otherwise, your then will never be executed. Please, check if it solves your issue.

[2021-04-16 06:37] glenroy37 commented on #1579
Thank you very much! I must have somehow overseen the `field` option

[2021-04-16 06:37] #1579 closed

[2021-04-20 13:19] andylockran opened #1581 "<STDIN> in junit testsuite name tag doesn't parse in AzureDevOps Test Result Publishing"
**Describe the bug**
I've used spectral to output the junit.xml file as part of a pipeline on Azure DevOps.

The AzureDevOps CI process has a pipeline step to product a test results summary page, as derived from a junit-compliant output.

Unfortunately the spectral output isn't accepted as being junit-compliant due to the error below:

2021-04-20T13:03:01.1685016Z ##[warning]Failed to read /azp/ag

[2021-04-21 09:47] andylockran commented on #1581
Apologies - I was able to resolve this.

The CDATA character was fine - i'd piped the yml definition into spectral and it didn't like the name "<STDIN>" - which was causing the problem.

<testsuite package="org.spectral" time="0" tests="87" errors="0" failures="87" name="<STDIN>">

[2021-04-22 19:10] barrett-schonefeld commented on #1568
This problem seems to be resolved in the latest version of Spectral.

I experienced this issue with version `5.8.1` but not with `5.9.1`.

[2021-04-22 19:10] #1568 closed

[2021-04-26 10:13] elsewhat opened #1583 "oas3-valid-oas-content-example fails to consider allOf when validating examples against endpoint request schema"
**Describe the bug**
The error code oas3-valid-oas-content-example is reported in situations where the OpenAPI specification uses the allOf directive and is according with the standard.

Example of reported error (see test case below):
`error  oas3-valid-oas-content-example  Property "planningPlantId" is not expected to be here                    components.examples.create-work-order-minimal.value

[2021-04-27 10:47] mnaumanali94 commented on #1570
Docker images currently don't have the latest version. Will be fixed with #1479

[2021-04-28 16:28] EvanCarroll commented on #1583
I think this is the same problem in #1347

[2021-04-28 16:41] philipbjorge opened #1586 "Running spectral with unknown flags gives exit code of 0"
**Describe the bug**
When running the linter, if you pass it unknown arguments it does not run the linter and instead writes out help docs.
This behavior is fine but it's problematic because it returns an exit code of 0 - For the past 2 weeks, we erroneously thought the linter was running because it was giving a successful status code.

**To Reproduce**
`npx @stoplight/spectral lint descriptions/v

[2021-04-29 12:10] #1556 closed

[2021-04-29 12:19] savage-alex opened #1588 "Built in rule to validate request and response media types"
**User story.**
As an API designer,
I want to have my api definition validated and checked that the content types are valid
So that I create beautiful consistent API definitions my consumers love

**Is your feature request related to a problem?**
Currently its possible to create unknown media types (well its always possible but it can introduce accidental errors such as
![image](https://user-image

[2021-04-30 16:07] philsturgeon commented on #1588
Could you define a valid vs invalid MIME type in this context? Does valid mean "only things in the IANA list?" Because [there's a lot](https://www.iana.org/assignments/media-types/media-types.xhtml).

String comparisons never work because `application/vnd.acme-v1+json; charset=utf-8` is `application/json` but with extra information and folks always seem to forget that.

We could use a mime type va

[2021-05-04 06:52] savage-alex commented on #1588
Agree its a tricky one. @P0lip and I were discussing it on slack. Agree its a bit niche and it would likely need a base list + allow list to be defined.

[2021-05-04 08:23] philsturgeon commented on #1588
Ok, if somebody can work up a PR and add the ability to extend them in all for it, but it’s not something we’ll have time to work on in house I think. Gotta focus on everything for v6 and other big features beyond that for the moment.

[2021-05-04 09:59] MarcusAckermann opened #1593 "Warning on an unmatched JsonPath"
When executing `spectral lint -r developer.yaml openapi2.json` on the files in the attached spectral.zip I get the following warning:

`5:38  warning  schemas-upper-camel-case       Schemas must be named in UpperCamelCase.                                 Components.schemas.Emissions_EN16258_2012`

The JsonPath for that rule is `$.components.schemas[*].properties` but `Components.schemas.Emissions_

[2021-05-04 17:09] johnowl opened #1594 "Function to validate if a contract changed between commits"
**User story.**
As a developer, I can be able to be warned when a field is removed from an existing OpenAPI request or response object, so that I can avoid API contract changes.

**Is your feature request related to a problem?**
Avoid API contract changing, it sould be nice to choose what kind of changes are allowed and forbidden. Thinhs like field added or field removed.

**Describe the solution

[2021-05-04 19:39] philsturgeon commented on #1483
Thanks for reporting this, docker really needs some work. This is a duplicate of #1191 though so I'll keep the first one open.

[2021-05-04 19:39] #1483 closed

[2021-05-04 20:53] #1302 closed

[2021-05-05 11:31] P0lip commented on #1583
Hey @elsewhat!
Thanks a lot for filing the ticket!

After the investigation I've made, I've come to a conclusion that what Spectral (and Ajv in this particular case) outputs here might be correct. Let me explain why.

This is (more or less) the schema Spectral passes to Ajv.

[code]

Now, if you take a look at the `additionalProperties` properties, you should be able to notice they somewhat clash

[2021-05-05 15:09] #1583 closed

[2021-05-06 10:56] P0lip opened #1601 "Spectral v6"

[2021-05-06 13:22] daveshanley opened #1602 "Multiple examples expecting `value` to be an array, which seems incorrect according to the spec."
I've noticed that when using `examples` in OAS 3, spectral gets upset that the `value` property is not an `array`. However this is not how I interpret the specification defined via https://swagger.io/specification/

`examples` contains one or more `Example Object` which has a `value` property of type `Any`.  Also the examples used to show multiple examples (sorry, a mouthful) defined at https://sw

[2021-05-06 13:32] elsewhat commented on #1583
Thanks for the thorough investigation. I believe your conclusion is correct and that additionalProperties has a different semantics than what I had anticipated . https://stackoverflow.com/a/23001194/250787 is another source saying the same.

Our main goal with adding additionalProperties is to be able to verify (today in postman using tv4 and custom scripting) that no additional properties is bein

[2021-05-06 15:54] philipbjorge opened #1603 "Nullable allOf construct doesn't work"
**Describe the bug**
I'm trying to describe a nullable ref and spectral is yelling at my examples being invalid

**To Reproduce**

Given this OpenAPI document:
[code]

Run this command:
[code]

Received:
[code]

In the 6.0.0 alpha, I get an error:
[code]

**Expected behavior**
I expected this example to pass validation -- I thought the `nullable: true`, `allOf` approach was the appropriate way to

[2021-05-06 20:37] mnaumanali94 opened #1604 "Misleading error for missing paths/webhooks/components"
**Chore summary**
OAS 3.1 requires one of paths/webhooks/components as a top level entry. Spectral gives a `missing path object` error in case none of these is present.

**Tasks**
The error should specify that either path, webhooks or components need to be present.

[2021-05-06 20:44] ahemanna opened #1605 "Need clarification on severity mapping and line number mismatch"
Hello,

I have two questions.,

1. Running spectral on CLI returns severity as one of error, warning, info or hints.

[code]

But when I run it through [javascript](https://meta.stoplight.io/docs/spectral/docs/guides/3-javascript.md#loading-rules) I see the JSON array with severity as an integer field.

[code]

Do we have a mapping available for this? If yes could someone please point me to it?

2

[2021-05-06 21:09] P0lip commented on #1605
Hey!

1. The map is here https://github.com/stoplightio/spectral/blob/develop/src/ruleset/severity.ts#L6, but I suggest taht you install `@stoplight/types` and create one yourself, because it's not guaranteed the `ruleset/severity` will stay in the same spot forever. It's not considered as a part of our public API.
2. It's because the ranges we use in results follow [LSP](https://microsoft.github.

[2021-05-07 03:38] ahemanna commented on #1605
Thank you, that's helpful. Appreciate it!

[2021-05-07 03:38] #1605 closed

[2021-05-07 09:23] andylockran opened #1606 "Forced 'format' when running via the CLI (rather than autodetect)"
**User story.**
As a api developer, I can force spectral to use a particular specification format, so that I can override the autodetected format.

**Is your feature request related to a problem?**

I use AWS API Gateway, and they've got a fairly heavily bastardised version of OAS 3.0 in use (as well as using jsonschema draft-4 for their model validation, rather than OAS3.0 validation).

I've gene

[2021-05-07 09:26] andylockran commented on #1606
Just for clarification, I think the reason this is a new format - rather than a set of rulesets ontop of the OAS3.0 schema, is due to the mix of OAS and jsonschema in the AWS impementation.  I can probably get 90% of the way there with an AWS-specific ruleset.

[2021-05-07 17:43] andylockran commented on #1606
I've got 90% of the way there with an initial attempt at an AWS-specific ruleset:  https://github.com/andylockran/spectral-aws-apigateway-ruleset

[2021-05-07 18:15] nulltoken commented on #1603
@philipbjorge Not a Json schema expert, however, I believe this cannot work because allOf expects all subschemas to be be valid. IOW, nullable_ref should first be an `object` before even being nullable.

I believe something like this should work.

[code]

[2021-05-08 13:50] SkypLabs opened #1607 "Add LSP support"
**User story.**

As a developer, I can use any source code editor or IDE supporting the [Language Server Protocol (LSP)](https://en.wikipedia.org/wiki/Language_Server_Protocol) to get feedback from Spectral without having to run the CLI tool over and over.

**Is your feature request related to a problem?**

It is frustrating to have to regularly run the CLI tool to get linting information from Spe

[2021-05-08 18:25] #1602 closed

[2021-05-11 06:58] languitar opened #1611 "Strange dockerhub release 67.67.67"
**Chore summary**

We received a set of renovate MRs today for a new Spectral Docker image 67.67.67. Is that release intended or a release bug?

**Additional context**

Recovering for people who have already updated to that release via Renovate is probably a hard thing due to the large jump in semver versions.

[2021-05-11 09:36] P0lip opened #1613 "Convert project to monorepo"
The primary goal is to slice Spectral into smaller chunks / make it more modular to ensure that introducing changes is more straightforward and less fragile.
Moreover, I'd love to make Spectral _truly_ spec agnostic, meaning we don't have any OAS/AAS exclusive code directly anywhere else than in the rulesets packages.
This work has already started some time ago when we decided to gradually rewrite

[2021-05-11 09:37] P0lip opened #1614 "Spectral v6 - monorepo"
@P0lip commented on [Fri May 07 2021](https://github.com/stoplightio/platform-internal/issues/6225)

The primary goal is to slice Spectral into smaller chunks / make it more modular to ensure that introducing changes is more straightforward and less fragile.
Moreover, I'd love to make Spectral _truly_ spec agnostic, meaning we don't have any OAS/AAS exclusive code directly anywhere else than in th

[2021-05-11 09:39] #1614 closed

[2021-05-11 13:29] wmhilton commented on #1611
OK, v67.67.67 of the Docker image is bye-bye.

[2021-05-11 13:29] #1611 closed

[2021-05-11 15:28] #1374 closed

[2021-05-11 15:30] #1340 closed

[2021-05-11 15:32] P0lip commented on #1096
This will be addressed in v6!

[2021-05-11 15:32] #1096 closed

[2021-05-11 15:39] P0lip opened #1615 "Future-proofing rulesets"
The current design of rulesets is slightly troublesome.
The list of user-facing problems includes, but not limits itself to:

- no feature parity between CLI <-> browser usage of Spectral
- if custom functions are in use, the distribution becomes very tricky, as there's no way to generate a single file Spectral could import. This will likely become important for shared style guides
- versioning is

[2021-05-11 15:40] P0lip opened #1616 "Spec reporting"
The current way of logging the spec of a document had been fine until we introduced support for multiple documents.
As of the multiple documents, if you pass a glob pattern, the results are useless.
![image.png](https://images.zenhubusercontent.com/5d080cab08bab04301b24969/9e4802a0-42c0-45d9-87f9-2decb8437e30)

I believe we can get rid of that reporting entirely _or_, if it's truly needed, try to

[2021-05-11 15:40] #845 closed

[2021-05-11 19:18] mnaumanali94 commented on #1594
Hey! Spectral's geared towards applying style constraints on API specification documents. This is beyond spectral's paradigm and can potentially be better fulfilled by a diff/changelog tool. You can check out [Azure OpenAPI diff](https://github.com/Azure/openapi-diff ) or [leave an insight on our roadmap](https://roadmap.stoplight.io/c/30-notifications-activity-summary-breaking-changes-etc) for a

[2021-05-11 19:18] #1594 closed

[2021-05-11 21:02] P0lip commented on #1482
Hey @GillesTourreau!
Thanks a lot for filing the issue.
The behavior described is valid.
Let me explain why.

`oneOf` compound keyword enforces a single match of the schema from the array.
To illustrate it, let's take the following schema as an example.

[code]

Now, `2.2` value would be considered **valid**, because it's a number, but it's not an integer.
However `2` would be treated as **invalid

[2021-05-12 07:13] damianobarbati opened #1617 "Fix security vulnerability (lodash)"
**Chore summary**
[code]
<img width="988" alt="Screenshot 2021-05-12 at 09 13 19" src="https://user-images.githubusercontent.com/2225869/117933850-4d1d3b80-b302-11eb-833b-49d8385542a5.png">

**Tasks**
Bump lodash version >= 4.17.21

[2021-05-12 09:03] P0lip commented on #1329
Hey @tillig!
I compiled a short design doc of the v6 rulesets in #1615.
That new approach should let you accomplish what you describe over here.
I'll close this one in the meantime - I linked this issue there, to ensure the new ruleset design achieves the requirements brought up here.
Thanks for the suggestion!

[2021-05-12 09:03] #1329 closed

[2021-05-12 09:06] P0lip commented on #1561
Hey @EvanCarroll!
First of all, thank you for submitting the idea, and my sincere apologies for such a late response.
I'm pleased to say that the new ruleset design we'd ship in #1615 would address the issue you raised here.
With these new ruleset capabilities, you'll be able to create a single bundled JS file and pass it over to Spectral, meaning the entire code can be shipped in a single file
I

[2021-05-12 09:06] #1561 closed

[2021-05-12 09:18] P0lip opened #1618 "Standardized error handling"
Logging in Spectral is not particularly standardized now and needs an overall improvement.
At present, we can distinguish at least 3 approaches:
- using any `console.*` calls (sometimes silenced if --quiet flag is passed, but not always)
- throwing an error and not handling it too well
- on rare occasions, we push a validation result.

Here's what I propose.

For actual logging let's setup up some

[2021-05-12 09:20] P0lip opened #1619 "Consistent validation messages"
In short - we should use keywords defined in the following [RFC](https://datatracker.ietf.org/doc/html/rfc2119).
Apart from that, it's crucial to ensure the casing is similar, we use double quotes instead of the grave accent (_gravis_, `)
The above rule must apply to all kinds of errors, not just the ones originating from rulesets.
This means, both parsing & resolving errors are included.

[2021-05-12 12:57] P0lip opened #1621 "Drop `schemaPath` function"
`schemaPath` function relies on Spectral's internals and is used only by AsyncAPI ruleset.

- [ ] Remove the SchemaPath usage in AsyncAPI ruleset.
- [ ] Create a custom function if we cannot use any other spectral function to achieve the same outcome.
- [ ] Use the custom function in the AsyncAPI ruleset.

[2021-05-12 12:58] P0lip opened #1622 "Increase type-safety"
The title is a bit ambiguous, but t's mostly about replacing `any` with `unknown`, and getting rid of some explicit type assertions (`as`, etc.)

[2021-05-12 13:56] tillig commented on #1615
This looks awesome, and definitely addresses #1329, so thanks!

Something to consider, maybe not as minimum-viable-product, but in the design: I gather the `import X from "url"` isn't part of Node so much as [the module loader](https://nodejs.org/api/esm.html#esm_https_loader) you choose. (I could be _very_ wrong about that, my information is about five minutes of Google there.) I work primarily i

[2021-05-12 14:25] philsturgeon commented on #1615
This seems like it'll make life a lot less confusing for people working on custom functions and custom rulesets in general. Can we provide any tooling around this, like eslint or some other code checking tools to assist them with the process? As followup work ofc.

It also seems like it opens the door for spectral to get auto-fix logic, as rules could declare fixer functions too like eslint too. c

[2021-05-12 15:07] philsturgeon commented on #1479
Can we get rid of the master tag? That's probably not a useful thing and we should be changing to main in git at some point anyway.

[2021-05-12 15:24] meme commented on #1603
Same issue:

[code]

[code]

[2021-05-12 18:42] wmhilton commented on #1479
yeah.. we're having weird problems with "git clone" not working in Docker Hub. If I can't figure out a way around it, we'll have to move the build pipeline to Circle CI.

We're running into a problem very similar to this open issue: https://github.com/docker/hub-feedback/issues/1777

[2021-05-12 18:44] wmhilton commented on #1479
Oh @philsturgeon um. We can remove the `master` tag but it'll screw up somebody's workflow. It was last pulled an hour ago:

![image.png](https://images.zenhubusercontent.com/5d3f1460cc4b911f8f2fadff/4a9b9f10-87af-4ea0-9c04-8684797a6c28)

[2021-05-12 18:48] wmhilton commented on #1479
Aaaand does not correspond to any other existing tagged image. Also, `5` and `5.6` don't point to the same image which disturbs me. :D

![image.png](https://images.zenhubusercontent.com/5d3f1460cc4b911f8f2fadff/6dd5f20c-5db9-4da7-9cdf-4eca1715846a)

[2021-05-12 18:51] wmhilton commented on #1479
I think what I'll do is manually build and push images for 5.9.1, and then we can make an issue to upgrade the CI pipeline for the 6.x series to not rely on DockerHub's build service.

[2021-05-12 18:53] philsturgeon commented on #1479
They should not be on master anyway, we have breaking changes coming and that will also cause broken stuff. I think its ok if we pick a new strategy which is common in docker land, and reliably updated, and if one person gets a broken workflow they'll come and see our excellent new tags and pick the one they like the most.

They might only on master because its the only way to get newer versions.

[2021-05-12 19:10] #1586 closed

[2021-05-12 19:41] philipbjorge commented on #1603
@meme --
Not that it helps the primary issue, but I can share that the `- type: "null"` construct will only be valid with a OAS 3.1 doc

[2021-05-12 20:10] wmhilton commented on #1479
@philsturgeon done! no more master

I succeeded in manually building and tagging `5.9.1` and `5.9` on my machine. I'll manually update `latest` to point to that image as well.

[2021-05-12 20:21] aleskovets commented on #1479
Just tried `5.9.1` in our pipeline. Works as a charm. Thanks

[2021-05-12 22:02] wmhilton commented on #1479
Oh lovely!

I think, since 5.8 and 5.7 aren't really supported, there's not much point in making docker tags for them. So I shall close this unless someone specifically wants docker tags for 5.8 and 5.7.

I'm working on improving the automatic docker tagging for the 6.x series, it should be much better.

[2021-05-12 22:02] #1479 closed

[2021-05-13 01:16] philsturgeon commented on #1479
Brilliant will, thank you!

[2021-05-13 15:34] kscheirer commented on #1558
for json how about a `"x-spectral-ignore": "operation-default-response"`. Not as elegant as yaml, but close enough?

[2021-05-13 16:01] philsturgeon commented on #388
Done in https://github.com/stoplightio/spectral/pull/1623

[2021-05-13 21:43] barrett-schonefeld opened #1628 "`invalid-ref` errors when components use `!!` yaml syntax"
**Describe the bug**

When API definition is a `yaml` document with `!!` syntax to identify the type of the value (`!!bool "false"`, for example), Spectral returns `invalid-ref` errors even when the refs are valid. It is likely that the underlying `yaml` parser does not understand this syntax.

**To Reproduce**

1. Given this OpenAPI/AsyncAPI document:

        "openapi": "3.0.0"
        "paths":

[2021-05-13 22:38] P0lip commented on #1628
Hey @Bailey-Gannett!

I confirm your finding. We indeed do not resolve the tag properly, and the value we work on is a string scalar `"false"` instead of the boolean.

[2021-05-14 10:45] philsturgeon commented on #475
@andylockran thank you! Did you see #1615? It might solve some of the problems you've had writing more advanced rulesets.

[2021-05-14 15:04] philsturgeon commented on #1303
Loads of improvements to paths in 5.x and 6.0 so let’s close this.

[2021-05-14 15:04] #1303 closed

[2021-05-14 15:04] philsturgeon commented on #919
Please send a PR if there are still problems with windows support.

[2021-05-14 15:04] #919 closed

[2021-05-14 15:05] philsturgeon commented on #1621
This is legacy left over from the old example validation code. It should be removed and asyncapi updated to not need it.

[2021-05-17 15:13] #1581 closed

[2021-05-17 15:35] raleigh04 commented on #1581
Thanks for the update and we're glad you were able to resolve your issue!

[2021-05-19 10:12] sebas2day commented on #1607
Well there is a vscode extension for spectral that I believe implements the LSP protocol

https://github.com/stoplightio/vscode-spectral/tree/master/server

[2021-05-20 05:43] aleung opened #1629 "Error in the referred schema is reported on the element which contains the $ref"
**Describe the bug**
Error in the referred schema is reported on the element which contains the `$ref`.

**To Reproduce**

1. Given this OpenAPI document `monte.yaml`
[code]
2. Spectral rule `spectral.yaml`
[code]
2. Run this CLI command `spectral lint -r spectral.yaml monte.yaml`
3. See error
[code]

**Expected behavior**
Only `enodeBId` is not in camelCase. The first two warnings are invalid.

*

[2021-05-21 10:20] dolmen opened #1634 "Drop use of githack.com in install instruction"
**User story.**

From install documentation https://meta.stoplight.io/docs/spectral/docs/getting-started/2-installation.md#executable-binaries
[code]

This is insecure. As a user, I don't trust `githack.com` to not hijack the install script of the spectral CLI to install malware.

**Describe the solution you'd like**

I want a command that load files directly from GitHub servers without a third pa

[2021-05-24 08:41] #1621 closed

[2021-05-24 15:02] raleigh04 commented on #1570
We think this is related to the CLI coloring scheme being written to an output file.

[2021-05-24 17:04] #1622 closed

[2021-05-24 17:35] mnaumanali94 opened #1636 "Spectral yells at you if there are x-extensions on operation level"
OpenAPI allows x-extensions on the operation level: https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.1.0.md#operationObject

Spectral yells at you if x-internal or any other x-extension is added to the operation level. This shouldn't happen as it's valid OpenAPI

![image.png](https://images.zenhubusercontent.com/5ea9a7f489044245dbd23d46/b7c92a41-db5b-4b50-93e1-43238800af28)

- [ ]

[2021-05-25 07:59] mnaumanali94 opened #1637 "Improve Ruleset validation"
## To Reproduce

Use `.spectral.yml`:

[code]

Look at validations for spectral file.

## Expected Results

I would expect one error relating to the lack of a `schema` object under `functionOptions`.

## Actual Results

<img width="1129" alt="image" src="https://user-images.githubusercontent.com/4060903/84416079-545f3500-abd9-11ea-8092-07f68daa0489.png">

This made fixing a simple problem a goose

[2021-05-25 11:51] jasonbstanding opened #1638 "oas3-valid-schema-example error being returned for NULL property on example for schema with property defined as "nullable: true""
**Describe the bug**
I raised this question on the "APIs You Won't Hate" slack channel (https://apisyouwonthate.slack.com/archives/C6EEULS87/p1621938764024100) and was advised this was likely a Spectral bug:

I can't express a schema-level `example` containing a null value on a nullable field in a way that validates with Spectral (and doesn't return `oas3-valid-schema-example  {property} property

[2021-05-25 11:53] jasonbstanding commented on #1638
Disregard.

**sigh**

[2021-05-25 11:53] #1638 closed

[2021-05-25 11:57] singhtejpal11 opened #1639 "[Proposal] Validate the Parameter/Fields name in swagger if present or not."
Wants to validate the specific parameters name/field in swagger if present or not.

With this feature, mandatory Headers or parameters can be validated.

[2021-05-27 14:58] P0lip commented on #1615
We have the same set of issues at Stoplight here, so no worries about this one. We'll have to sort it out.

That's the primary hope. Instead of using a somewhat properiatry syntax, we'll try to use a more standard approach more people should be familiar with and can also find plenty of resources about if in doubt.

We'll certainly try to provide some tooling around this, because we'll need it for

[2021-05-27 17:29] mnaumanali94 commented on #1615
Yes! I'm looking forward to us building that out once we have this out of the door.

[2021-06-01 07:33] tsimbalar commented on #1617
Would it make sense for the project to not use an exact version of dependencies, and instead use a version range ?

This would allow to address security vulnerabilities without needing to release new versions of `spectral` 🤔

i.e. by updating the `package.json` and instead of `"lodash": "4.17.21",` , using things like

`"lodash": "^4.17.21",` ->  any `4.x`

or

`"lodash": "~4.17.21",` ->  any `4.1

[2021-06-01 12:26] Amachua opened #1645 "oas3-valid-schema-example not thrown with allOf alongside example"
## Describe the bug

Using `example` and `allOf` keywords on the same object do not properly throw an issue
when the example schema is not valid.

## Reproduction steps

**Spectral version**: 5.9.1

Given the OpenAPI specification `dummy.yaml`:

[code]

When I run the command line:

## Expected behavior

I want that the issue `oas3-valid-schema-example` is thown on line 24 as the example is not va

[2021-06-02 16:07] sebas2day opened #1651 "Rule for external http(s) references"
**User story.**
I would like to have a rule where I can disallow any http(s) references but allow for example relative file references.

**Is your feature request related to a problem?**
In our solution we don't want to have specifications that have external references over http because those references can suddenly change making a specification suddenly break. We want to enforce our developers no

[2021-06-05 09:25] SkypLabs commented on #1607
Oh interesting! I apparently missed it.

What do you think about the idea of integrating the language server directly into Spectral? This way, any text editor / IDE supporting LSP could profit from it. And given that the hard work has already been done for the vscode extension, integrating the language server into Spectral should be straightforward.

[2021-06-07 15:01] ariatron commented on #1002
@mnaumanali94 Wanting to get your review of this request.

[2021-06-07 15:21] #1634 closed

[2021-06-07 17:58] mnaumanali94 commented on #1002
@ariatron  This has been added to the scope for v6! 🙏

[2021-06-08 09:37] #1618 closed

[2021-06-10 13:10] #1082 closed

[2021-06-11 13:21] wtjones opened #1670 "Linter flags example as error when property is a oneOf type string"
**Describe the bug**
When `anyOf` is used to represent string types, example models fail linting event though a string is given.

**To Reproduce**

1. Given this OpenAPI/AsyncAPI document
[code]

2. Run this CLI command 'spectral lint example.yaml'
3. See error
[code]

**Expected behavior**
There is no way for the linter to determine exactly which string type is implied in the example, however it

[2021-06-12 16:35] ifoukarakis opened #1671 "Only first message displayed when custom function handling external `$ref` files."
**Describe the bug**

Since AVRO validation is not yet supported, I'm trying to build a custom function that perform basic validation for AVRO schemas (i.e. validating schema, checking the casing of records and fields, missing docs etc)

While trying to implement a custom function for validating an external payload defined using `$ref`, I can't manage to report multiple messages. Instead I get the

[2021-06-14 22:30] jrhorn424 commented on #1617
I'm probably stating the obvious, but tilde is safer. That's what I've used for production applications when pinning exact versions isn't required.

[2021-06-14 22:33] jrhorn424 commented on #1555
I'd also like to request warnings added to JUnit output.

[2021-06-15 13:45] mnaumanali94 commented on #1554
Hey @MalteEbner! Thanks for pointing this out. While we don’t cover all cases with our OAS/AsyncAPI ruleset. It covers the most common ones, and then anybody can define custom rules extending the existing ruleset.

This is certainly something we should add to our OAS ruleset as it's a pretty common validation use case. We'll probably take this up in the next few weeks. I’d really appreciate if you

[2021-06-15 13:47] mnaumanali94 commented on #1651
Hey! Have you tried creating a custom rule for this? You can create a custom ruleeset that extends our existing rules which are for the most common use cases/validations in OpenAPI and AsyncAPI

[2021-06-15 14:09] sebas2day commented on #1651
No not yet but that sounds like something I could definitely work with.

Nonetheless could this be something being considered as part of the core rulesets? The proposed rule probably needs more votes though :)

[2021-06-15 19:16] sebas2day commented on #1054
If you (accidentally) have a reference inside the spec to the spec itself and run `spectral lint ./self-ref-spec.yaml` it will run into an infinite loop and eat up your memory. Not sure if this is a known issue but it might seem related.

Any idea if switching to this new `json-schema-ref-parser` package would fix this as well?

[2021-06-16 05:57] #1637 closed

[2021-06-16 06:14] mnaumanali94 commented on #1651
Here's a guide on creating custom rules: https://meta.stoplight.io/docs/spectral/docs/guides/4-custom-rulesets.md

This is pretty use case specific as http references are valid. We could consider it if it gets a lot of love.

[2021-06-16 10:43] philsturgeon commented on #1054
Yes, the new parser is much better at handling circular dependencies of all sorts. The team is currently working on v6 after several delays and changing priorities so Im eagerly waiting for this to be done!

--
Phil Sturgeon
Product @ Stoplight.io

[2021-06-18 09:59] #1615 closed

[2021-06-18 12:26] P0lip opened #1680 "Path aliases"
**User story.**
As a ruleset write, I often have to come up with complex JSON Path expressions in order to pick a certain fragment of my document I'd like my rule to be run on.
This is both tedious and error-prone, in particular when targeting specific specs like OpenAPI.

**Describe the solution you'd like**

I'd like to have a way to specify these complex path expressions in one spot to be able

[2021-06-22 13:32] #1613 closed

[2021-06-23 15:21] ThomasKoppensteiner opened #1689 "Auto escape square brackets in URI validations"
**User story.**
As an API designer, I can use square brackets in URI strings so that the validation is still valid.

**Is your feature request related to a problem?**
I would like to use square brackets in paginations links (for convenience and readability reasons), without the need to url-encoded them.

[code]

**Describe the solution you'd like**
Squared brackets are automatically url-encoded be

[2021-06-23 19:54] DavidBiesack opened #1690 "--fail-severity option not working"
**Describe the bug**

[code]

fails, as if it is an undefined option. Other options like `--format json --output /tmp/spectral-report.json` work.

**To Reproduce**

1. Given any valid OpenAPI or AsyncAPI doc
2. Run this CLI command `spectral lint --fail-severity warning asyncapi.yaml`
3. See error

[code]

**Expected behavior**

not exit with help, but process the option

Note that this is also re

[2021-06-23 21:11] P0lip commented on #1690
Hey!
Thanks for filing the issue.
The accept value is `warn`

Speaking of this one, we have a [fix](https://github.com/stoplightio/spectral/pull/1620) for it merged in. It's going to be released in v6.

[2021-06-24 08:55] philsturgeon commented on #1690
That PR was merged so I think we got it here. Cannot wait for v6!

[2021-06-24 08:55] #1690 closed

[2021-06-24 08:58] philsturgeon commented on #1670
Sorry this is expected behavior for JSON Schema / OpenAPI. You need to either use an anyOf, or make the two things different enough that they both cannot match. You'll get similar results from any tool that follows the OpenAPI spec properly. :)

[2021-06-24 08:58] #1670 closed

[2021-06-24 08:59] philsturgeon commented on #1651
Maybe throw up a PR or blog it. We'd love to see more people sharing their custom rules and cool things they're doing with Spectral, but we probably don't want to be adding it to the core as its valid OAS like @mnaumanali94 said. :)

[2021-06-24 08:59] #1651 closed

[2021-06-25 00:14] danielbecroft opened #1693 "Rule to validate tag count"
I'm trying to configure some custom rules in our environment, and using the `operation-singular-tag` example from the documentation [here](https://meta.stoplight.io/docs/spectral/docs/reference/functions.md#length).

[code]

When I run the ruleset, though, I don't get the rule firing. I've tried on paths with:
- 0 tags
- 1 tag
- 10 tags

I can see in the `-v` mode that the rule is getting picked u

[2021-06-25 05:34] danielbecroft commented on #1693
I found that this rule is already part of the `spectral:oas` ruleset, but it isn't enabled by default. I've got other issues with creating custom rules, but will raise those separately.

[2021-06-25 05:34] #1693 closed

[2021-06-28 01:51] raing3 opened #1696 "Exit with non-0 exit code when a custom function fails"
**User story.**
As an API designer, I can have Spectral fail when one of my custom linting functions errors, so that I can detect this in a CI pipeline and more easily identify when my specification isn't being linted correctly.

**Is your feature request related to a problem?**
We have a number of custom linting functions to enforce various standards in our specification. When one of the function

[2021-06-28 08:23] anderssonhenry opened #1697 "Incorrect line number when semicolons are present in a key"
**Describe the bug**

The displayed line number for errors are always set to the line previous to one containing a semicolon in the key.

**To Reproduce**

Ruleset

[code]

Document:

[code]

**Expected behavior**

Error should be on line 10 (type).

**Actual behavior**

Error shows up on line 7 (content), right before the key including a semicolon.

**Environment (remove any that are not applicab

[2021-06-28 10:58] #1021 closed

[2021-06-28 12:52] #1680 closed

[2021-06-29 21:31] jparise opened #1701 "Include rules for official `format` values"
**User story.**
As a spec author, I would like to know when a `format` value isn't officially supported by OAS.

**Is your feature request related to a problem?**
OAS3 defines a specific set of `format` values for each `type`: https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.3.md#data-types

It's helpful to know when a `format` value falls outside the supported set.

**Describe

[2021-06-30 11:41] P0lip commented on #1696
Hey!
I'm glad to let you know that this behavior is changed as a part of V6 :tada:

More here:
https://github.com/stoplightio/spectral/issues/1618
https://github.com/stoplightio/spectral/blob/develop/docs/reference/error-handling.md

[2021-06-30 12:01] P0lip commented on #1697
Hey!
Yup, it's indeed an error on the Spectral side. Will fix.

[2021-06-30 12:14] P0lip commented on #1616
Sorted out!

[2021-06-30 12:14] #1616 closed

[2021-06-30 14:26] #1697 closed

[2021-06-30 21:43] raing3 commented on #1696
Awesome, thanks for the info and sorry I missed that.

I look forward to the update. :)

[2021-06-30 21:43] #1696 closed

[2021-07-01 14:56] P0lip commented on #1696
No worries at all, it wasn't widely announced anywhere, so I'm not surprised you missed it.
I'm glad you raised that as this actually provides us your feedback that the change we made was the right one.

[2021-07-01 18:54] #1002 closed

[2021-07-01 23:17] ggoodvmw opened #1708 "Subtypes of polymorphic types are incorrectly flagged as unused definitions"
**Describe the bug**
When a polymorphic type is "subtyped" using allOf, and only the parent type is actually used in an operation, the subtype is incorrectly flagged as being unused.

**To Reproduce**
Using Spectral 5.9.1

1. Given this OpenAPI/AsyncAPI document:

        swagger: "2.0"
        info:
          description: "Bug example"
          version: "1.0.0"
          title: "Swagger Petstore

[2021-07-03 17:24] fidgi opened #1710 "Support of OAS version 3.1.0"
**User story.**
As an API designer, I can use spectral lint to validate an OAS 3.1.0 document , so that I can do a better job .

**Is your feature request related to a problem?**
I've check spectral lint against OAS 3.1.0 demo yaml from Redoc [demo yaml from Redoc](https://github.com/Redocly/redoc/blob/f4ea368f78a693fd70d48b5e0e5ffce3560432f4/demo/openapi-3-1.yaml)
and got the following result :
`

[2021-07-04 20:06] P0lip commented on #1710
Hey!
The support for OAS 3.1 is [scheduled](https://github.com/stoplightio/spectral/discussions/1653) for v6.

[2021-07-04 20:06] #1710 closed

[2021-07-06 09:27] MarcusAckermann commented on #1292
A common mistake is to provide OpenAPI documents with tests which are not valid as far as the schema is concerned. I would like to enable 'oas3-schema' along with the rule to be tested, but I do not have a clue how to configure spectral in the test example above. Can anybody help?

[2021-07-06 12:31] #1001 closed

[2021-07-06 12:43] MarcusAckermann opened #1715 "False positive error with oas3-schema rule"
**To Reproduce**

1. Given the attached OpenAPI/AsyncAPI document
2. Run this CLI command 'spectral lint openapi.json'
3. I get ' 38:18    error  oas3-schema       Property `schema` is not expected to be here.           components.headers.Cache-Control.schema'

**Expected behavior**
According to https://swagger.io/specification/#header-object the property 'schema' is allowed in a header declaratio

[2021-07-07 09:14] craicoverflow opened #1720 "Include some useful util functions from JSON Schema manipulation as part of the `@stoplight/spectral` package"
**User story.**
As a Spectral rule-set creator, I can use the JSON Schema util functions, so that I can create more powerful functions to use in my rule-set.

**Is your feature request related to a problem?**

As Spectral loads published NPM rule-sets as static assets from unpkg.com, I am unable to use external NPM dependencies within my custom functions without having a `package.json` file with t

[2021-07-07 19:09] suihanki commented on #727
+1 to this! just spent some time trying to see if there was a sneaky way to do this with the `schema` or `schemaPath` option, but not without a custom function I believe.

[2021-07-07 20:54] aleskovets opened #1727 "`operation-2xx-response` validation does not respect '2XX' response code"
**Describe the bug**
`operation-2xx-response` does not respect '2XX' response code. According to OAI3 '2XX' is a valid range response code definition.
Validation result:
[code]

**To Reproduce**

[code]

**Expected behavior**
No warnings or errors after validation

**Environment (remove any that are not applicable):**
 - Library version: 5.9.1 (via docker image)

**Additional context**
We use OAI

[2021-07-08 03:55] aleung opened #1732 "AsyncAPI rule to validate property example in schema"
**User story.**
As a API designer, I can run spectral to check my AsyncAPI, so that I can find out invalid property example in schema.

**Describe the solution you'd like**
Current Spectral AsyncAPI ruleset has a `asyncapi-schema-examples` rule to validate `examples` under a schema. However it doesn't check the `example` of a property. I'd expect there is an AsyncAPI rule that is equivalent to OAS

[2021-07-08 18:43] #1619 closed

[2021-07-09 11:47] philsturgeon commented on #1727
Can confirm this wil lstill be an issue in v6.0.0. We switched operation-2xx-response to operation-success which is looking for 2xx/3xx but it wont actually work if there are `x`'s in there.

https://github.com/stoplightio/spectral/commit/b26cbd060e8785dfa370420e0fbb00ae0fce0123#diff-08122f3081d6eddfcf745a7d35c961bb81e6caa491e49e83a2c0c4cedeef0892R10

[2021-07-09 15:32] carbonin opened #1745 "Install script is broken"
Running the install script on Linux produces an error and does not install spectral

**To Reproduce**
[code]

**Additional context**

Currently https://github.com/stoplightio/spectral/releases/latest/download/spectral-linux redirects to https://github.com/stoplightio/spectral/releases/download/@stoplight/spectral-rulesets-v1.2.0/spectral-linux which gives a 404. Looks like recent releases may have

[2021-07-09 15:43] carbonin commented on #1745
@P0lip maybe?

[2021-07-12 17:49] dalisoft opened #1746 "chore(dependencies): Security issue"
**Chore summary**
https://github.com/advisories/GHSA-35jh-r3h4-6jhm

**Tasks**
- [ ] Upgrade `lodash` to version 4.17.21 or later

**Additional context**

[code]

[2021-07-13 15:24] toby-murray-snow-software commented on #1746
Just as an FYI, Dependabot has been complaining about this as "high severity" vulnerability:

![image](https://user-images.githubusercontent.com/65908556/125479362-b23f9eea-7a93-43f5-b41b-3ac830a20807.png)

[2021-07-14 19:39] kilahm commented on #1746
Looks like #1585 solves this?

[2021-07-14 19:39] kilahm commented on #1617
Looks like #1585 solves this?

[2021-07-14 19:53] dalisoft commented on #1746
@kilahm Yes, I don’t understand why it’s still shows vulnerable?

[2021-07-14 19:57] toby-murray-snow-software commented on #1746
my bad - looks like an `npm update` does resolve this locally. Dependabot is satisfied, I misread the warning and assumed it was referring to a different project that it actually does.

[2021-07-15 20:10] titanve commented on #1746
Hello,

I'm still getting the warning from `dependabot` about the `lodash: 4.17.20`. Can you point me in the right direction to fix this?
![image](https://user-images.githubusercontent.com/4803351/125851206-ae8f3362-37a7-4b29-81b3-ca696f8cfe01.png)

Thank you!

[2021-07-15 21:05] dalisoft commented on #1746
@titanve As a temporary workaround you can try [this](https://github.com/dalisoft/airlight/commit/a73b00f0b01ada9564fd85813754e31c3c9cbdb4#diff-7ae45ad102eab3b6d7e7896acd08c427a9b25b346470d7bc6507b6481575d519R37) if you using `yarn`

[2021-07-15 21:38] titanve commented on #1746
@dalisoft thank you!

[2021-07-19 09:11] hiddewie commented on #1746
Could #1585 be released in a 5.x patch version? Thanks in advance!

[2021-07-19 09:12] hiddewie commented on #1617
Could #1585 be released in a 5.x patch version? Thanks in advance!

[2021-07-19 14:37] raleigh04 commented on #1517
@mnaumanali94 is this fixed with the newest release of spectral?

[2021-07-19 14:54] raleigh04 commented on #1455
@P0lip Did this get fixed in the latest release of Spectral?

CC: @mnaumanali94

[2021-07-19 16:21] P0lip commented on #1455
@raleigh04 unfortunately this one is not fixed. yet.
@mnaumanali94 perhaps we can get it scheduled for some upcoming sprint?
Should be a relatively easy win for us.

[2021-07-19 16:25] P0lip commented on #1517
@raleigh04 I gave it a try and it yielded

[code]

which is somewhat better compared to what it used to be in v5, yet that error reported for test.yaml file is still redundant.

cc @henrikrudstrom

[2021-07-19 19:01] treehousetim opened #1748 "Line numbers in JSON vs HTML format are different - HTML is correct"
**Line numbers of errors are wrong in JSON output**
Line number is off by +1 when reporting an error in my OpenAPI source document
Character number is off by +1 when reporting an error in my OpenAPI source document.

**To Reproduce**

Using NPM with package.json lines:

[code]
with this open api spec

[code]

Creates this output

## JSON
[code]

## HTML
[code]

**Expected behavior**
I would expect

[2021-07-20 16:06] yli-dev opened #1750 "Install script is broken"
**Describe the bug**
The install script at https://raw.githack.com/stoplightio/spectral/master/scripts/install.sh is not working, with error
`Error requesting. Download binary from https://github.com/stoplightio/spectral/releases/latest/download/spectral-linux`

**To Reproduce**

Run `curl -L https://raw.githack.com/stoplightio/spectral/master/scripts/install.sh | sh`

**Expected behavior**
The sc

[2021-07-21 10:31] philipp-rudloff-sendcloud commented on #1638
@jasonbstanding May I asked why you closed this issue? I run into the same issue where a field marked as `nullable: true` still causes examples to fail validation using spectral when setting that field to `null`.

[2021-07-21 12:22] carbonin commented on #1750
Duplicate of https://github.com/stoplightio/spectral/issues/1745 I think?

[2021-07-21 14:36] savage-alex opened #1751 "Schema Required property check no longer working"
I am running spectral 5.8.1 and given the following schema:

`schemas:
    Car:
      type: object
      required:
        - id
        - manufacturerName
      properties:
        id:
          description: The ID of the car
          type: string
          example: 'a123-4d567-c123'
        manufacturName:
          description: The name of the manufacturer
          type: string
          examp

[2021-07-22 08:10] yli-dev commented on #1750
@carbonin you are right. Closing this issue.

[2021-07-22 08:10] #1750 closed

[2021-07-22 22:57] matgr1 opened #1752 "Incorrect "exclusiveMinimum is not boolean" messages when linting 3.1.0 schema"
**Describe the bug**
When linting a simple 3.1.0 schema that includes an `exclusiveMinimum` and `default` value, it seems to work OK, but I get some messages that `exclusiveMinimum is not boolean`. Note that it appears this happens when a `default` value is also specified (if this is removed, the console messages do not appear)
[code]

**To Reproduce**

1. Given this OpenAPI/AsyncAPI document
[cod

[2021-07-23 14:17] paimon0715 opened #1755 "Vulnerabilities introduced in your package"
Hi, @P0lip @nulltoken, I’d like to report two vulnerabilities introduced in your package **@stoplight/spectral**:
### Issue Description
Vulnerabilities [**CVE-2021-23337**](https://snyk.io/vuln/SNYK-JS-LODASHTEMPLATE-1088054) and [**CVE-2020-28500**](https://snyk.io/vuln/SNYK-JS-LODASH-1018905) are detected in package **lodash<4.17.21** and lodash@4.17.20 is directly referenced by **_@stoplight/sp

[2021-07-29 11:08] P0lip commented on #1746
Fixed in 5.9.2.
My apologies for such a long waiting time.
We were all busy with v6.

[2021-07-29 11:08] #1746 closed

[2021-07-29 11:09] P0lip commented on #1617
Fixed in 5.9.2!

[2021-07-29 11:09] #1617 closed

[2021-07-29 11:09] P0lip commented on #1755
Thanks! It's been fixed in 5.9.2

[2021-07-29 11:09] #1755 closed

[2021-07-29 11:11] paimon0715 commented on #1755
@P0lip  Such a fix is the additional efforts that npm community brings to you.
The vulnerability patch in @stoplight/spectral@5.9.2 can be automatically propagated into a lot of projects.
Literally, it indeed benefits many downstream users.
Thanks again.

[2021-07-30 10:58] danielkocot opened #1759 "Update to AsyncAPI Spec 2.1.0 & 2.2.0 & 2.3.0"
**User story.**
As a API designer, I can run spectral to check my AsyncAPI, nowadays I'm only able to check specs with version 2.0.0.

**Is your feature request related to a problem?**
The new release 2.1.0 of the spec is not supported by Spectral.

**Describe the solution you'd like**
The ruleset should be extended.

https://www.asyncapi.com/blog/release-notes-2.1.0
https://www.asyncapi.com/blog/

[2021-08-04 13:47] connorpwilliams opened #1765 "Removed rules not listed in v5->v6 migration guide"
**Chore summary**
Add/update missing rules
The v5 to v6 migration guide did not have any documentation as to what happened with these three rules. Currently they are identified as non-existent.
Guide needs to be updated to indicated if the rules were merged with something else or removed.

**Tasks**
- [ ] model-decription rule - non existent rule (removed?)
- [ ] example-value-or-externalValue - n

[2021-08-04 21:36] P0lip commented on #1765
Hey!
Thanks for raising the issue.
All the rules listed don't exist already in the latest v5, thus they aren't listed in the v6 migration guide.

- `example-value-or-externalValue` has been renamed to `oas3-examples-value-or-externalValue`.

- `operation-summary-formatted` has been removed and we have no equivalent available. If you're still interested in that rule, I suggest to add it to your rul

[2021-08-05 14:30] connorpwilliams commented on #1765
Ah! I didn't know they were removed until I was getting errors this week about "You spectral file is invalid" and when opening the file I saw that the rules were non-existent.

Thank you for this, I will update my file accordingly.

Is there a way you could consider reporting rules as deprecated before removing them? This would cause a lot of my projects to not have broken rulesets and provide an

[2021-08-05 14:30] #1765 closed, assigned to P0lip

[2021-08-05 19:00] P0lip commented on #1765
Yup, totally. That's a very good idea. We do leave deprecation warnings usually in the code, but never in rulesets, so something for us to look into.

Ah, my apologies, that's presumably in Studio?
Spectral has a much better ruleset validation as of the newer version, both in terms of strictness (some user "mistakes" are considered actual errors now like these non-existent rules) & improved error

[2021-08-05 19:16] tillig opened #1767 "Auto-created releases don't include all artifacts"
In the last month or so it appears some work has been going on :tada: but as part of the CI/CD process, `stoplight-bot` is creating a release for each tag 😦  - this [`@stoplight/spectral-ruleset-migrator-v1.3.0` release](https://github.com/stoplightio/spectral/releases/tag/%40stoplight%2Fspectral-ruleset-migrator-v1.3.0) is an example.

These releases **don't include the executables or other artif

[2021-08-08 20:06] P0lip commented on #1767
Hey!

Yup, that's absolutely intended. We want an independent release tag for each package, in order to generate a changelog.

While no final decision has been made yet, it's possible we won't be including binaries from now on.
This makes little sense, now that we have different versioning.
Let me expand that topic.

`@stoplight/cli` will be released less frequently now, as rulesets, functions, co

[2021-08-08 20:58] tillig commented on #1767
I suppose from one standpoint that makes sense - having release tags per package - but from a different standpoint... I mean, I'm not sure how other folks consume this, but I'm guessing quite a few do it through the CLI. This definitely makes it harder to see the overall set of changes from one "version of the tool" to the next. Though I recognize it's not "one thing" that constitutes the tool, it

[2021-08-09 07:30] danielbecroft opened #1768 "Guidance on possible linting rules"
We're experimenting with spectral to see if it can solve some of our API consistency issues. A couple of the items we're after are:
- stopping the use of "anonymous" classes, for example, in the below, `address` needs to reference a named object, not define the properties inline
[code]

- enforcing `format` based on property names, e.g in the below snippet, any property that ends with `Date` shoul

[2021-08-09 12:35] P0lip commented on #1767
You can still consume Spectral this way, nothing has changed in this regard.
The only caveat is that the only working way to accomplish this is to install it via `npm` or `yarn` as stated in the README.
I'll make sure to get install.sh sorted out.

Although I understand this concern, having CLI including everything was a real blocker for us.
This implied that any time we introduced a breaking chan

[2021-08-09 14:11] tillig commented on #1767
The README also directs you to the docs that say you can use `install.sh`, download the binaries, or use a Docker distribution, which is why I mentioned it would be good to get the docs updated. The breaking releases/latest thing affects all those places.

<img width="419" alt="README screen shot" src="https://user-images.githubusercontent.com/1156571/128715629-1e5ab923-88ee-4bd8-bd32-22c4d6f11f56

[2021-08-09 16:33] P0lip commented on #1767
I see what you mean here, but fortunately you don't need to keep anything in your project, as everything is installed globally and lives somewhere in the folder maintained by npm that's outside of the project dir (depending on the platform)
I do realize however that the biggest pain here is the fact one has to install Node.js together with npm, and that there's no solution for it than installing N

[2021-08-09 17:18] tillig commented on #1767
I think this sounds reasonable. Basically, as long as I can get binaries my build servers will be happy. 😄

They sort of took this to the extreme [in the VS Code / ESLint integration where you _have_ to override the ESLint package](https://github.com/microsoft/vscode-eslint/blob/77b70686d5b7709e657c18de4aa278bac72ac7e7/server/src/eslintServer.ts#L885). Which is to say, you aren't allowed to instal

[2021-08-09 19:40] P0lip commented on #1767
@tillig the latest release has all the artifacts included.
The subsequent ones will also have them attached, so hopefully it's all good.
My apologies for any inconvenience caused.

[2021-08-09 19:41] P0lip commented on #1745
@carbonin Thanks, it was indeed broken. It should be working now.

[2021-08-09 19:41] #1745 closed

[2021-08-09 20:12] gonzadocarmo opened #1769 "Update rulesets docs to show how to ignore paths for specific rules"
**Chore summary**
Update documentation to reflect how to ignore rules for specific properties/fields/paths.

**Additional context**
See impl here: https://github.com/stoplightio/spectral/issues/1018#issuecomment-601011695
https://github.com/stoplightio/spectral/pull/939/commits/014806269c4b533264c9529bebfc1c76312782e3

[2021-08-09 20:19] tillig commented on #1767
🎉 YAY! I'll unpin and assume `latest` will work. I think that should solve the `install.sh` issues, too.

[2021-08-09 20:38] P0lip commented on #1769
Hey!
It's available here https://github.com/stoplightio/spectral/blob/develop/docs/guides/4-custom-rulesets.md#overrides

Example:

[code]

Instead of `**`, you can also specify any other glob pattern that matches a particular file.

[2021-08-09 20:39] P0lip commented on #1767
Let me know how it goes! :crossed_fingers:

[2021-08-09 20:46] gonzadocarmo commented on #1769
thanks @P0lip
I was thinking about bringing this back.. https://github.com/stoplightio/spectral/pull/1770/commits/aecea914842f3a0906ddb4686aa8a0c8e0820344

how would the JSON config above would look like to disable the rule "my-rule-name" for this path "#/components/schemas/Item/properties/LASTNAME" from the example in the PR diff?

[2021-08-09 20:53] P0lip commented on #1769
This would be something more or less as follows
[code]

[2021-08-09 21:23] gonzadocarmo commented on #1769
Well... that's exactly what this change is about. I added that as an example on the rulesets doc file.
I was asking how that would look like with the "overrides" example you provided? Is there a way to use overrides for this? If not, I'd like to have that example added into the doc. Thoughts?

[2021-08-09 21:34] P0lip commented on #1769
Ah sorry, I mispelled.
I meant to state `overrides` there. Updated the example.

[2021-08-09 22:04] gonzadocarmo commented on #1769
I see. How about repurposing this PR to add that example  into https://github.com/stoplightio/spectral/blob/develop/docs/guides/4-custom-rulesets.md#overrides?
I see there's one example including files and not specific paths/properties??

[2021-08-10 14:17] P0lip commented on #1769
@gonzadocarmo yup, that would be great!

[2021-08-10 16:07] tillig commented on #1767
We'll have to do a bit of work since [Azure DevOps pipeline tasks assume installed tools have a release in semantic versioning format](https://github.com/microsoft/azure-pipelines-tool-lib/blob/b0924f6b3445ec162c1db7cfd89c547b171fa0a4/tool.ts#L298) like either `v1.2.3` or `1.2.3` so when the release is `@stoplight/spectral-ruleset-migrator-v1.4.0` it blows up not understanding what the version is.

[2021-08-10 16:16] tillig commented on #1767
[I've added an issue to the Azure DevOps task library repo](https://github.com/microsoft/azure-pipelines-tool-lib/issues/128) to see if they can allow non-semver versions. It looks like the corresponding GitHub Actions library has it already set up for non-semver versions (too bad I'm not on GitHub Actions).

[2021-08-12 10:26] youngxer opened #1776 "When I checked that the integer type data of the schema must have an example, I found that 'example: 0' did not comply with the rule"
**Describe the bug**
When I checked that the integer type data of the schema must have an example, I found that 'example: 0' did not comply with the rule
**To Reproduce**
1. example.yaml
[code]
the rulesets:
[code]
2. Run this CLI command
[code]
3. See error
`error  date-type-example  Data type must have 'example'.          paths./schema-example.get.responses[500].content.application/json.schema.p

[2021-08-12 15:32] P0lip commented on #1776
Hey!
The `truthy` fn you use won't work in this case. `0` is not considered a truthy value, thus it'll be flagged.
Have you considered using `defined` function instead?

[2021-08-12 17:39] P0lip commented on #998
Hey!
We've decided to drop `schemaPath` in the latest release.
I'm not sure whether you still use that function or not, but in case you do, you can take a look at how we came up with a different implementation over here https://github.com/stoplightio/spectral/pull/1633

[2021-08-12 17:39] #998 closed

[2021-08-12 17:41] P0lip commented on #1476
Hey!
Thanks for the PR.
This should be no longer the case in the newer version of Spectral.
We made sure to abort the linting when an exception occurs.
LMK what you think.
I'll close out the issue in the meantime. Do feel free to reopen it the event of an unexpected behavior or any other concern.
Thanks.

[2021-08-12 17:46] P0lip commented on #1037
This is expected and the default behavior of Ajv. `schema` function takes `allErrors` option that one can override if needed.

[2021-08-12 19:48] nulltoken commented on #1037
@P0lip Would there be any way to let the CLI user to override this default?

[2021-08-13 01:35] youngxer commented on #1776
Thank you very much for your reply and help, which made me feel suddenly enlightened. @P0lip

[2021-08-17 05:19] rahulgopal88 opened #1778 "Disable recursive resolution in spectral"
**User story.**
As a spectral developer, I want to disable recursive resolution, so that I can use my custom rule set to only parse the source code of relevant API

**Is your feature request related to a problem?**
Disable the resolution of $ref. Currently on running a spectral linter, all the $ref are resolved and then the rule set is applied. This can lead to a lot of redundant warnings/errors w

[2021-08-17 10:54] P0lip commented on #1767
Ah, hm. That's unfortunate. Does it only support semantic versioning or are other versioning systems supported too?
I was thinking about including the date, similar to some of other vendors do it, but I'm not sure if that'd help in your case.

Yeah, it's the version of the current stoplight/spectral-cli package.

[2021-08-17 14:00] tillig commented on #1767
It really only supports semantic versioning - `x.y.x`. It [uses the `semver-compare` package](https://www.npmjs.com/package/semver-compare) in its [version location code](https://github.com/microsoft/azure-pipelines-tool-lib/blob/b0924f6b3445ec162c1db7cfd89c547b171fa0a4/tool.ts#L92) to help locate the latest if you specify a version range.

I'm guessing the issue I filed won't meet with success be

[2021-08-18 00:35] P0lip commented on #1767
Ah, I see, too bad.

Is there any particular reason you rely on that package to install Spectral? I suppose it might come up with some caching, but given the fact we have a fixed release cadence (we have a cron job that's executed daily, and if there's any commit to be published, a new release is cut), implementing caching manually might be actually feasible and, hopefully, not too complex.
Moreov

[2021-08-18 09:35] Fannon opened #1779 "Possible to develop, test and debug functions in TypeScript directly?"
**User story.**
As a ruleset developer, I can use TypeScript to develop, test and debug my custom functions, so that I can benefit from the type safety and still use debug breakpoints in the functions.

**Is your feature request related to a problem?**
It already is possible to use TypeScript for writing functions, but when adding them to my ruleset, I need to include the compiled JavaScript funct

[2021-08-18 13:20] P0lip commented on #1769
Hey! In #1772 I made it so that the old syntax works again, so I believe we can close this issue for now.
If you'd like to update the documentation, you're still more than welcome to do it!
Thanks and hit me up if you have any questions.

[2021-08-18 13:20] #1769 closed, assigned to P0lip

[2021-08-18 14:18] P0lip commented on #1776
No problem, glad I could help! Feel free to reach out to us.
In the meantime, I'll close this one.
If there's anything left here, please let me know down in the comment.
Thanks!

[2021-08-18 14:19] #1776 closed, assigned to P0lip

[2021-08-18 14:40] tillig commented on #1767
Well... yeah. The task library the Azure DevOps (and GitHub Actions) team provides handles a lot of stuff for you, like:

- Making sure you don't double-download the same tool in the same pipeline
- Putting the tool on your path so it's usable
- Caching the tool in an appropriate location so you don't stomp any other tools and don't have to write it into your source checkout location
- Dealing wit

[2021-08-19 02:26] DerManoMann opened #1780 "oas3-valid-oas-content-example value type"
Something somewhere between a question and a bug report...

`spectral` reports an error for `oas3-valid-oas-content-example` where the value of a content example is not an object.

Given this fragment in the spec:
[code]
this error is reported:
[code]

The specs (3.0.3 and 3.1.0) the type of `value` as `Any`.

`swagger-cli` does not report this as an issue.

spectral version: 5.9.1
OS: macos

[2021-08-19 11:30] bertramakers commented on #1274
We also encountered this bug today.
AFAIK `readOnly` and `writeOnly` are not removed from OpenAPI v3.1.0, it was only adjusted to be compliant with JSON schema which means that it can only be set on properties, not anymore on models.
But the bug is also  still present for (at least)`readOnly` + `required` on properties in request bodies.

[code]

(However in our case it was the `oas3-valid-media-e

[2021-08-19 11:35] #1752 closed

[2021-08-19 11:49] mrjoops commented on #1274
I encountered this bug yesterday, using Stoplight, prepared a test document and came here to create an issue and found this one.
Here is my test, anyway:
[code]

And here is Spectral output:
[code]

[2021-08-19 21:53] P0lip commented on #1767
Thanks for the detailed write-up!

Speaking of the tool, it appears like it indeeds simplifies the process, thus it's probably best to stick to it as you noted.

I'd argue Spectral is considerably different from all of these packages.
It's kind of like you had _both_ ESLint and `typescript-eslint` and the airbnb config in the same repo.
In other words, it's the engine itself and a number of config

[2021-08-19 22:04] tillig commented on #1767
I think that's the trouble with having a tool and libraries - GitHub releases _is_ a great solution to handle updates... for the _binaries_ or the standalone tool.

Now, the other option you have is to start supporting other installation mechanisms. For example...

- Homebrew for MacOS
- `apt-get` and other package managers for Linux
- `winget` and Chocolatey for Windows

I think GH releases is pr

[2021-08-19 22:09] tillig commented on #1767
Out of curiosity - you mentioned `npm` is the source of truth for Node.js updates and many packages don't even use GH releases. It seems like that might be a reason to dedicate the GH releases to the tool part of things.

Who is the intended consumer of these non-semver releases? Is it expected library consumers would come in there to see changes? Something else? Could you generate a GitHub Pages

[2021-08-19 22:37] P0lip commented on #1767
True, I agree with you.

I'm afraid this won't be possible for other reasons than engineering-related.

I really like this idea. Honestly, we used to maintain our own changelog.md anyway, therefore it wouldn't change much if we had these automated changelogs or not.
I believe I'll go down this path - not going to happen today or tomorrow, but hopefully next week assuming I won't need to rewrite th

[2021-08-19 22:42] tillig commented on #1767
You are _royalty among people_. Thanks - this will make life a lot easier.

[2021-08-20 14:33] P0lip opened #1782 "Certain valid patterns are not accepted by schema function"
**Describe the bug**

In some cases, Ajv bails upon a valid pattern.
It's presumably an issue with Ajv, or, with the way we use Ajv.

**To Reproduce**

1. Run the following snippet
[code]
2. Exits with non-zero code

**Expected behavior**

Exits with a zero-code

Related to https://github.com/stoplightio/platform-internal/issues/7541

[2021-08-20 14:54] P0lip opened #1783 "length gets imported as length$0"
**Describe the bug**

What the title says.

**To Reproduce**

1. Given the following YAML ruleset
[code]
2. Run migration
3. Get the following output

[code]

**Expected behavior**

[code]

Related to https://github.com/stoplightio/platform-internal/issues/7541

[2021-08-24 10:22] mmiask commented on #1782
My findings so far: the provided snippet fails directly in:
[code]

The error message we get is
[code]

What causes the failure is a provided regex pattern `'^[A-Za-z0-9\\-\\_]'`, to be more specific `\\_` fragment.
When using string literal as a pattern for new `RegExp('pattern', 'u')` ,  the backslash is an escape, so to use it in the regular expression, we need to escape it at the string litera

[2021-08-24 10:31] machisuke opened #1786 "The v6.0.0 docker image is not being pushed."
**Chore summary**
The v6.0.0 docker image is not being pushed.

https://hub.docker.com/r/stoplight/spectral/tags?page=1&ordering=last_updated

**Tasks**
- [ ] Tag v6.0.0 to push the v6.0.0 dokcer image.

**Additional context**

This is the circleci job thas releases images to docker hub.
https://github.com/stoplightio/spectral/blob/45de601dc7feba346b79417e7db32cb00181ab39/.circleci/config.yml#L254

[2021-08-24 10:33] machisuke commented on #1786
@P0lip Could you please confirm?

[2021-08-24 11:05] #1783 closed, assigned to P0lip

[2021-08-25 03:55] phoenixy1 commented on #1603
We have this issue too. Comoforting to know at least that it's only an issue with spectral and that the OpenAPI file is apparently correct.

[2021-08-26 00:41] P0lip commented on #1786
Hey @machisuke
I can confirm it's not pushed - my apologies for the troubles.
I'll try to push the tag later this week / early next week. Prior to that, a few minor changes will have to be applied, but this shouldn't take long.
I will make sure to let you know once the docker image is out.
Thank you for your patience and once again sorry for the inconvenience.

[2021-08-26 06:40] MarcusAckermann opened #1789 "v6.0.0 does not accept core function 'length' and a custom function in a single ruleset"
**Describe the bug**
A ruleset which contains a custom function and uses the core function 'length' cannot be processed. The output is

**To Reproduce**

Find the ruleset and the OpenAPI document attached.
[spectral.zip](https://github.com/stoplightio/spectral/files/7052137/spectral.zip)

1. Given any valid OpenAPI document
2. Run this CLI command 'spectral lint -r api-guidelines-internal.yaml ope

[2021-08-26 06:42] #1789 closed, assigned to nobody

[2021-08-26 06:43] MarcusAckermann commented on #1789
Sorry, my mistake.

[2021-08-27 14:43] P0lip commented on #1767
Heyo!
Just wanted to follow-up - I'm going to get this done tomorrow.
I've done some research around semantic-release, and I'll need to make a few minor changes in our config, but we should be good.

[2021-08-27 19:40] kscheirer commented on #1778
`resolved: false` is the correct way to do this. Can you post the rule and result you are seeing?

[2021-08-27 23:44] #1455 closed

[2021-08-28 18:04] yordis opened #1792 "[Feature] Disallow changing values"
**User story.**
As a programmer, I would like to disable the ability to modify operations ID

**Is your feature request related to a problem?**
If somebody changes the operation ID by mistake, or intentionally; it will cause breaking changes and compilation failures in our setup.

**Describe the solution you'd like**
Add a rule where we can disable the ability to change the operation ID. I thought

[2021-08-28 23:03] P0lip commented on #1767
@tillig as promised, it's out https://github.com/stoplightio/spectral/releases/tag/v6.0.0
I also moved changelogs around and explained how versioning works - this work is happening [here](https://github.com/stoplightio/spectral/tree/chore/changelogs).

[2021-08-28 23:07] tillig commented on #1767
Sweet! I will unpin in our build and give it a shot on Monday!

[2021-08-30 11:23] P0lip commented on #1748
Hey!
My apologies for a late answer.
That's on purpose.
In JSON, we use 0-based indices following [LSP](https://microsoft.github.io/language-server-protocol/specifications/specification-3-17/#range).
All other formatters use 1-based indices.

[2021-08-30 14:41] raleigh04 commented on #1782
Related to Spectral not working with BIG APIs.  (#7541)

[2021-08-31 09:44] tsimbalar opened #1795 "`kebab` casing rule complains about "single letter" digits"
**Describe the bug**
Custom rules which enforce `kebab-case` flag string items made of a single character that is a digit.

**To Reproduce**

1. Given a custom rule like this one in `.spectral.yaml` :

[code]

2. and a `./docs/swagger.yaml` document like this :

[code]

3. Run this CLI command

[code]

4. See error
[code]

**Expected behavior**
It should accept `'0'` pr `'1'` as valid `kebab-case`

[2021-08-31 12:27] DavidBiesack opened #1796 "Running `spectral` 6.0.0 command without ` --ruleset` CLI option fails"
**Describe the bug**

Using 6.0.0 installed from the installation page, running lint returns an error `No ruleset has been found`

**To Reproduce**
[code]

**Expected behavior**

As per the [doc page](https://meta.stoplight.io/docs/spectral/ZG9jOjI1MTg1-spectral-cli#using-a-ruleset-file) , use the default ruleset (i.e. `spectral:oas` in this case)

**Environment:**

 - spectral CLI 6.0.0
 - OS: Ma

[2021-08-31 12:29] #1727 closed

[2021-08-31 12:33] P0lip commented on #1796
Hey!
That is expected - I updated the documentation to reflect the change in behavior.

[2021-08-31 12:55] P0lip commented on #1260
Fixed by https://github.com/stoplightio/spectral/pull/1785 :tada:
![image](https://user-images.githubusercontent.com/9273484/131505952-3ce71ee2-bfcf-494a-a05d-2caee6cbbf01.png)

[2021-08-31 13:51] P0lip commented on #1748
I'll close the issue for now. I hope the explanation makes sense.
We may revisit this in future, but if we ever happen to alter the existing behavior, it'll be clearly noted in changelog / docs.
Shall you have any other concerns or questions, feel free to drop them over here :)

[2021-08-31 13:51] #1748 closed

[2021-08-31 14:59] #1782 closed, assigned to P0lip

[2021-08-31 15:04] P0lip commented on #1767
I'm going to close this one, but shall you have any further troubles, reach out to me here, please.
I believe we should be good, as this works exactly as it used to do in the past, so I don't expect any change in the behavior, but do let me know in case something is still off for you.

[2021-08-31 15:04] #1767 closed, assigned to P0lip

[2021-08-31 15:19] P0lip commented on #1795
Hey!
We indeed do not consider such a string a kebab-case compliant, however you can still work around this.
It appears to me that you might use the `pattern` function.

[code]

Would that solve your issue?

[2021-08-31 16:15] tillig commented on #1767
Verified this works, thanks!

Would have checked yesterday but... 😩  let's just say "Windows domain account" + Mac = _pain_. That's 11 hours of password reset and account synchronization I'll never get back.

But this works! So yay!

[2021-08-31 16:36] staboness opened #1799 "Poor documentation"
**Chore summary**
Improve documentation for JS and add more examples of usage

**Tasks**
After updating to v6, I can't figure out how to register already existing formats, used to be:
[code]

now:
[code]
Unable to use formats in rules, example:
[code]
Receiving error: "exampleRules/formats/0 must be a valid format" and I was unable to find "valid" formats in docs (oas2 and etc. not working)

Unabl

[2021-08-31 17:52] P0lip commented on #1799
Hey!
You no longer need to register formats.
They come with rulesets now, so whichever format ruleset specifies is going to be respected by Spectral.
This means, you can get rid of `registerFormat` call entirely.
This also lets you override these formats if you'd like to do so.

We have an updated JS guide section over [here](https://github.com/stoplightio/spectral/blob/develop/docs/guides/3-javas

[2021-08-31 18:29] P0lip commented on #1767
Haha, no worries.

Glad to hear it works!

[2021-08-31 21:20] DavidBiesack commented on #1796
Ouch! It is _expected_ to make a command line option required where one was not required before?
As a user, I don't think that is very user friendly.  I respectfully ask that you revert the decision to make this spectral's expected behavior.

Also note that the CLI help does _not_ document this as required either, just `spectral lint [documents..]` :

[code]

( `--ruleset` is not one of the "Optio

[2021-08-31 21:40] falnyr commented on #1796
I am also facing this issue, documentation across the board specifies that the ruleset is not required.

IMHO it prevents people from adopting the tool simply because now you have to specify configuration even though you are actually not adding anything to it (as per your comment on https://github.com/stoplightio/spectral/pull/1797)

`echo "extends: spectral:oas" > .spectral.yaml`

[2021-08-31 22:10] P0lip commented on #1796
It's not required to provide the ruleset flag - the flag is needed only if you don't have the ruleset file in your current working directory. Otherwise, it's no longer required.

That said, as long as you have `.spectral.json` or `.spectral.yaml` you're good to go, and don't need to do anything.

It depends on the usage of Spectral - I presume most of users actually do have their own rulesets, so

[2021-08-31 22:22] P0lip commented on #1456
Hey!
This is going to be fixed by https://github.com/stoplightio/spectral/pull/1785

[2021-08-31 22:41] falnyr commented on #1796
I'm not sure if you can validate that assumption in some way, but Spectral is part of [GitHub's SuperLinter](https://github.com/github/super-linter). Which has a major use case of "run this against your repo with zero config".

I am not sure how SuperLinter's team is going to address this as it takes away the generic approach and forces you to go more specific.

[2021-08-31 22:47] P0lip commented on #1796
As far as I can see they [cover](https://github.com/github/super-linter#environment-variables) plenty of various configuration files.

I might be wrong, but I believe their zero-config approach means you don't need to configure SuperLinter itself.
It doesn't imply that a given validator won't need some sort of a styleguide or configuration.

I actually went ahead and checked how `stylelint` behave

[2021-09-01 00:19] staboness commented on #1799
Great! Thank you for fast response and providing additional example!

[2021-09-01 12:52] #1799 closed, assigned to nobody

[2021-09-01 13:26] spyrbri commented on #1796
Maybe it would be good to include the new documentation in the installation steps or link the new documentation somehow in an earlier stage. I followed the installation steps and I got stuck on:

`No ruleset has been found. Please provide a ruleset using the --ruleset CLI argument, or make sure your ruleset file matches .?spectral.(js|ya?ml|json)`,

 then I checked the issues to see if anything re

[2021-09-01 15:31] staboness opened #1808 "Error compiling schema"
**Describe the bug**
After `yarn add @stoplight/spectral-core`, then `yarn add @stoplight/spectral-functions` and importing core:
[code]
receiving a long error:
[code]
And also this one at `/lib/compile/index.ts:199`:

[code]

It happens exactly after I install `@stoplight/spectral-functions` module, everything works fine without "functions", but I'm not able to use Spectral v6 with JS syntax.

**

[2021-09-01 18:20] P0lip commented on #1808
It's not an issue with Spectral itself.
I've run into this before - it happens because you apparently have multiple instances of Ajv.
Make sure to deduplicate them, otherwise it won't work.
If you use yarn, you can try to run [yarn-deduplicate](https://www.npmjs.com/package/yarn-deduplicate)

[2021-09-01 18:20] #1808 closed, assigned to nobody

[2021-09-02 13:46] staboness commented on #1808
Can confirm, lots of issues with yarn 1, npm works fine

[2021-09-02 14:07] P0lip commented on #1808
Yeah, we've run into many issues with yarn v1 as well.
Time to upgrade to 2 or 3 😄

[2021-09-03 09:14] maxbec opened #1814 "'ownKeys' on proxy: trap returned duplicate entries"
**Describe the bug**
On execution of `spectral lint` on a local yml file this error pop's up:
`'ownKeys' on proxy: trap returned duplicate entries`

**To Reproduce**

1. Run this CLI command `spectral lint` behind a proxy server.

**Expected behavior**
Error like above.

**Environment (remove any that are not applicable):**
 - Library version: latest
 - OS: Windows 10

[2021-09-03 13:21] P0lip commented on #1814
Hey!
Any chance you could provide us the document you use?

[2021-09-03 19:15] #1260 closed

[2021-09-03 19:15] #1456 closed

[2021-09-04 09:33] benjamin-mogensen opened #1818 "Spectral dependency vulnerabilities"
**Chore summary**
Update dependencies so that they use later versions that are not having any security vulnerabilities

**Additional context**
In Github we have received two dependabot warnings for @stoplight/spectral@6.0.0-alpha3 (same version that Stoplight Desktop is using) one for immer and one for pac-resolver. Not sure how these are normally fixed - but is it possible to release a new versio

[2021-09-06 06:16] maxbec commented on #1814
Unfortunately not! :/ But maybe you can give me a hint where to look.

[2021-09-06 08:50] P0lip commented on #1814
I have a hunch it might be caused by https://github.com/stoplightio/ordered-object-literal/blob/master/src/index.mjs#L38.
Any chance you have duplicate properties in your document? is it a YAML or JSON doc?

[2021-09-06 08:52] maxbec commented on #1814
Thank you. I will have a look. It is YAML.

[2021-09-07 22:14] mikekistler opened #1821 "spectral-cli fails to load functions of a ruleset that is loaded over HTTP"
**Describe the bug**

Spectral-cli fails to load functions of a ruleset that is loaded over HTTP.  This is a regression from Spectral@5.9.1.

**To Reproduce**

0. With `@stoplight/spectral-cli@6.0.0` installed globally
1. Given _any_ OpenAPI document
2. Run this CLI command
[code]
3. See error
[code]

**Expected behavior**

0. With `@stoplight/spectral@5.9.1` installed globally
1. Given _any_ Open

[2021-09-08 14:16] ioggstream opened #1822 "Merge keys in ruleset not working in 6.0.0"
**Describe the bug**
- merge keys in ruleset seem not to work

**To Reproduce**

1. run

[code]

2. I get an error

[code]

**Expected behavior**
spectral not to raise error

**Environment (remove any that are not applicable):**
 - Library version: 6.0.0

**Additional context**
Provided ruleset references a previous yaml entry

[code]

[2021-09-08 15:37] #1822 closed, assigned to P0lip

[2021-09-08 21:54] kscheirer commented on #1821
This is a good idea, this would be useful!

[2021-09-09 08:17] jgumpert commented on #1786
Hi all,

@P0lip, is there any proposed date for the release of version 6.0.0?

[2021-09-09 10:44] avinashpise opened #1826 "TypeError: rootPath is not iterable"
**Describe the bug**
Custom function/Custom rules fails to execute using javascript. Implemented the example mentioned in the [document](https://meta.stoplight.io/docs/spectral/ZG9jOjI1MTkw-custom-functions#returning-multiple-results)

**To Reproduce**

1. Given a custom rule mentioned in document
[code]
2. Create `uniqueTagNames.js` file under functions directory as mentioned in above document
[c

[2021-09-09 10:46] P0lip commented on #1826
Hey!
[code]
should be
->
[code]

`rootPath` is no longer needed, we dropped both `.target` and `.given` as these were super confusing and in reality there was never any needed for exposing both of them.

[2021-09-09 10:49] P0lip commented on #1826
The list of parameters is here https://meta.stoplight.io/docs/spectral/ZG9jOjI1MTkw-custom-functions#writing-functions.
I'll update the examples.

[2021-09-09 10:59] avinashpise commented on #1826
am i missing some configuration? Updating the example will helps to implement custome function concept.

[2021-09-09 11:01] P0lip commented on #1826
You are not missing anything, it's just the example that's a bit stale.
I'm updating them.
In the meantime, however, the above fragment I posted should do the trick - it's the only change you have to make.

[2021-09-09 12:55] #1826 closed, assigned to nobody

[2021-09-09 12:57] avinashpise commented on #1826
Thanks @P0lip, it's working!!!!

[2021-09-09 16:44] ioggstream commented on #1822
@P0lip Great work! Thanks!!!

[2021-09-10 02:41] mikekistler opened #1827 "Spectral throws for property with name starting with "@" that has example"
**Describe the bug**

Spectral throws an exception on an API doc with a schema property where the name starts with "@" and there is an example.
E.g.:
[code]

**To Reproduce**

1. Given the OpenAPI/AsyncAPI document above
2. Run this CLI command
[code]
3. See error
[code]

**Expected behavior**

No exception.

**Environment**
 - Library version: Spectral@5.9.2, but also happens with spectral-cli@6.

[2021-09-10 21:20] P0lip commented on #1827
Yeah, this is an issue with JSONPath-plus.
I swapped JSONPath-plus with our own implementation -> https://github.com/stoplightio/spectral/pull/1785
It's been merged and released, but we are still to release a new standalone package (cli).
That said, once released, the issue should be gone.
I'll let you know when that happens.

[2021-09-10 21:20] P0lip commented on #1821
I suppose this will be fixed by https://github.com/stoplightio/spectral/pull/1824.
I'll make sure to verify that prior to merging.

[2021-09-13 05:32] P0lip commented on #1778
I'd say `resolved` set to `false` is likely what you're up for here.

Alternatively, one can try providing a custom ref resolver that's no-op, meaning it doesn't attempt to resolve any $refs.
This one is a bit hacky however, and you probably don't want to do this.

[2021-09-13 05:34] P0lip commented on #1795
@tsimbalar have you had a chance to verify the above rule yet?
We're unlikely to address that in the `casing` function itself, as this is not a kebab-case string after all.

[2021-09-13 06:57] tsimbalar commented on #1795
@P0lip sorry, I forgot to loop back.

Yes, this seems like a good workaround, so we can probably close this issue, if we consider it is expected.

I guess my doubt was more of a "why is `'1'` not valid `kebab-case` ?"

[2021-09-13 20:17] P0lip commented on #1795
It's not considered such because it has no letters.
Most of regular expressions I found in the Internet were similar to the ones we have in Spectral, hence supporting numbers would be rather something non-standard (despite casing not being any standard AFAIK).

In other words, the casing function is expected to be applied to values that do have some letters.
I hope that clarifies.

[2021-09-14 09:15] P0lip commented on #1827
[Confirmed](https://github.com/stoplightio/spectral/commit/4e8da71a36526e51fae06be0a13db5dd77ad77d6#diff-c0837cae965b2ef8f3718d74589b20eeb204063b2376c4d01a1303299523b6ed) to be fixed in the recent `@stoplight/spectral-core` package.

I also gave it a try live and works.

![image](https://user-images.githubusercontent.com/9273484/133230487-25300b04-ebb1-4775-b3e6-9b89e41820ee.png)

The fix will be

[2021-09-14 09:15] #1827 closed, assigned to P0lip

[2021-09-14 09:18] P0lip commented on #1795
I'll close the issue for the time being.
I hope the workaround provided is good enough.
Do feel free to reach out here in case it doesn't work or you simply have other concerns / questions.
Happy to help.

[2021-09-14 09:18] #1795 closed, assigned to P0lip

[2021-09-14 10:28] tsimbalar commented on #1795
Thanks !

[2021-09-14 16:48] jarrodparkes commented on #1054
@philsturgeon any updates on this? is there anyway to bypass circular references, use the new parser, etc in the meantime?

[2021-09-15 07:01] philsturgeon commented on #1796
Thanks for the feedback folks. This decision was made because the goal is for Spectral to be a generic linter, with rulesets for common use cases like OpenAPI being available but not the assumed default. We have been autoguessing a lot of stuff, and now with Overrides its much easier to say "stuff in this folder is OpenAPI, stuff in this folder is GitHub Actions" or whatever other stuff needs lint

[2021-09-15 07:01] #1796 closed, assigned to P0lip

[2021-09-15 07:02] philsturgeon commented on #1054
Ping @mnaumanali94

[2021-09-16 12:00] hiddewie commented on #1786
The NPM module of version 6.0.0 also has not been published yet. The last 6.0.0 alpha version is 6.0.0-alpha3.

ref https://www.npmjs.com/package/@stoplight/spectral

If needed I can make a separate issue because this one is about the Docker image.

[2021-09-16 15:49] emilioSp opened #1832 "spectral 6.0.0 on npm"
Hi guys! How are you? I hope you are doing well.

@P0lip I'm sorry to bother you but for an urgent project, I should use the open api 3.1.0 specification.

I saw that you have already implemented its support in the spectral version 6.0.0, but on npm there is still the old spectral version (5.9.2)

Do you have in plan to publish the 6.0.0 version on npm in a short time?

Thank you very much!

[2021-09-17 07:47] jgumpert commented on #1786
Yes @hiddewie, please.
It would be great to have version 6.0.0 stable, as soon as posible.

[2021-09-17 09:12] hiddewie commented on #1832
Ref https://github.com/stoplightio/spectral/issues/1786 and specifically https://github.com/stoplightio/spectral/issues/1786#issuecomment-920839529

[2021-09-17 09:13] hiddewie commented on #1786
@emilioSp opened #1832 which seems the same issue

[2021-09-17 11:28] mnaumanali94 opened #1835 "Change `develop` to `main`"
With Spectral V6 now in the wild, let's change develop to main branch as the default one.

[2021-09-17 11:33] mnaumanali94 opened #1836 "Deprecate spectral npm package from command line"
With spectral-cli now the new way to use spectral, lets deprecate the spectral package on NPM.

Message "Spectral's latest version is now available as `@stoplight/spectral-cli` on npm"

Follow up task:

Republish `spectral-cli` on the `spectral` package for continuity of use.

[2021-09-17 11:35] mnaumanali94 commented on #1832
Ref: #1836

[2021-09-17 11:37] mnaumanali94 opened #1837 "Change Aliases to accept targets for multiple formats and description"
**User story.**
As a spectral user, I can specify targets for multiple formats and add a description. This would allow users to use the same alias for multiple formats i.e. OAS3, AsyncAPI e.t.c

**Is your feature request related to a problem?**
Aliases today accept a single target which results in duplication for the various supported formats.

**Describe the solution you'd like**
Change aliases t

[2021-09-17 12:14] P0lip commented on #1786
Heyo, I'll try to get this done next week!

[2021-09-17 21:17] P0lip commented on #1832
@emilioSp what Nauman said.
IIRC you happened to use the JS API of Spectral, so you might be interested in `@stoplight/spectral-core` which doesn't have any CLI specific code.
LMK if you have any questions

[2021-09-21 11:58] anikitin opened #1843 "oas3-valid-oas-content-example rule doesn't detect example attributes which are not defined in schema"
Examples which contain properties which are not defined in schema do not cause any linter error.

Here is the example of my schema:

[code]

In this particular case example contains "field3" attribute, while the schema only defines "field1" and "field2".
Default OAS3 rules set doesn't produce any errors. (At the same time it does validate the missing required "field1" if I remove it or datatype mi

[2021-09-26 19:31] P0lip commented on #1786
Hey.
The latest image is available.
https://hub.docker.com/r/stoplight/spectral/tags?page=1&ordering=last_updated

[2021-09-26 19:31] #1786 closed, assigned to P0lip

[2021-09-28 08:16] emilioSp commented on #1832
@P0lip thanks! now it's clear! Indeed I use both the cli both the core 😁

I've solved the problem for the cli using https://www.npmjs.com/package/@stoplight/spectral-cli

[2021-09-28 08:16] #1832 closed, assigned to nobody

[2021-09-28 14:00] hiddewie opened #1851 "Spectral CLI lint does not emit errors when the linted file does not exist"
**Describe the bug**

When a linted file does not exist, no error is emitted, and the CLI exit code is 0.

**To Reproduce**

[code]

**Expected behavior**

An error should be emitted

**Environment (remove any that are not applicable):**
- Library 6.0.0
- OS: Debian Buster

[2021-09-28 14:07] aaronahearne opened #1852 "Mismatch between validation criteria and field"
**Describe the bug**

Validator points to "example" states "required" field must be an array. Conflicting messages and incorrect validation.

**To Reproduce**

1. Given this OpenAPI/AsyncAPI document from Transferwise found here: https://api-docs.wise.com/#recipient-accounts-requirements. Mainly regarding structures such as:

[code]

2. Run this CLI command 'spectral lint {{your_openapi.json_file}

[2021-09-28 14:52] P0lip commented on #1851
Hey!
You should use `--fail-on-unmatched-globs` flag.
It's false by default.

[2021-09-28 14:52] #1851 closed, assigned to nobody

[2021-09-29 08:42] dolmen opened #1853 "Add a built-in ruleset to validate Spectral ruleset"
**User story.**
As a user, I would like to check that the ruleset I've written to use Spectral is valid.

**Is your feature request related to a problem?**
As Spectral is a JSON/YAML validator and Spectral rulesets are written in JSON or YAML I would like to use Spectral for that task.

**Describe the solution you'd like**
Add a built-in ruleset for Spectral ruleset like we have for OpenAPI and As

[2021-09-29 09:30] Gerben-T opened #1854 "spectral-cli doesn't work on node <= 12.20"
**Describe the bug**
Error when running spectral cli `Cannot find module 'nimma/legacy'` on node version 12.
[`package.json`](https://github.com/stoplightio/spectral/blob/develop/package.json#L23) says that `node >= 12` is supported, but the [`nimma`](https://github.com/P0lip/nimma) [`package.json`](https://github.com/P0lip/nimma/blob/master/package.json#L14) increases this version to `node >= 12.

[2021-09-29 15:05] AX-LLaidley opened #1855 "Can't install Spectral 6.0.0 on macOS Big Sur"
**Describe the bug**

When I tried to install Spectral 6.0.0 on macOS Big Sur 11.6, it shows up as a document, rather than a pkg or dmg file. When I try to open this file, my Mac first tries to open it in TextEdit, and then I get an error that "spectral-macos cannot be opened because it is from an unidentified developer. macOS cannot verify that this app is free from malware."

**To Reproduce**

1

[2021-09-29 18:02] P0lip commented on #1855
Hey!
This is not an installer.
Spectral doesn't offer any GUI and is supposed to be used from the terminal.
Once it's downloaded, one can open the terminal and run `./spectral-macos lint`
We have a brief overview available [here](https://github.com/stoplightio/spectral/blob/develop/docs/guides/2-cli.md)

[2021-09-29 18:02] #1855 closed, assigned to nobody

[2021-09-29 18:06] P0lip commented on #1854
True, I'll change the required version to 12.20.

[2021-10-02 16:13] cmars opened #1861 "Nested relative filepath extends not resolved correctly"
**Describe the bug**
Extending a YAML ruleset "A" which in turn extends a YAML ruleset "B", expressed with a path location relative to "A", results in ENOENT with spectral-cli@6.0.0.

Earlier versions of spectral, such as @stoplight/spectral@6.0.0-alpha3, did not have this problem. It appears to be a regression, and is blocking our upgrade to 6.0.0 GA.

**To Reproduce**

Extract this test scenario

[2021-10-03 19:19] lintaba opened #1863 "matrix parameter type not supported with openapi3"
**Describe the bug**
openapi 3 (or swagger2) supports matrix parameter style, which looks like this:
`/foo/bar;key=value/baz`
in this case, the query path should look like this: `/foo/bar{;key}/baz`.
however its currently not supported, and gives the following error message:
`Parameter "key" must be used in path "/foo/bar{;key}/baz".`
It most probably comes from https://github.com/stoplightio/spec

[2021-10-04 09:18] P0lip commented on #1863
Hey!
Your findings are indeed correct. We don't support matrix parameter type just yet.
The support for that would need to be added somewhere in https://github.com/stoplightio/spectral/blob/develop/packages/rulesets/src/oas/functions/oasPathParam.ts as you indicated in the issue.
Would you be open to tackling this issue?
Happy to provide you any support you may need to get started.

[2021-10-04 10:39] lintaba commented on #1863
Hey!

I've tried to set up a working copy to check whether my changes are correct, but i hadnt succeeded. (cloned the repo, but havent found a working entry point :/ ) If you can help me set it up, i can check if my fix is correct.

However I think the following change would do the trick:
https://github.com/stoplightio/spectral/blob/develop/packages/rulesets/src/oas/functions/oasPathParam.ts#L5
[c

[2021-10-04 11:07] lintaba commented on #1863
I made a PR with these changes, but cannot validate/test it on my own :/

[2021-10-04 17:26] P0lip commented on #1843
@anikitin Hey!
It works as expected, as the example complies with the schema provided.
You'd need to use `additionalProperties: false` in order to make that schema check fail.

[code]
![image](https://user-images.githubusercontent.com/9273484/135896575-6801da3d-47d3-4115-8596-ec9c6484c1cb.png)

[2021-10-04 17:26] #1843 closed, assigned to P0lip

[2021-10-04 17:28] P0lip commented on #1853
Heyo!
I agree. We probably wouldn't expose a ruleset, but a CLI command for that, i.e. `spectral ruleset validate` or alike.
This would probably output errors in a similar way to `spectral lint`.
I have some code somewhere that adds it, but haven't had enough time to get this over the finish line.

[2021-10-04 17:35] P0lip commented on #1814
Have you had the chance to look into this yet?
I'd be very happy to dive into it but would need at least a small reproducible example.
If you could come up with any sample, that'd be great.

[2021-10-04 17:38] P0lip commented on #1281
Closing this one out - nimma is no longer opt-in, it's enabled by default.
That said, I ensured we are backward compatible with jsonpath-plus, by:
- running tests from jsonpath-plus repo -> https://github.com/P0lip/nimma/blob/master/src/__tests__/compatibility.test.mjs
- providing a fallback if we cannot process some expression -> https://github.com/P0lip/nimma/blob/master/src/fallbacks/jsonpath-p

[2021-10-04 17:38] #1281 closed

[2021-10-04 18:23] P0lip commented on #1863
Hey!
You can verify the changes over here https://github.com/stoplightio/spectral/blob/develop/packages/rulesets/src/oas/__tests__/path-params.test.ts

Just add any examples, and the expected results and then run `yarn test.jest packages/rulesets/src/oas/__tests__/path-params.test.ts`

[2021-10-04 18:41] reece opened #1875 "Operation must have "operationId" reported for OpenAPI schema"
**Describe the bug**

Within stoplight.io, I get `Operation must have "operationId"` for OpenAPI 3 schema. operationId is not required for OpenAPI, but is required for asyncAPI.

**To Reproduce**

1. Create an API with the OpenAPI provided below.

**Expected behavior**

No error or warning because [operationId is not REQUIRED in OpenAPI 3.0.0](https://github.com/OAI/OpenAPI-Specification/blob/main