[2018-08-17 20:03] rossmcdonald opened #1 "Add JSON schema validation support"
Here is an example of OpenAPIv2 schema:

https://github.com/stoplightio/designer/blob/master/src/graph/nodes/oas2/schema.ts

Here is an example of using AJV to validate:

https://github.com/stoplightio/designer/blob/master/src/graph/nodes/oas2/validation-provider.ts#L7-L14

[2018-09-13 16:11] rossmcdonald opened #2 "Improve enabled/disabled rule handling"
Right now disabled rules are pruned when registering them. We want to be able to register rules and then check enabled/disabled at run-time.

[2018-09-13 16:30] rossmcdonald opened #3 "Spectral Integration - Phase 1"
## Overview

The purpose of Phase 1 is to be an MVP of integrating Spectral into the Stoplight UI. This will include:

- [x] Add JSON schema validation (required, discussed below) #1
- [x] A common rule-set that applies to all projects (not extendable), where specific rules can be enabled/disabled through UI. Which rules are enabled/disabled is tied to the session, so it won't live in the project.

[2018-09-13 17:21] rossmcdonald opened #4 "Make error results more descriptive"
Right now the error messages are generic and not too helpful.

[2018-09-13 19:34] rossmcdonald opened #5 "Create default rule set for Spectral integration"
For the first phase of Spectral integration, we'll use a hard-coded set of rules before allowing them to be customizable (or stored inside the project). We need to come up with a set of 'best-practice' rules (nothing too opinionated) that should prove out the concept of the lint rules.

[2018-09-13 19:39] rossmcdonald opened #6 "Add concept of severity to rules"
Need to add the concept of severity to Spectral rules.

[2018-09-14 15:21] rossmcdonald opened #7 "Create new result type that can be shared between lint and validation rules"
Right now the lint results are pretty specific to lint issues. We should have a more generic result type that allows for both validation and lint results (and that allows consumers to differentiate between the two).

This change will most likely impact #4.

[2018-09-25 22:18] #1 closed, assigned to rossmcdonald

[2018-09-25 22:18] #6 closed, assigned to rossmcdonald

[2018-09-25 22:20] #4 closed, assigned to rossmcdonald

[2018-09-25 22:20] #2 closed, assigned to rossmcdonald

[2018-09-26 14:04] rossmcdonald opened #8 "Create validation rule for checking path parameters"
Make sure path parameters specified in a path are actually included as parameters.

[2018-09-26 16:45] rossmcdonald opened #9 "Should we have a special result for handling rules that don't exist?"
If the rule configuration wants tries to enable a rule that doesn't exist, how should be handled?

* Should we extend the current rule result format for this kind of error?
* Should we do nothing and log a warning?
* Should we throw an error?

Shouldn't be an issue at first, but we might want to come up with a strategy sooner rather than later.

[2018-09-26 16:46] rossmcdonald opened #10 "Create standard rule file format for both defining and toggling rules"
We should use the same format for both defining rules as well as toggling. Sample format:

[code]

### Open Questions

* [x] If `rules/oas3` is set to false, doesn't that conflict with a union rule containing `oas3` (ie, `oas2|oas3`? No, since all rules _should_ be unique.
* [x] Should we have a single to for rule definitions to ensure all rule names are unique (ie, something like a `ruleDefinitio

[2018-09-26 20:31] rossmcdonald opened #11 "Investigate dynamic requires when evaluating function-based validation rules"
Right now they will be hard-coded imports, but we should investigate making them dynamic based on the incoming rule configuration.

[2018-09-26 20:49] rossmcdonald opened #12 "Break out OASv2 JSON schema oddities into separate rules"
We will have some separate validation rules that can be used to enable/disable validations for specific exceptions that OAS makes to their JSON schema support. These exceptions are documented in the  [OASv2](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#schemaObject) specification.

[2018-09-26 20:50] rossmcdonald opened #13 "Break out OASv3 JSON schema oddities into separate rules"
Same as #12, but for [OASv3](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md#schemaObject).

[2018-09-27 22:20] #7 closed, assigned to rossmcdonald

[2018-09-28 12:51] #10 closed, assigned to rossmcdonald

[2018-09-28 19:11] rossmcdonald opened #14 "Implement rule set from SwaggerEditor"
### OAS2

FormData
  - [ ] Parameter in: ${value.in} is invalid did you mean in: formData?
  - [ ] Parameters with type: file must have in: formData
  - [ ] Operations with parameters of type: file must include multipart/form-data in their consumes property
  - [ ] Operations with Parameters of in: formData must include application/x-www-form-urlencoded or multipart/form-data in their consumes pro

[2018-09-28 19:14] casserni opened #15 "Implement rule set from Sway"
rules taken from
[sway](https://github.com/apigee-127/sway/blob/master/docs/API.md#module_sway.ValidationResults)

- [ ] Operations cannot have both a body parameter and a formData parameter | Error
- [ ] Operations must have only one body parameter | Error
- [ ] Operations must have unique (name + in combination) parameters | Error (also in swagger)
- [ ] Operations must have unique operationId |

[2018-09-28 21:19] lottamus opened #16 "Implement Various Rules"
Combination of rules taken from [sway](https://github.com/apigee-127/sway/blob/master/docs/API.md#module_sway.ValidationResults), [swaggerHub,](https://github.com/swagger-api/swagger-editor/blob/master/src/plugins/validate-semantic/validators/2and3/paths.js) and in-house

### API Info

- [x] API `title` must be present and non-empty string~~ (included in spec schema)
- [x] API `description` must b

[2018-09-28 21:31] casserni opened #17 "Extend xor and or to support paths"
- [ ] update type definition
- [ ] update logic
- [ ] paths should be relative to parent path defined in the rule

- open question, how to we handle comparing values of paths? since in the below example body and formData are not keys

example:

[code]

[2018-09-28 22:30] casserni opened #18 "Add an exists in rule"
!!!HOLD on this!!!!

- [ ] create a new existsIn rule
- [ ] options
  - properties to determine whether the key or some property? or do we assume its key
  - in with path to new path and the property
[code]

[2018-10-01 13:10] #15 closed, assigned to nobody

[2018-10-01 13:16] #14 closed, assigned to rossmcdonald, lott-ai, casserni

[2018-10-02 13:51] rossmcdonald opened #20 "Review OpenAPILint rule set"
Below is a sample rule set provided by Aspect, who are using [this](https://github.com/braintree/openapilint). We should review the rules and identify any areas where our rule format may be insufficient:

[code]

[2018-10-02 16:22] rossmcdonald opened #21 "Update rule structure"
Change rule structure slightly:

* `type` -> `function`
* `category` -> `type`
* `description` -> `summary`
* add optional `description` field which is long-form, markdown-formatted text describing the rule and it's functionality
* adding `input`, which is always an object with the parameters required by the corresponding `function`
* add an optional tags field, with type string[]

So this:

[code

[2018-10-02 17:29] rossmcdonald opened #22 "Expand tests for default rule set"
Right now we just verify that the default rules return errors on invalid specs, but it would be good to expand the test checks to verify which tests are failing on the specific paths.

Requires #5

[2018-10-02 17:33] #17 closed, assigned to rossmcdonald

[2018-10-02 18:33] #18 closed, assigned to nobody

[2018-10-02 21:45] casserni opened #23 "Add a force property to rule definitions"
Should we add a force property to rule definitions? What this means is that if `force: true`, the rule toggle will be disabled in the ui more importantly spectral would apply that rule regardless of the configuration file.

#### Use Cases
- An organization might have a set of presets, or a subset of our own presets that they want to apply to every project without allowing their developers to disab

[2018-10-02 21:59] #21 closed, assigned to rossmcdonald

[2018-10-03 15:43] rossmcdonald opened #24 "Update rule inputs to be more consistent"
With the changes for #21, all rule/function inputs are now under an `inputs` object, however now some of the naming is inconsistent and redundant. We should review each rule and fix values to be more sane.

For example:

[code]

Should be converted to:

[code]

[2018-10-03 17:51] casserni opened #26 "Add getRules function"
Currently we are importing the rules from spectral, in platform, and this is no good

- [x] create a get rules function to return rules
   - [x] should be a flattened array with rule attributes, name, and format
- [x] allow to filter by format
    - basic functionality is there but we may want to rethink how we are currently matching on format both here and during apply
- [x] add tests

[2018-10-03 18:01] #24 closed, assigned to rossmcdonald, casserni

[2018-10-03 18:02] #26 closed, assigned to casserni

[2018-10-03 20:12] #8 closed, assigned to rossmcdonald

[2018-10-05 20:21] #5 closed, assigned to nobody

[2018-10-05 22:02] rossmcdonald commented on #3
Yes, all of the initial goals have been met.

[2018-10-05 22:02] #3 closed

[2018-10-08 21:39] rossmcdonald commented on #9
A warning is logged to the console. We can re-evaluate at a future date if we need something better.

[2018-10-08 21:39] #9 closed

[2018-10-08 22:42] casserni commented on #12
- [ ] oneOf
- [ ] anyOf
- [ ] allOf
- [ ] type needs to be one of the allowed values?

look at the errors, make em better

[2018-10-09 18:18] rossmcdonald opened #39 "Pass stringified and resolved objects to rules"
In addition to accepting the un-resolved objects, we should be able to pass in fully-resolved and stringified objects.

[2018-10-09 18:18] rossmcdonald commented on #39
@casserni What rules need the resolved objects? I know the path param rule does, but do all OAS validation functions need them as well?

[2018-10-10 18:30] rossmcdonald commented on #39
Fixed with #40

[2018-10-10 18:30] #39 closed

[2018-10-30 20:47] rossmcdonald opened #48 "Flag JSON errors"
Verify contents of the document being parsed are valid JSON (as defined by the [RFC](http://www.ietf.org/rfc/rfc4627.txt)), and flag anything that doesn't conform.

For example, if a JSON string contains un-escaped control characters, flag the string.

[2018-10-31 19:13] rossmcdonald opened #49 "Add OAS check for un-used definitions"

[2018-12-04 02:50] marbemac opened #58 "Add @stoplight/types dependency"
Should leverage relevant types (like IValidation) from `@stoplight/types`. Will require some small modifications, and can remove all the duplicate types from Spectral during the process.

We will have a breaking release as it is due to #57 - we can bundle all this together into one major.

[2018-12-04 03:08] marbemac opened #59 "Consider swapping jsonpath for jmespath"
From what I can find online (and my experience in general), jmespath is generally regarded as more powerful than jsonpath.

- While development is not active, it has a much larger install base (https://www.npmjs.com/package/jsonpath versus https://www.npmjs.com/package/jmespath).
- It also happens to be less than 20% the size (https://bundlephobia.com/result?p=jsonpath@1.0.0 versus https://bundlep

[2018-12-04 11:34] chris-miaskowski commented on #58
Hi @marbemac, hi @brianmrock, are we using GitHub rather than Jira to track Spectral's tasks or is it a draft and you'd like me to move it to Jira?

[2018-12-04 11:36] chris-miaskowski commented on #59
Sure @marbemac, I guess we want to move that to Jira (similarly to https://github.com/stoplightio/spectral/issues/58)?

[2018-12-07 04:57] marbemac opened #63 "1.0 Release Umbrella"
These are the primary breaking changes that we have identified to get in before public release, if possible.

The goal with these changes is to significantly smooth over the end user DX, and simplify the internals while we're at it.

When all is said and done, almost every rule in #20 should be possible without too much effort.

@casserni need a quick sanity check that making rules enabled by defa

[2018-12-11 05:53] #63 closed

[2018-12-11 06:03] #23 closed

[2018-12-11 06:04] marbemac commented on #48
No longer accept string value - so user must parse object before passing.

[2018-12-11 06:04] #48 closed

[2018-12-11 06:05] marbemac commented on #22
Every rule is now tested with a basic pass/fail test.

[2018-12-11 06:05] #22 closed

[2018-12-11 06:05] #16 closed

[2018-12-11 06:06] marbemac commented on #20
Almost all of these rules are now possible with the new `given`, `when`, `then` API. Note: documentation still a work in progress :).

[2018-12-11 06:06] #20 closed

[2018-12-15 03:40] MikeRalphson opened #70 "Consider use of JMesPath instead of JSONPath"
**Note: For support questions, please use the [Stoplight Community forum](https://community.stoplight.io)**. This repository's issues are reserved for feature requests and bug reports. If you are unsure if you are experiencing a bug, the [Community forum](https://community.stoplight.io) is a great place to start.

We realize there is a lot of data requested here. We ask only that you do your best

[2018-12-15 03:50] MikeRalphson opened #71 "Please ship sl-scripts build tools"
**Note: For support questions, please use the [Stoplight Community forum](https://community.stoplight.io)**. This repository's issues are reserved for feature requests and bug reports. If you are unsure if you are experiencing a bug, the [Community forum](https://community.stoplight.io) is a great place to start.

We realize there is a lot of data requested here. We ask only that you do your best

[2018-12-15 03:57] MikeRalphson commented on #71
My bad, it works with `yarn` (which am generally a piece of junk compared to `npm` 6).

[2018-12-15 03:57] #71 closed

[2018-12-16 15:55] tbarn commented on #70
Hey @MikeRalphson! Some people had some conversations the other week about moving off of JSONPath. I'll try to pull them in here for more background info.

[2018-12-17 11:19] chris-miaskowski commented on #70
Hi @MikeRalphson,

We attempted a rewrite to use jmespath around two weeks ago and were very excited to do it indeed.

We had to postpone the implementation and mark as Won't Fix for now because there is a feature missing in jmespath that we really need in spectral.

Here is an excerpt from our internal conversation:

[code]

[code]

As far as I know we haven't gave up on the rewrite yet but we ha

[2018-12-17 11:52] MikeRalphson commented on #70
I'll take a look and get back to you. We (the OAS TSC) might be contacting the JMesPath spec. author re: addressing the next (non-existing) element in arrays also.

[2018-12-17 13:45] MikeRalphson commented on #70
Have you tried using

[2018-12-17 13:51] chris-miaskowski commented on #70
Can you please elaborate a little bit more? I'm open to any new idea but not sure what you mean exactly. Wanna give a quick example?

[2018-12-17 14:17] MikeRalphson commented on #70
In Javascript terms, if you look through the source object provided to JMesPath, scanning for properties which `===` the ones returned by the JMesPath expression.

Something like the general purpose `recurse` (object traversal) function from `reftools` will provide the JSON pointer path to each visited node.

[2018-12-18 23:06] tbarn opened #73 "Write an example showing YAML to JSON"
### **I'm submitting a...**

feature request

### What is the expected behavior?

Have an example that clearly shows how to convert from YAML to JSON using https://github.com/stoplightio/yaml

### What is the motivation / use case for changing the behavior?

Make it easier to use specification files that are in YAML with Spectral

[2019-01-16 15:00] MikeRalphson opened #79 "Bug: path-keys-no-trailing-slash is triggered on path key of /"
### **I'm submitting a...**
  - [x] bug report

### What is the current behavior?

The linter warning `path-keys-no-trailing-slash` is triggered on a `path` key of `/`which is incorrect as all `path` keys MUST start with a `/` character.

[code]

where `minimal.yaml` is:

[code]

Results:

[code]

### What is the expected behavior?

This warning is **not** triggered.

### What is the motivation /

[2019-01-16 22:44] tbarn commented on #79
Yup, that's a bug! I'll see if I can break out my rusty regex skills and fix it. If not, I'll pass it to someone else on the team for help.

If anyone else wants to take it, let me know!

[2019-01-23 05:10] AnastasiaTW opened #84 "Implement rule to process the "operationId" field in Swagger"
### **I'm submitting a...**
  - [ ] bug report

### What is the current behavior?

When the "operationId" field in Swagger specification is filled with Russian text, Stoplight doesn't mark it as a mistake. However "operationId" is to form the URL address and must contain English words only.

### What is the expected behavior?

An error occurred for the "operationId" field with Russian text.

### W

[2019-02-01 21:59] #79 closed

[2019-02-01 22:41] #84 closed

[2019-02-04 17:37] cbetta opened #88 "Receiving warning: oasOpParams expects a resolved object"
## **I'm submitting a bug report**

### What is the current behavior?

I am currently migrating my API specification and running into this warning:

[code]

There are no `$ref` mentions in my spec, so I am confused as to why I am getting this error. The code is as follows.

### What is the expected behavior?

For this not to error

### Please tell us about your environment:

  - Version:   `@stopl

[2019-02-04 18:58] marbemac commented on #88
Hi @cbetta - great question, and this is something that we could certainly be more clear about (will open a separate PR for readme).

Certain rules (like those param rules you mentioned above) need both the resolved and unresolved document in order to function. Since you don't have any $refs in your document, you should be able to supply it as the resolved version like so:

[code]

You can find th

[2019-02-06 12:07] cbetta commented on #88
Ah yes that works. The documentation wasn't quite up to date on this indeed.

[2019-02-13 21:25] tbarn commented on #88
I'm adding a FAQ for this right now.

[2019-02-14 10:58] cbetta commented on #88
Did I miss something? I don't see anything added.

[2019-02-14 16:08] tbarn commented on #88
PR #89 isn't merged yet, but that should help some. We might be adding one more thing to it.

[2019-02-15 10:56] cbetta commented on #88
Ah excellent, just confused cause you said "right now". I hadn't spotted the PR.

[2019-02-17 14:21] XVincentX opened #91 "Spectral is generating paths that do not exist in the original document"
It seems like the included rules for OAS2/3 can generate paths that do not exist in the original document.

An easy way to reproduce this is to simply install the default rules and create an OAS document with a path that's missing the `description` property.

[2019-02-17 14:26] XVincentX opened #92 "Spectral's IRuleResult an IPosition reference which is always null"
Spectral's `IRuleResult` interface which is the type returned from the validation process extends `IValidationResult` which has a nullable position reference.

While it is correct — Spectral does not have (yet?) the ability of generating the position information — these are up to the caller.

In order to reduce the confusion (which I personally had) it would be better to simply make sure such inte

[2019-02-17 14:28] XVincentX opened #93 "Spectral's IRuleResult is missing the summary property…"
which has a way better description of the validation error than message and title. I discovered this while debugging the piece of software and we should investigate whether it's a leftover and it should be added — or maybe deleted.

[2019-02-19 19:27] marbemac commented on #91
This is intended, otherwise how would it report missing properties?

Or, put another way, what is the expected result that still gives the spectral user enough info to pinpoint the issue?

[2019-02-19 20:59] XVincentX commented on #91
Hmm I guess it depends how we see Spectral.

If it's an "end product" (which is my view right now) then it should figure out something I can use without having to further elaborate the returned value. In this specific case, it should give me the closes parent (as you mentioned somewhere else).

If it's not an end product then maybe it could be fine as long we clearly document the result format on

[2019-03-07 15:24] philsturgeon commented on #12
Hey, whats the proposed plan here? If a document is 100% OpenAPI v2.0 compatible then there shouldn't be any issues with JSON Schema things should there? So long as we have AJV set up to understand OpenAPI v2.0 using the [official metaschema](https://github.com/OAI/OpenAPI-Specification/tree/master/schemas) then we should be ok? It will throw an error if you try to use anyOf thanks to the addition

[2019-03-07 15:49] rossmcdonald commented on #12
No plan that I know of yet, but the intention here was to provide specific rules that a user could enable/disable if they wanted to use something that wasn't in the official metaschema.

Yes, that's correct, and that's how it currently functions today. There are just some instances where you may want to use `anyOf`, etc even though it's not technically supported in that spec. So we could have a de

[2019-03-11 03:53] marbemac commented on #91
Hmm - what should the result object look like for this description error?

[2019-03-12 00:55] tbarn opened #98 "Feature idea: Automatically fix issues"
Would love to open it for discussion on what the preferred expected behavior would be.

I think this could be more of a CLI feature, so then you can interactively accept and reject changes to a document. Also, you could be prompted to fill out things. For example, in an OpenAPI document, descriptions are often forgotten. The CLI could prompt you to fix them out.

### What is the motivation / use c

[2019-03-19 14:06] #11 closed

[2019-03-19 14:12] philsturgeon commented on #12
Is it very common for people to create invalid OpenAPI v2/v3/Json Schema combinations?

As far as I know, people are writing

a) OpenAPI v2
b) OpenAPI v3
c) OpenAPI v3 + JSON Schema proper

I think writing specific functionality which makes folks think writing OpenAPI v3 or JSON Schema keywords like allOf into OpenAPI v2 would be potentially confusing for a lot of people, and be encouraging behavi

[2019-03-26 05:11] naivefun opened #108 "spectral does not resolve path->parameters->$ref"
[code]

The domainCode is defined in `components/parameters/domainCode` but it complains:
[code]

[2019-03-26 14:40] tbarn commented on #108
Hey @naivefun, we've been working on a v2 of Spectral. We improved on how it handles $refs so I'll see if this happens there right now.

[2019-03-26 15:16] philsturgeon commented on #108
Hey just taking a quick look at the example, but `/domains/{domainCode}` and `/domains/{domainCode}/models` are two different paths. Could it be that the 2nd one does not have the ref?

[2019-03-26 17:04] jerzyn opened #109 "Spectral OAS2 validation throws a non-existent error without path value"
Running spectral OAS2 rules and functions sets on a OAS2 `.yaml` file on all tests (2 different `yaml files`) results in a cryptic error without a `"path"` parameter:
[code]
Those files don't throw any errors in any other validation tool (swagger editor, apiary, etc.). I am happy to provide them if needed.

### **I'm submitting a...**
  - [X] bug report
  - [ ] feature request

### What is the cur

[2019-03-26 17:19] philsturgeon commented on #109
@jerzyn hey there, let's get this sorted out.

First up, don't worry about the "expects a resolved object, but none was provided. Results may not be correct." warnings, they'll go away in v2.0 which is pretty close to being ready (check the release/2.0 branch if you are interested).

Could I have your original YAML please? You can gist the whole thing, obfuscate some bits, or trim it down to the s

[2019-03-26 17:21] jerzyn commented on #109
thanks! Do you need both files or one is enough? It will take me a minute to 'anonymize' it.

[2019-03-26 17:28] jerzyn commented on #109
here is one:
https://gist.github.com/jerzyn/d0201558bf52b3659c0d43cac646896c
Let me know if you need the other one, however it is a beast of a spec...

[2019-03-26 23:02] naivefun commented on #108
@philsturgeon sorry the example has flaws but the point is as the title :)

[2019-03-26 23:23] philsturgeon commented on #109
It was an or list, not an and list! 😁

I’ll take a look at this example in the morning and see if I can recreate anything.

[2019-03-27 09:44] philsturgeon commented on #108
Ah! I was trying to debug based on what I had, and that looked like it could have been the issue.

Maybe you could post more of the YAML? If you could share as little as you are comfortable sharing which still produced the error, I can run it locally and see what is going on.

[2019-03-27 10:30] philsturgeon commented on #109
Hey! So, good news and bad news @jerzyn. I have got the release/2.0 branch CLI taking a look at your spec and it has a _lot_ of opinions.

[code]

So the TypeError and Error messages at the top looks like bugs, but it also seems that Spectral will keep on trucking past those bugs in order to provide linting regardless.

If you would like to work with the CLI version for now following the instructi

[2019-03-27 10:30] philsturgeon commented on #109
Hey! So, good news and bad news @jerzyn. I have got the release/2.0 branch CLI taking a look at your spec and it has a _lot_ of opinions.

[code]

So the TypeError and Error messages at the top looks like bugs, but it also seems that Spectral will keep on trucking past those bugs in order to provide linting regardless.

If you would like to work with the CLI version for now following the instructi

[2019-03-27 10:40] jerzyn commented on #109
thanks @philsturgeon Looks like most of those `errors` are just warnings about including stuff like operationId or the inability of spectral to resolve some references. The first ones are about interpreting `x-summary` vendor extension as a part of the spec, which it should just ignore IMHO. Interestingly it does not complain about the same stuff as spectral itself (the one I have included in in t

[2019-03-27 11:45] philsturgeon commented on #109
@jerzyn if you copy and paste the commands from my comment above it will work.

[2019-03-27 12:04] philsturgeon commented on #109
We have a solution for the first group of errors at the top, we just need to have it ignore `x-summary` like you said. @P0lip is on the case there, and I am looking into why the valid-example error is failing.

Honestly I am not sure what the issue was in v1.x branch which was causing `hould NOT have additional properties: 0` but I am not sure that it matters as v2.0 is working (just a little nois

[2019-03-27 13:00] P0lip commented on #109
@jerzyn
I found the cause of the issue on `x-summary` field.
Posted the explanation here https://github.com/stoplightio/spectral/pull/111#issuecomment-477138102

[2019-03-27 13:08] jerzyn commented on #109
cool, looks great. thanks @P0lip. My 2c here - agree with what you said in #111 . Spectral should verify whether OAS2 specification elements and hierarchies are valid and ignore anything extra.

[2019-03-27 13:43] P0lip commented on #92
The issue can be closed as soon as Spectral 2.0 is released.

[2019-03-27 14:30] XVincentX commented on #92
Ok cool.

[2019-03-27 15:26] philsturgeon commented on #93
Can you confirm if this is still an issue in the release/2.0 branch? #104 might have fixed it.

[2019-03-27 15:32] philsturgeon commented on #109
Merged that fix into the release/2.0 branch! 🎺 🎊🎈

Been in front of a screen all day, gonna pop out for 2 hours then get back to fixing the valid-example errors.

[2019-03-27 15:37] philsturgeon commented on #88
Hey folks, just to give you an update: the `release/2.0` is getting more mature, so if you would like to check it out your troubles should be over. run now returns a promise, so make sure you add `await`. It is no longer an object with .results, it just an array.

**Before**

[code]

**v2.0**

[code]

Please post new issues with any new bugs you find in there, but this is considered done (and will

[2019-03-27 19:35] philsturgeon commented on #109
Alrighty, got the 2nd valid-example replicated in my tests.

[code]

[2019-03-28 09:46] philsturgeon commented on #109
@P0lip and I managed to get the valid-example errors fixed: #115.

Thank you for giving us these examples, we managed to improve Spectral a lot with these two example errors. :)

The release/2.0 branch will be merged later today, and you'll know its out because this PR should automatically close. Or you can subscribe to #112.

I did notice that spectral has found some issues with your examples, it

[2019-03-28 10:27] jerzyn commented on #109
Ok, cool. Thanks. This spec is just a demo, but maybe worth looking into it :) Interestingly none other validation tool ever complained about this. Will take a look. Thanks for solving this so quickly 👍 I'm also happy if that helped improving spectral!

[2019-03-28 11:32] philsturgeon commented on #109
Thank you! Most validators do not bother to check to see if the example is valid, which is why we added the rule :D

[2019-03-28 11:44] philsturgeon opened #116 "Schema Rules have unhelpful summary in default CLI output"
Linting this document:

[code]

Results in stylish format output:

[code]

But the json format output gives the more helpful message for the error:

[code]

_Originally posted by @MikeRalphson in https://github.com/stoplightio/spectral/pull/112#issuecomment-477554960_

[2019-03-28 11:44] philsturgeon commented on #116
Yeah this is a tough one. Most of the time the summary is a bit more concise but for oasX-schema based rules you really want the message. Id rather not make the formatters be aware of such things, so we need to find somewhere slightly higher up to make that change perhaps.

[2019-03-28 11:51] MikeRalphson commented on #116
Understood, just to clarify, my concern was that a program consuming the json format output cannot obtain the same error message as is displayed by the stylish formatter currently.

[2019-03-28 12:19] philsturgeon commented on #116
Oh thats the inverse of what I said! Ha. We can sort that at the same time.

[2019-03-28 12:30] philsturgeon commented on #116
@MikeRalphson great so @P0lip just added summary to JSON in #117 so we'll sort the bit I said out later.

[2019-03-28 14:10] #88 closed

[2019-03-28 14:10] #91 closed

[2019-03-28 14:10] #92 closed

[2019-03-28 14:10] #109 closed

[2019-03-29 18:17] tbarn opened #127 "Request for feedback: Using custom rulesets with Spectral CLI"
# Request for feedback!

_We would love to hear from users what syntax you would like to used -- please comment with your feedback!_

### **I'm submitting a...**
feature request

### What is the current behavior?
Currently, the CLI detects if you are using a OpenAPI 2 or 3 based document and uses the default rulesets. No specifications or rulesets outside of that works with it.

### What is the ex

[2019-04-02 20:42] blazeworx commented on #108
Also experiencing this at the moment.

Here's an example:

spec.yaml:
[code]

some_param.yaml:
[code]

![image](https://user-images.githubusercontent.com/4718238/55434529-25affc80-55db-11e9-94b4-b7ed179fb190.png)

When I put the contents of the some_param.yaml file into the main spec file and just inline that definition then all is well.

![image](https://user-images.githubusercontent.com/4718238/

[2019-04-02 22:21] philsturgeon commented on #108
@naivefun hey there! I never heard back from you about getting a sample of the YAML to recreate this bug, but I'd wager a bet that the v2.0 release fixed it. Grab a later version and give it a try! Installation instructions on the README :)

@blazeworx I'm pretty sure you have a different issue. Before resolving was not happening _at all_ by default, but now we automatically handle internal refere

[2019-04-02 22:36] blazeworx commented on #108
Thanks @philsturgeon. We have multiple (very) large API specs and we've spent a lot of time breaking them up into smaller files into a sane and logical folder/file structure so that maintaining them is easier (primarily because we do everything spec first). For now we're still using `speccy` for linting in our pipeline because it handles external refs.

As mentioned earlier, I was able to get `spe

[2019-04-03 06:24] philsturgeon commented on #108
I completely understand. We can close this issue as the work is already on the roadmap, and it will be sooner rather than later don’t worry.

[2019-04-03 06:24] #108 closed

[2019-04-03 15:56] philsturgeon opened #134 "Add optional support for external $ref in CLI"
### **I'm submitting a...**
  - [ ] bug report
  - [x] feature request

### What is the current behavior?

The default behavior of Spectral v2.0 is to operate only on the original description object for 95% of the rules, and the uses the `resolvedTarget` in a few rules which specifically request that resolved version of the object (like oasOpsParams).

Spectral CLI uses [json-ref-parser](https://g

[2019-04-03 16:05] marbemac commented on #134
Ok so `json-ref-resolver` already supports resolving remote references, we just need to tell it how to. Adding remote resolution to spectral CLI would be as simple as updating the cli lint command to pass in a resolver instance that has readers for http and file, like so:

https://github.com/stoplightio/spectral/blob/master/src/cli/commands/lint.ts#L81

[code]

Can find the example of this in the

[2019-04-04 11:15] philsturgeon commented on #127
One idea: An OpenAPI extension to check for `application/problem+json` responses and make sure they actually conform to [RFC 7807](https://tools.ietf.org/html/rfc7807).

[2019-04-04 16:43] tbarn commented on #127
@philsturgeon how would it work to have two different rulesets apply?

[2019-04-05 08:04] philsturgeon commented on #127
I wrote a feature into speccy where one ruleset could require another: https://github.com/wework/speccy/blob/master/rules/strict.yaml

That made requiring multiple rulesets fairly simple:

https://github.com/wework/speccy/blob/master/lib/loader.js#L153

It would just grab all the ones you list, and all their dependencies, then unique up the rules. Anything with the same name would be overridden wi

[2019-04-12 08:34] cbetta commented on #88
Upgraded and all works 👍

[2019-04-12 13:21] tbarn commented on #88
@cbetta Glad to hear the improvements worked.

[2019-04-12 17:36] erunion commented on #127
Being able to supply custom rulesets through the CLI would be wonderful because having to dig through the source to get access to `stylish` and running that manually isn't great.

[2019-04-12 18:04] philsturgeon commented on #127
@erunion hey I understood the first half of the message but got a bit confused when you mentioned stylish. Rulesets are files containing rules, and stylish is what we call a formatter. Custom formatters would be nice one day, but this is about rulesets. Does that make sense?

[2019-04-12 18:46] erunion commented on #127
Sorry! It would be nice to be able to supply a custom ruleset directly to the CLI because that would allow you to take advantage of the automatic formatters that the CLI offers. Instead, right now, to supply a custom ruleset, I have to deal with the formatters manually in order to get a non-JSON readable format.

[2019-04-12 20:44] philsturgeon commented on #127
Riiiiight I gotcha, absolutely. The CLI is new and needs to catch up with the JS library for sure. It’ll be coming very soon. Nobody has raised any concerns with the approach I mentioned so I think it’s going to be that?

[2019-04-14 16:06] XVincentX commented on #93
Yeah I believe we can close this, it's not relevant anymore.

[2019-04-14 16:06] #93 closed

[2019-04-16 22:13] tbarn commented on #127
@erunion would you be down to test our solution for this?

[2019-04-16 23:28] erunion commented on #127
@tbarn Absolutely!

[2019-04-17 11:06] philsturgeon opened #145 "Custom Rulesets based on OAS2 & OAS3 with Autodetect"
In Spectral 2.0 the CLI code will autodetect which ruleset to apply  from the two rulesets available:

- oas2
- oas3

A new feature is being added #144 which will allow custom rulesets to be required. When we add this new `--ruleset=` option in 2.1.0 we want to avoid automatically shoving our opinions in, as well as the opinions of the user defined in the ruleset files they are adding in.

For exa

[2019-04-17 11:15] philsturgeon commented on #127
@chris-miaskowski  is working on the implementation for this over here #144. Let's discuss details over there.

[2019-04-17 13:41] philsturgeon opened #147 "Feature : Skip rule"
### **I'm submitting a...**
  - [ ] bug report
  - [x] feature request

### What is the current behavior?

You will get all errors for everything in whatever ruleset, and there is no way to disable it.

### What is the expected behavior?

As a Spectral CLI user, sometimes I like a whole ruleset but a specific rule is really annoying me for some reason. I would like to be able to pass `--skip=valid

[2019-04-17 15:39] cg-cnu commented on #147
Hey hi Phil! Have written a bit of TS and familiar with OpenAPI  but haven't come across spectral. Sounds like an interesting project. Would like to get myself familiar with the project and work on this issue. Am I eligible to pick it up ?

[2019-04-17 19:27] philsturgeon commented on #147
Hey @cg-cnu, of course you are! Let me know if you have any questions, and I’ll check back in with you if things go quiet. :)

[2019-04-18 16:28] rossmcdonald opened #153 "Add docker image to readme"
We have a public Docker image available for Spectral available on [Docker hub](https://hub.docker.com/r/stoplight/spectral) as:

[code]

We might want to add that to the installation section with a little snippet, like:

[code]

[2019-04-24 12:41] paulapaulTW commented on #73
Hi Taylor - I was playing around with the examples in the README and had a question about what you were looking for in this issue.  If I have a YAML specification I can use the example in the README 'as is' if I assign the const myOAS to a snippet of my YAML specification as a template string (without converting to JSON) - are there some examples you are looking for where things are easier if you

[2019-04-30 12:39] nulltoken opened #170 "'TypeError: Cannot read property 'parent' of null' when linting from cli"
### **I'm submitting a...**
  - [x] bug report
  - [ ] feature request

### What is the current behavior?

Given a following `repro/two.yaml` file
[code]

linting from the cli returns a error.

[code]

*Note:* Providing a valued description in the very last node makes the issue disappear.

### What is the expected behavior?

Either:
 - Remove the error message if it's not supposed to happen
 - Pro

[2019-04-30 12:48] nulltoken opened #171 "'Error: can't resolve reference ../library.yaml#/definitions/email from id #' when linting from cli"
### **I'm submitting a...**
  - [ ] bug report
  - [x] feature request

### What is the current behavior?

Given two files:

- `repro/nested/one.yaml`

[code]

- `repro/library.yaml`

[code]

linting from the cli returns an error

[code]

### What is the expected behavior?

Teach `valid-example` rule to honor relative remote references

### What is the motivation / use case for changing the behavi

[2019-04-30 14:52] michaeljmcd opened #172 "Add --quiet switch"
### **I'm submitting a...**
  - [ ] bug report
  - [x] feature request

### What is the current behavior?

Running Spectral lint with JSON output and then piping standard output to another program fails because the logging to standard output gets sent along with the JSON output and fails to parse.

For example, imagine an invalid OpenAPI document consisting only of:

[code]

Running an incredibly

[2019-05-01 14:24] #170 closed

[2019-05-01 15:50] nulltoken commented on #170
@P0lip ❤️

[2019-05-01 19:02] P0lip commented on #170
Released in 2.1.1

[2019-05-01 22:26] tbarn commented on #171
Hi @nulltoken! Currently, we don't have support for this. But #134 would be working towards resolving external references. Could you check out the issue to share what you think about our solution?

[2019-05-02 14:32] philsturgeon commented on #134
Just a little update, this one fell through the cracks a bit, so I have cranked up the priority on it a little and hopefully it'll get sorted out next sprint.

[2019-05-02 17:13] nulltoken commented on #171
@tbarn thanks a lot for pointing me to #171.

It indeed _seems_ related. However, my use case is slightly different as it solely focuses on the `valid-example` rule.

I've studied a bit Spectral `schema.ts` code which delegates to Ajv.
- Ajv cringes when it reaches a missingRef (and throws the `can't resolve reference ../library.yaml#/definitions/email from id #` error).
- Ajv exposes a `loadSchem

[2019-05-02 19:17] nulltoken commented on #171
Created https://github.com/epoberezkin/ajv/issues/1003 to get some clarification from the Ajv standpoint with regards to missing schema identifier normalization.

[2019-05-02 20:28] #73 closed

[2019-05-02 20:30] #153 closed

[2019-05-02 21:08] philsturgeon commented on #171
@nulltoken as a quick word of warning as I wont have time to dig into the specifics until Monday (time off! :D) some of this could be down to your use of $ref with siblings. This is [not allowed in OpenAPI v3.0](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#reference-object).

<img width="896" alt="Screen Shot 2019-05-02 at 23 06 48" src="https://user-images.githubuser

[2019-05-04 06:01] blazeworx commented on #134
Thanks Phil! Really looking forward to switching over to spectral as soon as this one is in :) 👍

[2019-05-09 13:46] akrabat opened #187 "OpenAPI-specific Formats not supported"
### **I'm submitting a...**
  - [x] bug report
  - [ ] feature request

### What is the current behavior?

Setting the `format` for an integer doesn't work.

test.yaml:
[code]

Run:
[code]
### What is the expected behavior?

Spectral should not display:

[code]

Also, it should not display _No errors or warnings found!_ when the line above starts with the word `Error` !

### What is the motivation

[2019-05-09 15:13] philsturgeon commented on #187
A few bits of debug here, from the chat with @akrabat in slack.

The problem is with valid-example, it is validating the contents of your example and doesn't like it for some reason. We need to figure out why that's happening, but the 2nd issue you mention:

https://github.com/stoplightio/spectral/blob/master/src/functions/schema-path.ts#L37

Different types of error. A JS error is being caught an

[2019-05-10 15:08] philsturgeon commented on #147
@cg-cnu hey! This was a great change and I appreciate the work you put in. Life does have a habit of getting in the way, but we needed this pronto as a workaround for #187, so I finished up the testing for you. Thanks for the work!

[2019-05-10 15:08] #147 closed

[2019-05-11 07:22] philsturgeon commented on #187
@akrabat if you upgrade to v2.2.0 you can use `--skip-rule=valid-example` as a workaround. Folks are going to look into the actual cause of the bug, hopefully on Monday.

[2019-05-16 10:45] philsturgeon commented on #187
@akrabat ok I dug into this and figured it out.

OpenAPI is declares int64 is valid in the text doc, but formats are not defined in the [OpenAPI metaschema](https://github.com/OAI/OpenAPI-Specification/blob/master/schemas/v3.0/schema.json) so shoving that metaschema into a JSON Schema validator doesn't make it 100% into an OpenAPI validator as we suspected.

We are then getting an error because AJ

[2019-05-16 14:13] philsturgeon commented on #187
Alright edging closer to a complete solution, you no longer need `--skip-rule` you can just upgrade to v2.3.1 and the errors will stop being thrown.

[2019-05-17 12:35] philsturgeon commented on #172
I think this is more of a feature request for a --quiet switch. It's helpful for some output to happen by default because it acts as a guide for people who are still learning how the tool works. There is --verbose which gets way more chatty, so we can add --quiet which does nothing at all. This is fairly standard with things like apt-get being shushed with -y instead of asking for stdin yes/no, et

[2019-05-17 13:58] Lakitna opened #214 "Can not install due to jsonpath"
### **I'm submitting a...**
  - [x] bug report
  - [ ] feature request

### What is the current behavior?

When trying to install spectral using `npm install @stoplight/spectral` I get the following error:

[code]

I'm behind a corporate proxy which is why there is a self-signed certificate.

### What is the expected behavior?

It installs without errors

### What is the motivation / use case for

[2019-05-17 15:07] philsturgeon commented on #214
Can you use the pre built binaries instead of NPM for now? Getting our upstream changes into jsonpath is absolutely on the todo list, but it’s not a quick or easy task, so if you’re gonna stay on that corp network you’ll need another approach for now.

[2019-05-17 15:23] Lakitna commented on #214
Locally that would work, but I was planning on linting in a pipeline when I got things up and running. I will likely have the same issue there.

Do you really need to implement the upstream? Can't you set an old npm version as the dependency?

On second thought, I'll take a poke at answering these questions myself on my personal pc without corporate proxy :)

[2019-05-17 16:36] philsturgeon commented on #214
We have our own commits added to jsonpath that folks didn’t get a chance to send PRs for yet, so we can’t pick a specific version no.

There’s other solutions like we release our fork on NPM but it would be better to get out changes merged with master. There’s a story for this to get done, but it’s not at the top of the pile yet.

--
Phil Sturgeon
@philsturgeon

[2019-05-17 17:36] P0lip commented on #214
@Lakitna, as a workaround, you can try setting a custom resolution in your package.json, as follows
[code]
Once a resolution is added, you should be able to successfully install Spectral using npm or yarn.
If it still doesn't work and the cert is needed for some reason, you can download our repo and provide a different link instead. It also accepts filesystem via `file:` [syntax](https://docs.npmj

[2019-05-18 09:19] Lakitna commented on #214
I'll give the workaround a shot when I'm back on the corporate network. Thanks for thinking with me.

[2019-05-20 08:41] Lakitna commented on #214
@P0lip The workaround does the trick. It's not perfect but it allows me to use Spectral until the upstream `jsonpath` changes have been implemented.

[2019-05-20 08:51] P0lip commented on #214
@Lakitna really glad to hear the workaround did the trick for you.
We'll sort out that `jsonpath` dependency issue sooner or later since it's something that annoys us as well.

[2019-05-21 12:45] P0lip commented on #187
Fixed in 2.4.0

[2019-05-21 12:45] #187 closed

[2019-05-21 12:45] P0lip commented on #116
Fixed in 2.4.0

[2019-05-21 12:45] #116 closed

[2019-05-21 19:10] cbautista1002 opened #221 "Clearer errors that pinpoint exact issue without extraneous errors"
### **I'm submitting a...**
  - [ ] bug report
  - [x] feature request

### What is the current behavior?
When the schema is invalid, multiple seemingly-unrelated errors are returned along with the true error. These extra errors make a bit harder to pinpoint the actual issue.

### What is the expected behavior?
Only the actual error / root cause is listed as an error.

### What is the motivation /

[2019-05-21 20:13] erik-hansen commented on #12
Example: I left the host field blank intentionally and it's not required by [OAS2](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#fixed-fields).  However, the oas2-schema rule validates a specific pattern, not including the possibility of blank.  So, I get this:
![image](https://user-images.githubusercontent.com/6989957/58127091-68e51f80-7bc9-11e9-92da-d9a1aa52f7a8.png)

[2019-05-22 16:31] marbemac commented on #134
Another update, this one is confirmed for our sprint starting this Thursday - will be in soon!

[2019-05-22 17:33] cbautista1002 opened #223 "Parameter with required and example fails valid-example rule"
### **I'm submitting a...**
  - [x] bug report

### What is the current behavior?

If you have a parameter that has `required: true` and an example, the `valid-example` rule fails. See "Other information" for details.

### What is the expected behavior?

The `valid-example` rule executes successfully for a valid parameter example as it understands that required is not a list for parameters but a b

[2019-05-22 17:46] philsturgeon commented on #223
Hey, there is an error in your example, the example is invalid. If you fix the example this will go away. :)

Example errors are not related the same as other errors, so the word “error” is overloaded here and this looks funny for sure. We want to improve that so users know what’s up, but you know how to fix the thing in your spec for now.

--
Phil Sturgeon
@philsturgeon

[2019-05-22 18:02] P0lip commented on #221
Hey, @cbautista1002.
First of all, it's very nice to see you here and we are glad you like Spectral.
Recently, we've improved the error messages oas2-schema and oas3-schema rules report. If you are interested, you can check out the changes in greater detail in the following PR https://github.com/stoplightio/spectral/pull/215
It still needs some further work, mostly around prioritization this time.

[2019-05-22 18:26] cbautista1002 commented on #223
Hi @philsturgeon, thanks for responding, but I don't see what's wrong with my example. Do you mind pointing out what's wrong?

I tried another example (changed string to integer)
[code]
and got the same response from spectral.

I also just tried this as a query parameter with an invalid example (and no required) and spectral did not catch it:
[code]
[code]

[2019-05-22 18:35] cbautista1002 commented on #221
Awesome, thanks!

For the time being I can get used to detecting which error is likely to be the root error, and I can tell my coworkers the same. (we're adding spectral to our CI)

Great improvement!

I can provide more feedback as we use spectral more, but for now I feel like the following shouldn't even be reported as warnings:
`should have required property '$ref'`
`should match exactly one sc

[2019-05-23 19:19] philsturgeon commented on #223
Ah dangit I messed up. Ok, two things, your example of example is completely fine. Sorry for saying otherwise.

The first problem is that there are _three_ different types of example in OpenAPI:

1. `examples` next to `schema` but they're responses only so we can ignore them here
1. `example` next to `schema` like you have here, this is an "OpenAPI Example"
1. `example` _inside_ `schema` which is

[2019-05-24 00:37] cbautista1002 commented on #223
Ah, good to know. I didn't realize the specifics behind these example placements.

Awesome, that works for me!

Thanks @philsturgeon

[2019-06-03 13:42] arno-di-loreto opened #242 "Can't use regex modifiers with the pattern function in YAML rulesets"
### **I'm submitting a...**
  - [x] bug report
  - [ ] feature request

### What is the current behavior?

When using the pattern function in a YAML ruleset with spectral-cli, regex with modifiers (`/^.*dto$/i` for example) do not work.
They work when using the spectral module and defining ruleset in node.

YAML ruleset and swagger 2.0 YAML file to reproduce the bug can be found here: https://gist

[2019-06-04 04:43] marbemac commented on #171
This should be fixed in the WIP #245 :). Below is output from your example. That PR leverages https://github.com/stoplightio/json-ref-resolver library, which supports passing in authority (used in the CLI here: https://github.com/stoplightio/spectral/pull/245/files#diff-fca5620c9494de1b4815add52a55ab21R178), by which relative $refs are resolved.

<img width="549" alt="Screen Shot 2019-06-03 at 11

[2019-06-04 05:55] P0lip commented on #242
@arno-di-loreto

It's a bug - we should be supporting all possible modifiers, as they are very commonly used. Unfortunately, JS regular expressions cannot be represented in any way in YAML or JSON format, we need to construct a regular expression during the runtime execution based on provided input.
The proposed modification sounds reasonable to me, so don't hesitate, go ahead and tackle the issue

[2019-06-04 08:57] arno-di-loreto commented on #242
For the sake of consistency and simplicity from the users point of view, I would prefer to propose the possibility of having notMatch: /^.*dto$/i
I'll work on it this week.

[2019-06-04 09:09] P0lip commented on #242
That makes sense to me.
Thank you for taking this issue.
Let me know if there is anything I could help you with.

[2019-06-05 11:52] cbetta opened #249 "TypeError: oas3Rules is not a function"
### **I'm submitting a...**
  - [x] bug report
  - [ ] feature request

### What is the current behavior?

When following the README. I'm now getting the error `TypeError: oas3Rules is not a function` with the latest version of Spectral.

### What is the expected behavior?

The code in the readme should work.

### Please tell us about your environment:

  - Version: 3.0.3
  - Framework: [ ]
  - La

[2019-06-05 12:19] P0lip commented on #249
@cbetta
You are right, we've made a change to rulesets and haven't updated the readme yet.
My apologies for that.
We're planning to update the documentation very soon.

As of Spectral 3.x, there is no `oas3Rules` export member.

[code]
^ this is how you should import the rules now.

Let me know if you have any troubles and once again, sorry for any inconvenience caused.

[2019-06-05 12:25] chris-miaskowski commented on #249
Hi @cbetta, good spot! Thank you for reporting it! I'll take a stab at updating the README in a moment. Should be a quick fix.

To add to what @P0lip said the `rules` is actually asynchronous now.
So you'd need to do something along these lines
[code]

[2019-06-05 15:07] cbetta commented on #249
Excellent, thank you!

[2019-06-07 11:18] chris-miaskowski commented on #249
hey @cbetta. The docs are now up to date and I added some extras on top of the original issue. Thanks again for spotting and reporting!

[2019-06-07 11:18] #249 closed

[2019-06-10 11:55] lag-of-death commented on #172
This is now in progress

[2019-06-13 12:52] lag-of-death commented on #172
Unfortunately, this had to be parked for now. Will put back in progress as soon as possible.

[2019-06-13 14:03] chris-miaskowski commented on #223
Hi @cbautista1002, @philsturgeon.

Great conversation so far and thanks for reporting! We've made some progress on this but aren't quite done yet - bear with us!

Just wanted to add my two cents here.

The OAS documentation says

Note it says "SHOULD" not "MUST". This means that the final solution we'll present _should_ imo return a warning (vs error) if there is a mismatch.

@cbautista1002 FYI yo

[2019-06-13 14:23] philsturgeon commented on #223
@chris-miaskowski but we aren't building a validator, we are building a linter. We do not need to make rules which are following the spec exactly, in fact many of our opinionated linter rules are not mandated by the spec. That's kinda the whole point of this thing.

For example, we ask people to add descriptions to parameters, which is not required by OpenAPI. It's required by the default OAS3 bun

[2019-06-13 14:26] chris-miaskowski commented on #223
@philsturgeon good point! Not opinionated on that either. My gut feeling is that following standards will pay off. The less disconnects there are in the world the better the world is :)

But yeah we'll see!

[2019-06-13 14:33] cbautista1002 commented on #223
Since we use the example fields for our documentation its important that they're accurate for us. I would prefer that this validation results in an error instead of a warning, if possible.

Or perhaps this can be configurable through some kind of `strict` flag or something similar?

[2019-06-13 14:36] philsturgeon commented on #223
@chris-miaskowski we 100% follow standards and we do not deviate from them, we will never tell somebody they have to do something which is not allowed by the specification.

Imagine if ESLint or TSLint only ever gave you feedback about syntax errors and never let anyone define anything else. Want to define where a open bracket should go? Meh, not in the spec. 🤷‍♂️

That would make the tool fairly

[2019-06-13 14:37] chris-miaskowski commented on #223
Sounds good! Let's keep errors :)

[2019-06-14 14:10] arno-di-loreto commented on #242
Fixed in 3.0.5 🎉

[2019-06-14 14:10] #242 closed

[2019-06-17 02:34] P0lip opened #258 "no-dupe-keys rule"
### **I'm submitting a...**
  - [ ] bug report
  - [x] feature request

### What is the current behavior?

There is no way to report duplicated properties.
If you have an object containing 2 or more properties with the same key, Spectral operates on the value of the last property and this is very likely to be unwanted,

### What is the expected behavior?

Having duplicated properties is not desire

[2019-06-17 02:50] P0lip opened #259 ""schema" property cannot resolve a reference"
### **I'm submitting a...**
  - [x] bug report
  - [ ] feature request

### What is the current behavior?

Given the following fixture
[code]

Spectral reports
[code]
warning despite `./foo.json` being placed correctly in the directory and hence Spectral should be referenced without any issues.

### What is the expected behavior?

We should reference the file correctly.

### Please tell us about y

[2019-06-17 10:02] P0lip commented on #172
This is in progress again.

[2019-06-17 10:24] philsturgeon commented on #258
This is probably a layover from Spectral rules being heavily inspired by Speccy rules. We used js-yaml which would throw errors if you had duplicate keys, so we didn't need to bother adding rules to detect that.

YAML is perfectly happy with duplicate keys, it's valid YAML, but invalid JSON. js-yaml has a `{ json : true }` config option which makes the YAML loader more strict, and triggers an erro

[2019-06-17 10:27] #172 closed

[2019-06-17 10:36] P0lip commented on #259
Ah, it's a dupe of https://github.com/stoplightio/spectral/issues/171

[2019-06-17 10:36] #259 closed

[2019-06-17 11:48] #214 closed

[2019-06-18 02:05] #134 closed

[2019-06-19 20:14] philsturgeon commented on #221
@cbautista1002 hey, just to let you know this hasn't fallen through the cracks. We're investigating integrating better-ajv-errors so we can defer the de-duping and refining of errors to that, instead of hand rolling our own solution.

[2019-06-25 18:26] nulltoken commented on #214
Sorry to bump a closed issue, but I'm facing the same issue (behind a corp proxy failing to install spectral) and the resolution workaround doesn't work for me.

Would there be any way for you to publish an early hotfix based on #257 work?

[2019-06-25 18:32] P0lip commented on #214
@nulltoken
Unfortunately, the solution implemented in #257 has to be considered as a breaking change, as the new library we use for querying has a slightly different syntax, therefore custom rulesets might break.
We could try releasing a minor version until we release the next major version.
@philsturgeon what do you think about releasing a minor version with a fix? I believe there is very little

[2019-06-25 18:40] marbemac commented on #214
@philsturgeon might be time to publish v4 on an npm beta tag?

[2019-06-25 21:27] philsturgeon commented on #214
@marbemac yeah it looks like it's time. I'll do this first thing in the morning.

[2019-06-26 01:18] garethj-msft opened #272 "Parameters in links objects shouldn't be linted for not having a description property."
### **I'm submitting a...**
  - [ x ] bug report

### What is the current behavior?

Lint an OAS 3 with links section, where a link object has a parameters collection containing the usual name to path dictionary.
Get warnings like this:

Rule:
Parameter objects should have a description.

Details:
paths./allSchools/createUploadSession.post.responses.201.links.getUploadSessionById.parameters.sessio

[2019-06-26 11:27] philsturgeon commented on #272
Ok this sounds like the rule for parameters is just a little greedy. The trouble with making them too specific is that then we have trouble linting on partial files with $ref, as if we just see the word parameters we dont know if its links parameters or operation parameters. 🤔

[2019-06-26 19:15] #171 closed

[2019-06-26 19:15] #12 closed

[2019-06-26 19:15] #13 closed

[2019-06-27 19:11] philsturgeon commented on #214
Sorry for the hold up, we are trying to improve the Spectral build, release and publish process in line with Prism. Here's a bit of that: #274

[2019-06-27 20:59] philsturgeon commented on #127
This was done a while back, we just forgot to close the issue somehow :D

[2019-06-27 20:59] #127 closed

[2019-06-27 21:05] philsturgeon commented on #214
@Lakitna @nulltoken you can now give spectral v4.0.0-beta1 a try with `yarn add @stoplight/spectral@beta`

You should be able to remove the `"resolutions": {` workaround too.

[2019-06-28 13:12] Lakitna commented on #214
The beta installs normally without any issues! :)

[2019-06-28 17:26] AshwithGundu opened #278 "Ruleset for attributes."
How can we check the attributes in the parameters section are in camelCase naming convention or not?
I mean like could someone give the ruleset for the above mentioned question.
Ex: companyName, age

[2019-07-01 14:43] #221 closed

[2019-07-05 07:31] juanignaciosl opened #288 "Linter problem with `oneOf` and integer"
### **I'm submitting a...**
  - [x] bug report
  - [ ] feature request

### What is the current behavior?

[code]

[code]

### What is the expected behavior?

[code]

In fact, if you remove the `- type: integer` section, you get it right.

### What is the motivation / use case for changing the behavior?

It's a bug.

### Please tell us about your environment:

[code]

[2019-07-05 07:38] philsturgeon commented on #288
Hey @juanignaciosl thanks for the bug report! This is actually fixed already in the develop branch which will be released in the next few days as v4.0. It's part of #265.

We will hopefully have a beta tagged for you today that you can play with.

[2019-07-05 07:51] juanignaciosl commented on #288
:+1: Thanks! That was fast! :D

[2019-07-05 13:48] XVincentX commented on #288
@juanignaciosl We've released a new beta of the version 4.0 — try it out `npm i @stoplight/spectral@beta`

[2019-07-05 14:04] juanignaciosl commented on #288
FYI I had to manually install `globby`:

[code]

Anyway, after that, the run shows the same error:

[code]

[2019-07-05 14:36] XVincentX commented on #288
@juanignaciosl I'd say I've totally messed up the release :)

Let me look into again.

[2019-07-05 15:32] XVincentX commented on #288
@juanignaciosl Can you try again?

[2019-07-05 15:43] juanignaciosl commented on #288
Another problem (I don't know much about npm, maybe I'm missing something):

[code]

[spectral.log.tar.gz](https://github.com/stoplightio/spectral/files/3363343/spectral.log.tar.gz)

[2019-07-05 15:57] XVincentX commented on #288
@juanignaciosl

Yeah, apparently we forgot to upload a directory during the process, we're looking into this. You can use the binary in meantime.

P.S: I know Iago Carta from Carto — he's based in Barcelona (I'm based in Madrid), we should meet :)

[2019-07-05 16:39] AshwithGundu opened #295 "Resource name must be plural and noun"
Is there any existing rule OOTB to check whether the resource name in noun, plural.

Ex: Noun: Must be 'employee' instead of 'getEmployees'
     Plural: Must be 'games' not 'game'

It would be good if anyone can give me the regex pattern for the above mentioned rules.

Regards,
Ashwith

[2019-07-05 17:00] philsturgeon commented on #295
Hey there! We've just started a big documentation push there is a ways to go. Writing custom functions is not something we've got covered, but take a look in the docs/ folder to see if anything helps.

You probably won't get very far with regex, because `bus` is singular and `sheep` is plural. Check out existing tools like: https://www.npmjs.com/package/pluralize

If you can make a custom function

[2019-07-05 17:03] P0lip commented on #288
@juanignaciosl
Hey!
I'm afraid `oneOf` cannot be used in a way you describe.
`oneOf` combine isr meant to match exactly *one* 'item', and since the value of `a_property` you provide is both a valid number and integer, it fails.
Suggest using `anyOf` since you seem to be willing to match any of matching 'items'.

[2019-07-06 16:00] brianmrock opened #302 "Document Core Functions"
**User story.**
As A Ross I am wondering, are there any plans for updating the Spectral docs to include more details about how to create custom rules?

It looks like we only have https://github.com/stoplightio/spectral/blob/develop/docs/rulesets.md at the moment, which is fairly technical and doesn't cover the available functions.

**Describe the solution you'd like**
- Docs for custom ruleset sup

[2019-07-06 16:10] brianmrock opened #303 "Run Spectral against browser on CI"
Spectral is supposed to run in a browser context without any significant limitations. While it's not the most common use of Spectral for most of our external users, it's essential for Studio/Dojo to perform correctly.That said, we need to put more attention on testing to make sure all external contributions as well as our own changes don't break Spectral in the browser.Having the testing process a

[2019-07-06 16:25] brianmrock opened #304 "Port Prism test harness"
**User story.**
Port the existing Prism test harness once it has settled. At time of writing it is still being reworked and refactored, but once done, Spectral should get the same treatment.

**AC*
-Spectral uses the same test-harness library Prism does
- Run test-harness for every PR in CI
- Write some e2e smoke tests (up to 5 should be enough)

**Scope of Work**
- [ ] Extract the Prism harness u

[2019-07-06 16:28] brianmrock opened #305 "Landing Page on http://stoplight.io"
URL: http://stoplight.io/open-source/spectral

- clean up ui
- incorporate a Spectral Sandbox into Spectral landing pape

[2019-07-06 16:31] brianmrock opened #306 "Spectral blog: Rulesets, Config, and GitHub Actions!"
We were so busy adding excellent new functionality we didn’t get around to blogging about it all.

Let’s write up an article for the stoplight blog about everything since the last blog post: https://stoplight.io/blog/introducing-spectral/

Talk to Taylor and Scott about what format it should be in, and what the process looks like. This is our first attempt at providing content so we’ll have to fig

[2019-07-06 17:32] brianmrock opened #307 "Identify test scenarios (Testrail) and manually execute"
Testing and release validation ticket

**Scope**
- Review and update TestRail to cover all priority cases
- manual execution
- automate as many as we can in the sprint (the rest will be part of automation backlog)

[2019-07-06 17:36] brianmrock opened #308 "Spectral Release Video"
**Summary**
Scott to coordinate with Phil and Videographer to create and post up a video explaining Spectral.

**User Story(s)**
n/a

**Scope**
- [x] develop spectral video script and flow
- [x] create video asset
- [x] include video into github README.md
- [ ] include video on Spectral subpage

[2019-07-06 17:45] brianmrock opened #309 "Spectral Release Webinar"
**Summary**
Plan, Market, and host a webinar announcing the launch of Spectral and covering its feature set.

**Scope**
- [ ] create webinar script
- [ ] marketing and planning for webinar
- [ ] host webinar
- [ ] post webinar on Spectral sub-page

[2019-07-06 17:53] brianmrock opened #310 "Ruleset Tech Debt"
Names are all a bit messed up, we still have some things called "Config" which should be removed.

src/config/_tests_/config.test.ts

src/config/configLoader

src/cli/commands/tests/lint.test.ts

Fixtures should have more meaningful name.Our Spectral default ruleset detection should be a bit more relaxed.There is an ongoing discussion over here https://github.com/stoplightio/spectral/pull/232#disc

[2019-07-06 18:00] brianmrock opened #311 "Custom functions in Rulesets"
**User Story**

As a ruleset maintainer, I would like to be able to define my own functions, to achieve things the built in functions might not allow. How that is done I do not much care, so long as it is easy, and the rulesets remain portable as simple YAML or JSON files.

**Details**

Both the CLI and the JS API are converging on a simple `loadRulesets()` method (#366), leaving behind the separa

[2019-07-06 18:03] brianmrock opened #312 "Get rid of the "example" discrepancy between upstream JSF and SL/JSF"
**User Story**

As I Stoplight developer I want to use the upstream JSON Schema Faker and be able to leverage both example and examples properties.

**Background**

That change was added in order to support generating json examples in the next platform.

First commit that initiated the work can be found here https://github.com/stoplightio/json-schema-faker/commit/4e3646e244c902ab7ff2b69e3d76e2e2de

[2019-07-06 18:07] brianmrock opened #313 "Remove JSON Schema Faker Fork"
Remove JSON Schema Faker Fork

[2019-07-06 18:09] brianmrock opened #314 "Merge "generating time format" into upstream"
https://github.com/stoplightio/json-schema-faker/commit/40534f09c0d347632c8cd67a4d1e40efc65cf9fc

[2019-07-06 18:16] brianmrock opened #315 "Switch yogi to proper json-schema-faker"
**Chore summary**
Switch yogi to proper json-schema-faker

**Tasks**
- [ ] Need to do this
- [ ] And do that

**Additional context**
Add any other context about the chore here.

[2019-07-06 18:17] brianmrock opened #316 "Switch platform to proper json-schema-faker"

[2019-07-06 18:18] brianmrock opened #317 "Switch api-gen3 to proper json-schema-faker"

[2019-07-06 18:18] brianmrock opened #318 "switch app to proper json-schema-faker"

[2019-07-06 18:20] brianmrock opened #319 "Implement custom ruleset loading acc to new design docs"

[2019-07-06 18:21] brianmrock commented on #319
@chris-miaskowski Can you flesh out the details on this story, please?

[2019-07-06 18:22] brianmrock opened #320 "Improve spectral's 2.5 and 3.0 changelogs"
**Chore summary**
Improve spectral's 2.5 and 3.0 changelogs

**Tasks**
- [ ] Need to do this
- [ ] And do that

**Additional context**
Add any other context about the chore here.

[2019-07-06 18:27] brianmrock opened #321 "Spectral fails to validate parameter example with a schema correctly"
**Context**

OAS3 uses two types of examples (example property, not examples property!):

1. JSON Schema "example"
2. OpenAPI "example"

**Test cases (OAS3)**

## TEST 1

Given oas3 with

[code]
**when**

spec linted

**expect**

no errors (example matches the nested schema)

## TEST 2

**Given oas3 with**
[code]
**when**

spec linted

**expect**

error (example is an integer, schema requires stri

[2019-07-06 18:32] brianmrock commented on #223
@philsturgeon I have this tagged for next sprint, but if its not needed fro v4.0 release, lets leave it on the backlog.

[2019-07-06 18:34] brianmrock opened #322 "Hosted Spectral"
## User Story

As a potential non-technical Stoplight user, I want to try out some of the products without signing up for an account or downloading CLI tools (what is a CLI?!). Getting feedback from Stoplight on my specifications might convince me to sign up for an account.

## Details

On the public-facing Spectral project website (SO-5) we should allow people tocopy and paste specs or provide a

[2019-07-06 18:34] brianmrock commented on #322
Comment history from Jira

Phil Sturgeon
May 31, 2019, 1:56 AM

Taylor Barnett Scott Faust Marc MacLeod howdy! If this was to be done, what would you think we should do about converting these anonymous users into stoplight users?

Once they’ve run spectral on their docs, we could very easily have some screenshots of Studio as static ads that they then might just download, or we could have “Sign in

[2019-07-06 19:23] brianmrock opened #323 "spectral does not resolve path->parameters->$ref"
**Detective mod**e: Find the github issue, see if you can get more information out of the user, if not then close this down.

[code]

The domainCode is defined in `components/parameters/domainCode` but it complains:```

name: path-paramssummary: Path parameters are correct and valid.message: >-The path "*/domains/{domainCode}/models*" uses a parameter"*{domainCode}*" that does not have a correspon

[2019-07-06 19:23] brianmrock opened #324 "Spectral is generating paths that do not exist in the original document"
It seems like the included rules for OAS2/3 can generate paths that do not exist in the original document.

An easy way to reproduce this is to simply install the default rules and create an OAS document with a path that's missing the `description` property.

[2019-07-06 19:25] brianmrock opened #325 "Switch from oclif to yargs"
oclif has been causing all sorts of oddities and weirdness, including a recent issue where it starts moaning about globby for no reason.

[code]
Switch it out for Yargs as Prism has done.

**Acceptance Criteria**
- No breaking changes to the CLI (e.g: its ok if help page looks a bit different)
- Oclif is gone
- Lint command is still tested, coverage going up would be nice

[2019-07-06 19:26] brianmrock opened #326 "Spectral : Reports"
This feature request was made to Speccy, and.I think it would make for an excellent Spectral feature.

Instead of just showing failures, we can show successes too. This could be a `spectral report` command, or an option, undecided and open to suggestions.

[2019-07-06 19:28] brianmrock opened #327 "Custom Rulesets in GitHub Action"
**User Story**

As a slightly technical user who is dipping my toe into the world of API Specs, I would like to get feedback in PRs about my specs, and I want that to be as easy as possible, so enabling a GitHub Action and having the whole thing done would be perfect.

**Details**

We have a GitHub Action: https://github.com/stoplightio/spectral-action which is stuck on Spectral v4. We need to upg

[2019-07-06 19:29] brianmrock opened #328 "Separate Spectral and Spectral CLI"

[2019-07-06 19:37] brianmrock opened #329 "Prism : Integrate TestRail into Test Harness"
**User Story**

As a Stoplight developer I want to be able to link test harness tests to specific test cases in TestRail, and to do that I need somewhere to put the "Case ID" e.g: C-123.

**Acceptance Criteria**
- Somewhere (could be body, filename, wherever) the case ID should be incorporated into test harness
- Not all tests need to have a case ID (for now at least) so it must be optional
- Repo

[2019-07-06 19:42] brianmrock opened #330 "Prism Video"
**Chore summary**
Prism Video

**Tasks**
- [ ] Need to do this
- [ ] And do that

**Additional context**
Add any other context about the chore here.

[2019-07-06 19:42] #330 closed

[2019-07-06 19:47] brianmrock opened #331 "Prism Video"
**Chore summary**
Prism Video

**Tasks**
- [ ] Need to do this
- [ ] And do that

**Additional context**
Add any other context about the chore here.

[2019-07-06 20:36] brianmrock opened #332 "Prism 3.x Hardening"
The purpose of this Epic is to track the progress of work related to testing Prism v3 binary (e2e).Finishing this epic would mean that we have the coverage for at least the scenarios that Prism v2 supports.Those e2e tests will run in CI and will guarantee stability and quality of Prism.

[2019-07-06 21:26] P0lip commented on #317
Unrelated to Spectral.

[2019-07-06 21:26] #317 closed

[2019-07-06 21:26] P0lip commented on #316
Unrelated to Spectral.

[2019-07-06 21:26] #316 closed

[2019-07-06 21:26] P0lip commented on #315
Unrelated to Spectral.

[2019-07-06 21:26] #315 closed

[2019-07-06 21:27] P0lip commented on #319
This is already implemented.

[2019-07-06 21:28] P0lip commented on #318
Unrelated to Spectral.

[2019-07-06 21:28] #318 closed

[2019-07-07 05:56] philsturgeon commented on #223
If at all possible it should be done for v4.0 but it could be 4.0.1. This rule is broken in certain situations, but it’s not effecting too many people, and can be skipped as a workaround, so it’s not a blocker.

--
Phil Sturgeon
@philsturgeon

[2019-07-07 07:49] #331 closed

[2019-07-07 07:49] #332 closed

[2019-07-07 09:21] philsturgeon commented on #329
@XVincentX did we integrate test rail into the test harness already?

[2019-07-07 09:22] XVincentX commented on #329
Hmm no; the harness's been there in steady state. We have only two tests and it's not automatically linked to anything.

[2019-07-07 11:57] nulltoken opened #335 "Path mangling when resolving references"
**Describe the bug**
Following #171 and the wonderful work in #245 (Thanks @marbemac !), here's another reference resolving relating issue.

**To Reproduce**

From a Windows platform, create the following tree structure
[code]

With the following content

**repro/another_library.yaml**
[code]

**repro/nested/a_library.yaml**
[code]
**repro/nested/three.yaml**
[code]

Then run the following command

[2019-07-07 19:48] #313 closed

[2019-07-07 19:49] P0lip commented on #323
It's a dupe of https://github.com/stoplightio/spectral/issues/108

[2019-07-07 19:49] #323 closed

[2019-07-07 20:20] P0lip commented on #335
Hey @nulltoken!
Thanks for reaching out again and providing valuable feedback.
There seem to be at least two separate issues:

- schema validation function does not handle JSON pointer escape notation
- path mangling

I spent a little investigating the first bug and I'm afraid it's caused by [better-ajv-errors](https://github.com/atlassian/better-ajv-errors/), a dependency we introduced in 4.x to

[2019-07-07 20:51] #314 closed

[2019-07-08 08:17] #303 closed

[2019-07-08 08:38] juanignaciosl commented on #288
Oh, I see! Thank you very much for the explanation, you're totally right, I didn't know that.

About the linter, I'd say that the first message (`a_property" property type should be string`) is not accurate and misleading, because it should be "_just_ one of string, number or integer", maybe that could be improved.

Anyway, I'll close this, thank you very much! :-)

@XVincentX yep, I know Iago fro

[2019-07-08 08:55] #288 closed

[2019-07-08 16:06] tbarn commented on #278
Hi @AshwithGundu!

Could you share some of the code you've tried to do it with? It will help with a starting place of where you are and we can help from there.

[2019-07-09 00:35] marbemac commented on #258
Technically it does, but realistically how many situations would somebody want duplicate keys versus not want them? In general I suggest we build default behavior around  majority use cases.

[2019-07-09 08:06] philsturgeon commented on #258
I wasn’t advocating for allowing duplicate keys. I was trying to outline how Speccy handles it, by turning up the strictness and erring out hard and early when it spots duplicates. That would be one potential solution for Spectral, otherwise we need to find some sort of parser which maintains duplicates so we can detect them programmatically and I’m not sure that’s an option.

[2019-07-09 13:26] P0lip commented on #258
I'm all in for being more opinionated on that and not letting the end user control the behavior via a rule.
As Marc said, nobody really wants to have duplicated properties, so we can simply treat as some sort of syntax error and log it by default.
Thoughts?

[2019-07-09 16:46] P0lip commented on #335
@nulltoken
`Error: Couldn't find property ~1test of /paths/~1test/post/parameters/1`
Fixed in https://github.com/stoplightio/spectral/pull/336, the fix is included in the newest beta, so you can give it a try.

Unfortunately, I haven't had time to look into path mangling issue yet - been busy with the 4.x release lately, but will try to follow up on that as soon as possible.

[2019-07-09 16:59] marbemac commented on #335
I believe that the path issues are something in ajv - ideally ajv does not need to do any resolving, since we already resolve via our own json-ref-resolver.

Separately, @nulltoken I'm not sure portions of `three.yaml` are valid?

This:

[code]

Is basically the equivalent of this:

[code]

Which afaik is invalid, since $ref's cannot have sibling properties. When this is dereferenced, it will end

[2019-07-09 19:23] tbarn commented on #329
Is this for Prism or Spectral? Title says Prism.

[2019-07-10 17:07] tbarn commented on #308
Will open separate issue to get new button added on website

[2019-07-10 17:07] #308 closed

[2019-07-10 18:00] tbarn commented on #309
I'm going to make a new issue announcing it to the community and closing this to avoid confusion.

[2019-07-10 18:00] #309 closed

[2019-07-10 18:00] tbarn commented on #306
Live

[2019-07-10 18:00] #306 closed

[2019-07-10 18:01] tbarn commented on #305
Live

[2019-07-10 18:01] #305 closed

[2019-07-10 18:07] tbarn opened #359 "Announcing: Introduction to Spectral Webinar"
At Stoplight, we promote consistent API design and best practices.  APIs should have style guides with rules and be reviewed to ensure they are descriptive, readable, and concise for the developers who use them.

That’s why we’re excited to announce our much improved, flexible JSON linter, Spectral!

With Spectral you can:

- Create custom rules to lint JSON or YAML objects
- Have out of the box r

[2019-07-10 18:13] tbarn commented on #322
Now Live thanks to @ssspear @P0lip @lottamus!

[2019-07-10 20:02] philsturgeon commented on #322
We actually haven’t done any work at all on hosted spectral... that’s a web tool where folks can upload their own api descriptions and get feedback. This work was paused when it was discovered @rossmcdonald is working on a similar but different project.

[2019-07-10 20:03] tbarn commented on #322
Oh, I misread the acceptance criteria. Carry on.

[2019-07-11 08:54] philsturgeon commented on #322
I was wrong @taylor! I didn't see the sandbox we added (vacation :D). We can extend what is there if people ask for it, let's close this. Awesome job!

[2019-07-11 08:54] #322 closed

[2019-07-11 08:59] cbetta opened #364 "Add migration documents from 3.X => 4.X"
**Chore summary**

To make it easier for someone to migrate an existing project.

**Tasks**
- [ ] Needs to explain what has changed
- [ ] Needs to provide a simple summary as to what changes the developer probably needs to make.

**Additional context**

I have Spectral integrated into Jest with some custom rules, and I’m getting errors when upgrading to 4.0. I can’t tell what I need to change, as

[2019-07-11 10:05] cbetta opened #365 "Update docs on how to use 4.X programatically"
**Chore summary**

The current documentation on how to use Spectral programmatically does not reflect Spectral 4.

https://github.com/stoplightio/spectral/blob/develop/docs/js-api.md

**Tasks**
- [ ] Document how to load OAS rules
- [ ] Document how to load custom rules
- [ ] Document how to remove some of the default OAS rules

[2019-07-11 12:28] philsturgeon commented on #365
Ah, well, it does. It shows you how to use spectral and add rules and functions directly without going via  the YAML rulesets. This approach is going away in the future and it’ll be all rulesets all the time, but we’ve not got that done.

I’ll close this story and make a new one for tracking that work.

[2019-07-11 12:28] #365 closed

[2019-07-11 12:35] philsturgeon opened #366 "Load Rulesets via JS API"
**User story.**
As a developer working with the JS API, I can do reference a custom ruleset (path, url, required from a NPM module), so that I do not need to mess around with the addRules() and addFunctions() interface.

_This ticket should deprecate those two methods, but is not responsible for adding custom functions to rulesets. That will be handled in_ https://github.com/stoplightio/spectral/i

[2019-07-11 12:36] #145 closed

[2019-07-11 12:36] #319 closed

[2019-07-11 12:37] #70 closed

[2019-07-11 12:37] #307 closed

[2019-07-11 12:37] #320 closed

[2019-07-11 12:37] #328 closed

[2019-07-11 12:37] #329 closed

[2019-07-11 21:18] rafaelrocha opened #367 "Weird behave with error messages from custom functions"
**Describe the bug**
Two weirds behavior with error messages from custom functions:
On Spectral 3.0.4  the rule's summary value overrides custom function message.
On Spectral 4.0.0 the rule's description value overrides custom function message.

**To Reproduce**
[To reproduce 3.0.4](https://repl.it/@RafaelRocha2/IsItABugOnFunctionCustomMessage-304)
[To reproduce 4.0.0](https://repl.it/@RafaelRocha

[2019-07-12 03:10] tbarn commented on #367
Hey @rafaelrocha! Thanks for the examples. Super helpful. I'm going to look more into this in the morning.

[2019-07-12 03:11] tbarn commented on #364
I'm going to try to get something done on this next week. I could probably summarize one, but I think I'd be missing somethings so I am going to work with @P0lip on it.

[2019-07-12 08:50] cbetta commented on #364
Thanks. I think the main issue I ran into was the fact that the import changed when using regular Node:

[code]

[2019-07-12 08:51] cbetta commented on #365
@philsturgeon I think that doc only reflects 3.X though. I had to import from `require('@stoplight/spectral/rulesets/oas3')` to make that page work for me.

[2019-07-12 09:02] philsturgeon commented on #365
Is that different to the line:

  const { oas3Functions, rules: oas3Rules } = require('@stoplight/spectral/rulesets/oas3');
Could you maybe send a PR with the changes you discovered?

--
Phil Sturgeon
@philsturgeon

[2019-07-12 09:43] cbetta commented on #365
[code]

[2019-07-12 09:44] cbetta commented on #365
I’ve refrained from making a PR cause honestly I’m not even sure I’m doing this right.

[2019-07-12 14:48] aleung opened #368 "Make CLI not to return non-zero exist code when only warnings occur"
**User story.**

As a continuous integration user, I can provide a parameter to CLI, so that the CI pipeline won't fail when there is no error but only warnings.

As a continuous integration user, I can provide a parameter to the CLI, so that only results of a certain severity will be returned as output.

**Describe the solution you'd like**

_Updated 2019-07-16 by @philsturgeon_

Two new CLI opti

[2019-07-12 16:28] P0lip commented on #367
Hello @rafaelrocha.
You are right - we, in fact, did change the behavior in 3.x.
Luckily, despite the lack of `summary` field, you can still achieve the expected output.
To get the old behavior back, you need to define a property `message` and put the following expression as the value:
[code]
`{{error}}` will be replaced with the message returned from the function.

[Here](https://repl.it/repls/Hi

[2019-07-12 16:39] philsturgeon commented on #368
I’m open to something along these lines, but not exactly what ESLint does.  I think number of warnings is arbitrary, if you’re asking for feedback on your specs and you get some then you should fix it, and if you don’t like what feedback you’re getting use skip, make a custom ruleset, or extend the default ruleset to change the severity of a specific rule.

With that said, can you think of a switc

[2019-07-12 16:53] P0lip commented on #310
I believe I managed to address everything before 4.0 was released.
@philsturgeon could you take a look and check whether I haven't missed anything and every suggestion was actually implemented?

[2019-07-12 17:26] aleung commented on #368
@philsturgeon `--error-only` is fine for me. I just thought `--max-warnings` would give more flexibility to some other users.

[2019-07-12 17:28] rafaelrocha commented on #367
Oh! I see. It definitely helps me.

Thanks you both, @tbarn and @P0lip !!

[2019-07-12 17:43] #367 closed

[2019-07-12 17:55] P0lip commented on #367
Great to hear that!
If you have any further concerns, don't hesitate to reach out to us :)

[2019-07-15 09:25] #258 closed

[2019-07-15 12:34] philsturgeon opened #369 "Register rules against specific versions of API description formats"
**User story.**
I'd like to write one ruleset for a specific API description format (e.g.: OpenAPI), knowing that some rules will only effect v2.0 or v3.0 or v3.1 specifically.

**Is your feature request related to a problem?**

Before CLI users could chose a custom ruleset, Spectral would look at the contents of the file, and automatically apply oas2 or oas3, both of which extend the oas ruleset

[2019-07-15 12:35] philsturgeon commented on #369
@marbemac @P0lip what do you folks think of this one?

[2019-07-15 14:11] P0lip commented on #369
@philsturgeon
I agree that having it automated would be a very nice addition.
Instead of merging all rulesets, we could provide a new property to a ruleset, such as `spec` or `appliesTo` or something similar.
Then, Spectral would recognize that property and act accordingly to the supplied spec.
It's not much of work and would play nicely with `loadRuleset` change we are planning to introduce.
Thou

[2019-07-15 14:13] philsturgeon opened #380 "Do not require JSON Schema to be inlined in rulesets"
**User story.**
As a ruleset maintainer, I would like to create rulesets which do not have JSON Schema inline, so that I can have more rules in a more concise file.

**Is your feature request related to a problem?**
Currently the oas2 and oas3 rulesets have the OpenAPI metaschema files, and this is bloating a 100 line ruleset to almost 2k lines.

https://github.com/stoplightio/spectral/blob/develo

[2019-07-15 16:58] philsturgeon commented on #369
Yeah whatever we do here should be implemented in loadRuleset() so whichever order that happens is fine. It would be an optional keyword which would limit which api description formats it applies to, meaning that you would not need to add it on every single rule. I think that is what you were asking about? I agree it would be a bit rubbish typing it out every time.

[2019-07-15 17:56] #310 closed

[2019-07-15 17:56] philsturgeon commented on #310
nicely done @P0lip

[2019-07-15 18:48] #364 closed

[2019-07-15 18:49] tbarn commented on #364
Hey @cbetta, we just merged a migration guide. Hopefully it will fill in any gaps you have: https://github.com/stoplightio/spectral/blob/develop/docs/migration-guides/4.0.md

[2019-07-15 19:08] marbemac commented on #366
Generally feels good - what about expecting end user to load/read the file themselves? So would look more like this:

[code]

Where IRuleset is https://github.com/stoplightio/spectral/blob/develop/src/types/ruleset.ts#L17.

I guess we could also have `loadRuleset` that takes a file or url, fetches it, and calls `setRuleset` with the result.

OR since ruleset extends supports files and urls, might

[2019-07-15 19:18] philsturgeon commented on #311
@P0lip @marbemac I've given this some tweaking, but y'all were the ones that had a lot of ideas on this. Can we have a call, or maybe start with some wall-o-text's?

[2019-07-15 19:35] kylesykes commented on #311
Not sure if this helps in any fashion, but for our use case it would be great to just be able to define functions in a file (even something similar to what's currently in `src/functions`) and then be able to import those via the CLI, or reference the `custom-functions` file in `spectral.yaml` somewhere.

`spectral lint spec.yaml --custom-functions=some-functions.js`

Also worth noting I'm not a JS

[2019-07-15 19:46] philsturgeon commented on #311
@kylesykes right on, so that's one option, but the problem there is you are loading random functions which are not be referenced at all. If we wen't down this road it would need to be accompanied by a custom ruleset too:

[code]

This leads to a documentation and portability nightmare, where you have to share both the ruleset and the functions, or the functions will not exist and the ruleset is br

[2019-07-15 19:52] kylesykes commented on #311
You're right, I forgot to pass in a custom ruleset which we are definitely using.  I'll keep an eye on the conversation going forward. Thanks for the response and work from everyone.

[2019-07-15 20:06] soulcutter commented on #368
`--ignore-warnings` maybe?

I mildly favor a boolean-style flag vs tracking how many warnings trigger an error. It's lower-complexity, and also I am skeptical of the use case where 3 warnings is ok, but 4 is an error.

[2019-07-16 02:33] P0lip commented on #366
@marbemac
I believe we should support both - a plain ruleset path/name and a parsed ruleset.
This is kind of similar to what we do with spec - you can provide a parsed spec, but also a string if you'd like to.

The problem with the ruleset approach only is that API consumer would need to call `resolveRuleset` function on its own if shorthands or npm modules are meant to be resolved.
Not to mention

[2019-07-16 06:43] Flori00 opened #383 "Option to hide warnings"
I don't need the warnings, I only need the errors.
I can't remove the warnings, is there a command?
I want that only the Errors get displayed.

[2019-07-16 07:12] philsturgeon commented on #383
For now there is not a feature to return only errors, but you can write a custom ruleset which turns off all the rules and only enables the ones you’re interested in. Check out docs/rulesets.md for an example.

A similar feature is being discussed on #368

[2019-07-16 07:18] philsturgeon commented on #368
I prefer a Boolean flag too but —ignore-warnings could be a tad confusing. We’re not ignoring them, just not failing the run if we see them. Ignoring might be closer to #381.

Should these two features perhaps be the same feature?

We could have —severity=error and it will only show errors, and only fail if errors come back.

—severity=warm would show warnings and errors, and fail if either came b

[2019-07-16 07:31] philsturgeon commented on #368
There could be two switches, —fail-severity=warn —severity=info

First is where it fails, second is what it shows. Both have same defaults they have now.

[2019-07-16 07:32] XVincentX commented on #368
I had a look to some other tools on the market that deal with the same situation; mscpp (Microsoft's C/C++ compiler) has a dedicated flag (`/WX`, if I recall correctly) to treat the warnings as an error, and you can even specify _which_ warning should be treated as errors.

[2019-07-16 07:33] philsturgeon commented on #368
We can currently specify which warnings should be treated as errors with ruleset extension and changing the severity level in the ruleset file. This might be a slightly different thing?

[2019-07-16 07:35] XVincentX commented on #368
Yeah, but still there's an option on the compiler itself to treat all the warnings as errors.

I've also checked out GCC, and they do basically the same thing.

[2019-07-16 07:59] philsturgeon commented on #368
Right, you were saying two things and I replied to one of the things :D

We got that bit covered already.

Converting all warnings into errors is essentially what we are currently doing, as we return a failure status code if we spot a warning. The requester is asking for an option to do the opposite. Does mscapp or GCC have that?

Also im not sure compilers are the closest comparison, maybe other

[2019-07-16 09:34] Radionz opened #385 "Unable to install spectral from npm"
**Describe the bug**
Unable to install spectral from npm.

**To Reproduce**
I am running `npm install -g @stoplight/spectral`

**Expected behavior**
I get this error, seems to be related to `better-ajv-errors@0.6.4`, more precisely babel
[code]

**Environment**
 - Windows 10
 - node v10.15.1
 - npm 6.4.1

[2019-07-16 09:40] P0lip commented on #385
Hey @Radionz.
The issue seems to be caused by Unix ENV variables that are set over here
https://github.com/stoplightio/better-ajv-errors/blob/bundle/package.json#L61
Windows does not support such syntax.
The fix should be quite simple, though. We already ship bundled code, so there is no need for the build script.

[2019-07-16 11:14] #385 closed

[2019-07-16 11:24] P0lip commented on #385
The patch release containing the fix should be published soon.
I tested the build under Windows and Spectral seems to install correctly now.
My apologies for any inconvenience caused.

[2019-07-16 11:59] Radionz commented on #385
No worries, the least we can say is that it was corrected quickly!
Thank you :)

[2019-07-16 13:31] #359 closed

[2019-07-16 14:26] soulcutter commented on #368
`--fail-level` is my favorite so far. It might be nice to have some consistency between the fail flag and the output flag, sooo... `--output-level` maybe?

[2019-07-16 14:33] P0lip commented on #385
@Radionz 4.0.1 has just been released. You should be able to install Spectral without any troubles now.

[2019-07-16 14:42] P0lip commented on #366
Another potential issue with `spectral.setRuleset(ruleset: IRuleset)`.
A consumer would also need to resolve extended rulesets on its own.
We could resolve them, but relative paths to rulesets would be *very* tricky to support... I'd say almost impossible since we don't know the base path of parent ruleset and would need to speculate a lot and make lots of assumptions that will never work under al

[2019-07-16 14:44] P0lip commented on #312
Unrelated to Spectral.

[2019-07-16 14:44] #312 closed

[2019-07-16 15:10] philsturgeon commented on #383
I think we'll be implementing this as part of #368 so let's just chat over there.

[2019-07-16 15:10] #383 closed

[2019-07-16 15:11] philsturgeon commented on #368
Ok so we have two possible approaches so far:

1. `--fail-severity=warn` and `--output-severity=info`
2. `--fail-severity=warn` and `--display-only-fail-level-results` (a'la rubocop)

[2019-07-16 16:25] rafaelrocha commented on #367
Hi @P0lip ,

I just realized that the behavior of summary is still weird, looks like the error message is overriding its value. [here](https://repl.it/@RafaelRocha2/HighDefinitiveFilesize-1)

Is there something I could do to fix it as well?

[2019-07-16 16:29] rafaelrocha commented on #367
Hi @P0lip ,

How about the summary value that is missing, is there anything I can do to get this values as well? [I'm testing here](https://repl.it/@RafaelRocha2/HighDefinitiveFilesize-1)

[2019-07-16 16:39] P0lip commented on #367
@rafaelrocha
I'm afraid to inform you there is no way to have a `summary` property on validation result.
`summary` is gone entirely.
You can still have `description` printed, though.
If you want to go even further, you can even inline summary in a message.
https://repl.it/repls/DeepskyblueAchingForm

This is a bit hacky yet shows it's possible.
Does it help you in any way?

[2019-07-16 16:56] aleung commented on #368
Though you all prefer boolean flag, let me share my use case of ESLint `--max-warnings`. No going to convince somebody but explain why ESLint provides this kind of option.

Linter wasn't used in my team from day 0. When I introduced it we already had tens of projects and their quality was no so good. You can imagine that the linter reported a large number of errors and warnings. I forced the team

[2019-07-16 17:02] rafaelrocha commented on #367
oh boy, I see. We were grouping the error messages by it and showing something like what you can see below:

[code]

Anyway, we're going to re-evaluate how to present theses messages, thanks for the great support!!

[2019-07-16 17:22] philsturgeon commented on #368
Alright, chatting with @P0lip I think we're aligned that option 2 is the way to go. I'm going to update the initial message with this.

[2019-07-16 17:25] philsturgeon commented on #368
@aleung sorry I didn't see your reply there before I wrote my last one. I had this page open a while I guess.

That's absolutely a valid use case, and I get it, but I think it can be handled in other ways. For now people have `--skip-rule` and they can extend rulesets to override things, or make them not be errors, there's all sorts of options here, but if this comes up again in the future after w

[2019-07-16 17:36] philsturgeon commented on #324
@P0lip I feel like we took care of this one recently?

[2019-07-16 17:37] philsturgeon commented on #295
Ok so custom functions in rulesets is #311 but maybe we can consider getting some pluralize logic in the core as its commonly required functionality.

[2019-07-16 18:31] philsturgeon opened #388 "docs: new guide for Continuous Integration"
Take the `Continuous Integration` content from workflows and make a new guide (link to it from workflows).

https://github.com/stoplightio/spectral/blob/5ac0a309088503a4a8e17fa6e1f820c8a7dfe160/docs/guides/workflows.md#L47

This can be extended to use the new `--format=junit` option added in #478, and --output=foo to output content to a known location then have CircleCI see that. Add some screensh

[2019-07-16 18:33] philsturgeon opened #389 "HTML Format"
**User story.**
As a CLI user, I want to run the CLI, output information about failures, and put that HTML on S3 so folks can see a report of their errors and warnings. Maybe this will help them fix the various issues.

**Describe the solution you'd like**

Rubocop have a good HTML format: https://www.rubocop.org/en/stable/formatters/

Check out ESLint too.

[2019-07-17 07:41] P0lip commented on #367
@rafaelrocha
You are welcome!
If you need it for grouping purposes, consider using `code` property instead, as it might be a more stable property to group by.

[2019-07-17 13:55] Flori00 opened #390 "Add %errorcode% response"
Why?
To check if the validation was successful.
Only the Errors the warnings are unnecessary.

Right now the cmd always responses with 1

[2019-07-17 16:23] philsturgeon commented on #390
Duplicate of #368 but thanks for letting us know this is something you want done!

[2019-07-17 16:23] #390 closed

[2019-07-17 18:16] P0lip commented on #369
Yeah, this is exactly what I meant.

[2019-07-18 10:13] cbetta commented on #364
🎉

[2019-07-18 19:19] rossmcdonald opened #393 "new rules: error for anyOf & oneOf in OpenAPI v2"
**User story.**

As an average user who is not completely familiar with the intricacies of JSON Schema <≠> OpenAPI and the differences between OpenAPI v2 and v3, I often mix up JSON Schema, OAS2 and OAS3 keywords like anyOf and oneOf, so please let me know when I put the wrong keyword in the wrong place.

**Is your feature request related to a problem?**

API description documents should conform t

[2019-07-18 20:47] marbemac commented on #393
In fact we should just report usage of oneOf or anyOf as errors in openapi, since it's not valid openapi - no need for separate "strict" concept.

[2019-07-18 21:36] tbarn commented on #393
Except in v3 though, right?

[2019-07-19 01:00] marbemac commented on #380
How about we take advantage of $refs, since we already have a very capable json-ref-resolver loaded up in Spectral? Could just dereference the ruleset file after loading it. This would be like an hour of work. Something like this:

[code]

In fact, if we supported $refs in the ruleset file, they could be used in all sorts of ways to de-dupe things.

[2019-07-19 01:03] marbemac commented on #366
Slightly confused - I guess you're suggesting this would be handled in `loadRuleset`? If we can get it done in a `loadRuleset` function, why would we not be able to do it in another function?

[2019-07-19 01:13] marbemac commented on #311
I described an approach way back over here - https://github.com/stoplightio/spectral/pull/232#pullrequestreview-256640800. After thinking about it a bit more, I think it still holds up pretty well.

I suggest that we start without a sandbox, and do that in a later release.

[code]

[2019-07-19 06:46] philsturgeon commented on #393
V2 has allOf
V3 has allOf, oneOf, anyOf, not

[2019-07-19 13:15] nulltoken commented on #335
@P0lip Works like a charm! Thanks a lot.

@marbemac You're completely correct (and I'm a complete idiot ;-) ). Btw, I've been bitten in the past more than I like to remember about this. Would there be a way for spectral to actually catch those patterns and well... warn about them?

[2019-07-19 14:08] philsturgeon commented on #335
@nulltoken Let's absolutely make a rule for spotting $ref siblings. You are not the only person getting clobbered by this, I think we've been bitten a few times here ourselves!

[2019-07-19 14:38] philsturgeon opened #394 "oas core rule: $ref cannot have siblings"
**User story.**
As a OpenAPI v2 or v3 user, I am completely unaware of the very subtle mentions that $ref cannot have siblings, and I would like Spectral to let me know about this so I don't write invalid specs.

**Is your feature request related to a problem?**

The OpenAPI v3.0 spec says that any properties sat next to a $ref SHALL be ignored, but some tooling does not ignore them.

<img width="

[2019-07-19 15:16] philsturgeon commented on #380
@marbemac I think this would 100% lock us in to rulesets always being defined in JSON/YAML, and definitely not being TypeScript, right? Is that something we want to do?

[2019-07-19 15:21] philsturgeon commented on #311
@marbemac great, ok. I didn't fully understand this before but I do now. I was confused about why we'd define the function in a remote file, yet want to have a schema floating in the ruleset, but it's so the ruleset can be used to power docs showing how functions work. Got it!

So this seems like option B: we "define" custom functions in the ruleset, and naming convention matches them up to a file

[2019-07-19 15:27] tbarn commented on #393
We also let people in Next create OAS v2 specs with oneOf and anyOf, so we might need to explain that too.

[2019-07-19 15:29] philsturgeon commented on #393
Is it x-oneOf and x-anyOf or are we putting invalid keywords into their API description documents?

This is all the more reason to create errors for oneOf and anyOf in Spectral. Folks can turn the rule off if they really want to keep on writing invalid documents.

[2019-07-19 16:55] philsturgeon opened #395 "Document OpenAPI v2/v3 Rules"
**Chore summary**

We need documentation for the OpenAPI rules we already have. If this is done after #311 it could be automated to use the "schema" defined, so we could make build a little script which loops through the functions and spits out a markdown table to go in the docs?

**Tasks**

- [ ] docs/rules.md
- [ ] docs/rules/oas.md
- [ ] docs/rules/oas2.md
- [ ] docs/rules/oas3.md

[2019-07-20 19:21] nulltoken commented on #49
Being pointed at to unused definitions would indeed be very useful!

[2019-07-20 19:37] nulltoken opened #396 "feature request: Hide AJVs "unknown format" complaints"
**Describe the bug**

According to the spec, `format` is is an open string-valued property, and can have any value.
Spectral generates (pollutes?) stdout with warnings about "unknown format"s.

**To Reproduce**

**repro/output.openapi.yaml**
[code]

**Run**
[code]

**repro/log.txt**
[code]

**Expected behavior**
Nothing in stderr/stdout

**Environment (remove any that are not applicable):**
 - Lib

[2019-07-20 19:48] nulltoken opened #397 "Weird spectral parsing output"
**Describe the bug**

Following yaml seems weirdly parsed by Spectral

**To Reproduce**

**repro/output.openapi.yaml**
[code]

**Run**
[code]

**repro/log.txt**
[code]

**Expected behavior**
- Nothing in stderr/stdout
- Log should contain an error about unknown `date` type
- Log should not contain the error `/components/schemas/AModel should have required property '$ref'` (which wording seems a ta

[2019-07-20 20:02] philsturgeon commented on #396
Hey there, this related to https://github.com/epoberezkin/ajv/issues/466 in which the author of AJV makes it very clear that people should be aware of unknown formats.

I would like to try and hide these specific messages because you are correct, the OAS spec does say you can use whatever you want.

[2019-07-21 11:03] nulltoken opened #398 "Expose to the caller of `.run()` the fully resolved result"
**User story.**
As a developer, I can access the fully resolved results of multiple calls to `spectral.run()`, so that I can apply some further custom processing on the standalone resulting object.

**Is your feature request related to a problem?**
We have to deal with multiple .yaml root files, each of them relying on remotes references.
Spectral is an amazing tool to lint each root file (and poi

[2019-07-23 11:13] P0lip commented on #398
Hey @nulltoken.
Thanks for another great feedback - really appreciate it!
In upcoming weeks, we'll be heavily focused on improving the JS API, therefore we are very likely to work around that particular codebase.
That said, I believe we can make it happen - it seems like it may turn out to be useful for the general audience.
Do you have any proposal for a method? I was thinking of `getResolved` or

[2019-07-23 11:15] P0lip commented on #366
@marbemac, Sorry for dropping a ball on this one.
What I'm saying is that loading the following ruleset might be a serious trouble
[code]
How do you resolve `./foo.yaml` path when you don't know the base path?
Does the following example make the situation more clear?

[2019-07-23 16:48] AnthonyPorthouse opened #403 "Invalid schema causes "should have required property '$ref'" error"
**Describe the bug**
When an OpenAPI v3 Response Object contains a `schema` which has invalid schemas, an error is thrown saying: should have a required `$ref` property.

This is probably coming from better-ajv-errors, which is deduping errors which are saying "should be a valid sub schema, or should be a $ref" and its just showing the $ref bit.

**To Reproduce**

1. Given this OpenAPI document
[c

[2019-07-24 04:15] marbemac commented on #380
Probably missing something - could you share an example?

---

Defining in json versus ts shouldn't really matter, at least for the use cases I've considered - but again I might be missing something.

**.spectral.json**

[code]

**spectral.ts**

[code]

[2019-07-24 13:32] philsturgeon commented on #380
You got an example there that looks like it’ll be fine. Alrighty, updating the description!

[2019-07-24 17:03] ioggstream opened #404 "Support yaml anchors"
**Describe the bug**
The following yaml with anchor does not validate correctly

**To Reproduce**

1. Go to online spectral parser
2. paste the content of the following yaml https://paste.fedoraproject.org/paste/F8NCdqF9qO7QDRTwiA1vmA
3. See error

[code]

[2019-07-25 15:50] mburtless commented on #403
Adding exact error code, so this can be found by other folks that run into this issue.  For the schema above, error code would likely be something like:
[code]
I see this error even if I have ref inside the `schema` object.

[2019-07-25 17:26] philsturgeon opened #405 "new rules: case enforcement"
**User story.**
As an OpenAPI user, I would like the following default rules, which are not in the OpenAPI spec but are rather nice and help new users create consistent specs, and look the best in the most tools.

- camelCase for Request and Response payload
- Title Case for responses description
- PascalCase for schema names

**Is your feature request related to a problem?**
User requested these

[2019-07-26 09:11] P0lip commented on #404
Hey @ioggstream.
Thanks for reaching out!
I'm afraid to say we don't handle merge keys at the very moment.
This particular feature does not seem to be a part of the spec, but it's rather an extension to it, therefore it's not supported out of the box.
Don't worry - it's a popular feature we really want to provide support for, so the issue you face will eventually be gone.
I can't assure you of any

[2019-07-26 09:57] philsturgeon commented on #311
@marbemac @P0lip bump! ☝️

[2019-07-26 14:22] ioggstream commented on #404
@P0lip Thanks for your reply and you PR!

Just for curiosity, which are the advantages of not using an external yaml library?

[2019-07-26 14:31] XVincentX commented on #404
@ioggstream Spectral needs more than the parsed result.

It needs source maps, access to the raw AST and access utilities that no library's offering at the moment.

[2019-07-26 14:46] P0lip commented on #404
@ioggstream

As Vincenzo stated, there is no ready-to-go solution that would meet all of our requirements.
For instance, there is no utility that would allow us to map given property (using json path) to the actual place in the file. We have our own implementation of that functionality over [here](https://github.com/stoplightio/yaml/blob/master/src/getLocationForJsonPath.ts) - this function is use

[2019-07-26 15:46] #393 closed

[2019-07-27 11:35] P0lip commented on #311
[code]
This looks a bit weird, I agree.

I'd suggest a slightly different syntax.
[code]

Whatcha think ya'll?

[2019-07-29 20:40] denver-HJS opened #410 "Docs for validating objects against schemas"
**Chore summary**
The README.md says the following under the FAQs:

I wasn't able to find any examples of using the exposed `schema` function, and I'm having a hard time conceptualizing that myself.

**Tasks**
- [ ] Add sample code and/or working examples of validating a given object in memory against an oas3 resource schema

[2019-07-29 21:29] tbarn commented on #403
@AnthonyPorthouse I need to double check if that's a valid OAS document. I changed the last part to this:

[code]

And it passed. If you are still wanting the example there, I would normally do:

[code]

[2019-07-29 21:48] tbarn commented on #403
The error message is definitely misleading, but I think the initial document is not valid either way.

[2019-07-30 19:13] philsturgeon opened #411 "new rule: paths not end with /"
A rule I liked in Speccy was that paths should not end with a /. This is an opinion based in a bit of logic.

Some web servers and web application frameworks will tream /foo and /foo/ as identical, but some don't, so writing them into your description document can cause a bit of confusion. Should you specifically add /foo/ ? That means people who type /foo (most people) will get a 404...

Lets pus

[2019-07-31 11:25] philsturgeon commented on #410
@denver-HJS hey, yeah we're a little behind on the docs but @P0lip  is on the case already: #412

Until the docs are sorted out, you can take a look at the core rulesets to as an example of how things work. Right here we use JSON Schema to make sure the servers array is looking good.

https://github.com/stoplightio/spectral/blob/develop/src/rulesets/oas3/index.json#L4

Use the schema function, wit

[2019-07-31 11:25] #410 closed

[2019-07-31 17:48] #404 closed

[2019-08-02 09:56] AnthonyPorthouse commented on #403
@tbarn perhaps the issue then is that it is eating errors saying it should be a `$ref` instead of _why_ it's invalid?

Agreed my initial PoC spec was rushed as it was towards the end of my work day and as you've pointed out is in fact invalid.

Would you prefer I open a new issue describing these issues more correctly, or should we simply go with this issue?

[2019-08-02 16:11] tbarn commented on #403
@AnthonyPorthouse We can totally stick to this issue, but could you edit it so it accurate?

[2019-08-02 17:26] philsturgeon commented on #398
@nulltoken thanks for the kind words about Spectral's awesomeness. :D

I could do with understanding the base use case a bit more. I don't really understand what is happening with the combination of multiple documents or why.

[2019-08-06 11:34] chris-miaskowski opened #426 "Labels"

[2019-08-06 11:35] chris-miaskowski opened #427 "Labels"

[2019-08-06 12:00] #426 closed

[2019-08-06 12:00] #427 closed

[2019-08-08 10:42] #302 closed

[2019-08-09 09:55] philsturgeon commented on #366
@marbemac @P0lip hey, it seems like you two were discussing some cool ideas for how the `loadRuleset()` this ticket suggests could be a helper for a `setRuleset()`, but there seemed to also be concerns with the actual code being suggested.

It's getting close to implementation time, and I'd like to make sure this ticket has an implementation that somebody can pick up. Can we punt the setRuleset id

[2019-08-09 10:12] chris-miaskowski opened #429 "labels"

[2019-08-09 10:16] #429 closed

[2019-08-10 10:53] P0lip commented on #366
Yeah, I'd vote for holding on with that idea for a while and sticking to the original idea (`loadRuleset` method only).

I'd like to work on that one, so lack of some details shouldn't be an issue. :D
Before we start that one, though, we need to have custom functions in place.

[2019-08-11 12:50] P0lip commented on #311
Alright, one more design decision to make.

@philsturgeon @marbemac
How should functions extending looks like?
I can think of 2 possible solutions:
- we override the definitions same as we do with rules
- we bind each function definition to actual ruleset

The latter is more difficult to implement, but I believe that this is the way to go, since a given rule might depend on particular implementati

[2019-08-11 13:02] P0lip commented on #380
I'd be very cautious about usage of `$refs` here. While usage of them in non-restricted environments such as the Node.js one is in fact safe and straightforward, supporting them reliably in a browser or worker envs may turn out to be more difficult.

I'd suggest adding an extra build step here and simply resolve those $refs during the build time.
What do you think?

@philsturgeon @marbemac

[2019-08-11 18:16] nulltoken commented on #380
@P0lip Would that forbid Spectral users from benefiting from that handy proposal?

[2019-08-11 19:07] philsturgeon commented on #380
There is no build time for arbitrary YAML file passed into CLI via URL/Path.

--
Phil Sturgeon
@philsturgeon

[2019-08-11 20:10] nulltoken commented on #380
@philsturgeon That was indeed my understanding. Would there be a way for spectral users to also be able to externalize their schemas from their rulesets?

[2019-08-11 20:28] nulltoken commented on #398
@philsturgeon Our team is in charge of aggregating multiple openapi 2.0/3.0 yaml files from 20+ different teams.

Our build process validates each file individually then combine them in 10~ higher level namespaces.

All those files bear some metadata exposed through `x-` prefixed properties. Those props allows us to backtrack which team is responsible for each resource for instance, which server a

[2019-08-11 20:32] P0lip commented on #380
@nulltoken @philsturgeon
In general, I'm not against utilizing json-ref-resolver for this case.
I suspect that the vast majority of  Spectral users run Spectral in Node.js environment, so they don't have any meaningful restrictions.
What I wanted to point out is that fs-like $refs are unlikely to be resolved properly in an environment with shimmed or no fs module, such as browser or worker, theref

[2019-08-12 07:51] nulltoken commented on #397
Hey! Have you had the time to review/triage this?

[2019-08-12 08:07] nulltoken opened #434 "only-local-references seems to be no longer working"
**Describe the bug**
When a spec references an external ref and that we activate the `only-local-ref` rule, no warning/error is issued

**Describe the bug**

Following yaml seems weirdly parsed by Spectral

**To Reproduce**

**repro/ruleset.yaml**
[code]

**repro/external.yaml**
[code]

**repro/remote_ref.yaml**
[code]

**Run**
[code]

**Expected behavior**
- The external reference should be detec

[2019-08-12 09:34] philsturgeon opened #435 "Found X rules verbose message is misleading"
**Describe the bug**

If you disable rules by turning them off, the verbose message "Found 35 rules" still shows up, counting the total list of all rules that are known about even if they are disabled.

**To Reproduce**

Make a ruleset like this:

**ruleset.yaml**
[code]

**Run**
[code]

**Current behavior**
CLI output contains `Found 35 rules`

**Expected behavior**
CLI output should contain `Fou

[2019-08-12 09:36] philsturgeon commented on #434
Hey @nulltoken, seeing as Spectral v4.0.0 switched to loading external references by default, this rule is rather pointless because it's acting on the resolved object and not the source object. We did this because enough users raised confusion about external ref not being loaded that it started to feel like a bug, not a feature.

Anyway, this rule should have have been removed then in v4.0.0 but w

[2019-08-12 09:52] philsturgeon commented on #380
This is an interesting problem and y'all making great points. An original goal for rulesets was to have something so simple it could be a single JSON/YAML file, but reality has got in the way of that goal.

We already have the problem where #430 is going to add functionality not available to a Ruleset-on-a-URL, and this just seems like another thing. That said, its not a confusing thing. If you ar

[2019-08-12 12:42] nulltoken opened #436 "Only allow certain remote references to be resolved"
**User story.**
As a API manager, I can add a rule that would restrict the list of automatically resolved http external references to a known subset, so that I can eventually ensure that only vetted external references are used.

**Describe the solution you'd like**
A way to configure spectral so that a list of complete urls (or regular expressions) describing the http remote references that are a

[2019-08-12 12:45] nulltoken commented on #434
@philsturgeon Thanks a lot for this very thorough answer!

I'm actually not that concerned about *this* bug and I'm fine with this rule being dropped. I only raised the bug to let you guys know about what I've found. ;-)

I discovered it while researching how to implement something somewhat different (cf. #436)

[2019-08-12 12:45] #434 closed

[2019-08-12 12:48] nulltoken commented on #405
And maybe kebabCase for headers?

[2019-08-12 13:28] philsturgeon commented on #397
This should be resolved with the greater work being done in #243, but progress has halted. Valid examples are complex. I will try and get somebody to work on this soon.

[2019-08-12 14:18] philsturgeon commented on #311
I think binding too, because two rulesets with different implementations could break each other and that sounds a lot worse than the alternative: a ruleset author having to copy and paste a thing or find a way to get that same function picked up by their ruleset.

Let's bind to the ruleset and see what people say.

[2019-08-12 14:44] chris-miaskowski opened #437 "Improve Spectral performance from O(n^2) to O(n)"
This is what we have now:
- foreach rule
  - call jsonpath.find(rootObj, targetPath)
    - json path will recurse through relevant parts of object to find matches and return them

We want to have:
- foreach property in rootObject (recursively)
  - for each rule
    - call jsonpath.match(currentPath, targetPath)

[2019-08-12 17:12] miller79 opened #443 "Creating a rule to validate schema name casing."
**Chore summary**
I'm trying to create a rule that would validate schema name casing and am not able to see how to set the given and fields to do this.  Here was the sample I tried:

[code]

**Additional context**
Any guidance that can be given to performing this or if this feature is not currently available as the documentation does not show this to be possible.

[2019-08-13 09:36] #369 closed

[2019-08-13 10:08] nulltoken opened #446 "Support execution behind a corporate proxy"
**User story.**
As a user working behind a corporate proxy, I can configure spectral, so that I can run it without errors when `ref$` points to internet based urls.

**Is your feature request related to a problem?**
In #245, @marbemac made it possible to resolve http based remote references.

https://github.com/stoplightio/spectral/blob/027664fcf7f58f542a323d338b9017ba18adc9a3/src/resolvers/http.t

[2019-08-13 11:21] marbemac commented on #446
Hmm, simplest is probably using something like https://github.com/gajus/global-agent when in node context. Would require bumping minimum node version up to v10 since they rely on language features (versus monkey patching etc), but that's probably alright since node 8 is EOL in December anyways. Thoughts @P0lip @philsturgeon?

[2019-08-13 12:17] philsturgeon commented on #446
@marbemac great idea, let's do it this way. Seeing as node-fetch is based on requests internally this should work just fine.

@nulltoken do you have a workaround for now? We can raise node requirements to v10 for v5.0 but doing it for v4.x might be a bit cheeky. If we find a few more breaking changes we'd like to do (removing addRules and addFunctions for example) then it'd be nice to do it later

[2019-08-13 12:46] #366 closed

[2019-08-13 14:12] nulltoken commented on #446
@philsturgeon Well, my current workaround is tethering through my mobile... which isn't the richest experience ;-)

Would you know the _forecast_ ETA for 5.0?
Any chance to get a beta channel release?

For what it's worth, I'd be a taker for a `-dev` channel release released whenever a PR is merged.

[2019-08-13 15:02] miller79 commented on #443
Figured out how to do it by doing the following:

[code]

Closing this out.

[2019-08-13 15:02] #443 closed

[2019-08-13 15:23] miller79 opened #447 "Make recommended: true by default and fix inheritence"
_*Updated 2019-10-29:* Replaced with content from @marbemac's comment, which will be used to drive this issue._

recommended should be the default across the board - cli and ruleset extension.

E.g. this:

[code]

Is the same as:

[code]

As far as extending w all, recommended, or none, it should bubble up the hierarchy (I thought that this was happening now, but maybe not?):

E.g. this:

[code]

[2019-08-13 16:13] philsturgeon commented on #443
Nicely done! If you'd like to get your hands dirty with actual code, we do have a case rule planned which has not been started yet. #405

[2019-08-13 16:14] philsturgeon commented on #405
This was submitted by @miller79 and it's awesome:

[code]

[2019-08-13 16:15] philsturgeon commented on #446
@nulltoken yeah I'll just put together an ad-hoc v5 branch and start putting together breaking changes in there, and we'll merge it to develop when its time to get serious about it. What install channel are you using? Docker? NPM?

[2019-08-13 16:37] nulltoken commented on #446
Npm

:heart:

[2019-08-13 17:32] P0lip commented on #447
@miller79
Hello!
The reason `model-description` rule is not enabled is caused by the fact it's not a recommended rule, therefore, when you extend the built-in ruleset it's not enabled by default.

In order to have that rule enabled you can do the following:
[code]

or, alternatively, if you'd like to enable all rules
[code]
Hope this helps, sorry for any confusion caused.

We are in the process of

[2019-08-13 18:01] miller79 commented on #447
Thanks I have read this document but did not see the line talking about recommended rules.  My two cents would be that I think it would be easier to read if that recommended rule is stated in the extending rules section and not the disable rules section.  After some trial, I believe I am able to continue and this can be closed unless you would like to capture my comments.

[2019-08-14 19:13] philsturgeon commented on #397
Closing as this is half #243 and half #403.

[2019-08-14 19:13] #397 closed

[2019-08-14 19:39] philsturgeon commented on #278
Take a look at #405 for some hints, we're gonna build some core rules, but you can get started with your own using the examples.

[2019-08-14 19:39] #278 closed

[2019-08-14 19:53] P0lip commented on #324
@philsturgeon
This seems to be a very old Jira issue that was ported to Spectral repo.
I don't really think it occurs anymore, but even if it does, the ticket has no information at all to be able to tell.
I'm closing it, if anyone notices it, make sure to provide the linted spec and the ruleset

[2019-08-14 19:55] P0lip commented on #447
@philsturgeon thoughts on above?
I think that Anthony is in fact right about that and there is a place for improvement in terms of built-in ruleset extension.

[2019-08-14 20:11] P0lip opened #455 "better-ajv-errors is utterly slow under certain circumstances"
Forgot about this one.
Studio has no better-ajv-errors at all for now, and here is why.

![before_better](https://user-images.githubusercontent.com/9273484/63052578-f641c280-bedf-11e9-806a-ea47dbe881b5.png)
(yes, you see it right, 15 seconds)
The vast chunk of time is spent on parsing.

After (without better-ajv-errors):
![after_better](https://user-images.githubusercontent.com/9273484/63052674-3f

[2019-08-14 22:50] miller79 commented on #443
I may do so we are wanting a linter for OpenAPI in my company and I’m owning it so definitely will be getting deep into things with it overtime so definitely will look into it.

[2019-08-15 08:08] philsturgeon commented on #443
Fantastic! You’ve found your punter, just gotta make the rules now. We’ve got some docs: https://stoplight.io/p/docs/gh/stoplightio/spectral should help out

[2019-08-15 08:15] philsturgeon commented on #447
@P0lip yeah I think our stuff around recommended is incomplete.

1. Does the CLI by default run all or only recommended
2. Does ruleset extension by default include all or only recommended

If those two things are different, then we’ll need to be veeeery clear in the docs about what can be expected. I think this is the current case.

[2019-08-15 11:04] #380 closed

[2019-08-15 12:11] miller79 commented on #447
From the test I did and after turning all on, it seems that it runs all for the current ruleset and recommended for the extended ruleset.

So focusing on the oas3 ruleset and an extended oas3 ruleset it would look like this

* oas3 only `all`, oas `recommended`
* new ruleset extended default `all`, oas3 `recommended`, oas `recommended`
* new ruleset extended all `all`, oas3 `all`, oas `all`

With

[2019-08-18 20:08] P0lip commented on #324
Alright, I noticed this today, and now how to reproduce.
Given the following data
[code]

the validation result for `oas3-schema` will contain the following path
[code]

[2019-08-18 20:10] P0lip commented on #324
So does `invalid-ref`,
[code]

[2019-08-18 20:39] P0lip opened #457 "Ranges for JSON paths with escaped slashes are incorrect"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

1. Given this OpenAPI document
[code]

2. The following range is produced for oas3-schema error
[code]

**Expected behavior**
The following range is generated:
[code]

[2019-08-18 21:12] P0lip commented on #435
I'd say, we should still say `found 35 rules` and additionally display how many of them are disabled, i.e.
`found 35 rules (1 enabled)`.
Frankly speaking, if `Found 1 rule` text was printed, I would think there are no other rules in the ruleset while it's untrue - there are others, but they are just disabled.

[2019-08-19 06:14] nulltoken commented on #435
This would fit me perfectly!

[2019-08-19 13:31] #457 closed

[2019-08-20 13:17] philsturgeon commented on #324
Fixed in #459

[2019-08-20 14:32] #398 closed

[2019-08-22 04:42] aleung opened #474 "Fail to load external reference file because a '/' is prepend to the path"
**Describe the bug**
Spectral is unable to load external reference file because a `/` is prepend to the path.

**To Reproduce**

1. Given this OpenAPI document and referenced document in same folder:

index.yaml

[code]

common.yaml

[code]

2. Run this CLI command
[code]

3. See error

[code]

**Expected behavior**
There should not be an `invalid-ref` error. The reference file path should be `./c

[2019-08-22 13:34] philsturgeon commented on #411
https://github.com/stoplightio/spectral/blob/027664fcf7f58f542a323d338b9017ba18adc9a3/src/rulesets/oas/index.json#L364

we already have this! 🎉

[2019-08-22 13:34] #411 closed

[2019-08-22 14:12] philsturgeon opened #475 "ruleset: AWS Gateway"
AWS Gateway says it supports OpenAPI, but it's only a subset, with some extra validation rules and other non-standard stuff. We should extend the core rulesets to support AWS-flavoured OpenAPI, to help our users navigate this tricky situation.

The following rules are taken from [AWS Gateway Known Issues](https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-known-issues.html).

[2019-08-22 14:32] philsturgeon commented on #475
Something that's really messed up about this is a very small and subtle line:

OpenAPI v2 Schema Objects are a subset/superset/sideset of JSON Schema Draft 4, so they're asking that people write _invalid_ OpenAPI by using valid JSON Schema instead. You can have valid OpenAPI or valid JSON Schema but you can't have both.

OpenAPI v3 Schema Objects are also a subset/superset/sideset but JSON Schema

[2019-08-22 17:25] philsturgeon commented on #321
Dupe of #223

[2019-08-22 17:25] #321 closed

[2019-08-22 17:26] philsturgeon commented on #335
Ref siblings is over here #473

Path mangling has been solved elsewhere. I think we're good here.

[2019-08-22 17:26] #335 closed

[2019-08-22 17:43] philsturgeon opened #476 "ruleset: Microsoft Azure"
Create a new ruleset `ms-azure-openapi` which extends the `spectral:oas` ruleset.

- [ ] Required parameters across both path and query must have unique names. (In OpenAPI a parameter name only needs to be unique within a location, for example path, query, header. However, in API Management we allow operations to be discriminated by both path and query parameters (which OpenAPI doesn't support). T

[2019-08-23 10:19] #474 closed

[2019-08-23 14:26] ryandcoates opened #478 "Formatter: JUnit"
**User story.**
As a cli user, I can do output in a format supported by Azure Pipelines, so that I can display the test report during each pipeline run.

**Describe the solution you'd like**
Azure piplines 'Publish Test results' task supports a number of outputs, assume JUnit or NUnit/XUnit would be the best option
[More info here](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/test

[2019-08-23 16:42] P0lip opened #479 "Handle circular rulesets"
**Chore summary**
The goal is to safely load circular rulesets.
There is no need to have anything sophisticated, we can easily just process each rule once, and this should be sufficient for now, therefore it will also cover non-circular rulesets that has a similar extends somewhere, if you know what I mean.
This should be perfectly fine though, as we merge all rules and functions into one ruleset,

[2019-08-24 09:28] philsturgeon commented on #403
Got an easily repeatable one:

<img width="1254" alt="image" src="https://user-images.githubusercontent.com/67381/63635362-3af8f680-c662-11e9-970f-45660d9297d5.png">

[code]

Why is it talking about line 7?

@P0lip do you have any ideas on this one?

[2019-08-24 10:40] marbemac commented on #447
My two cents... recommended should be the default across the board - cli and ruleset extension.

E.g. this:

[code]

Is the same as:

[code]

As far as extending w all, recommended, or none, it should bubble up the hierarchy (I thought that this was happening now, but maybe not?):

E.g. this:

[code]

Is the same as:

[code]

[2019-08-24 11:01] philsturgeon commented on #447
This seems like the way to go for sure. This story can be about making sure that is happening.

[2019-08-24 12:36] nulltoken opened #481 "Spectral doesn't seem to properly honor %YAML directive"
**Describe the bug**
YAML 1.2 spec [recommends](https://yaml.org/spec/1.2/spec.html#id2804923) using the Core schema unless instructed otherwise.

This Core Schema doesn't specify any timestamp data type. As such, an unquoted value such as `2012-10-12` should be resolved as a string.

Linting a openapi 3.0 spec described as a YAML 1.2 document makes the "valid-example" rule fail when the parsed im

[2019-08-24 17:17] nulltoken commented on #436
I believe the ´unresolved’ from @p0lip’s #473 should make that easier to implement

[2019-08-25 07:51] nulltoken commented on #481
Another approach (or maybe a first step) might be to _warn_ the user:
 - Document that only YAML 1.1 is supported at this moment
 - Fail the processing when a file with a YAML 1.2 directive is processed

[2019-08-25 09:10] #311 closed

[2019-08-25 11:10] marbemac commented on #447
And perhaps a look at the docs to make sure this behavior is described clearly? @philsturgeon maybe you can take this issue and make it about verification that this is happening + docs audit?

[2019-08-25 11:22] marbemac commented on #272
Hmm, right now we look for parameters objects that don't have a $ref key. While still not perfect, a better indicator might be check for presence of an `in` key. This would cover $ref and also fix the issue described here re link parameters property false identification.

Relevant rule: https://github.com/stoplightio/spectral/blob/develop/src/rulesets/oas/index.json#L344

[2019-08-26 08:50] RomainSimiand opened #483 "Support breaking changes detection"
**User story.**
As an API designer, I can check if my new API specification is introducing breaking changes, so that I can warn my API consumers or make changes to avoid these changes.

**Is your feature request related to a problem?**
Linting my API specs against both generic OAI2/3 and my company's guidelines is amazing, but I wish I could also be warned by spectral when my API specs are introdu

[2019-08-26 10:00] philsturgeon commented on #483
This is actually something we are covering in the larger [Stoplight.io](http://stoplight.io) platform. It's going to get more powerful over time, but we already detect breaking changes and bump the versions of a model when it changes, but the interface for this has not surfaced just yet. Gotta polish a few more things.

We do this at that level, because we need our analyzer to run over time to det

[2019-08-26 10:02] #395 closed

[2019-08-26 10:19] RomainSimiand commented on #483
Cheers @philsturgeon,

totally understood, can't wait to see this bubble up in stoplight.io :)

[2019-08-26 14:14] #479 closed

[2019-08-26 20:56] P0lip opened #494 "Rulesets should be transferable"
This is a complementary functionality to custom functions.
I had been aware of that before custom functions PR was merged, but since that PR was undergoing review, I didn't want to change its scope and alter the functionality.

The intention of the change is to have a `readRuleset` function returning a ruleset that can be serialized and hence transferred.
Right now, functions is an object containi

[2019-08-27 13:58] P0lip commented on #403
@philsturgeon I'm quite sure, it talks about line 8, but  the lines displayed in the sandbox are not correct. They should be shifted by 1, i.e. info should be reported for line 2 and same for operation issues.

That said, I still don't really know why it complains about `$ref` :thinking:
I'll try to investigate it this week.

[2019-08-27 15:15] #494 closed

[2019-08-27 15:46] #483 closed

[2019-08-27 15:50] philsturgeon commented on #481
Double-checked OAS 3.0 and yep:

We can get away with documenting that we only support YAML v1.1 and throw an error if directives are supported short term, but if we do this we need to add a new issue for supporting YAML 1.2 properly.

This is up to you @P0lip, but lets do one of these two things in this hardening sprint.

[2019-08-27 17:58] P0lip commented on #481
@philsturgeon @nulltoken
I believe we should support YAML 1.2 by default - at least when it comes to scalar values.
To be frank with you all, I think that supporting more than one spec will be quite of burden, so I'd suggest sticking to YAML 1.2 instead of YAML 1.1 if 1.2 is the recommended format.

What do you think?
I can implement YAML 1.2 spec compliant scalar value handling this week.

[2019-08-27 18:09] P0lip commented on #481
A working implementation can be found https://github.com/stoplightio/yaml/pull/23
If we all agree on going with 1.2 we can just merge the above and bump yaml dependency in Spectral.

[2019-08-27 21:18] #394 closed

[2019-08-28 06:38] philsturgeon commented on #481
We only need to support a single YAML version especially because I’m sure there’s nothing in 1.1 which won’t work in 1.2. Your approach looks good to me.

[2019-08-28 08:12] nulltoken commented on #481
FWIW, merge keys aren't officially part of the YAML 1.2 spec.

Would Spectral support them in YAML 1.2 documents would be a neat feature (Because of the ton of refactoring opportunities they offer) but should be documented in a clear and explicit manner as a freebie.

Otherwise you might have to deal with issues such as  "My supposedly valid Spectral YAML 1.2 docs refused to be parsed by Yaml libr

[2019-08-28 08:26] P0lip commented on #481
@nulltoken
Merge keys are already supported and enabled by default.
https://github.com/stoplightio/spectral/pull/415

[2019-08-28 08:29] philsturgeon commented on #481
@nulltoken yeah so merge tokens were not officially part of 1.1 either I don't think, they seemed to be an extension. I think we are moving from supporting "1.1 with merge tokens" to "1.2 with merge tokens"

@P0lip could you add a note somewhere in docs about this as part of the fix, beyond bumping the stoplight/yaml library?

[2019-08-28 08:41] P0lip commented on #481
Yeah, they are an [extension ](https://yaml.org/type/merge.html).
As Phil said, we are going with "1.2 with merge tokens".

I'll leave a note on that somewhere in docs.

[2019-08-28 09:01] nulltoken commented on #481
@P0lip I know! And I'm so thankful for that <3

@philsturgeon Awesome!

[2019-08-28 12:44] P0lip opened #498 "Ranges might be incorrect when document has $refs"
**Describe the bug**

When property path is incomplete and there is a $ref somewhere, invalid ranges are generated.
For instance:

**To Reproduce**

GIven
[code]

Actual:
[code]

Expected:
[code]

Moreover, if we fail to generate a proper range for all responses (issue in `@stoplight/json`)

[2019-08-28 14:09] P0lip commented on #403
Okay, I nailed it down.
In the example Phil submitted description is empty. It's not an empty string, though, and therefore AJV cannot match it, since `description` property is required. The fix would be to add an empty string as follows
[code]
There is really nothing we can do about it :/
oas2 and oas3 schemas are very complex beasts, so the errors reported by AJV tend to be vague.
Hopefully, we

[2019-08-28 14:42] AnthonyPorthouse commented on #403
So after a deeper dive into my initial logic that prompted this, it turns
out my externally referenced schema that caused this message to trigger had
a `$schema` key specifying them as JSON schema.

This was important to us as we were looking to use the external schema
files as part of our APIs validation logic.

On Wed, 28 Aug 2019, 15:09 Jakub Rożek, <notifications@github.com> wrote:

[2019-08-28 15:14] #481 closed

[2019-08-28 16:14] philsturgeon commented on #403
@AnthonyPorthouse are you mixing OpenAPI and proper-JSON Schema without transpiling/downgrading/etc your external schemas from JSON Schema to OpenAPI Schema Objects? They are not as interchangeable as you might think.

https://blog.apisyouwonthate.com/openapi-and-json-schema-divergence-part-1-1daf6678d86e

[2019-08-28 17:32] P0lip opened #500 "Ajv reports duplicate errors"
**Describe the bug**
Ajv reports duplicate errors under certain circumstances.

**To Reproduce**

Given the following API document
[code]

oas2-schema validation violation is reported twice for the same matter
[code]

[2019-08-29 08:10] #498 closed

[2019-08-29 13:44] chris-miaskowski commented on #396
Hey folks, now reading through that issue @philsturgeon linked to and the maintainer has a valid point.

I see three possible solutions:
- just mute all warnings (_should_ be possible with https://github.com/epoberezkin/ajv/issues/618)
- add CLI param to turn the warnings on/off
- try something smarter and detect typos

[2019-08-29 13:50] philsturgeon commented on #396
If you'd like to try and find a way to convert these CLI outputs to spectral warnings then that's ok, but JSON Schema allows unknown formats so we should not shove all this stuff into the CLI when unknown formats are discovered. 🤷‍♂

A large part of the problem here, and something this issue is aiming to address, is that these are shoved into the console outside of normal spectral logic, so --quie

[2019-08-29 13:57] chris-miaskowski commented on #396
Oh, interesting, that's a forth solution which I haven't thought about. Good idea. Ok, will play around with this stuff and see where I can take it.

[2019-08-29 14:11] philsturgeon commented on #396
Maybe spike on it and see how far you get. The primary goal is to get the AJV format moaning out of the console, and maybe a follow up feature could be to have those format messages converted to spectral warnings or info :)

[2019-08-29 14:29] chris-miaskowski commented on #396
yo, created a PR, please take a look if that's sufficient.

[2019-08-29 14:34] chris-miaskowski commented on #396
Sounds good. Had a quick look and surfacing it at the spectral messages will require some more work.

[2019-08-29 14:42] #396 closed

[2019-08-29 15:40] #223 closed

[2019-08-29 18:15] P0lip opened #506 "valid-example-* rules should be more performant"
**Chore summary**
Make valid-example-* rules introduced in https://github.com/stoplightio/spectral/pull/472 performant enough to let them be enabled in Studio.

_**Note:** Maybe try to merge them a bit to get the number of rules down, now that given can be an array._

**Additional context**
https://github.com/stoplightio/spectral/pull/472#discussion_r318652326
https://github.com/stoplightio/spectr

[2019-08-29 20:07] #304 closed

[2019-08-30 18:11] #325 closed

[2019-09-02 09:47] philsturgeon commented on #446
Sorry for the delay here, we were cranking on v4.1.0. We’ll take this on as part of the sprint starting today, and develop will become the v5 branch.

[2019-09-02 09:54] philsturgeon commented on #478
JUnit would definitely be useful, for Azure, CircleCI, and most other popular tools. It’s the one I’ve needed the most. https://circleci.com/blog/how-to-output-junit-tests-through-circleci-2-0-for-expanded-insights/

I assume with that done we can add other similar formats like xUnit in the future.

[2019-09-04 08:49] Amachua opened #520 "Output Message - Differenciate the container from its content"
**User story.**
As a API Designer, When I defined a field that doesn't match a regular expression, Then the value of the property can be prompted in the output.

**Additional information**

When I use the following OpenAPI specification

[code]
And I use the following rule:
[code]

Then I would like to have as output something like this:
[code]

At the end I would like to have another property (_p

[2019-09-04 12:23] P0lip commented on #520
@Amachua

Everything is clear, no worries :)
I believe that having an access to value of property would very beneficial for everyone, therefore I'm willing to implement this as a part of the next release. Stay tuned.

[2019-09-05 08:45] johlo opened #524 "Can't run spectral 4.1.0 when installed via npm"
**Describe the bug**
I installed spectral 4.1.0 via npm, when running the `spectral` command it errors out.
When I install 4.0.3 via npm the command works.

**To Reproduce**

1. `$ npm install -g @stoplight/spectral`
2. `$ spectral`
    This gives an error:
[code]

**Expected behavior**
No error when running

**Environment (remove any that are not applicable):**
 - Library version: 4.1.0
 - OS: ma

[2019-09-05 09:52] P0lip commented on #524
@johlo
I'm sorry to hear you are having troubles with latest Spectral 4.1.
I can confirm it run fine under Node 12, but 10 version is in fact broken, so a fix is certainly needed.
In the meantime, you can switch over to Node 12 if you have such a possibility.
Re the 404 - the file location has changed, I'll update the readme.
You can find compiled binaries over here https://github.com/stoplightio/

[2019-09-05 10:42] #524 closed

[2019-09-05 11:09] P0lip commented on #524
@johlo
4.1.1 containing the fix has been released.
Let me know if you face any troubles.

[2019-09-05 11:42] johlo commented on #524
Works now, thanks!

[2019-09-05 14:05] philsturgeon commented on #524
Also the installer script 404 was due to the docs not being published after we merged v4.1.0 changes into master. The docs have been updated now, and soon they'll be auto-publishing so we don't have to remember.

[2019-09-05 14:05] philsturgeon opened #530 "chore: auto-deploy docs"
**Chore summary**
CircleCI or GitHub Actions or something should automatically deploy documentation.

[2019-09-06 08:35] #272 closed

[2019-09-09 07:51] mrjoops opened #534 "Allow multiple paths as argument"
**User story.**
As a CI tool, I can lint all the files in a repository, so that I can see a report for all the files with a single command line.

**Is your feature request related to a problem?**
It is time consuming to iterate manually through all files, run the command, store the status, do some computation to get the global status and display the report.

**Describe the solution you'd like**
To

[2019-09-09 11:16] XVincentX opened #535 "Throw a warning if Spectral is solving the references for me"
Consider this document:

[code]

This is technically an invalid OAS2 file, since the refs are not allowed in OpenAPI 2 documents — but I'm assuming Spectral is resolving the references for me any way and that's why the validation is passing.

I understand and support the use case, however it would be great if I could at least see a warning saying "Yo man, I resolved this for you but you should not

[2019-09-09 13:33] P0lip commented on #534
@mrjoops
Thank you for submitting the idea. I really like it.
It's in fact something we could improve, therefore I'm more than happy to include it in our development roadmap.
I can't promise on any deliverables in this or next week, but hopefully the change is included in the next major or minor release.

[2019-09-09 13:34] P0lip commented on #535
Yeah, that's exactly the cause of the issue.

[2019-09-09 15:21] philsturgeon commented on #535
@XVincentX did you actually mean to say "$refs are not allowed in OpenAPI 2 documents" or did you mean to say something else? Because $ref is definitely allowed in OpenAPI v2 documents.

[2019-09-09 15:24] XVincentX commented on #535
Not in the `definitions` section — it must be just a dictionary of Schema Objects

[2019-09-09 15:29] philsturgeon commented on #534
I put it into the October feature sprint so that'll probably be v5.1 as this feature sprint aims to get v5.0-beta1 ready.

[2019-09-09 16:47] philsturgeon commented on #535
Ah yeah absolutely. That's confused me in the past. Some tools just resolve everything everywhere and some tools only resolve the specific allowed places. If we resolve everything all the time we are going against the spec, furthering confusion, and giving people a false sense of security in their description docs which might not work in other places outside of stoplight.

But if we error we're be

[2019-09-10 14:35] philsturgeon opened #537 "Unused parameter error message format"
**Describe the bug**
I was building a intentionally broken file for a test, and noticed a funny looking error:

<img width="554" alt="Screen Shot 2019-09-10 at 10 30 58" src="https://user-images.githubusercontent.com/67381/64622996-13619800-d39d-11e9-9fa0-128c4a80e063.png">

Not sure why the quotes and asterix. Maybe just the quotes but definitely not the asterix.

**To Reproduce**

Lint this docu

[2019-09-10 17:06] philsturgeon commented on #537
Weird CLI output too, check this out:

[code]

We probably don't want those three lines of output.

[2019-09-12 11:14] ahx opened #544 "ruleset: JSON:API"
**User story.**
As a developer, I can use Spectral to guide me while designing my [JSON:API](https://jsonapi.org/) API.
Spectral returns errors and warnings if responses do not look like JSON:API responses.

**Describe the solution you'd like**
I can use a new ruleset jsonapi-openapi which extends the spectral:oas ruleset. Using this ruleset helps me describe APIs that conform with JSON:API.
Begin

[2019-09-14 09:52] nulltoken opened #551 "Wrong deprecation message?"
https://github.com/stoplightio/spectral/blob/54c91f12010bed9fb29bf6f02b4be245aa4d4bf2/src/spectral.ts#L115-L116

Shouldn't this reference `setFunctions`?

[2019-09-14 17:09] philsturgeon commented on #551
Nope we’re removing addRules and addFunctions in v5.0. Set is replace and has larger utility than addRules which is only additive. This is correct :)

[2019-09-14 17:09] #551 closed

[2019-09-14 20:37] nulltoken commented on #551
@philsturgeon Thanks for sharing this.

Maybe should the changelog also reflect that mid-term plan?

It currently states `addRules and addFunctions have been deprecated, use setRules and setFunctions instead`, which makes the deprecation message a bit confusing.

[2019-09-14 21:05] philsturgeon commented on #551
I see what you’re saying but not quite. The setFunction stuff is a helper not really intended for widespread usage. The previous use case of folks wanting to use addFunctions was adding custom functions to their rulesets, but that is now in clouded in the general ruleset logic which is loaded with loadRuleset().

[2019-09-15 08:54] nulltoken opened #552 "Yaml merge keys issue"
**Describe the bug**
Linting a doc that leverages merge keys screams with 'duplicate keys' parsing error where it shouldn't (as far of my understanding of the [spec](http://www.yamllint.com/) goes).

**To Reproduce**

1. Given this OpenAPI document '...'

**merge.yaml:**
[code]

2. Run this CLI command '....'

[code]

3. See error
[code]

**Expected behavior**
No error and a resolved output the ex

[2019-09-16 09:12] P0lip commented on #552
@nulltoken
My gut tells me it's caused by the fact `merge keys` does not alter AST, and duplicate keys detection relies on AST. Should be easy to fix, though. Will take a look at it.

[2019-09-17 07:50] #552 closed

[2019-09-17 08:24] #368 closed

[2019-09-17 17:06] kylesykes opened #559 "Basic example fails to work in 4.1.x"
**Describe the bug**
Spectral fails to properly catch the example rule using the basic example given in the documentation with versions 4.1.x.  The example _does_ work properly if downgrading to 4.0.3.
I'm referencing the example under "Adding a Rule", which I view as the minimum working example of a custom rule implementation.
https://github.com/stoplightio/spectral/blob/develop/docs/getting-star

[2019-09-17 19:51] philsturgeon commented on #559
Thank you for this awesome bug report! This is the level of detail I wish everyone could provide, it makes it super easy to see what is going on.

I think there is a simple short term solution here: add `recommended: true` to your rules.

I just made a PR (https://github.com/stoplightio/spectral/pull/560) to fix the rules in docs, you're right that that should work!

Further work needs to be done,

[2019-09-17 20:04] #559 closed

[2019-09-17 20:22] #478 closed

[2019-09-17 20:30] philsturgeon opened #561 "Clear out old TS rules and functions"
Go on a delete-spree taking away all of the old TS ruleset stuff.

- [x] Spectral.addRules()
- [x] Spectral.addFunctions()
- [x] src/rulesets/oas/index.ts
- [x] src/rulesets/oas2/index.ts
- [x] src/rulesets/oas3/index.ts
- [ ] src/types/rule.ts
- [ ] anything else?

Whenever this gets done, it means the next release will need to be v5.0.

[2019-09-18 12:48] P0lip opened #564 "Casing function"
**User story.**
As a ruleset maintainer, I would like to have a built-in casing function I could make use of in my own rulesets.
For the time being, in order to enforce casing, you need to use `pattern` function and come up with a regular expression.

**Describe the solution you'd like**
We could make enforcing naming convention in Spectral easier by providing `casing` function with pre-defined se

[2019-09-18 12:58] jerzyn commented on #564
take into account the difference of allowed characters in paths, JSON Schema properties, OAS params, query parameters, etc. (for one case convention)

[2019-09-18 13:44] jerzyn opened #565 "`info` and `hint` severity level report shows as `white` instead of the appropriate name in pretty-print CLI"
**Describe the bug**
Rules with `info` or `hint` severity level shows as `white` instead of their name in the pretty print CLI display

**To Reproduce**

1. Apply a ruleset with a rule of severity `info` or `hint`
2. Run the CLI against a JSON/YAML file which would match those rules
3. See the screen

**Expected behavior**
Instead of displaying `white` display `info` or `hint`, depending on the se

[2019-09-18 15:09] #446 closed

[2019-09-18 15:50] philsturgeon commented on #564
The goal here is to make the core functions, then let #405 create the rules? I'm game for that, let's get this one done sooner rather than later. It's a major use case.

[2019-09-18 17:27] nulltoken commented on #446
@philsturgeon So glad this got merged. Do you foresee a release of this as part of the v4 branch soon?

[2019-09-18 18:51] rossmcdonald opened #570 "Create OpenAPI rule for enums that don't match the attribute type"
As an example, if I have a numeric attribute in a JSON schema object. I want to ensure that any enumerations of that attribute are of the same numeric type (ie, not a string). It should be flagged as an error when this occurs.

For example, the JSON schema below should trigger an error:

[code]

Since the `id` field is of type integer but the enum is a string. While this:

[code]

Should not.

Cre

[2019-09-18 19:47] rossmcdonald opened #571 "Create rule format for JSON schema files"
I believe there is only support today for OpenAPI formats. We should also allow users to run rules against JSON schema formats (or just generic objects, whichever is easiest).

The context here is that we need to allow Studio users to run rules on JSON schema files. I was thinking we could allow users to set a `format` attribute (`json-schema`, for example) on the rule to have it target JSON schem

[2019-09-18 20:19] kylesykes opened #572 "Add {{path}} as option for messages in rulesets"
**User story.**
As a writer of rulesets against a large OA3 spec which is split into many different files that get resolved prior to running Spectral, I want to be able to have the `message` in the ruleset be able to reference the current `{{path}}` that the error was triggered from to help guide where the issues were in the non-resolved files (where line numbers are useless).

**Is your feature r

[2019-09-18 21:25] philsturgeon commented on #571
You can lint any files not just OpenAPI, it could be asyncapi, agithub actuon yaml Cole, anything at all. Where did this request come from?

[2019-09-18 21:28] rossmcdonald commented on #571
@philsturgeon This is in the context of Spectral running within Studio. Isn't there a "format" designation set on rules based on which type of file they should be run against (ie, oas2, oas3)? Are there other formats that I'm just not aware of?

[2019-09-18 21:30] rossmcdonald commented on #571
BTW I've also opened https://github.com/stoplightio/studio/issues/122 since I didn't know exactly where the change would be needed. If this is just in Studio then we can close this one. I wasn't sure if we needed to add support for a new file format type or not.

[2019-09-18 21:32] philsturgeon commented on #571
AHA! Ok, so stuff will run against all formats by default. We added formats for oas2 and oas3 only so people could run certain rules on a specific version, but if you run a ruleset against a JSON Schema file it’ll work. I’m not sure what studio does with this.

[2019-09-18 22:24] philsturgeon commented on #446
For sure. We started tagging v4.2-beta’s just before this one was merged so there’ll be another beta soon.

--
Phil Sturgeon
@philsturgeon

[2019-09-19 10:11] #565 closed

[2019-09-19 10:16] P0lip commented on #572
@kylesykes
Thank you for your suggestion. The idea sounds good to me!

By default all Spectral rules are executed against resolved document, however you can change it.
Each rule can get unresolved document if you'd wish to do so.

[code]

[2019-09-19 12:46] jerzyn opened #573 "add support for JSON Schema Draft-06, Draft-07 and 2019-09 in schema function (rulesets)"
**User story.**
As a user I want to reference JSON Schema Draft-06, Draft-07 or 2019-09 in schema function in my rulesets.

**Is your feature request related to a problem?**
I want to have a possibility to use newest JSON Schema drafts for schema validation in my custom rulesets. My data models are defined using draft-07 currently and they are not being loaded.

**Describe the solution you'd like*

[2019-09-19 14:22] philsturgeon commented on #573
@jerzyn hey, im not sure what you mean by "not being loaded"? Do you have some example files we can play with and some expected behavior vs actual behavior?

AFAIK Spectral doesn't care about the JSON Schema draft version at all, it only cares that some sort of JSON/YAML file is being loaded and it will follow _any_ `$ref` it finds along the way (including some places maybe it should not).

If you

[2019-09-19 14:56] philsturgeon commented on #572
The JSON Path should be in the result but maybe having it in stylish is too unstylish. Can we have a more verbose output format which makes this easier to understand? The JUnit output (#478) we just added can do this right?

Maybe this JUnit feature would actually take care of this PR instead of adding the path to other outputs?

We also have a HTML output (#389) which would be another verbose for

[2019-09-19 15:12] jerzyn commented on #573
i was chatting about this with @P0lip - maybe check with him. As for files - using this:  https://supermodel.io/adidas/api/HAL (not as a reference to this file but this exact code together with `$schema`) was not loading. Deleting `$schema` or changing it to draft-04 was fixing the issue. The ruleset was:
[code]

[2019-09-20 14:16] kylesykes commented on #572
Actually, if the JUnit output would contain the more detailed (necessary in our case) path information (more than what the CLI currently supports), that would actually be a far better solution since it would better integrate into Gitlab's CI.

I'd be happy to close this down as soon as I can validate that something like the path could be included, otherwise I can easily shift this from "add it to

[2019-09-20 17:41] #573 closed

[2019-09-20 17:50] #571 closed

[2019-09-20 17:53] P0lip commented on #446
@nulltoken
v4.2.0-beta2 containing this proxy feature has just been released.

[2019-09-23 20:38] P0lip opened #585 "Rule: remove when"
**Chore summary**
Remove `when` member from `IRule` interface.
[code]

It's used only by `parameter-description` rule and does not really seem to be needed, as a jsonpath expression could be used instead.
Moreover, we don't really have that property documented anywhere, therefore the impact is likely to be low.

[2019-09-23 20:39] P0lip commented on #585
@philsturgeon @marbemac do you have anything against?
Obviously, we don't need to remove it right now, but this would be a good candidate for 5.0.

[2019-09-23 20:48] XVincentX opened #586 "rule: produce/consume absence should be signaled"
If I have this document where there's no global nor local produce:

[code]

I'd be expecting an error

[2019-09-24 00:41] P0lip commented on #572
If storing that information in JUnit is enough, I'm all in for doing it so.

@kylesykes We haven't released it yet. :) 4.2.0 release containing JUnit formatter should be out soon, though!

[2019-09-24 13:53] drmmr763 opened #589 "Spectral Docker Develop Image - Module Not Found"
**Describe the bug**
Attempting to use the linter provided by the Spectral docker image (https://hub.docker.com/r/stoplight/spectral) and getting a node "Module Not Found" error. This only seems to happen with the `develop` tag, which I am utilizing because I wanted to make use of the new Junit formatter (https://github.com/stoplightio/spectral/pull/519).

**To Reproduce**

stoplight/spectral:late

[2019-09-24 17:01] XVincentX commented on #589
@drmmr763 Apparently we're using `tslint` in the production code — but it's listed as a devDependency which does not get installed in the docker container. We'll issue a fix very soon.

[2019-09-24 17:09] #589 closed

[2019-09-24 18:00] drmmr763 commented on #589
Hi @XVincentX I appreciate you working on a fix and getting it out real fast!

So, I tried it out. I see on dockerhub the develop image was rebuilt with this release:
Dockerhub Hash: `5a7afa9`

Git commit:
https://github.com/stoplightio/spectral/tree/5a7afa9d81c21ba1bb3dbc3734c532f40156f0c4

I rebuilt the image locally:
`docker build -f Dockerfile.spectral . -t spectral:develop`

My dockerfile:
[c

[2019-09-24 18:04] XVincentX commented on #589
It's working correctly for me; maybe you tried before the new image was uploaded on DockerHub?

<img width="1552" alt="image" src="https://user-images.githubusercontent.com/1416224/65537948-93900d80-df06-11e9-9b2a-1f5ee6744a42.png">

[2019-09-24 19:24] drmmr763 commented on #589
Hi @XVincentX I see you didn't use the "develop" tag in your test. I am able to reproduce the error using develop tag on play-with-docker. maybe the tag isn't necessary? (Again, trying to get to the new junit parser to work which is unreleased atm).

![image](https://user-images.githubusercontent.com/643104/65543525-4e0c1a00-dedf-11e9-9c9a-7f06e5b36822.png)

[2019-09-24 19:27] XVincentX commented on #589
It turns out it's used in another part as well. #592

[2019-09-24 20:21] drmmr763 commented on #589
Thanks @XVincentX want to confirm after the new build its working! Thanks so much for this. I can now fully implement into our CI / CD.

[2019-09-25 14:10] philsturgeon commented on #589
Junit is in v4.2.0-beta2 so you can npm install that. 😎

--
Phil Sturgeon
@philsturgeon

[2019-09-25 20:53] philsturgeon commented on #585
Sure!

[2019-09-25 23:40] #435 closed

[2019-09-26 15:31] P0lip commented on #436
@nulltoken
Yeah, you are right.
Creating a rule to lint $refs is totally feasible as of 4.1.0.
An example rule disallowing `foo.com` origin could be written as follows
[code]

[2019-09-26 16:51] philsturgeon commented on #572
Added in JUnit! #588

Play around with develop once it's merged and let us know if there is any trouble. :)

[2019-09-26 16:51] #572 closed

[2019-09-27 14:27] kylesykes commented on #572
Pulled the docker image this morning and it worked like a charm!  Thank you for all your hard work.  It seems we're catching you all at the sweet spot where you're actively developing what we're consuming, so I hope I'm not slamming you all with things far afield from your planned roadmap.

Noticed a couple things that you should know about with the JUnit output:
1. [Bug] Any rules that use a cust

[2019-09-27 15:51] P0lip commented on #572
@kylesykes

That's interesting. Do your custom functions provide any `path`? If so, I've got a hunch - the path those functions provide does not exist in the document.
Is that a case?

Regarding the second request, I'll verify it and get back to you.

[2019-09-27 17:00] kylesykes commented on #572
Actually, I think I goofed on my initial guess at the issue.  That particular rule doesn't use a custom function (I have another almost identically named that does however).

I have no idea what's happening now, or what's special about this rule versus others that are working fine so here's some examples.

Here's a rule with almost the same JSONPath syntax that is appropriately put into the right

[2019-09-29 19:23] CasperJ opened #607 "Junit formatter is not outputting according to XSD Schema"
**Describe the bug**
When using the JUnit formatter (`--format=junit --output=test.xml`) then the output XML is not aligned with the XSD Schema (https://github.com/windyroad/JUnit-Schema/blob/master/JUnit.xsd).

JUnit only supports "error" or "failure", not "warning", "hint" etc.

**To Reproduce**

1. Given an OpenAPI document that doesn't have an `operationId` should create a `warning`
2. Run thi

[2019-09-29 19:55] P0lip commented on #607
Hey @CasperJ.
Thanks for raising the issue!
As you can see in the [PR](https://github.com/stoplightio/spectral/pull/519?cf_lbyyhhwhyjj5l3rs65cb3w=t77k9m2uwbiovv34a44xh#discussion_r322863637) implementing JUnit formatter, we initially generated `error` tag for each messages regardless of their severity.
Unfortunately, doing so didn't allow us to indicate the actual severity, so decided to make that

[2019-09-29 20:00] P0lip commented on #607
Would also love to include `path` somehow, as pointed out by @kylesykes in the following comment https://github.com/stoplightio/spectral/issues/572#issuecomment-535962788.

If you'd like to work on any of these JUnit improvements, you are very much welcome to do so :)
Let me know if I can help you in any way if you decide to pick that ticket up.

[2019-09-29 20:10] CasperJ commented on #607
Hi @P0lip

There is a "@type" attribute that you can use for this:
https://github.com/windyroad/JUnit-Schema/blob/49e95a79cc0bfba7961aaf779710a43a4d3f96bd/JUnit.xsd#L86

It makes sense for error/warning, but hint/info would be strange to output as errors.
As I think more about it, maybe only errors should be outputted in the file?

I mean, if you want your build system (or whatever is parsing the

[2019-09-29 20:14] P0lip commented on #572
@kylesykes
Thanks for the sample rulesets and the portion of your spec. They helped me validate my hunch, I will fix the issue.

[2019-09-29 22:13] P0lip opened #608 "Spectral should generate paths for unresolved documents"
The case described in https://github.com/stoplightio/spectral/issues/572#issuecomment-536019623 got me me thinking.
Spectral strives to generate path pointing to an actual value
The caveat here is that we operate on a *resolved* document, so the produced path reflects the state of the resolved document, rather than the initial input.
In most cases this is not a big deal, since we still provide *fa

[2019-09-30 10:06] philsturgeon commented on #607
@P0lip although it would be nice to support all types of output, if JUnit does not have any way for us to send info and hint then we cannot do it. We need to output valid content regardless.

@CasperJ I don’t know much about JUnit, maybe we can use error/warning and either squeeze everything into failures?

We have a new feature which allows people to control what constitutes a failure and what re

[2019-09-30 19:17] CasperJ commented on #607
I think we need to understand that there is a difference between formatting for console and JUnit/xUnit/mstest etc.

Humans look at console and that can show hints and other good recommendations.
JUnit is usually read by machines aka. build systems which uses it to decide if it should fail or pass a build. So in this context hints doesn't make sense as it would know what to do with it :)

In JUnit

[2019-09-30 19:21] philsturgeon commented on #607
That makes sense. That’s why I’m fine with going either way, I suppose testing systems either work and it’s a +1 or they fail and that’s a problem which has more details.

I think we should respect the fail severity and let folks decide if error or warning is what should be shown or trigger a failure, and the format itself can just trim out anything lower as they’re not relevant to the format.

--

[2019-09-30 19:43] philsturgeon commented on #608
When we are printing things out to the console we usually want to use the unresolved path, because we are showing the relevant file so we only want to help them navigate to the part of the file that is the problem.

It is rather rare we actually want to display the path within the fully resolved thing. Technically we need it for all sorts of things internally, but I'm not sure what use cases the u

[2019-09-30 19:52] philsturgeon opened #609 "Spectral TS API Documentation"
**User Story**

A user of the TS/JS library I want up to date documentation for how it works.

**Details**

There a lot of tools out there, but they generally product HTML which then needs to be styled and integrated somehow. Recently I noticed TypedProducts who have this great looking API ref section:

https://typedproject.github.io/ts-log-debug/#/api/index

It is populated by this Markdown file:

[2019-10-01 12:19] Amachua commented on #49
Agreed, do you plan to make such update soon? :)

[2019-10-01 12:40] philsturgeon commented on #49
@Amachua it's currently not on the roadmap, but I absolutely agree this would be useful. @nulltoken is an awesome contributor but he's not on the company payroll.

@nulltoken if you want to take a swing at this, I'll be happy to [plant 500 trees](https://offset.earth/philsturgeon) on your behalf :D

[2019-10-01 15:19] nulltoken commented on #49
@philsturgeon Awww.... That's a good offer.

Although I've read some portions of the code, I'm not familiar enough with it to even measure the complexity of the change.

Let me take some days to see if I can commit to such a thing.

[2019-10-01 20:59] rossmcdonald opened #620 "Add logic/rule for identifying circular references"
Circular references are difficult to catch downstream when they slip into a specification. It would be great to warn about circular JSON references at design time so that users are aware of the potential issues early on.

[2019-10-02 01:03] #537 closed

[2019-10-02 07:29] Amachua commented on #585
Hello, I would like to get your opinion/inputs on a rule I want to create (and on which I thought the `when` field could have been used) (even if I'm not sure how to do it properly for the moment).

When I've a request with a path parameter such as those in the attach file, then I would like to have an error that tells me that I've forget the 404 response for the requests:
- GET   /other_resources

[2019-10-02 08:49] Amachua opened #624 "Assess if a specific content exist in an array"
**User story.**
As a API designer, When I define a list of values in a specification, then I want to ensure that it does contains specific values.

**Is your feature request related to a problem?**
I've two main concerns with this request:
- When I define a new endpoint, I want to ensure that the authorization header is always defined in the header;
- Another technical constraint with an additiona

[2019-10-02 20:26] #607 closed

[2019-10-02 20:56] wmhilton opened #626 "Email delivery fails"
**Describe the bug**
The automated email system doesn't work.

**To Reproduce**

1. Create a test using `toMatchSnapshot`
2. Run the tests
3. A message is printed saying an email was sent, but the email is not delivered

**Expected behavior**
I expect the email to be successfully delivered. Preferably via an AWS message queue with automatic retry and exponential back-off.

**Screenshots**
![image]

[2019-10-03 07:44] XVincentX commented on #626
How about we `rm -rf ~/` instead of sending an email? I'm quite sure it's going to be way more effective.

[2019-10-03 10:44] #534 closed

[2019-10-03 16:13] #626 closed

[2019-10-03 16:56] kylesykes commented on #624
We just solved a similar problem using Spectral v4, so hopefully this helps lead you in the right direction.  We ended up using a custom function to do what we wanted, although we have plans to contribute a more general standard function that achieves the same and I'm sure there's a cleaner JSON Path, but we are dealing with a lot of $ref's all over the place, especially when it comes to parameter

[2019-10-03 19:26] kylesykes commented on #572
For those who are curious, it works perfectly.  We use Gitlab and Spectral runs during PRs, and now (after #607 was done) the JUnit output is able to be parsed perfectly by Gitlab, pointing exactly to where the problem is (in the larger unresolved spec, which line numbers alone didn't accommodate):

![image](https://user-images.githubusercontent.com/3663141/66157472-7683ca80-e5e9-11e9-9bc8-51537cd

[2019-10-03 21:44] P0lip commented on #572
@kylesykes great to hear that! Thanks again for all the awesome feedback you provided. :heart:

[2019-10-04 13:08] Amachua commented on #585
I've continued my research on this point and I think that I can find a work around using JSONPath expression. Only thing is... I don't think the tool you're using to parse a JSON can do what I have in mind.

Before going to the point, I'd like to share with you the behavior I'm working in case this could also help in the building of the Spectral project.

### Ensure that the path parameters follow

[2019-10-04 13:12] Amachua commented on #624
Thank you for this answer @kylesykes, I do hope that we'll be able to do it one day directly with a JSONPath expression but for the time being, I'll discuss on this point directly with my technical lead (the input you gave us with the java-script will reduce our effort --> Thank you for this! :)).

[2019-10-06 11:57] Amachua commented on #585
Finally got something working with a this rule:

[code]

I didn't know that we could directly use javascript functions in a JsonPath and I think that it could be great that you set in your documentation that such function can directly be use :)

[2019-10-06 17:47] nulltoken commented on #49
@Amachua It's now in progress. You can :eyes: an early proposal at #635

[2019-10-08 01:33] #520 closed

[2019-10-08 11:48] #530 closed

[2019-10-08 22:25] luzfcb commented on #475
Hello, first, thanks for this project.

I use API Gateway and now need to validate an openapi3.json/yaml file before uploading it to AWS API Gateway.

Spectral currently returns an error when using the `{proxy+}` resource.
`{proxy+}` looks like it's something AWS API Gateway specific

https://docs.aws.amazon.com/en_pv/apigateway/latest/developerguide/api-gateway-create-api-as-simple-proxy-for-http

[2019-10-08 23:18] P0lip commented on #475
Hello @luzfcb, it's very nice to see you here!

Yes, it's possible to disable a rule or change its severity.
There are two ways to do it.

The preferred way is creating a custom ruleset and [disabling a rule](https://github.com/stoplightio/spectral/blob/develop/docs/getting-started/rulesets.md#disabling-rules). In your case, the ruleset could look as follows
[code]
If you place the ruleset in the

[2019-10-09 01:17] luzfcb commented on #475
@P0lip Thanks for the quick response.

After some investigation, I think I am getting an error because of this regex: https://github.com/stoplightio/spectral/blob/v4.2.0/src/rulesets/oas/functions/oasPathParam.ts#L3

Maybe this can be replaced by `(\{[a-zA-Z0-9_-]+\}|\{proxy\+\}$)+` in a new OAS API Gateway flavor..

Is possible to use [`custom-functions`](https://github.com/stoplightio/spectral/b

[2019-10-09 08:05] radicarl opened #656 "Extend Rules with custom properties"
**User story.**
We use your great linter in our CI-Pipeline to enforce that the API-Specification follow our API-Guidelines. We have a wrapper script that calls spectral and converts the json output in a human readable format. It would be great, if we could add additional information to our custom rules, which are added to the json output of each violation of this rule. We want to use this to add

[2019-10-09 10:34] nulltoken opened #658 "URIError console warns"
**Describe the bug**

Linting a file that references another external file over http fills the console with unexpected warnings.

**To Reproduce**

1. Given these OpenAPI document '...'

**repo/ruleset.yaml**
[code]

**repro/URIError.yaml**
[code]

**https://REDACTED/static/schemas/common/v2/library.openapi.yaml**
[code]
2. Run this CLI command '....'

[code]

3. See error

The console is filled u

[2019-10-09 17:30] P0lip commented on #475
@luzfcb
I'm afraid to say that in order to replace the regex, you'd need to copy the entire function.

[2019-10-10 11:11] P0lip commented on #585
@amachua,
First of all, my apologies for dropping a ball and not responding for so long.

Yeah, you can use filter expressions, which are evaluated during the runtime.
If that wasn't an option, we wouldn't remove `when`.
I hope you figured it out.

Mind opening a PR and sharing what you achieved in the docs? :)
Thank you.

[2019-10-11 09:08] nulltoken opened #670 "Of model-description and precompilation of rulesets"
**Describe the bug**

The doc states `In your ruleset file you can add extends: "spectral:oas" and you'll get everything from spectral:oas2 and spectral:oas3.`

`model-description` is a rule that exists in two versions: one for oas2 and a different one (but named the same way) for oas3.

Precompiled `oas.json` (under `/rulesets/precompiled/` only contains one instance of `model-description` (which

[2019-10-12 12:20] #670 closed

[2019-10-13 05:42] nulltoken opened #678 "Make it easier to detect unsupported formats"
**User story.**
As a API Manager, I can easily distinguish that some of the files I'm trying to lint are unfit, so that I can refine my selection process (if I'm blindly globbing too widely) or even fix my files (would that be required).

Given the following file

**nope.yaml**:
[code]
Running Spectral against it provides me with ~~a less than rich experience~~ an experience that could be greatly

[2019-10-13 08:57] nulltoken opened #679 "Path issues on Windows"
**Describe the bug**

Spectral doesn't seem to cope well with backslashes in paths on Windows.

**To Reproduce**

1. Given this OpenAPI document '...'

**lib.yaml**
[code]

2. Run this CLI command '....'

**Powershell (Take 1)**
[code]

**Bash**
[code]

**Powershell (Take 2** _typing the full path, using forward slashes and fighting to not rely on shell auto completion (which would revert every sl

[2019-10-13 10:07] nulltoken opened #680 "Duplication of results"
**Describe the bug**

It's not uncommon to use a file (or a set of files) that acts as a "library" of reusable things.
When an error happens in that file, it looks like it gets reported multiple times.

**To Reproduce**

1. Given this OpenAPI document '...'

**repro/lib.yaml**
[code]

**repro/A.yaml**
[code]

**repro/B.yaml**
[code]

**repro/C.yaml**
[code]

_Note:_ A.yaml, B.yaml and C.yaml share

[2019-10-14 09:15] #49 closed

[2019-10-14 09:16] P0lip commented on #680
`valid-schema-example-in-content`
Seems like an issue with that rule. I'll take a look.

[2019-10-15 08:34] nulltoken commented on #658
@philsturgeon Hey! Have you had the chance the repro the issue and/or triage it?

I understand this might not be a high priority as this doesn't prevent Spectral from working, but those warnings greatly reduce the readability of the produced log and make it far more difficult to go through.

[2019-10-15 11:43] P0lip commented on #658
@nulltoken taking a look :eyes:

[2019-10-15 13:17] P0lip commented on #436
@nulltoken did the above rule do the trick?

[2019-10-15 19:37] philsturgeon commented on #658
@nulltoken sorry for the delay, this is definitely something that needs fixing sooner rather than later. It's the thick of conference season so im slow at replying, but the team are on point as always! :D

@P0lip this seems like something which might have been hidden through --silent. Can we investigate other ways to silence the log output which was annoying us? Doesn't need to be done now, just k

[2019-10-15 20:25] philsturgeon commented on #561
@nulltoken if you want to start nuking bits I would really appreciate that. It would solve the confusion in #677.

[2019-10-16 07:55] nulltoken commented on #561
@philsturgeon Let me see what I can come up with.

[2019-10-16 21:46] nulltoken commented on #561
So... I've started to chew on #689. It may not cover all the scope of _this_ issue but should definitely hit "the one ruleset to rule them all" topic from https://github.com/stoplightio/spectral/pull/677#issuecomment-542388747.

To start with, I'm going to learn a bit from the failing tests that are going to break. Then I might ping @P0lip when I've got a rough proposal of what I'd like to propose

[2019-10-16 21:52] P0lip commented on #561
Sure thing @nulltoken. As always, I'm happy to help. :)
LMK once you have anything you'd like to share. Good luck!
Huge thanks for your contribution. :heart:

[2019-10-18 18:56] rossmcdonald opened #694 "Support for async custom functions?"
Is it possible to use async/promise-based libraries in custom functions? If not, is there a specific reason? And is there a way to work around this limitation?

[2019-10-18 19:49] rossmcdonald opened #695 "Docs should be updated to remove deprecated functions"
https://github.com/stoplightio/spectral/blob/develop/docs/guides/javascript.md#creating-a-custom-function

[2019-10-23 11:44] P0lip commented on #436
Alright, thanks for letting me know!
I'll close the issue.
If you have any further concerns, feel free to re-open.

[2019-10-23 11:44] #436 closed

[2019-10-24 01:38] philsturgeon commented on #585
@P0lip what is the plan here?

[2019-10-24 01:40] philsturgeon commented on #561
Let's bump the default --fail-severity to `warn` while we are at it, as this is a biiiig breaking change and we can use it as a basis for 5.0. Right now it's `hint` (to avoid breaking BC.

[2019-10-24 08:22] vgupta1127 opened #705 "Need explanation of IFunction syntax and how to use it"
**Chore summary**
Need more explanation of IFunction Syntax and how to use it

**Tasks**
Explain the different terms in IFunction syntax
How to use them

**Additional context**
[Custom Functions Docs Page](https://stoplight.io/p/docs/gh/stoplightio/spectral/docs/guides/custom-functions.md#custom-functions)
[GitHub Page for IFunction](https://github.com/stoplightio/spectral/blob/90a0864863fa232bf36

[2019-10-24 18:13] #585 closed

[2019-10-25 17:42] P0lip commented on #705
@vgupta1127
Hello!
`targetValue` - is the value you lint against, it's based on `given` jsonpath defined on the rule.
For instance, given the following document:
[code]
and the following given path `$`, targetValue would be an object containing `openapi` and `info` properties.
If changed the path to `$.info.title`, `targetValue` would equal `foo`.

`options` is what a given custom function is prov

[2019-10-29 10:54] #695 closed

[2019-10-29 19:57] philsturgeon commented on #447
Updated the issue to make it clearer what needs to be done. Let's do this for v5.0.

[2019-10-30 01:03] disposedtrolley opened #717 "Support resolving JSON refs relative to the initial root"
**User story.**
As a user, I want to specify all of my `$ref` values as relative paths from the root of the collection of my OAS files, so I don't need to use relative paths and backtracking (i.e. `../../`) on very deeply nested OAS files.

**Is your feature request related to a problem?**
The `ResolveRunner` treats all `$ref`s as being relative to the directory of the file where it's declared.

I

[2019-10-30 07:04] nogates opened #718 "Latest binary version (4.2.0) doesn't work in MacOS"
**Describe the bug**

Latest binary version (4.20) doesn't work in MacOS 10.14.6

**To Reproduce**

[code]
Also, version is not reported correctly

[code]

Previous version (4.1.1) works just fine

Tried both, using the script to pull the latest binary and manually downloaded it via GH releases

[2019-10-30 11:37] P0lip commented on #447
@philsturgeon @marbemac
I don't understand this part
[code]

Is the same as:
[code]

I believe this works as expected.
In any case, we are removing spectral:oas2 and spectral:oas3, so this should not be an issue.

[2019-10-30 14:52] marbemac commented on #447
It's just to show an example that the chosen grouping (none, recommended, all, etc) should be applied to every ruleset in the extension hierarchy. For example:

**ruleset_a**

[code]

**ruleset_b**

[code]

**ruleset_c**

[code]

**my_ruleset**

[code]

The `my_ruleset` above is equivalent of doing:

[code]

---

That's the thought at least - is that how it's working now?

[2019-10-30 15:27] philsturgeon commented on #718
I am a little confused by the command you are running here:

[code]

What happens if you run this:

[code]

Either you use `$ spectral lint openapi.yml` if it is installed in your $PATH, or you run the command from its downloaded location: `$ ~/Downloads/spectral-macos lint openapi.yml` but what you are doing is not expected to work.

LMK if this fixes it!

[2019-10-30 19:06] P0lip commented on #447
@marbemac @philsturgeon
Alright, I see now. Thank you for the explanation. Will certainly take a look at it and fix/adjust as needed.

[2019-10-30 23:37] nogates commented on #718
Hey @philsturgeon! Thanks for the quick reply :)

Sorry, I should have removed that part for clarity, but the first `spectral` is jut my `zsh` prompt (it just tells me what folder I am in)

[code]

Just for clarity, using the script and downloading the binary to the default location, produces the same error:

[code]

[2019-10-31 00:18] mkistler commented on #447
@philsturgeon My recollection is just that the documentation on writing custom functions:

https://stoplight.io/p/docs/gh/stoplightio/spectral/docs/guides/custom-functions.md

does not mention adding `recommended: true` to the custom rule to make it active.  So regardless of what the default is, I think the doc for writing custom functions should at least mention that this property can be specifie

[2019-10-31 12:12] P0lip commented on #500
Will be addressed in https://github.com/stoplightio/spectral/issues/680

[2019-10-31 12:12] #500 closed

[2019-10-31 18:15] philsturgeon commented on #447
@mkistler we fixed that the day after the workshop, the docs only go up on a new release. Beyond that quick fix, we are improving Spectral on the whole.

[2019-10-31 18:23] philsturgeon commented on #718
Thanks for clearing that up nogates, makes a lot more sense :D

What is the contents of openapi.yml?

[2019-10-31 18:34] philsturgeon opened #725 "Breaking oas rule changes"
With v5.0 coming, now is the time to make changes to the OpenAPI ruleset.

1. [x] `example-value-or-externalValue` make it recommended (spec says `The value field and externalValue field are mutually exclusive.`).

2. [ ] `no-eval-in-markdown` we should recommend this as a safety precaution, people can turn it off if they _want_ eval in there.

3. [x] `openapi-tags` we should make this recommended

[2019-10-31 18:36] philsturgeon commented on #725
@P0lip @marbemac i think this (and #689) will make for a great v5.0 release. Cleaning up tech debt, simplifying docs, and removing some rules which people at the workshop and in general thought were a bit odd.

[2019-10-31 21:41] dillonredding opened #726 "Schema Function Not Working with @key"
## Describe the bug

The `schema` function doesn't appear to work when `field` is `'@key'`. Here's the rule I'm trying to create:

[code]

## To Reproduce

Given this OpenAPI document

[code]

Run this CLI command

[code]

## Expected behavior

The lint output should contain the following:

[code]

It might be worth noting that if the rule is changed so that `type` is `number` or `integer`, the ru

[2019-11-01 03:35] nogates commented on #718
Doesn't really matter. All the oas yml files I've tried fail with the same error. For instance, downloading the default petstore from the oas repo also fails

[code]

and as I said, the same file with the old 4.1.1 version works as expected

[code]

[2019-11-01 14:28] Amachua opened #727 "Ensure that security definition match"
**User stories.**
1. As an API Designer, when I define a security scope on an endpoint, then I want it to be defined in the securitySchemes.

2. As an API Designer, when I define the security scopes in the securitySchemes, then I want them to be defined at least on one endpoint.

**Is your feature request related to a problem?**

When making an update in one place, it happens that the designer do

[2019-11-03 22:27] P0lip commented on #726
@dillonredding
I confirm the issue exists. Unfortunately, the potential fix may turn out to be fairly complex given how Spectral works.
Long story short - Spectral uses JS object literal to represent the parsed content.
This is obviously very tricky when it comes to YAML, since YAML is perfectly fine with other primitive values for mapping's keys, i.e. numbers or nulls... not to mention a sequence

[2019-11-04 15:51] dillonredding opened #730 "Alphabetical and '@key'"
## Describe the bug

I may be doing it wrong, but the `alphabetical` function doesn't appear to work with `'@key'`. Here's the rule I'm trying to create:

[code]

I've also tried this form:

[code]

## To Reproduce

Given this OpenAPI document

[code]

Run this CLI command

[code]

## Expected behavior

The lint output should contain the following:

[code]

## Environment

 - Library version: 4.2.

[2019-11-04 17:16] dillonredding commented on #726
@P0lip, thanks for looking at this.

I'm not familiar with the implementation, but could you maybe determine the [strategy](https://en.wikipedia.org/wiki/Strategy_pattern) for using the JS object or the AST based on particular criteria? That way you could add to the criteria as other scenarios pop up.

[2019-11-04 18:05] P0lip commented on #730
@dillonredding
Hey! The root cause is exactly the same as the one I described in https://github.com/stoplightio/spectral/issues/726.
JS object literals must comply with a certain order of keys as described in the [spec](https://tc39.es/ecma262/#sec-ordinaryownpropertykeys).

[2019-11-05 20:07] dillonredding commented on #730
@P0lip
I was wondering if that might be the case lol. Thanks again for looking into this. Let me know if you come up with a solution!

[2019-11-06 03:47] disposedtrolley commented on #680
There seems to be a similar issue when rule violations occur in a referenced object.

For example, if two paths share a common response `schema` which is defined in `#/components/schemas/FooSchema`, a violation in `FooSchema`  is reported twice; once per path.

When executing rules with JSONPaths targeting shared objects, would it be possible to run the rule against the shared objects themselves s

[2019-11-06 04:46] vgupta1127 commented on #705
Thanks Jakub for the explanation. But I'm still not clear. It would be great if you could show me a custom function that checks  the below problem statement...

Let's say I have the given API: [PetStore JSON](https://github.com/OAI/OpenAPI-Specification/blob/master/examples/v2.0/json/petstore.json)

**I want to create a function that checks that GET operation object,(if present in the paths object

[2019-11-06 13:25] P0lip commented on #705
@vgupta1127
If I understood the problem correctly, the following rule should do the trick:
- ruleset
[code]
- custom function called `validResponses.js`
[code]

[2019-11-06 15:32] P0lip commented on #656
@radicarl
First of all, my apologies for lack of any answer from our side for so long.
I'm really glad you liked Spectral.
I believe that having a possibility to register format would be a pretty decent solution in your case.
Spectral doesn't let you do that now, but it's something we could potentially implement one day.

@philsturgeon @marbemac what do you folks think about custom formatters?
I d

[2019-11-06 15:33] P0lip commented on #624
@Amachua
Can I consider this ticket closed? :)
If you have any questions, do let us know, please. Happy to answer any questions you might have.

[2019-11-06 15:45] philsturgeon commented on #656
I like the sound of it, but sadly it falls a little lower on the list of priorities next to some of the casing and pluralization rules to avoid loads of folks needing to regex, performance work, and GitHub Actions/Bot with suggestions.

Can we find a quick win in getting the rule along with all its extra attributes embedded in the JSON response? It might be a little bloaty but it would solve the i

[2019-11-06 15:55] philsturgeon commented on #705
@P0lip maybe we could convert this support request into a request for improvements to the documentation? We could add the extra information supplied here to the docs, and add another more advanced example to the custom functions guide? Generally when folks have read the docs and still have questions it means we could improve our docs. :)

[2019-11-06 17:35] #679 closed

[2019-11-06 20:11] xuorig opened #747 "Rule exceptions"
**User story.**
As a user, I can add exceptions to certain rules to ignore failures so that I can guard against new changes but run against legacy descriptions.

**Is your feature request related to a problem?**

For API descriptions that have a "pre-linting" era, but with linting rules that should be enforced for new changes, it would be nice to have some kind of mechanism similar to eslint's `//

[2019-11-06 22:32] nulltoken opened #748 "Weird test output"
Weird CircleCI output:

![image](https://user-images.githubusercontent.com/92363/68343661-9416e900-00ed-11ea-93df-0757248dc8b4.png)

reproducible on develop branch.

[2019-11-07 04:29] vgupta1127 commented on #705
@P0lip, Thanks for quick reply and a great explanation! I didn't know there is `@property` available in Spectral custom functions. I was trying to get hold of 'get' object. I have learnt a new thing, thanks to you! :)

I have one quick question:

Is `{{error}}` in :

`"message": "GET operation {{error}}",`

just a placeholder for the message returned by the function `validResponses` ? I mean will

[2019-11-07 05:53] disposedtrolley opened #750 "Using Spectral in JavaScript produces incorrect results"
**Describe the bug**
Importing Spectral into a NodeJS project (v8.16.1) and attempting to run the YAML example in the [docs](https://stoplight.io/p/docs/gh/stoplightio/spectral/docs/guides/javascript.md) doesn't produce the correct rule results. The docs reference a [repl.it example](https://repl.it/@ChrisMiaskowski/spectral-rules-example) which outputs 5 rule results when run, but in my program o

[2019-11-07 06:28] disposedtrolley commented on #750
So I did some digging and tried to emulate how the CLI calls the `spectral.run()` method. Instead of passing in the `IParserResult` value from `parseWithPointers()`, I have to wrap it in an `IParsedResult` type [like so](https://github.com/stoplightio/spectral/blob/a714874ee033e97ecabb230bc1f1e2c56c5b8062/src/cli/services/linter/linter.ts#L79)

When executed, the below examples produce a result wi

[2019-11-07 07:35] radicarl commented on #656
Hello,

I found a different solution. My wrapper script just reads the .spectral.yml. This way I have access to the customs fields defined for my rules. So I have no need for a quick solution.

But I think both ideas (defining own formatter and extend rules with own fields which are just passed through) are nice features for your linter.

I need the wrapper script for two more reasons:

- reading

[2019-11-07 10:03] #748 closed

[2019-11-07 10:14] philsturgeon commented on #747
The CLI has `—skip-rule` Which probably doesn’t help, and the config files (rulesets) allow turning entire rules off, but we don’t support specific exceptions on a line or file basis just yet. I think x- extensions would be the way to go for now yeah.

[2019-11-07 13:26] huksley opened #751 "Running spectral CLI on OAS with external schemas produces incorrect results"
**Description**

When running spectral on OpenAPI 3 specification with externally defined schemas, spectral gives errors for completely valid schemas and OpenAPI Specification.

**PLEASE NOTE** Running spectral on schemas folder alone gives no errors 🤷‍♂

**To Reproduce**

1. Checkout this repo with branch https://github.com/huksley/maas-tsp-api/tree/spec-schemas
2. Install packages `npm install`

[2019-11-07 13:30] P0lip commented on #750
@disposedtrolley
You need to register formats, like so

[code]
and then obviously `openapi` or `swagger` needs to be specified in the document so that the format can be matched, i.e
[code]

The repl we have included it ancient. AFAIR I've updated docs recently, but they might have not been deployed yet.